Repository ministryofjustice/opg-use-an-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-front, phpcbf-api, phpcs-api, phpcs-front

phpcbf-front:
  name: phpcbf-front
  language: script
  entry: ./pre-commit-hooks/phpcbf.sh front
  fail_fast: true

phpcbf-api:
  name: phpcbf-api
  language: script
  entry: ./pre-commit-hooks/phpcbf.sh api
  fail_fast: true

phpcs-api:
  name: phpcs-api
  language: script
  entry: ./pre-commit-hooks/phpcs.sh api

phpcs-front:
  name: phpcs-front
  language: script
  entry: ./pre-commit-hooks/phpcs.sh front

Temporary ignore on network firewall updates.
  renovate.json
Due: none

Prevent adding multiple ActorUser records with same email or identity
  .secrets.baseline
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/context/Integration/AccountContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/src/App/src/Service/User/RecoverAccount.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
  service-api/app/test/AppTest/Service/User/RecoverAccountTest.php
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
  service-api/seeding/dynamodb.py
Due: phpcbf-api, phpcs-api

Record CreatedAt for users
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: phpcbf-api, phpcs-api

Temporary ignore on network firewall updates. (#3502)
  renovate.json
Due: none

clean up and added welsh
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
Due: phpcbf-front, phpcs-front

UML-3976 Prevent adding multiple ActorUser records with same email or identity (#3494)
  .secrets.baseline
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/context/Integration/AccountContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/src/App/src/Service/User/RecoverAccount.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
  service-api/app/test/AppTest/Service/User/RecoverAccountTest.php
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
  service-api/seeding/dynamodb.py
Due: phpcbf-api, phpcs-api

Test removing PHPFPM stats exporter
  terraform/environment/region/api_ecs.tf
Due: none

Run full build.
  .github/workflows/trigger_build
Due: none

Update golang alpine in admin
  service-admin/Dockerfile
Due: none

Fix a typo
  lambda-functions/event-receiver/Dockerfile
  service-admin/Dockerfile
Due: none

Fix missing space.
  service-admin/Dockerfile
Due: none

clean up
  service-api/seeding/dynamodb.py
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
Due: phpcbf-front, phpcs-front

Test removing PHPFPM stats exporter (#3493)
  .github/workflows/trigger_build
  lambda-functions/event-receiver/Dockerfile
  service-admin/Dockerfile
  terraform/environment/region/api_ecs.tf
Due: none

Update trigger_build
  .github/workflows/trigger_build
Due: none

Add pvc expiry endpoint changes to development mock
  mock-integrations/lpa-codes/lpa-codes.http
  mock-integrations/lpa-codes/mock-openapi.yml
  mock-integrations/lpa-codes/mock-responses.js
  mock-integrations/lpa-codes/src/codes/seeding-data.json
  mock-integrations/lpa-codes/src/enum.ts
  mock-integrations/lpa-codes/src/index.ts
  mock-integrations/lpa-codes/src/types/index.d.ts
Due: none

Refactor of getByActorLpaToken to use a response object
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/psalm-baseline.xml
  service-api/app/src/App/src/DataAccess/ApiGateway/PaperVerificationCodes.php
  service-api/app/src/App/src/DataAccess/Repository/PaperVerificationCodesInterface.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Handler/LpasResourceHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/Combined/UserLpaActorToken.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/src/App/src/Service/Lpa/LpaManagerInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: phpcbf-api, phpcs-api

Coverage improvements and addition of hasPVC field in response
  service-api/app/src/App/src/Service/Lpa/Combined/UserLpaActorToken.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
Due: phpcbf-api, phpcs-api

Test improvements
  .secrets.baseline
  service-api/app/features/actor-create-access-code.feature
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
Due: phpcbf-api, phpcs-api

Rename file to match uid
  mock-integrations/lpa-data-store/src/lpas/4000.json
  mock-integrations/lpa-data-store/src/lpas/lpas.mjs
Due: none

Refactor handler and add new conditional warning text.
  service-front/app/src/Actor/src/Handler/CreateViewerCodeHandler.php
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode-combined-lpa.html.twig
Due: phpcbf-front, phpcs-front

Passing tests
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: phpcbf-api, phpcs-api

Add event code logging
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
Due: phpcbf-api, phpcs-api

Removed redundant code checks as we're a little better typed at this point.
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/test/CommonTest/Service/Lpa/LpaServiceTest.php
Due: phpcbf-front, phpcs-front

Revert changes to files as thats a can of worms I don't want.
  service-front/app/psalm-baseline.xml
  service-front/app/src/Common/src/Form/Element/Csrf.php
  service-front/app/src/Common/src/Form/Element/Email.php
Due: phpcbf-front, phpcs-front

Psalm annotation updates
  service-front/app/psalm-baseline.xml
  service-front/app/src/Common/src/Form/Element/Csrf.php
  service-front/app/src/Common/src/Form/Element/Email.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
Due: phpcbf-front, phpcs-front

Welsh extraction and translation
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode-combined-lpa.html.twig
  service-front/app/src/Common/src/Service/I18n/PotGenerator.php
Due: phpcbf-front, phpcs-front

Update the binary translations file.
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
Due: none

Test coverage is lacking
  service-api/app/src/App/src/Service/Lpa/Combined/UserLpaActorToken.php
  service-api/app/test/AppTest/Service/Lpa/Combined/UserLpaActorTokenTest.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: phpcbf-api, phpcs-api

Use correct actor ID for upstream pact verification
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: phpcbf-api, phpcs-api

Cleanup unused imports
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
Due: phpcbf-api, phpcs-api

Fixup deprecated PHPCS sniffs
  service-api/app/phpcs.xml.dist
  service-front/app/phpcs.xml.dist
Due: none

Make root Lpa entity abstract as we don't need it to be instantiable.
  service-api/app/src/App/src/Entity/Lpa.php
Due: phpcbf-api, phpcs-api

Change "Number of Attorneys" label to "Number of attorneys"
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/templates/viewer/paper-verification/provide-attorney-details.html.twig
Due: none

Add missing apostrophe when asking for attorney's name
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/templates/viewer/paper-verification/verification-code-sent-to.html.twig
Due: none

Use same template for both date of birth pages
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PVDonorDateOfBirthHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/date-of-birth.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/donor-dob.html.twig
Due: phpcbf-front, phpcs-front

Prefix page title with "Error: " when there is an error
  service-front/app/src/Viewer/templates/viewer/check-code-cancelled.html.twig
  service-front/app/src/Viewer/templates/viewer/check-code-expired.html.twig
  service-front/app/src/Viewer/templates/viewer/check-code-found-combined-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/check-code-found.html.twig
  service-front/app/src/Viewer/templates/viewer/check-code-not-found.html.twig
  service-front/app/src/Viewer/templates/viewer/download-lpa-combined-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/download-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/enter-code-pv.html.twig
  service-front/app/src/Viewer/templates/viewer/enter-code.html.twig
  service-front/app/src/Viewer/templates/viewer/layout.html.twig
  service-front/app/src/Viewer/templates/viewer/lpa-not-found-with-pvc.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/attorney-dob.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code-cancelled.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code-expired.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/donor-dob.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/enter-organisation-name.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/lpa-not-found.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/number-of-attorneys.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/provide-attorney-details.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/verification-code-sent-to.html.twig
  service-front/app/src/Viewer/templates/viewer/view-lpa-combined-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/view-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/viewer-privacy-notice.html.twig
  service-front/app/src/Viewer/templates/viewer/viewer-session-expired.html.twig
  service-front/app/src/Viewer/templates/viewer/viewer-terms-of-use.html.twig
Due: none

Rename templates to (more) match title
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/CheckCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PaperVerificationCodeSentToHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/ProvideAttorneyDetailsForPVHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/ViewHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/attorney-details.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/cannot-show-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/code-cancelled.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/code-expired.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/code-sent-to.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/could-not-find-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/found-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/lpa-ready-to-view.html.twig
Due: phpcbf-front, phpcs-front

Prefer camelCase for twig template data
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PaperVerificationCodeSentToHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/cannot-show-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/code-sent-to.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/could-not-find-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/lpa-ready-to-view.html.twig
Due: phpcbf-front, phpcs-front

Remove unused NOT_SAME message template from forms
  service-front/app/src/Viewer/src/Form/AttorneyDetailsForPV.php
  service-front/app/src/Viewer/src/Form/LpaCheck.php
  service-front/app/src/Viewer/src/Form/NumberOfAttorneys.php
  service-front/app/src/Viewer/src/Form/Organisation.php
  service-front/app/src/Viewer/src/Form/PVDateOfBirth.php
  service-front/app/src/Viewer/src/Form/PVShareCode.php
  service-front/app/src/Viewer/src/Form/ShareCode.php
  service-front/app/src/Viewer/src/Form/VerificationCodeReceiver.php
Due: phpcbf-front, phpcs-front

Path conditions:
  phpcbf-front: any of: service-front\/app\/.*\.(php)$
  phpcbf-api: any of: service-api\/app\/.*\.(php)$
  phpcs-api: any of: service-api\/app\/.*\.(php)$
  phpcs-front: any of: service-front\/app\/.*\.(php)$
