Repository ministryofjustice/opg-use-an-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-front, phpcbf-api, phpcs-api, phpcs-front

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^\.idea/'
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.92.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
         - --args=--recursive
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
      - name: phpcbf-front
        id: phpcbf-front
        language: script
        entry: ./pre-commit-hooks/phpcbf.sh front
        files: service-front\/app\/.*\.(php)$
        fail_fast: true
      - name: phpcbf-api
        id: phpcbf-api
        language: script
        entry: ./pre-commit-hooks/phpcbf.sh api
        files: service-api\/app\/.*\.(php)$
        fail_fast: true
      - name: phpcs-api
        id: phpcs-api
        language: script
        entry: ./pre-commit-hooks/phpcs.sh api
        files: service-api\/app\/.*\.(php)$
      - name: phpcs-front
        id: phpcs-front
        language: script
        entry: ./pre-commit-hooks/phpcs.sh front
        files: service-front\/app\/.*\.(php)$

UML-4228 Scan ViewerActivity once to provide stats (#3597)
  lambda-functions/upload-statistics/app/test_upload_statistics.py
  lambda-functions/upload-statistics/app/upload_statistics.py
Due: none

UML-4187: allow lambda batchwriteitem on actorusers ddb (#3602)
  .github/workflows/trigger_build
  terraform/environment/backfill.tf
Due: none

Use a laminas-cache fork.
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/src/App/src/Service/Authentication/AuthorisationClientManager.php
Due: phpcbf-api, phpcs-api

Use a laminas-cache fork. (#3604)
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/src/App/src/Service/Authentication/AuthorisationClientManager.php
Due: phpcbf-api, phpcs-api

Remove OIDC library
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Service/OneLogin/AuthenticationData.php
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
  service-front/app/src/Common/src/Service/Security/CSPNonce.php
Due: phpcbf-front, phpcs-front

Fix unit test
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: phpcbf-front, phpcs-front

Update psalm baseline file
  service-front/app/psalm-baseline.xml
Due: none

Add test for the new DTO
  service-front/app/test/CommonTest/Service/OneLogin/AuthenticationDataTest.php
Due: phpcbf-front, phpcs-front

UML-4219 Remove OIDC library from service-front (#3605)
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/psalm-baseline.xml
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Service/OneLogin/AuthenticationData.php
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
  service-front/app/src/Common/src/Service/Security/CSPNonce.php
  service-front/app/test/CommonTest/Service/OneLogin/AuthenticationDataTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: phpcbf-front, phpcs-front

mck respons updated
  mock-integrations/lpa-data-store/mock-openapi.yml
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/lpas/4000.json
Due: none

review suggestions addressed
  service-front/app/src/Actor/templates/actor/check-access-codes-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/check-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/lpa-already-added.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary-combined-lpa.html.twig
  service-front/app/src/Common/src/Service/Lpa/LpaTypeResolver.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: phpcbf-front, phpcs-front

typo
  service-front/app/src/Common/src/Service/Lpa/LpaTypeResolver.php
Due: phpcbf-front, phpcs-front

psalm fixes
  service-api/app/psalm-baseline.xml
  service-front/app/psalm-baseline.xml
Due: none

Retry unprocessed items in backfill lambda
  lambda-functions/backfill/main.go
Due: none

Retry unprocessed items in backfill lambda (#3609)
  lambda-functions/backfill/main.go
Due: none

Transpose tables on admin stats page
  .github/workflows/trigger_build
  service-admin/internal/server/export_test.go
  service-admin/internal/server/logging_test.go
  service-admin/internal/server/server_test.go
  service-admin/internal/server/templates.go
  service-admin/internal/server/templates_test.go
  service-admin/web/templates/stats.page.gohtml
Due: none

Transpose tables on admin stats page (#3607)
  .github/workflows/trigger_build
  service-admin/internal/server/export_test.go
  service-admin/internal/server/logging_test.go
  service-admin/internal/server/server_test.go
  service-admin/internal/server/templates.go
  service-admin/internal/server/templates_test.go
  service-admin/web/templates/stats.page.gohtml
Due: none

Undeploy the backfill lambda
  .github/workflows/trigger_build
  terraform/environment/terraform.tfvars.json
Due: none

Undeploy the backfill lambda (#3610)
  .github/workflows/trigger_build
  terraform/environment/terraform.tfvars.json
Due: none

reviews suggestions addressed
  service-front/app/src/Actor/templates/actor/check-access-codes-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/check-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/lpa-already-added.html.twig
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary-combined-lpa.html.twig
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: phpcbf-front, phpcs-front

some more suggestions addressed
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
Due: phpcbf-front, phpcs-front

UML-4262: Add runbook for Github actions allow list
  docs/runbooks/github_actions_allow_list.md
Due: none

further changes after review
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Actor/src/Handler/Factory/CheckLpaHandlerFactory.php
  service-front/app/src/Actor/src/Handler/RemoveLpaHandler.php
  service-front/app/src/Actor/templates/actor/check-access-codes-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/check-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary-combined-lpa.html.twig
  service-front/app/src/Common/src/Command/TranslationUpdateCommandFactory.php
  service-front/app/src/Common/src/Service/Lpa/LpaTypeResolver.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/ActorTest/Handler/Factory/CheckLpaHandlerFactoryTest.php
  service-front/app/test/CommonTest/Service/Lpa/LpaTypeResolverTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: phpcbf-front, phpcs-front

added a trait, removed the service class
  service-front/app/src/Actor/src/Handler/ResolveLpaType/LpaTypeResolverTrait.php
Due: phpcbf-front, phpcs-front

UML-3988 - Explicitly pass secrets to reusable workflows
  .github/workflows/_build-and-push.yml
  .github/workflows/_codecov.yml
  .github/workflows/_lint-terraform.yml
  .github/workflows/_pact-upload.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_run-terraform.yml
  .github/workflows/_seed-database.yml
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/scheduled-update-demo.yml
  .github/workflows/scheduled-workspace-cleanup.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
  .secrets.baseline
Due: none

UML-4264 - Fix syntax in path to live workflow
  .github/workflows/path-to-live.yml
Due: none

UML-4264 - Fix path to live syntax issue
  .github/workflows/path-to-live.yml
Due: none

fixes
  .secrets.baseline
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Actor/src/Handler/RemoveLpaHandler.php
  service-front/app/src/Actor/src/Handler/ResolveLpaTypeTrait/LpaTypeResolver.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: phpcbf-front, phpcs-front

codecov gap addresed
  service-front/app/test/ActorTest/Handler/Traits/LpaTypeResolverTest.php
Due: phpcbf-front, phpcs-front

UML-4175 - Create merge queue yml
  .github/workflows/merge_queue.yml
Due: none

Only add actor to result if it's resolved out
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: phpcbf-api, phpcs-api

UML-4175 - Remove preprod steps from path to live yml
  .github/workflows/merge_queue.yml
  .github/workflows/path-to-live.yml
Due: none

remove need for build triggers
  .github/workflows/pull-request-path.yml
Due: none

undo unecessary change
  .github/workflows/pull-request-path.yml
Due: none

leave the change checks in place, but don't use them
  .github/workflows/pull-request-path.yml
Due: none

remove build triggers
  .github/workflows/trigger_build
Due: none

cleanup
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
Due: phpcbf-front, phpcs-front
