Repository ministryofjustice/opg-use-an-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-front, phpcbf-api, phpcs-api, phpcs-front

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^\.idea/'
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.92.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
         - --args=--recursive
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
      - name: phpcbf-front
        id: phpcbf-front
        language: script
        entry: ./pre-commit-hooks/phpcbf.sh front
        files: service-front\/app\/.*\.(php)$
        fail_fast: true
      - name: phpcbf-api
        id: phpcbf-api
        language: script
        entry: ./pre-commit-hooks/phpcbf.sh api
        files: service-api\/app\/.*\.(php)$
        fail_fast: true
      - name: phpcs-api
        id: phpcs-api
        language: script
        entry: ./pre-commit-hooks/phpcs.sh api
        files: service-api\/app\/.*\.(php)$
      - name: phpcs-front
        id: phpcs-front
        language: script
        entry: ./pre-commit-hooks/phpcs.sh front
        files: service-front\/app\/.*\.(php)$

UML-4406 - Add WAF rule to block requests to suspicious uris
  terraform/account/region/waf.tf
Due: none

Comment out opg metrics resources
  .secrets.baseline
  terraform/account/region.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/ship_metrics_queue.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tfvars.json
  terraform/account/variables.tf
  terraform/environment/region.tf
  terraform/environment/region/ship_to_metrics.tf
  terraform/environment/region/variables.tf
Due: none

Comment out opg metrics resources (#3723)
  .secrets.baseline
  terraform/account/region.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/ship_metrics_queue.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tfvars.json
  terraform/account/variables.tf
  terraform/environment/region.tf
  terraform/environment/region/ship_to_metrics.tf
  terraform/environment/region/variables.tf
Due: none

UML-4406 - Add WAF rule to block requests to suspicious uris (#3721)
  terraform/account/region/waf.tf
Due: none

Add missing provider and increase limit to the minimum of 10
  terraform/account/region/waf.tf
Due: none

Update nginx
  docker-compose.dependencies.yml
  service-api/docker/web/Dockerfile
  service-front/docker/web/Dockerfile
Due: none

Update nginx (#3724)
  docker-compose.dependencies.yml
  service-api/docker/web/Dockerfile
  service-front/docker/web/Dockerfile
Due: none

Update OpenSSL packages
  lambda-functions/upload-statistics/Dockerfile
Due: none

UML-4406 - Add WAF rule to block requests to suspicious uris (#3721)
  lambda-functions/upload-statistics/Dockerfile
  terraform/account/region/waf.tf
Due: none

Remove EMAIL# handling and handle/wrap exceptions
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/src/App/src/Exception/ConflictException.php
Due: phpcbf-api, phpcs-api

Stop allowing access if a record has an identity that doesn't match.
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
Due: phpcbf-api, phpcs-api

Allow Orphan identity record bypass via new method
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: phpcbf-api, phpcs-api

Get testing ducks in a row
  service-api/app/features/actor-one-login.feature
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
Due: phpcbf-api, phpcs-api

Further acceptance testing of various outcomes
  service-api/app/features/actor-one-login.feature
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
Due: phpcbf-api, phpcs-api

Test logging scope of conflict exception
  service-api/app/test/AppTest/Exception/ConflictExceptionTest.php
Due: phpcbf-api, phpcs-api

Further coverage improvements
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
Due: phpcbf-api, phpcs-api

Coverage improvements
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
Due: phpcbf-api, phpcs-api

Fix test attributes
  service-api/app/test/AppTest/Exception/BadRequestExceptionTest.php
  service-api/app/test/AppTest/Exception/ConflictExceptionTest.php
  service-api/app/test/AppTest/Exception/GoneExceptionTest.php
  service-api/app/test/AppTest/Exception/NotFoundExceptionTest.php
  service-api/app/test/AppTest/Exception/UnauthorizedExceptionTest.php
Due: phpcbf-api, phpcs-api

Uml 4300 handle account migrations differently (#3715)
  service-api/app/features/actor-one-login.feature
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/src/App/src/Exception/ConflictException.php
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
  service-api/app/test/AppTest/Exception/BadRequestExceptionTest.php
  service-api/app/test/AppTest/Exception/ConflictExceptionTest.php
  service-api/app/test/AppTest/Exception/GoneExceptionTest.php
  service-api/app/test/AppTest/Exception/NotFoundExceptionTest.php
  service-api/app/test/AppTest/Exception/UnauthorizedExceptionTest.php
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: phpcbf-api, phpcs-api

Update libcap in upload-statistics lambda to fix CVE
  lambda-functions/upload-statistics/Dockerfile
Due: none

Change in libcap version to one that is actually in the repos. Sigh.
  lambda-functions/upload-statistics/Dockerfile
Due: none

Update libcap in upload-statistics lambda to fix CVE (#3726)
  lambda-functions/upload-statistics/Dockerfile
Due: none

UML-4366 Don't wrap lines in .po files (#3718)
  Makefile
  service-front/app/languages/en_GB/LC_MESSAGES/messages.mo
  service-front/app/languages/en_GB/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/src/Service/I18n/PotGenerator.php
Due: phpcbf-front, phpcs-front

Add new metrics to terraform'd AWS metrics tracking
  terraform/environment/region/cloudwatch_metrics.tf
Due: none

Add new metrics to terraform'd AWS metrics tracking (#3727)
  terraform/environment/region/cloudwatch_metrics.tf
Due: none

Update composer files with new PHP versions
  service-api/app/composer.json
  service-api/app/composer.lock
  service-front/app/composer.json
  service-front/app/composer.lock
  tests/smoke/composer.json
  tests/smoke/composer.lock
Due: none

Update twig version
  service-front/app/composer.lock
Due: none

Update twig version (#3729)
  service-front/app/composer.lock
Due: none

Run npm scripts in a docker container
  .github/workflows/_node-build.yml
  .github/workflows/_node-test.yml
  .secrets.baseline
  Makefile
  docker-compose.yml
  service-front/web/Dockerfile
  service-front/web/README.md
  service-front/web/package.json
Due: none

Use install-and-build as default of `npm` service
  docker-compose.yml
  service-front/web/Dockerfile
  service-front/web/package.json
Due: none

Run npm scripts in a docker container (#3728)
  .github/workflows/_node-build.yml
  .github/workflows/_node-test.yml
  .secrets.baseline
  Makefile
  docker-compose.yml
  service-front/web/README.md
  service-front/web/package.json
Due: none

UML-4304: enable advanced backup for dynamodb
  .secrets.baseline
  terraform/environment/backups.tf
  terraform/environment/modules/dynamodb_backup/backup_plan.tf
  terraform/environment/modules/dynamodb_backup/backup_region_settings.tf
  terraform/environment/modules/dynamodb_backup/variables.tf
  terraform/environment/modules/dynamodb_backup/vault.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

A script that finds duplicate OneLogin identities from the ActorUsers table and export them as a JSON dataset to S3 and ReadMe added. This is still WIP script
  scripts/duplicate-accounts/README.md
  scripts/duplicate-accounts/TransformAthenaCSVToJson.py
Due: none

readme updated
  scripts/duplicate-accounts/README.md
Due: none

Delete terraform/environment/modules/dynamodb_backup/backup_region_settings.tf
  terraform/environment/modules/dynamodb_backup/backup_region_settings.tf
Due: none
