Repository ministryofjustice/opg-use-an-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-front, phpcbf-api, phpcs-api, phpcs-front

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^\.idea/'
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.92.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
         - --args=--recursive
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
      - name: phpcbf-front
        id: phpcbf-front
        language: script
        entry: ./pre-commit-hooks/phpcbf.sh front
        files: service-front\/app\/.*\.(php)$
        fail_fast: true
      - name: phpcbf-api
        id: phpcbf-api
        language: script
        entry: ./pre-commit-hooks/phpcbf.sh api
        files: service-api\/app\/.*\.(php)$
        fail_fast: true
      - name: phpcs-api
        id: phpcs-api
        language: script
        entry: ./pre-commit-hooks/phpcs.sh api
        files: service-api\/app\/.*\.(php)$
      - name: phpcs-front
        id: phpcs-front
        language: script
        entry: ./pre-commit-hooks/phpcs.sh front
        files: service-front\/app\/.*\.(php)$

cleanup
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: none

checking psalm errors again
  .idea/php.xml
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
Due: phpcbf-api, phpcs-api

checking psalm errors again
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
Due: phpcbf-api, phpcs-api

UML-3885: Display Which decisions need to be made jointly when attorney appointment type is joint for some, joint and several for others (#3521)
  docker-compose.dependencies.yml
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/lpas/4000.json
  service-api/app/psalm-baseline.xml
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/LpaStoreTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/psalm-baseline.xml
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
Due: phpcbf-front, phpcbf-api, phpcs-api, phpcs-front

Change the lambda name
  terraform/environment/lambda.tf
Due: none

Add lambda to backfill IDENTITY# and EMAIL# records
  .github/workflows/_build-and-push.yml
  lambda-functions/backfill/.trivyignore.yaml
  lambda-functions/backfill/Dockerfile
  lambda-functions/backfill/go.mod
  lambda-functions/backfill/go.sum
  lambda-functions/backfill/main.go
  lambda-functions/backfill/main_test.go
  lambda-functions/backfill/testdata/data/46zi6ttlbe3wnh6flbqmrg43de.json.gz
  lambda-functions/backfill/testdata/data/ibtniuessq5cdly3kh2ljhqlau.json.gz
  lambda-functions/backfill/testdata/data/lzvqads3ae45xmtdimeasemw2m.json.gz
  lambda-functions/backfill/testdata/data/skigb5gqhm4alablyu7w2dpyaq.json.gz
  lambda-functions/backfill/testdata/manifest-files.json
  lambda-functions/backfill/testdata/manifest-summary.json
  terraform/environment/lambda.tf
  terraform/environment/shared_data_sources.tf
Due: none

Get lambda image by digest
  terraform/environment/lambda.tf
  terraform/environment/shared_data_sources.tf
Due: none

When deployed track old emails to make cleaning up easier
  service-api/app/config/autoload/envs.global.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsersFactory.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/variables.tf
Due: phpcbf-api, phpcs-api

Add a bucket policy
  terraform/environment/lambda.tf
Due: none

Figure out which principal is broken
  terraform/environment/lambda.tf
Due: none

Turn it off on all envs
  terraform/environment/lambda.tf
  terraform/environment/terraform.tfvars.json
Due: none

Provide option to not deploy the backfill lambda
  .secrets.baseline
  terraform/environment/lambda.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

Update to newer mockery and use EXPECT() style checks
  Makefile
  lambda-functions/event-receiver/.mockery.yaml
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/DynamodbClient.go
  lambda-functions/event-receiver/app/mocks/Handler.go
  lambda-functions/event-receiver/app/mocks/factory.go
  lambda-functions/event-receiver/app/mocks_test.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  lambda-functions/event-receiver/internal/dynamo/client.go
  lambda-functions/event-receiver/internal/dynamo/client_test.go
  lambda-functions/event-receiver/internal/dynamo/mocks/DynamoDB.go
  lambda-functions/event-receiver/internal/dynamo/mocks_test.go
Due: none

Put user in a transaction to match main app behaviour
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks_test.go
  lambda-functions/event-receiver/internal/dynamo/client.go
  lambda-functions/event-receiver/internal/dynamo/client_test.go
Due: none

checking psalm errors again
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
Due: phpcbf-front, phpcs-front

Removed interactive flag as breaking commit hooks in new docker
  pre-commit-hooks/phpcbf.sh
  pre-commit-hooks/phpcs.sh
Due: none

correcting apostrophes
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: none

Removed interactive flag as breaking commit hooks in new docker (#3528)
  pre-commit-hooks/phpcbf.sh
  pre-commit-hooks/phpcs.sh
Due: none

UML-4046: Inform customer that they are seeing two LPAs in their account (#3500)
  service-api/seeding/dynamodb.py
  service-front/app/features/actor-add-an-lpa.feature
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: phpcbf-front, phpcs-front

UML-4178 Create an IDENTITY# record when creating a user in event-receiver (#3527)
  Makefile
  lambda-functions/event-receiver/.mockery.yaml
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/DynamodbClient.go
  lambda-functions/event-receiver/app/mocks/Handler.go
  lambda-functions/event-receiver/app/mocks/factory.go
  lambda-functions/event-receiver/app/mocks_test.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  lambda-functions/event-receiver/internal/dynamo/client.go
  lambda-functions/event-receiver/internal/dynamo/client_test.go
  lambda-functions/event-receiver/internal/dynamo/mocks/DynamoDB.go
  lambda-functions/event-receiver/internal/dynamo/mocks_test.go
Due: none

UML-4176 Add lambda to backfill IDENTITY# and EMAIL# records (#3509)
  .github/workflows/_build-and-push.yml
  .secrets.baseline
  lambda-functions/backfill/.trivyignore.yaml
  lambda-functions/backfill/Dockerfile
  lambda-functions/backfill/go.mod
  lambda-functions/backfill/go.sum
  lambda-functions/backfill/main.go
  lambda-functions/backfill/main_test.go
  lambda-functions/backfill/testdata/data/46zi6ttlbe3wnh6flbqmrg43de.json.gz
  lambda-functions/backfill/testdata/data/ibtniuessq5cdly3kh2ljhqlau.json.gz
  lambda-functions/backfill/testdata/data/lzvqads3ae45xmtdimeasemw2m.json.gz
  lambda-functions/backfill/testdata/data/skigb5gqhm4alablyu7w2dpyaq.json.gz
  lambda-functions/backfill/testdata/manifest-files.json
  lambda-functions/backfill/testdata/manifest-summary.json
  service-api/app/config/autoload/envs.global.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsersFactory.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
  terraform/environment/lambda.tf
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/shared_data_sources.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: phpcbf-api, phpcs-api

change just to make a PR
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: none

new field being returned from lpastore and hence added to person entity and relevant
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporation.php
  service-api/app/src/App/src/Entity/Person.php
Due: phpcbf-api, phpcs-api

constructir additions
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporation.php
Due: phpcbf-api, phpcs-api

Adding to the relvant interface
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/lpas/4000.json
  service-api/app/docs/examples/lpa-response-example.yaml
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus/GetAttorneyStatusInterface.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/GetTrustCorporationStatusInterface.php
Due: phpcbf-api, phpcs-api

Update "role of an attorney" link wording
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: phpcbf-front, phpcs-front

UML-4129 Update "role of an attorney" link wording (#3530)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: phpcbf-front, phpcs-front

UML-4167: use CMK for DynamoDB
  terraform/account/kms.tf
Due: none

update description and alias
  terraform/account/kms.tf
Due: none

create in all environments
  terraform/account/kms.tf
Due: none
