Repository ministryofjustice/opg-use-an-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-front, phpcbf-api, phpcs-api, phpcs-front

phpcbf-front:
  name: phpcbf-front
  language: script
  entry: ./pre-commit-hooks/phpcbf.sh front
  fail_fast: true

phpcbf-api:
  name: phpcbf-api
  language: script
  entry: ./pre-commit-hooks/phpcbf.sh api
  fail_fast: true

phpcs-api:
  name: phpcs-api
  language: script
  entry: ./pre-commit-hooks/phpcs.sh api

phpcs-front:
  name: phpcs-front
  language: script
  entry: ./pre-commit-hooks/phpcs.sh front

update key policy
  terraform/account/kms.tf
Due: none

trigger
  .github/workflows/trigger_build
Due: none

UML-4167: use CMK for DynamoDB (#3492)
  .github/workflows/trigger_build
  terraform/account/kms.tf
Due: none

Update of PHP dependencies. Using both composers built in CVE detection and roave security advisories to protect.
  service-api/app/composer.lock
  service-front/app/composer.lock
  tests/smoke/composer.lock
Due: none

Run smoke composer update without bringing up the whole stack.
  Makefile
  tests/smoke/docker-compose.smoke.yml
Due: none

PHP minor updates (#3533)
  Makefile
  service-api/app/composer.lock
  service-front/app/composer.lock
  tests/smoke/composer.lock
  tests/smoke/docker-compose.smoke.yml
Due: none

twig changes to display Decisions to be made jointly details
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/lpas/4000.json
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Service/Lpa/ServiceInterfaces/ProcessPersonsInterface.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: phpcbf-front, phpcs-front

Update mezzio.
  service-api/app/composer.json
  service-api/app/composer.lock
  service-front/app/composer.json
  service-front/app/composer.lock
Due: none

unit test fixes
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/LpaStoreAttorneyTest.php
  service-api/app/test/AppTest/Entity/LpaStoreDonorTest.php
  service-api/app/test/AppTest/Entity/LpaStoreTest.php
  service-api/app/test/AppTest/Entity/SiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAll/AccessForAllValidationTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/Combined/FilterActiveActorsTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/LpaStoreHasActorTraitTest.php
  service-api/app/test/fixtures/4UX3.json
  service-api/app/test/fixtures/test_lpa.json
  service-front/app/test/CommonTest/Entity/CanHydrateCombinedLpaTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
  service-front/app/test/fixtures/4UX3.json
  service-front/app/test/fixtures/combined_lpa.json
Due: phpcbf-front, phpcbf-api, phpcs-api, phpcs-front

Update mezzio. (#3534)
  service-api/app/composer.json
  service-api/app/composer.lock
  service-front/app/composer.json
  service-front/app/composer.lock
Due: none

Ignore CVE for now.
  lambda-functions/upload-statistics/.trivyignore.yaml
Due: none

Ignore CVE for now. (#3537)
  lambda-functions/upload-statistics/.trivyignore.yaml
Due: none

Move towards using the new PACT behat code.
  .idea/runConfigurations/API_Integration__Single_Scenario.xml
  service-api/app/composer.json
  service-api/app/features/actor-access-code-cancellation.feature
  service-api/app/features/bootstrap/config.pact.php
  service-api/app/features/bootstrap/config.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/docker/app/Dockerfile
Due: phpcbf-api, phpcs-api

Upgrade PACT and fix the remaining test file that needs it
  service-api/app/composer.json
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: phpcbf-api, phpcs-api

Ensure FFI is available for use by PACT
  service-api/docker/app/Dockerfile
Due: none

Remove redundant pact mock server container definitions
  docker-compose.testing.yml
Due: none

Remove redundant behat pact configuration files
  service-api/app/features/bootstrap/config.pact.php
  service-api/app/features/bootstrap/container.integration.php
Due: phpcbf-api, phpcs-api

Remove unnecessary reintroduced @pact tag.
  service-api/app/features/actor-access-code-cancellation.feature
Due: none

Ensure correct packages installed.
  service-api/app/composer.lock
Due: none

Don't need cleanup commands for container that don't exist.
  .idea/runConfigurations/API_Integration.xml
  .idea/runConfigurations/Cleanup_Pact_Containers.xml
  Makefile
Due: none

Remove pact containers from CI test procedures
  .github/workflows/_build-and-push.yml
Due: none

Update lambda in attempt to mitigate CVE
  lambda-functions/upload-statistics/Dockerfile
Due: none

Pin packages add as per linting
  service-api/docker/app/Dockerfile
Due: none

Remove sentence from "need to change donor details" page
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/change-details.html.twig
Due: none

Change in how the uuid matcher functions in pact 10
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: phpcbf-api, phpcs-api

UML-4163 Remove sentence from "need to change donor details" page (#3532)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/change-details.html.twig
Due: none

UML-4167: Merge key policy
  terraform/account/kms.tf
Due: none

Upgrade pact-php to v10 (#3535)
  .github/workflows/_build-and-push.yml
  .idea/runConfigurations/API_Integration.xml
  .idea/runConfigurations/API_Integration__Single_Scenario.xml
  .idea/runConfigurations/Cleanup_Pact_Containers.xml
  Makefile
  docker-compose.testing.yml
  lambda-functions/upload-statistics/Dockerfile
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/features/bootstrap/config.pact.php
  service-api/app/features/bootstrap/config.php
  service-api/app/features/bootstrap/container.integration.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
  service-api/docker/app/Dockerfile
Due: phpcbf-api, phpcs-api

remove provider
  terraform/account/kms.tf
Due: none

remove another provider
  terraform/account/kms.tf
Due: none

Update psalm.
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/psalm.xml
Due: none

Fix a bunch of new psalm issues that v6 presumably does a better job of detecting.
  pre-commit-hooks/phpcbf.sh
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/ActorCodes/ActorCodeService.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/InstructionsAndPreferencesImagesTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: phpcbf-api, phpcs-api

Baseline update
  service-api/app/psalm-baseline.xml
Due: none

UML-4167 (#3538)
  .github/workflows/trigger_build
  terraform/account/kms.tf
Due: none

translations added
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: none

Update Psalm and held back deps (#3539)
  pre-commit-hooks/phpcbf.sh
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/psalm-baseline.xml
  service-api/app/psalm.xml
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/ActorCodes/ActorCodeService.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/InstructionsAndPreferencesImagesTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: phpcbf-api, phpcs-api

twig changes
  service-front/app/src/Common/templates/partials/contact-details/telephone.html.twig
Due: none

typo
  service-front/app/src/Common/templates/partials/contact-details/telephone.html.twig
Due: none

Path conditions:
  phpcbf-front: any of: service-front\/app\/.*\.(php)$
  phpcbf-api: any of: service-api\/app\/.*\.(php)$
  phpcs-api: any of: service-api\/app\/.*\.(php)$
  phpcs-front: any of: service-front\/app\/.*\.(php)$
