Repository ministryofjustice/opg-use-an-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-front, phpcbf-api, phpcs-api, phpcs-front

phpcbf-front:
  name: phpcbf-front
  language: script
  entry: ./pre-commit-hooks/phpcbf.sh front
  fail_fast: true

phpcbf-api:
  name: phpcbf-api
  language: script
  entry: ./pre-commit-hooks/phpcbf.sh api
  fail_fast: true

phpcs-api:
  name: phpcs-api
  language: script
  entry: ./pre-commit-hooks/phpcs.sh api

phpcs-front:
  name: phpcs-front
  language: script
  entry: ./pre-commit-hooks/phpcs.sh front

Accessibility improvements for language switcher
  service-front/app/src/Common/templates/partials/header/welsh-switch.html.twig
Due: none

Switch onelogin error messages to be template based rather than form errors and update content
  service-front/app/src/Actor/src/Form/OneLoginForm.php
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
  service-front/app/src/Actor/templates/actor/form-error-messages.html.twig
  service-front/app/src/Actor/templates/actor/one-login-error.html.twig
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: phpcbf-front, phpcs-front

Fix tests, remove unused code and update psalm baseline.
  service-front/app/psalm-baseline.xml
  service-front/app/src/Common/src/Form/AbstractForm.php
  service-front/app/src/Common/src/Service/I18n/PotGenerator.php
  service-front/app/test/CommonTest/Form/AbstractFormTest.php
  service-front/app/test/CommonTest/Service/I18n/PotGeneratorTest.php
Due: phpcbf-front, phpcs-front

Group AWS updates
  renovate.json
Due: none

Allow vendor folder removal to fail silently
  Makefile
Due: none

Correct error message content in tests
  service-front/app/features/actor-one-login.feature
Due: none

UML-4039 Update one login breakage error message (#3583)
  Makefile
  renovate.json
  service-front/app/features/actor-one-login.feature
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/psalm-baseline.xml
  service-front/app/src/Actor/src/Form/OneLoginForm.php
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
  service-front/app/src/Actor/templates/actor/form-error-messages.html.twig
  service-front/app/src/Actor/templates/actor/one-login-error.html.twig
  service-front/app/src/Actor/templates/actor/one-login.html.twig
  service-front/app/src/Common/src/Form/AbstractForm.php
  service-front/app/src/Common/src/Service/I18n/PotGenerator.php
  service-front/app/src/Common/templates/partials/header/welsh-switch.html.twig
  service-front/app/test/CommonTest/Form/AbstractFormTest.php
  service-front/app/test/CommonTest/Service/I18n/PotGeneratorTest.php
Due: phpcbf-front, phpcs-front

Force a new build
  .github/workflows/trigger_build
Due: none

don't build stats lambda with provenance
  .github/workflows/_build-and-push.yml
Due: none

don't build stats lambda with provenance (#3586)
  .github/workflows/_build-and-push.yml
Due: none

Add fixture data to dev against
  .secrets.baseline
  mock-integrations/opg-data-lpa/mock-openapi-examples.yaml
  mock-integrations/opg-data-lpa/mock-openapi.yaml
Due: none

Move name handling from extension to template.
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
Due: phpcbf-front, phpcs-front

Fix lambdas to build only for amd64. This may also need a provenance flag.
  .github/workflows/_build-and-push.yml
Due: none

Missed test for twig extension changes
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: phpcbf-front, phpcs-front

UML-4250 Don't show company names for individual attorneys (#3585)
  .github/workflows/_build-and-push.yml
  .secrets.baseline
  mock-integrations/opg-data-lpa/mock-openapi-examples.yaml
  mock-integrations/opg-data-lpa/mock-openapi.yaml
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: phpcbf-front, phpcs-front

Update the golang docker image to 1.25.7
  localstack/Dockerfile
  service-admin/docker-compose.yml
  service-admin/proxy/Dockerfile
Due: none

UML-4187: create backfill lambda & appriopriate access
  terraform/account/backfill_kms.tf
  terraform/environment/backfill.tf
  terraform/environment/shared_data_sources.tf
Due: none

add forgotten principal
  terraform/environment/backfill.tf
Due: none

deploy backfill to dev
  terraform/environment/terraform.tfvars.json
Due: none

remove principal, revert kms key
  terraform/environment/backfill.tf
Due: none

fix wrong key
  terraform/environment/backfill.tf
Due: none

revert to cloudwatch kms
  terraform/environment/backfill.tf
Due: none

limit breakglass to use lambda
  terraform/environment/backfill.tf
Due: none

Update the golang docker image to 1.25.7 (#3588)
  localstack/Dockerfile
  service-admin/docker-compose.yml
  service-admin/proxy/Dockerfile
Due: none

use lambda_name
  terraform/environment/backfill.tf
Due: none

review suggestions and translation added back after resolving conflicts
  service-api/app/docs/examples/lpa-response-example.yaml
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporation.php
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporation.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/LpaStoreAttorneyTest.php
  service-api/app/test/AppTest/Entity/LpaStoreDonorTest.php
  service-api/app/test/AppTest/Entity/LpaStoreTest.php
  service-api/app/test/AppTest/Entity/SiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-front/app/features/actor-view-attorney-joint-decisions-in-summary.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/test/CommonTest/Entity/CanHydrateCombinedLpaTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
  service-front/app/test/fixtures/combined_lpa.json
Due: phpcbf-front, phpcbf-api, phpcs-api, phpcs-front

twig changes
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary-combined-lpa.html.twig
Due: none

Bump ignore date on CVE vuln.
  lambda-functions/upload-statistics/.trivyignore.yaml
Due: none

trigger
  .github/workflows/trigger_build
Due: none

enable backfill on preproduction
  terraform/environment/terraform.tfvars.json
Due: none

Update local build Dockerfile node version
  service-front/web/Dockerfile
Due: none

Use new service header component
  service-front/web/package-lock.json
  service-front/web/package.json
  service-front/web/src/gds.scss
  service-front/web/src/index.js
Due: none

Path conditions:
  phpcbf-front: any of: service-front\/app\/.*\.(php)$
  phpcbf-api: any of: service-api\/app\/.*\.(php)$
  phpcs-api: any of: service-api\/app\/.*\.(php)$
  phpcs-front: any of: service-front\/app\/.*\.(php)$
