Repository ministryofjustice/opg-use-an-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-front, phpcbf-api, phpcs-api, phpcs-front

phpcbf-front:
  name: phpcbf-front
  language: script
  entry: ./pre-commit-hooks/phpcbf.sh front
  fail_fast: true

phpcbf-api:
  name: phpcbf-api
  language: script
  entry: ./pre-commit-hooks/phpcbf.sh api
  fail_fast: true

phpcs-api:
  name: phpcs-api
  language: script
  entry: ./pre-commit-hooks/phpcs.sh api

phpcs-front:
  name: phpcs-front
  language: script
  entry: ./pre-commit-hooks/phpcs.sh front

UML-4304: create backup KMS keys (#3706)
  terraform/account/cross_account_backup_role.tf
  terraform/account/kms.tf
  terraform/account/lookups.tf
  terraform/account/terraform.tf
Due: none

UML-4397 - add entra as supported idp in pr env
  .secrets.baseline
  terraform/environment/cognito_client.tf
  terraform/environment/shared_data_sources.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

Allow the ALB public key endpoint in dev firewall rules
  terraform/account/region/network_firewall_rules_development.rules
Due: none

Allow ALB public key endpoint in preprod firewall rules
  terraform/account/region/network_firewall_rules_preproduction.rules
Due: none

Allow the ALB public key endpoint in dev firewall rules (#3710)
  terraform/account/region/network_firewall_rules_development.rules
  terraform/account/region/network_firewall_rules_preproduction.rules
Due: none

Update dependency @ministryofjustice/frontend to v9
  service-admin/package-lock.json
  service-admin/package.json
  service-front/web/package-lock.json
  service-front/web/package.json
Due: none

Trial entra only
  terraform/environment/cognito_client.tf
Due: none

Update uses of govuk-frontend
  service-admin/web/assets/main.js
  service-admin/web/assets/main.scss
  service-admin/web/templates/default.layout.gohtml
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/app/src/Common/templates/partials/header/default.html.twig
  service-front/app/src/Common/templates/partials/header/one-login.html.twig
  service-front/web/src/gds.scss
  service-front/web/src/stylesheets/_lpa-ticket-panel.scss
  service-front/web/src/stylesheets/_lpa-typography.scss
  service-front/web/src/stylesheets/lpa.scss
Due: none

Enable entra for all envs
  .secrets.baseline
  terraform/environment/cognito_client.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

UML-4397 - add entra as identity provider to cognito user pool for admin portal (#3708)
  .secrets.baseline
  terraform/environment/cognito_client.tf
  terraform/environment/shared_data_sources.tf
Due: none

Remove skipped tests referencing non-existent handlers
  service-api/app/test/AppTest/Handler/LpaHandlerTest.php
  service-api/app/test/AppTest/Handler/LpaSearchHandlerTest.php
Due: phpcbf-api, phpcs-api

Remove released 'delete_lpa_feature' feature flag
  .secrets.baseline
  docker-compose.yml
  service-front/app/config/autoload/features.global.php
  service-front/app/config/routes.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
  terraform/environment/region.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: phpcbf-front, phpcs-front

Remove unused 'use_legacy_codes_service' feature flag
  service-api/app/config/autoload/features.global.php
Due: phpcbf-api, phpcs-api

Remove released 'use_older_lpa_journey' feature flag
  .secrets.baseline
  service-front/app/config/autoload/features.global.php
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: phpcbf-front, phpcs-front

Only lint added and modified files, not deleted
  .github/workflows/php-linting.yml
Due: none

Remove unused ConditionRoutingMiddleware
  service-front/app/config/routes.php
  service-front/app/psalm-baseline.xml
  service-front/app/public/index.php
  service-front/app/src/Common/src/Middleware/Routing/ConditionalRoutingMiddleware.php
  service-front/app/test/CommonTest/Middleware/Routing/ConditionalRoutingMiddlewareTest.php
Due: phpcbf-front, phpcs-front

UML-4304: create backup module
  .secrets.baseline
  terraform/environment/backups.tf
  terraform/environment/modules/dynamodb_backup/backup_plan.tf
  terraform/environment/modules/dynamodb_backup/data_sources.tf
  terraform/environment/modules/dynamodb_backup/iam_backup_role.tf
  terraform/environment/modules/dynamodb_backup/terraform.tf
  terraform/environment/modules/dynamodb_backup/variables.tf
  terraform/environment/modules/dynamodb_backup/vault.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

remove redundant account name
  terraform/environment/backups.tf
Due: none

Downgrade jest-environment-jsdom as it does not allow mocking location
  service-front/web/package-lock.json
  service-front/web/package.json
Due: none

UML-4255 Remove feature flags we no longer need (#3709)
  .github/workflows/php-linting.yml
  .secrets.baseline
  docker-compose.yml
  service-api/app/config/autoload/features.global.php
  service-front/app/config/autoload/features.global.php
  service-front/app/config/routes.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/psalm-baseline.xml
  service-front/app/public/index.php
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
  service-front/app/src/Common/src/Middleware/Routing/ConditionalRoutingMiddleware.php
  service-front/app/test/CommonTest/Middleware/Routing/ConditionalRoutingMiddlewareTest.php
  terraform/environment/region.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: phpcbf-front, phpcbf-api, phpcs-api, phpcs-front

rename to versions
  terraform/environment/modules/dynamodb_backup/terraform.tf
  terraform/environment/modules/dynamodb_backup/versions.tf
Due: none

create default provider, temp create euwest1 alias
  terraform/environment/backups.tf
Due: none

create copy action into replica vault
  terraform/environment/modules/dynamodb_backup/backup_plan.tf
  terraform/environment/modules/dynamodb_backup/variables.tf
  terraform/environment/modules/dynamodb_backup/vault.tf
Due: none

remove backup var
  terraform/environment/backups.tf
Due: none

make eu-west-1 default provider
  terraform/environment/backups.tf
  terraform/environment/modules/dynamodb_backup/versions.tf
Due: none

use kms key in replica region
  terraform/environment/modules/dynamodb_backup/data_sources.tf
  terraform/environment/modules/dynamodb_backup/vault.tf
Due: none

Remove skipped tests referencing non-existent handlers (#3712)
  service-api/app/test/AppTest/Handler/LpaHandlerTest.php
  service-api/app/test/AppTest/Handler/LpaSearchHandlerTest.php
Due: phpcbf-api, phpcs-api

use replica instead of provider
  terraform/environment/backups.tf
  terraform/environment/modules/dynamodb_backup/data_sources.tf
  terraform/environment/modules/dynamodb_backup/variables.tf
  terraform/environment/modules/dynamodb_backup/vault.tf
  terraform/environment/modules/dynamodb_backup/versions.tf
Due: none

Turn paper verification off for PR env so it can be viewed
  terraform/environment/terraform.tfvars.json
Due: none

Strip all other characters from access codes
  service-front/app/features/view-lpa-using-sharecode.feature
  service-front/app/src/Common/src/Filter/AccessCodeFilter.php
  service-front/app/src/Common/src/Filter/AccessOrPaperVerificationCodeFilter.php
  service-front/app/src/Viewer/src/Form/AccessCode.php
  service-front/app/src/Viewer/src/Form/AccessOrPaperVerificationCode.php
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/test/CommonTest/Filter/AccessCodeFilterTest.php
  service-front/app/test/CommonTest/Filter/AccessOrPaperVerificationCodeFilterTest.php
  service-front/app/test/CommonTest/Filter/ShareCodeFilterTest.php
  service-front/app/test/ViewerTest/Form/AccessCodeTest.php
Due: phpcbf-front, phpcs-front

Use quote mark for apostrophes on enter code page
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Form/AccessCode.php
  service-front/app/src/Viewer/templates/viewer/enter-code.html.twig
  service-front/app/src/Viewer/templates/viewer/form-error-messages.html.twig
Due: phpcbf-front, phpcs-front

UML-4308 Strip all other characters from access codes (#3714)
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-sharecode.feature
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/src/Filter/AccessCodeFilter.php
  service-front/app/src/Common/src/Filter/AccessOrPaperVerificationCodeFilter.php
  service-front/app/src/Viewer/src/Form/AccessCode.php
  service-front/app/src/Viewer/src/Form/AccessOrPaperVerificationCode.php
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/src/Viewer/templates/viewer/enter-code.html.twig
  service-front/app/src/Viewer/templates/viewer/form-error-messages.html.twig
  service-front/app/test/CommonTest/Filter/AccessCodeFilterTest.php
  service-front/app/test/CommonTest/Filter/AccessOrPaperVerificationCodeFilterTest.php
  service-front/app/test/CommonTest/Filter/ShareCodeFilterTest.php
  service-front/app/test/ViewerTest/Form/AccessCodeTest.php
  terraform/environment/terraform.tfvars.json
Due: phpcbf-front, phpcs-front

order of checks rearranged so that the page hits are as expected
  .secrets.baseline
  service-api/app/features/context/Acceptance/LpaContext.php
Due: phpcbf-api, phpcs-api

disable backup in dev, enable in preprod
  .secrets.baseline
  terraform/environment/terraform.tfvars.json
Due: none

UML-4304: create DynamoDB backup module (#3713)
  .secrets.baseline
  terraform/environment/backups.tf
  terraform/environment/modules/dynamodb_backup/backup_plan.tf
  terraform/environment/modules/dynamodb_backup/data_sources.tf
  terraform/environment/modules/dynamodb_backup/iam_backup_role.tf
  terraform/environment/modules/dynamodb_backup/variables.tf
  terraform/environment/modules/dynamodb_backup/vault.tf
  terraform/environment/modules/dynamodb_backup/versions.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

test fix
  service-api/app/features/context/Integration/LpaContext.php
Due: phpcbf-api, phpcs-api

Use --no-wrap on .po file
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: none

Update urllib3 to 2.7.0
  lambda-functions/upload-statistics/requirements-tests.txt
  lambda-functions/upload-statistics/requirements.txt
  query/requirements.txt
  scripts/call-api-gateway/requirements.txt
  scripts/pipeline/ci_ingress/requirements.txt
  scripts/pipeline/generate_snyk_report/requirements.txt
  scripts/pipeline/requirements.txt
  scripts/remove_default_sg_rules/requirements.txt
  service-api/seeding/requirements.txt
Due: none

Add en_GB language files
  Makefile
  service-front/app/languages/en_GB/LC_MESSAGES/messages.mo
  service-front/app/languages/en_GB/LC_MESSAGES/messages.po
  service-front/app/src/Common/src/Service/I18n/PotGenerator.php
Due: phpcbf-front, phpcs-front

Update urllib3 to 2.7.0 (#3720)
  lambda-functions/upload-statistics/requirements-tests.txt
  lambda-functions/upload-statistics/requirements.txt
  query/requirements.txt
  scripts/call-api-gateway/requirements.txt
  scripts/pipeline/ci_ingress/requirements.txt
  scripts/pipeline/generate_snyk_report/requirements.txt
  scripts/pipeline/requirements.txt
  scripts/remove_default_sg_rules/requirements.txt
  service-api/seeding/requirements.txt
Due: none

Path conditions:
  phpcbf-front: any of: service-front\/app\/.*\.(php)$
  phpcbf-api: any of: service-api\/app\/.*\.(php)$
  phpcs-api: any of: service-api\/app\/.*\.(php)$
  phpcs-front: any of: service-front\/app\/.*\.(php)$
