Repository ministryofjustice/opg-use-an-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcbf-front, phpcbf-api, phpcs-api, phpcs-front

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^\.idea/'
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.92.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
         - --args=--recursive
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
      - name: phpcbf-front
        id: phpcbf-front
        language: script
        entry: ./pre-commit-hooks/phpcbf.sh front
        files: service-front\/app\/.*\.(php)$
        fail_fast: true
      - name: phpcbf-api
        id: phpcbf-api
        language: script
        entry: ./pre-commit-hooks/phpcbf.sh api
        files: service-api\/app\/.*\.(php)$
        fail_fast: true
      - name: phpcs-api
        id: phpcs-api
        language: script
        entry: ./pre-commit-hooks/phpcs.sh api
        files: service-api\/app\/.*\.(php)$
      - name: phpcs-front
        id: phpcs-front
        language: script
        entry: ./pre-commit-hooks/phpcs.sh front
        files: service-front\/app\/.*\.(php)$

Translated using Weblate (Welsh)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: none

Translated using Weblate (English)
  service-front/app/languages/en_GB/LC_MESSAGES/messages.mo
  service-front/app/languages/en_GB/LC_MESSAGES/messages.po
Due: none

Ensure we're testing we can view digital LPAs via sharecode
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-sharecode.feature
Due: phpcbf-front, phpcs-front

Change looked for enum value in whenHasLostCapacity condition
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
Due: none

code cov improvement
  service-front/app/test/CommonTest/Handler/Factory/DownloadLpaHandlerFactoryTest.php
Due: phpcbf-front, phpcs-front

github alert addressed
  service-front/app/src/Viewer/src/Handler/Factory/DownloadLpaHandlerFactory.php
Due: phpcbf-front, phpcs-front

cleanup
  service-front/app/features/context/UI/ViewerContext.php
Due: phpcbf-front, phpcs-front

Restrict codecatalyst to eu-west-1 and drop unsupported policy
  terraform/account/region/modules/vpc_endpoints/vpce_cloudshell.tf
Due: none

Restore public access to starport layer bucket (ecs deployments fail otherwise)
  terraform/account/region/modules/vpc_endpoints/vpce_s3.tf
Due: none

Add translation assertion method to BaseUiContext trait
  service-front/app/features/context/BaseUiContextTrait.php
  service-front/app/features/context/UI/BaseUiContext.php
Due: phpcbf-front, phpcs-front

Fix up tests to use new translation keys or attributes
  service-front/app/features/actor-one-login.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/templates/actor/one-login-error.html.twig
Due: phpcbf-front, phpcs-front

Fix function call in UI LpaContext
  service-front/app/features/context/UI/LpaContext.php
Due: phpcbf-front, phpcs-front

Fix inverse of page contains for translated values.
  service-front/app/features/context/BaseUiContextTrait.php
  service-front/app/features/context/UI/LpaContext.php
Due: phpcbf-front, phpcs-front

changes to add source to event handler
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapTest.php
Due: phpcbf-api, phpcs-api

test fix
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
Due: none

UML-4527 - Add snyk iac scanning to pipelines
  .github/workflows/_lint-terraform.yml
  .github/workflows/merge_queue.yml
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
  terraform/account/.snyk
  terraform/environment/.snyk
Due: none

fix tfsec finding
  terraform/account/region/modules/vpc_endpoints/main.tf
  terraform/account/region/modules/vpc_endpoints/vpce_cloudshell.tf
Due: none

Use correct oidc role for ecr login
  .github/workflows/_lint-terraform.yml
  .github/workflows/merge_queue.yml
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
Due: none

code cov improvement
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapTest.php
Due: phpcbf-api, phpcs-api

Update service-front/app/config/autoload/envs.global.php
  service-front/app/config/autoload/envs.global.php
Due: phpcbf-front, phpcs-front
