Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Missing return type
  service-api/app/src/App/src/Service/Authentication/UserInfoServiceFactory.php
Due: use-an-lpa-api

Add test for for not found by identity
  .idea/php.xml
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
Due: use-an-lpa-api

Additional coverage
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: use-an-lpa-api

Remove redundant alias
  service-api/app/src/App/src/ConfigProvider.php
Due: use-an-lpa-api

Add functionality to getuser by identity to the user service
  service-api/app/src/App/src/Service/User/UserService.php
Due: use-an-lpa-api

Changed constuctor signature means broken tests.
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
Due: use-an-lpa-api

Add user migration to repository handling
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
Due: use-an-lpa-api

Implement getByIdentity method and interface
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
Due: use-an-lpa-api

Fix up KeyPairManager test
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginUserInfoKeyManager.php
Due: use-an-lpa-api

Fix up JWKFactory test
  .idea/phpunit.xml
Due: none

Added additional tests to improve coverage
  service-api/app/src/App/src/Service/Authentication/UserInfoService.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: use-an-lpa-api

UML 3015 Amend service-api one-login code to handle users (#2520)
  .idea/php.xml
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/src/App/src/Exception/DateTimeException.php
  service-api/app/src/App/src/Exception/RandomException.php
  service-api/app/src/App/src/Service/Authentication/OneLoginService.php
  service-api/app/src/App/src/Service/Authentication/UserInfoService.php
  service-api/app/src/App/src/Service/Authentication/UserInfoServiceFactory.php
  service-api/app/src/App/src/Service/RandomByteGenerator.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginServiceTest.php
  service-api/app/test/AppTest/Service/RandomByteGeneratorTest.php
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front, use-an-lpa-api

Remove identity verification code and tests.
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginUserInfoKeyPairManager.php
  service-api/app/src/App/src/Service/Authentication/OneLoginService.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifier.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilder.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderFactory.php
  service-api/app/src/App/src/Service/Authentication/UserInfoService.php
  service-api/app/src/App/src/Service/Authentication/UserInfoServiceFactory.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/test/AppTest/Service/Authentication/KeyPairManager/KeyPairManagerTest.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginServiceTest.php
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderFactoryTest.php
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderTest.php
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierTest.php
Due: use-an-lpa-api

Add event codes for tracking one login creation/migration events
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  terraform/environment/region/cloudwatch_metrics.tf
Due: use-an-lpa-api

Add event codes for tracking one login creation/migration events (#2541)
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  terraform/environment/region/cloudwatch_metrics.tf
Due: use-an-lpa-api

Remove identity verification code and tests. (#2540)
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginUserInfoKeyPairManager.php
  service-api/app/src/App/src/Service/Authentication/OneLoginService.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifier.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilder.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderFactory.php
  service-api/app/src/App/src/Service/Authentication/UserInfoService.php
  service-api/app/src/App/src/Service/Authentication/UserInfoServiceFactory.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/test/AppTest/Service/Authentication/KeyPairManager/KeyPairManagerTest.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginServiceTest.php
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderFactoryTest.php
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderTest.php
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierTest.php
Due: use-an-lpa-api

Only create preproduction/production dashboards
  terraform/environment/region.tf
  terraform/environment/region/cloudwatch_dashboard.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

UML-1959 Create Cloudwatch dashboard in Terraform
  terraform/environment/region/cloudwatch_dashboard.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/templates/cw_dashboard_watching.tftpl
  terraform/environment/region/terraform.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/use_load_balancer.tf
Due: none

UML-1959 Create Cloudwatch dashboard in Terraform (#2542)
  terraform/environment/region.tf
  terraform/environment/region/cloudwatch_dashboard.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/templates/cw_dashboard_watching.tftpl
  terraform/environment/region/terraform.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/use_load_balancer.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

Update opg-github-actions with new options
  .github/workflows/path-to-live.yml
Due: none

Remove identity keys from mocks as not needed
  docker-compose.dependencies.yml
  mock-integrations/secrets-manager/localstack_init.sh
  mock-integrations/secrets-manager/onelogin_mock_public_key.pem
Due: none

Add missing secret name parameter
  terraform/environment/region.tf
Due: none

Correct data value name
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/ecs_cluster.tf
Due: none

Add missing secret name parameter for region-2
  terraform/environment/region.tf
Due: none

Create and expose new one login client id secret
  terraform/account/secretsmanager.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/ecs_cluster.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

Update opg-github-actions with new options (#2547)
  .github/workflows/path-to-live.yml
Due: none

Service, handler and factory to get parameter store messages.
  service-api/app/config/autoload/envs.global.php
  service-api/app/config/routes.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Handler/SystemMessageHandler.php
  service-api/app/src/App/src/Service/Aws/SSMClientFactory.php
  service-api/app/src/App/src/Service/SystemMessage.php
Due: use-an-lpa-api

Revert upload/download-artifact version upgrade
  .github/workflows/_build-and-push.yml
  .github/workflows/_node-build.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_run-terraform.yml
Due: none

Revert
  .github/workflows/_build-and-push.yml
  .github/workflows/_node-build.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_run-terraform.yml
Due: none

revert download artifact
  .github/workflows/_build-and-push.yml
  .github/workflows/_codecov.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_seed-database.yml
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
Due: none

Revert download and upload-artifact version upgrade (#2551)
  .github/workflows/_build-and-push.yml
  .github/workflows/_codecov.yml
  .github/workflows/_node-build.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_run-terraform.yml
  .github/workflows/_seed-database.yml
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
Due: none

linting fix
  service-api/app/src/App/src/Service/SystemMessage.php
Due: use-an-lpa-api

Revert out environment changes so we can get the account bit in.
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/ecs_cluster.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

attempt to upgrade
  service-api/app/composer.json
  service-api/app/composer.lock
Due: use-an-lpa-api

guzzle7 adapter and new lock file
  service-api/app/composer.json
  service-api/app/composer.lock
Due: use-an-lpa-api

upgrade guzzle adapter
  service-front/app/composer.json
  service-front/app/composer.lock
Due: use-an-lpa-front

refer to guzzle 7
  service-api/app/features/bootstrap/config.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/test/BehatTest/Http/Adapter/Guzzle6/TestClientFactory.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Service/ApiClient/GuzzleClientFactory.php
  service-front/app/test/BehatTest/Http/Adapter/Guzzle6/TestClientFactory.php
Due: use-an-lpa-front, use-an-lpa-api

needs a later golangci-lint
  .github/workflows/golang-linting.yml
Due: none

later go
  .github/workflows/golang-linting.yml
Due: none

test for SystemMessage
  service-api/app/test/AppTest/Service/ViewerCodes/SystemMessageTest.php
Due: use-an-lpa-api
