Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Fixup psalm's grumblings about getenv.
  service-front/app/config/autoload/envs.global.php
Due: use-an-lpa-front

Wasn't able to build smoke tests
  tests/smoke/Dockerfile
Due: none

Final set of changes to the global function definition.
  service-front/app/composer.json
  service-front/app/config/autoload/envs.global.php
  service-front/app/config/config.php
  service-front/app/config/functions.php
Due: use-an-lpa-front

Update baseline to remove unused.
  service-front/app/psalm-baseline.xml
Due: use-an-lpa-front

Final Psalm fixes (final classes)
  service-front/app/src/Common/src/Middleware/Security/CSPMiddleware.php
  service-front/app/src/Common/src/Middleware/Security/CSPMiddlewareFactory.php
Due: use-an-lpa-front

Final Psalm fixes (ImplicitStringCast)
  service-front/app/src/Common/src/Middleware/Security/CSPMiddleware.php
Due: use-an-lpa-front

Add factory unit tests
  service-front/app/src/Common/src/Middleware/Security/CSPMiddlewareFactory.php
  service-front/app/test/CommonTest/Middleware/Security/CSPMiddlewareFactoryTest.php
Due: use-an-lpa-front

Dynamically set the onelogin csp domain based on environment and mock deployment
  terraform/environment/region/locals.tf
  terraform/environment/region/use_ecs.tf
Due: none

Revert awscli update as causing a block
  service-api/seeding/pyproject.toml
Due: use-an-lpa-api

Fix dependency conflicts in boto3/awscli versions
  service-api/seeding/pyproject.toml
  service-api/seeding/uv.lock
Due: use-an-lpa-api

Add :preserveSemverRanges to renovate.json
  renovate.json
Due: none

Fix docker php package matching
  renovate.json
Due: none

Translated using Weblate (Welsh)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Add packageRule to disable psalm/plugin-phpunit >= 0.20.
  renovate.json
Due: none

Might not need the manager line but belts and braces
  renovate.json
Due: none

All our buckets are legacy and don't have regions.
  .secrets.baseline
  terraform/environment/terraform.tfvars.json
Due: none

Based on the GA documentation update the CSP settings
  service-front/app/src/Common/src/Middleware/Security/CSPMiddleware.php
Due: use-an-lpa-front

Start analytics when the user clicks the yes button
  service-front/web/src/javascript/cookieConsent.js
Due: use-an-lpa-front

Fix tests
  service-front/web/src/javascript/cookieConsent.test.js
Due: use-an-lpa-front

Clear out "globals" before each test to ensure consistent results
  service-front/web/src/javascript/cookieConsent.test.js
Due: use-an-lpa-front

Check for template before trying to grab it's contents
  service-front/web/src/javascript/components/iapContainer.js
Due: use-an-lpa-front

changes for 4441
  service-front/app/config/autoload/envs.global.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/pdf-download-of-lpa.feature
  service-front/app/src/Viewer/src/ConfigProvider.php
  service-front/app/src/Viewer/src/Handler/DownloadLpaHandler.php
  service-front/app/src/Viewer/src/Handler/Factory/DownloadLpaHandlerFactory.php
Due: use-an-lpa-front

Add CSP report as a saved cloudwatch query
  terraform/environment/region/cloudwatch_log_groups.tf
Due: none

UML-4483 - Refactor vpc endpoints module
  terraform/account/refactor.tf
  terraform/account/region/firewalled_network.tf
  terraform/account/region/modules/vpc_endpoints/main.tf
  terraform/account/region/modules/vpc_endpoints/variables.tf
  terraform/account/region/modules/vpc_endpoints/versions.tf
  terraform/account/region/modules/vpc_endpoints/vpce_dynamodb.tf
  terraform/account/region/modules/vpc_endpoints/vpce_ecr.tf
  terraform/account/region/modules/vpc_endpoints/vpce_events.tf
  terraform/account/region/modules/vpc_endpoints/vpce_execute_api.tf
  terraform/account/region/modules/vpc_endpoints/vpce_kms.tf
  terraform/account/region/modules/vpc_endpoints/vpce_logs.tf
  terraform/account/region/modules/vpc_endpoints/vpce_monitoring.tf
  terraform/account/region/modules/vpc_endpoints/vpce_s3.tf
  terraform/account/region/modules/vpc_endpoints/vpce_secretsmanager.tf
  terraform/account/region/modules/vpc_endpoints/vpce_ssm.tf
  terraform/account/region/modules/vpc_endpoints/vpce_xray.tf
Due: none

Add missing vpc endpoints and tighten policies
  terraform/account/refactor.tf
  terraform/account/region/data_sources.tf
  terraform/account/region/firewalled_network.tf
  terraform/account/region/modules/vpc_endpoints/variables.tf
  terraform/account/region/modules/vpc_endpoints/vpce_dynamodb.tf
  terraform/account/region/modules/vpc_endpoints/vpce_ec2.tf
  terraform/account/region/modules/vpc_endpoints/vpce_ecr.tf
  terraform/account/region/modules/vpc_endpoints/vpce_events.tf
  terraform/account/region/modules/vpc_endpoints/vpce_execute_api.tf
  terraform/account/region/modules/vpc_endpoints/vpce_kms.tf
  terraform/account/region/modules/vpc_endpoints/vpce_logs.tf
  terraform/account/region/modules/vpc_endpoints/vpce_monitoring.tf
  terraform/account/region/modules/vpc_endpoints/vpce_secretsmanager.tf
  terraform/account/region/modules/vpc_endpoints/vpce_xray.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tfvars.json
  terraform/account/variables.tf
Due: none

add athena and cloudshell endpoints
  terraform/account/region/modules/vpc_endpoints/main.tf
  terraform/account/region/modules/vpc_endpoints/vpce_athena.tf
  terraform/account/region/modules/vpc_endpoints/vpce_cloudshell.tf
  terraform/account/region/modules/vpc_endpoints/vpce_dynamodb.tf
Due: none

refactor s3 vpce policy
  terraform/account/region/modules/vpc_endpoints/vpce_s3.tf
Due: none

test check
  service-front/app/config/autoload/envs.global.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/pdf-download-of-lpa.feature
Due: use-an-lpa-front

test check
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/pdf-download-of-lpa.feature
Due: use-an-lpa-front

Translated using Weblate (English)
  service-front/app/languages/en_GB/LC_MESSAGES/messages.mo
  service-front/app/languages/en_GB/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
