Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Update configuration to fix build issue (#2622)
  renovate.json
  service-api/app/composer.json
  service-front/app/composer.json
  tests/smoke/composer.json
Due: use-an-lpa-front, use-an-lpa-api

remove secrets from terraform (#2623)
  terraform/account/keys.tf
  terraform/account/secretsmanager.tf
Due: none

UML-3425: block matching requests
  terraform/account/region/waf.tf
Due: none

secret manager service for lpa data store
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Service/Secrets/AbstractSecretManager.php
  service-api/app/src/App/src/Service/Secrets/CachedSecretManager.php
  service-api/app/src/App/src/Service/Secrets/CachedSecretManagerDelegatorFactory.php
  service-api/app/src/App/src/Service/Secrets/LpaDataStoreSecretManager.php
  service-api/app/src/App/src/Service/Secrets/SecretManagerInterface.php
Due: use-an-lpa-api

add cache config
  service-api/app/config/autoload/envs.global.php
Due: use-an-lpa-api

remove abstract secret manager
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Service/Secrets/AbstractSecretManager.php
  service-api/app/src/App/src/Service/Secrets/CachedSecretManagerDelegatorFactory.php
  service-api/app/src/App/src/Service/Secrets/LpaDataStoreSecretManager.php
  service-api/app/src/App/src/Service/Secrets/SecretManagerInterface.php
Due: use-an-lpa-api

Updated content on Add LPA Reference Number
  .idea/php-test-framework.xml
  service-front/app/features/actor-add-an-lpa.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/src/Actor/templates/actor/add-lpa/lpa-reference-number.html.twig
Due: use-an-lpa-front

fix after removing abstract layer
  service-api/app/config/autoload/envs.global.php
  service-api/app/src/App/src/Service/Secrets/CachedSecretManager.php
  service-api/app/src/App/src/Service/Secrets/CachedSecretManagerDelegatorFactory.php
  service-api/app/src/App/src/Service/Secrets/LpaDataStoreSecretManager.php
Due: use-an-lpa-api

Undo previous changes
  service-front/app/features/actor-add-an-lpa.feature
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/request-activation-key/reference-number.html.twig
Due: use-an-lpa-front

Undo previous changes
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/request-activation-key/reference-number.html.twig
Due: use-an-lpa-front

lint
  service-api/app/src/App/src/Service/Secrets/LpaDataStoreSecretManager.php
  service-api/app/src/App/src/Service/Secrets/SecretManagerInterface.php
Due: use-an-lpa-api

change ttl
  service-api/app/config/autoload/envs.global.php
Due: use-an-lpa-api

Utilised correct "Given" case for test
  service-front/app/features/actor-request-activation-key.feature
Due: use-an-lpa-front

unit tests
  service-api/app/src/App/src/Service/Secrets/CachedSecretManager.php
  service-api/app/test/AppTest/Service/Secrets/CachedSecretManagerDelegatorFactoryTest.php
  service-api/app/test/AppTest/Service/Secrets/CachedSecretManagerTest.php
  service-api/app/test/AppTest/Service/Secrets/LpaDataStoreSecretManagerTest.php
Due: use-an-lpa-api

lint
  service-api/app/test/AppTest/Service/Secrets/CachedSecretManagerTest.php
  service-api/app/test/AppTest/Service/Secrets/LpaDataStoreSecretManagerTest.php
Due: use-an-lpa-api

upgrade lock
  .github/workflows/_lint-terraform.yml
  terraform/account/.terraform.lock.hcl
Due: none

upgrade lock
  terraform/environment/.terraform.lock.hcl
Due: none

update constriant
  terraform/account/modules/dynamodb_cloudtrail/terraform.tf
Due: none

upgrade lock
  terraform/account/.terraform.lock.hcl
Due: none

Retrieve / cache secret for LPA data store (#2624)
  service-api/app/config/autoload/envs.global.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Service/Secrets/CachedSecretManager.php
  service-api/app/src/App/src/Service/Secrets/CachedSecretManagerDelegatorFactory.php
  service-api/app/src/App/src/Service/Secrets/LpaDataStoreSecretManager.php
  service-api/app/src/App/src/Service/Secrets/SecretManagerInterface.php
  service-api/app/test/AppTest/Service/Secrets/CachedSecretManagerDelegatorFactoryTest.php
  service-api/app/test/AppTest/Service/Secrets/CachedSecretManagerTest.php
  service-api/app/test/AppTest/Service/Secrets/LpaDataStoreSecretManagerTest.php
  terraform/account/secretsmanager.tf
Due: use-an-lpa-api

UML-3303 Updated "what is your activation key" page content (#2617)
  .idea/inspectionProfiles/Project_Default.xml
  .idea/php-test-framework.xml
  .idea/php.xml
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/add-lpa/activation-key.html.twig
Due: use-an-lpa-front

Add explicit autoload to new secrets manager code.
  service-api/app/src/App/src/ConfigProvider.php
Due: use-an-lpa-api

Change line back to normal
  service-api/app/src/App/src/ConfigProvider.php
Due: use-an-lpa-api

Add explicit autoload to new secrets manager code. (#2627)
  service-api/app/src/App/src/ConfigProvider.php
Due: use-an-lpa-api

UML-3313 merged in master and updated translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Get 'up' working properly
  Makefile
Due: none

Enable feature level 'feature flag' setting
  service-front/app/features/context/Integration/FeatureFlagContext.php
  service-front/app/features/context/UI/FeatureFlagContext.php
Due: use-an-lpa-front

Incorrect import for systemmessage service
  service-front/app/src/Common/src/ConfigProvider.php
Due: use-an-lpa-front

Allow the use of feature level 'feature flags' to minimise repetition.
  service-api/app/features/context/Integration/FeatureFlagContext.php
Due: use-an-lpa-api

Development twig should be set to strict so we get full error reporting of template issues.
  service-front/app/config/autoload/development.local.php.dist
Due: use-an-lpa-front

Feature flags can't be coded as conditionals in routes.php
  service-front/app/config/routes.php
Due: use-an-lpa-front

Labeler.yml not pushing labels out properly for service names
  .github/labeler.yml
Due: none

Issue with user/actor causing bug in pages that didn't use to have a login header.
  service-front/app/src/Actor/src/Handler/AddLpa/ActivationKeyHandler.php
  service-front/app/src/Actor/src/Handler/AddLpa/LpaReferenceNumberHandler.php
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Actor/templates/actor/check-lpa.html.twig
Due: use-an-lpa-front

Ensure that request checking works with arbitrary numbers of requests.
  service-front/app/features/context/UI/RequestActivationKeyContext.php
Due: use-an-lpa-front

Remove redundant step
  service-front/app/features/context/UI/CommonContext.php
Due: use-an-lpa-front

Generalise login handling across feature flag setting
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

Enable feature flag by default and stick prior login journey's with flag off.
  service-front/app/features/actor-abroad-address.feature
  service-front/app/features/actor-account-creation.feature
  service-front/app/features/actor-back-navigation.feature
  service-front/app/features/actor-change-email.feature
  service-front/app/features/actor-delete-account.feature
  service-front/app/features/actor-login.feature
  service-front/app/features/actor-one-login.feature
  service-front/app/features/actor-password-change.feature
  service-front/app/features/actor-password-needs-reset.feature
  service-front/app/features/actor-password-reset.feature
  service-front/app/features/actor-triage.feature
  service-front/app/features/bootstrap/behat.config.php
Due: use-an-lpa-front

Enable one gov login for local dev
  docker-compose.yml
Due: none

Uml 3313 content update reference page (#2619)
  service-front/app/features/actor-request-activation-key.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/add-lpa/lpa-reference-number.html.twig
Due: use-an-lpa-front

Uml 3015 transition tests to use one login by default (#2620)
  .github/labeler.yml
  Makefile
  docker-compose.yml
  service-api/app/features/context/Integration/FeatureFlagContext.php
  service-front/app/config/autoload/development.local.php.dist
  service-front/app/config/routes.php
  service-front/app/features/actor-abroad-address.feature
  service-front/app/features/actor-account-creation.feature
  service-front/app/features/actor-back-navigation.feature
  service-front/app/features/actor-change-email.feature
  service-front/app/features/actor-delete-account.feature
  service-front/app/features/actor-login.feature
  service-front/app/features/actor-one-login.feature
  service-front/app/features/actor-password-change.feature
  service-front/app/features/actor-password-needs-reset.feature
  service-front/app/features/actor-password-reset.feature
  service-front/app/features/actor-triage.feature
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/Integration/FeatureFlagContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/CommonContext.php
  service-front/app/features/context/UI/FeatureFlagContext.php
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/src/Actor/src/Handler/AddLpa/ActivationKeyHandler.php
  service-front/app/src/Actor/src/Handler/AddLpa/LpaReferenceNumberHandler.php
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Actor/templates/actor/check-lpa.html.twig
  service-front/app/src/Common/src/ConfigProvider.php
Due: use-an-lpa-front, use-an-lpa-api

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
