Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

UML-3306 reverted changes of satisfying test in UAT
  service-api/app/features/bootstrap/config.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/UI/CommonContext.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front, use-an-lpa-api

UML-3317 reverted commented out test cases and disabled one login feature flag
  service-api/app/features/actor-add-an-older-lpa.feature
  service-api/app/features/bootstrap/config.php
  service-front/app/features/bootstrap/behat.config.php
  tests/features/actor-login.feature
Due: use-an-lpa-front, use-an-lpa-api

UML-3317 updated test context
  service-front/app/features/context/UI/CommonContext.php
Due: use-an-lpa-front

UML-3317 reverted commented out test
  service-front/app/features/actor-cookie-banner.feature
Due: use-an-lpa-front

UML-3317 temporarily commented out test cases to
  service-front/app/features/actor-cookie-banner.feature
Due: use-an-lpa-front

UML-3317 update where do you live content
  service-front/app/src/Actor/templates/actor/request-activation-key/postcode.html.twig
Due: use-an-lpa-front

UML-3317 temporarily commented out test cases to
  service-front/app/features/actor-delete-account.feature
  service-front/app/features/common-session.feature
Due: use-an-lpa-front

UML-3317 updated translation and rebased with main
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-3317 update where do you live content (#2646)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/request-activation-key/postcode.html.twig
Due: use-an-lpa-front

Create support_datastore_lpas feature flag for Service-API to use (#2645)
  docker-compose.yml
  service-api/app/config/autoload/features.global.php
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: use-an-lpa-api

update suggested by dependabot
  service-front/web/package-lock.json
Due: use-an-lpa-front

UML-3294 updated activation key page content and translation. Removed "Expired" option.
  service-front/app/features/actor-add-lpa-triage.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/src/Form/AddLpaTriage.php
  service-front/app/src/Actor/templates/actor/add-lpa-triage.html.twig
Due: use-an-lpa-front

UML-3294 removed ACTIVATION_KEY_EXPIRED const and redundant usage
  service-front/app/src/Actor/src/Handler/AddLpaTriageHandler.php
  service-front/app/src/Common/src/Service/Log/EventCodes.php
Due: use-an-lpa-front

UML-3294 temporarily satisfied env to test in UAT
  service-api/app/features/bootstrap/config.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/UI/CommonContext.php
Due: use-an-lpa-front, use-an-lpa-api

UML-3294 reverted changes of satisfying test in UAT
  service-api/app/features/bootstrap/config.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/UI/CommonContext.php
Due: use-an-lpa-front, use-an-lpa-api

UML-3294 updated translation and rebased with main
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Uml-3294 update activation key page content (#2641)
  service-front/app/features/actor-add-lpa-triage.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Form/AddLpaTriage.php
  service-front/app/src/Actor/src/Handler/AddLpaTriageHandler.php
  service-front/app/src/Actor/templates/actor/add-lpa-triage.html.twig
  service-front/app/src/Common/src/Service/Log/EventCodes.php
Due: use-an-lpa-front

update suggested by dependabot (#2657)
  service-front/web/package-lock.json
Due: use-an-lpa-front

update pot file
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

move requestLetter out into separate interface in prep for Modernise work
  service-api/app/src/App/src/DataAccess/ApiGateway/Lpas.php
  service-api/app/src/App/src/DataAccess/Repository/LpasInterface.php
  service-api/app/src/App/src/DataAccess/Repository/RequestLetterInterface.php
  service-api/app/src/App/src/Service/Lpa/AccessForAllLpaService.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
Due: use-an-lpa-api

add to config
  service-api/app/src/App/src/ConfigProvider.php
Due: use-an-lpa-api

UML-3293 update content around deleting account on the settings page
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/settings.html.twig
Due: use-an-lpa-front

UML-3396: capture behat tests duration
  .github/workflows/_run-behat-tests.yml
  .github/workflows/pull-request-path.yml
Due: none

update .mo file
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

UML-3293 update function context due to renaming link
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

UML-3021: Settings page changes for GOV.UK One Login (#2636)
  service-front/app/features/actor-your-details.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Actor/templates/actor/settings.html.twig
  service-front/app/src/Common/src/View/Twig/GenericGlobalVariableExtension.php
  service-front/app/src/Common/src/View/Twig/GenericGlobalVariableExtensionFactory.php
  service-front/app/test/CommonTest/View/Twig/GenericGlobalVariableExtensionFactoryTest.php
  service-front/app/test/CommonTest/View/Twig/GenericGlobalVariableExtensionTest.php
Due: use-an-lpa-front

410 handler for removed endpoints
  service-front/app/config/pipeline.php
  service-front/app/config/routes.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Handler/Factory/GoneHandlerFactory.php
  service-front/app/src/Common/src/Handler/GoneHandler.php
  service-front/app/src/Common/src/Middleware/ErrorHandling/GoneHandler.php
  service-front/app/src/Common/src/Middleware/ErrorHandling/GoneHandlerFactory.php
  service-front/app/test/CommonTest/Middleware/ErrorHandling/GoneHandlerFactoryTest.php
  service-front/app/test/CommonTest/Middleware/ErrorHandling/GoneHandlerTest.php
Due: use-an-lpa-front

remove GoneHandlerFactory
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Handler/Factory/GoneHandlerFactory.php
Due: use-an-lpa-front

UML-3393 refactor LpasInterface to pull out requestLetterInterface which won't apply to Modernise LPAs (#2661)
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/Lpas.php
  service-api/app/src/App/src/DataAccess/Repository/LpasInterface.php
  service-api/app/src/App/src/DataAccess/Repository/RequestLetterInterface.php
  service-api/app/src/App/src/Service/Lpa/AccessForAllLpaService.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
Due: use-an-lpa-api

reduce concurrent PRs to have less broken builds
  renovate.json
Due: none

reduce concurrent PRs to have less broken builds (#2666)
  renovate.json
Due: none

added systemStatus field
  docs/architecture/decisions/0023-lpa-data-format.md
Due: none

pin chrome version
  .github/workflows/_run-behat-tests.yml
  docker-compose.dependencies.yml
Due: none

fix pin
  .github/workflows/_run-behat-tests.yml
Due: none

UML-3456: destroy environments at start of PR
  .github/workflows/pull-request-path.yml
  .github/workflows/scheduled-workspace-cleanup.yml
Due: none

inherit secret
  .github/workflows/pull-request-path.yml
Due: none

Test if Chrome startup is just really slow.
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

Change headless cli command to new
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
