Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

rename files for better oranisation
  terraform/account/region/firewalled_network.tf
  terraform/account/region/network_firewall_rules_development.rules
  terraform/account/region/network_firewall_rules_preproduction.rules
  terraform/account/region/network_firewall_rules_production.rules
Due: none

set rules for uid
  terraform/account/region/network_firewall_rules_development.rules
  terraform/account/region/network_firewall_rules_preproduction.rules
  terraform/account/region/network_firewall_rules_production.rules
Due: none

UML-3888 - set up network firewall (#3311)
  terraform/account/region.tf
  terraform/account/region/firewalled_network.tf
  terraform/account/region/network_firewall_rules_development.rules
  terraform/account/region/network_firewall_rules_preproduction.rules
  terraform/account/region/network_firewall_rules_production.rules
  terraform/account/region/network_old.tf
  terraform/account/region/variables.tf
  terraform/account/region/vpc_flowlogs.tf
Due: none

fix rules
  terraform/account/region/network_firewall_rules_development.rules
  terraform/account/region/network_firewall_rules_preproduction.rules
  terraform/account/region/network_firewall_rules_production.rules
Due: none

fix rules (#3313)
  terraform/account/region/network_firewall_rules_development.rules
  terraform/account/region/network_firewall_rules_preproduction.rules
  terraform/account/region/network_firewall_rules_production.rules
Due: none

New form (and validation) for codes and surname (#3291)
  service-front/app/src/Common/src/Filter/ShareCodeFilter.php
  service-front/app/src/Viewer/src/Form/PVShareCode.php
  service-front/app/src/Viewer/src/Handler/EnterPVSCodeHandler.php
  service-front/app/test/CommonTest/Filter/ShareCodeFilterTest.php
  service-front/app/test/ViewerTest/Form/PVShareCodeTest.php
Due: use-an-lpa-front

addressed comments - reverted pv env flag for paper verification test
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/ProvideAttorneyDetailsForPVHandler.php
  tests/features/download-pdf.feature
  tests/features/instructions-and-preferences.feature
  tests/features/view-lpa-using-sharecode.feature
  tests/smoke/context/ViewerContext.php
Due: use-an-lpa-front

Update service-front/app/src/Viewer/templates/viewer/paper-verification/lpa-not-found.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/lpa-not-found.html.twig
Due: use-an-lpa-front

Update service-api/app/src/App/src/Handler/PaperVerification/PaperVerificationValidationHandler.php
  service-api/app/src/App/src/Handler/PaperVerification/PaperVerificationValidationHandler.php
Due: use-an-lpa-api

UML-3980: remove refs to CircleCI
  scripts/pipeline/cancel_previous_jobs/README.md
  scripts/pipeline/cancel_previous_jobs/cancel_redundant_builds.py
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
  scripts/pipeline/set_environment_variables/set_pact.sh
  service-front/web/README.md
  terraform/account/README.md
  terraform/environment/README.md
Due: use-an-lpa-front

UML-3980: remove refs to CircleCI (#3314)
  scripts/pipeline/cancel_previous_jobs/README.md
  scripts/pipeline/cancel_previous_jobs/cancel_redundant_builds.py
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
  scripts/pipeline/set_environment_variables/set_pact.sh
  service-front/web/README.md
  terraform/account/README.md
  terraform/environment/README.md
Due: use-an-lpa-front

Add new middleware that allows mapping request data into objects semi-automatically.
  service-api/app/src/App/src/Handler/Trait/RequestAsObjectTrait.php
Due: use-an-lpa-api

Configure local test running better.
  .idea/runConfigurations/API_Functional.xml
Due: none

Get functional tests running in pipeline and locally.
  .idea/runConfigurations/API_Functional.xml
Due: none

Add new PVC endpoint and underlying services
  service-api/app/config/routes.php
  service-api/app/src/App/src/Enum/LpaSource.php
  service-api/app/src/App/src/Enum/LpaStatus.php
  service-api/app/src/App/src/Handler/PaperVerificationCodes/UsableHandler.php
  service-api/app/src/App/src/Service/Lpa/IsValidLpa.php
  service-api/app/src/App/src/Service/PaperVerifcationCodes/PaperVerificationCodeService.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/CodeUsable.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
Due: use-an-lpa-api

Test for response object
  service-api/app/test/App/Service/PaperVerificationCodes/CodeUsableTest.php
Due: use-an-lpa-api

Add api acceptance test
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/view-lpa-using-paper-verification-code.feature
Due: use-an-lpa-api

Ignore new handler for coverage
  service-api/app/src/App/src/Handler/PaperVerificationCodes/UsableHandler.php
Due: use-an-lpa-api

Ensure flag is turned on for paper verification tests
  service-api/app/features/view-lpa-using-paper-verification-code.feature
Due: use-an-lpa-api

Tests for paper verification codes service
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/test/AppTest/LpaUtilities.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/CodeUsableTest.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

Incorrect mocked value results in passing test but missed coverage.
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

Turn on more test output.
  .github/workflows/_build-and-push.yml
Due: none

Ensure we're using *all* tags
  service-api/app/features/context/Acceptance/FeatureFlagContext.php
Due: use-an-lpa-api

Ensure a mock service is started up and configured
  .github/workflows/_build-and-push.yml
  service-api/app/features/bootstrap/config.php
Due: use-an-lpa-api

Don't forget to stop the services
  .github/workflows/_build-and-push.yml
Due: none

Revert out verbose behat runnning
  .github/workflows/_build-and-push.yml
Due: none

updated failing tests
  tests/smoke/context/ViewerContext.php
Due: none

added tests for CodeValidate.php and returning object as response
  service-api/app/config/routes.php
  service-api/app/src/App/src/Enum/LpaSource.php
  service-api/app/src/App/src/Handler/PaperVerification/ValidateHandler.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/CodeValidate.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/CodeValidateTest.php
Due: use-an-lpa-api

lint fixes
  service-api/app/src/App/src/Service/PaperVerificationCodes/CodeValidate.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/CodeValidateTest.php
Due: use-an-lpa-api

updated tests to check PV env
  tests/smoke/context/ViewerContext.php
Due: none

revert commit
  tests/smoke/context/ViewerContext.php
Due: none

updated test
  tests/smoke/context/CommonContext.php
Due: none

updated test
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/test/AppTest/LpaUtilities.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

updated test
  service-api/app/test/AppTest/LpaUtilities.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

Add paper verification code 'usable' endpoint and services (#3312)
  .github/workflows/_build-and-push.yml
  service-api/app/config/routes.php
  service-api/app/features/bootstrap/config.php
  service-api/app/features/context/Acceptance/FeatureFlagContext.php
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/view-lpa-using-paper-verification-code.feature
  service-api/app/src/App/src/Enum/LpaSource.php
  service-api/app/src/App/src/Enum/LpaStatus.php
  service-api/app/src/App/src/Handler/PaperVerificationCodes/UsableHandler.php
  service-api/app/src/App/src/Handler/Trait/RequestAsObjectTrait.php
  service-api/app/src/App/src/Service/Lpa/IsValidLpa.php
  service-api/app/src/App/src/Service/PaperVerifcationCodes/PaperVerificationCodeService.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/CodeUsable.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/test/AppTest/LpaUtilities.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/CodeUsableTest.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

Uml 3868 donor flow paper verification journey check answers page (#3297)
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Form/AttorneyDetailsForPV.php
  service-front/app/src/Viewer/src/Form/NumberOfAttorneys.php
  service-front/app/src/Viewer/src/Handler/EnterPVSCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PVDonorDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerificationCodeSentToHandler.php
  service-front/app/src/Viewer/src/Handler/ProvideAttorneyDetailsForPVHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
  service-front/app/test/ViewerTest/Form/AttorneyDetailsForPVTest.php
  tests/smoke/context/CommonContext.php
  tests/smoke/context/ViewerContext.php
Due: use-an-lpa-front

updated translation and removed redundant code
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
Due: use-an-lpa-front
