Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

UML-3808: allow api ecs access to secretsmanager
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
Due: none

use environment-name
  terraform/environment/region/data_sources.tf
Due: none

Actor Id will now be passed and stored as string in ViewerCodes
  docker-compose.yml
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode-combined-lpa.html.twig
Due: use-an-lpa-front, use-an-lpa-api

fix lint
  terraform/environment/region/data_sources.tf
Due: none

Typo in internal config variable names meant only local dev would have been functional
  docker-compose.dependencies.yml
  docker-compose.yml
  service-api/app/config/autoload/envs.global.php
Due: use-an-lpa-api

Ensure mock lpastore implements a proper healthcheck as per the spec
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/index.mjs
Due: none

Add lpastore api to healthcheck handler
  service-api/app/src/App/src/Handler/Factory/HealthcheckHandlerFactory.php
  service-api/app/src/App/src/Handler/HealthcheckHandler.php
Due: use-an-lpa-api

Passing unit tests for new endpoint check.
  service-api/app/test/AppTest/Handler/Factory/HealthcheckHandlerFactoryTest.php
  service-api/app/test/AppTest/Handler/HealthcheckHandlerTest.php
Due: use-an-lpa-api

Pin Psalm to v5
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
Due: none

update default tags
  terraform/account/locals.tf
  terraform/environment/locals.tf
  terraform/environment/region/data_sources.tf
Due: none

UML-3736 wip
  lambda-functions/event-receiver/app/factory.go
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
Due: none

UML-3724 adjusted alignment removed s3 added mockery command
  lambda-functions/event-receiver/app/factory.go
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
Due: none

move to secret
  terraform/environment/region/api_ecs.tf
Due: none

use provider rather than data lookup
  terraform/account/region/s3_lb_access_logs.tf
Due: none

move data source into local
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/variables.tf
Due: none

explicitly declare region as var to stop count on data
  terraform/account/region.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/variables.tf
  terraform/account/region/vpc_flowlogs.tf
Due: none

fix valueFrom
  terraform/environment/region/api_ecs.tf
Due: none

rename
  terraform/environment/region/api_ecs.tf
Due: none

Add lpastore to healthcheck (#3090)
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
  docker-compose.dependencies.yml
  docker-compose.yml
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/index.mjs
  service-api/app/config/autoload/envs.global.php
  service-api/app/src/App/src/Handler/Factory/HealthcheckHandlerFactory.php
  service-api/app/src/App/src/Handler/HealthcheckHandler.php
  service-api/app/test/AppTest/Handler/Factory/HealthcheckHandlerFactoryTest.php
  service-api/app/test/AppTest/Handler/HealthcheckHandlerTest.php
Due: use-an-lpa-api

UML-3808: allow api ecs access to secretsmanager (#3101)
  terraform/account/locals.tf
  terraform/account/region.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/variables.tf
  terraform/account/region/vpc_flowlogs.tf
  terraform/environment/locals.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
Due: none

WIP localstack development
  mock-integrations/secrets-manager/localstack_init.sh
Due: none

Revert "UML-3808: allow api ecs access to secretsmanager (#3101)"
  terraform/account/locals.tf
  terraform/account/region.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/variables.tf
  terraform/account/region/vpc_flowlogs.tf
  terraform/environment/locals.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
Due: none

So that the SiriusLpa code generation doesn't break
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
Due: use-an-lpa-api

Revert "UML-3808: allow api ecs access to secretsmanager (#3101)" (#3102)
  terraform/account/locals.tf
  terraform/account/region.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/variables.tf
  terraform/account/region/vpc_flowlogs.tf
  terraform/environment/locals.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
Due: none

remove whitespace to trigger pipeline
  terraform/account/kms.tf
Due: none

remove whitespace to trigger pipeline (#3104)
  terraform/account/kms.tf
Due: none

uml 3736 wip
  Makefile
  lambda-functions/event-receiver/app/factory.go
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/factory.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  lambda-functions/event-receiver/internal/dynamo/client.go
  lambda-functions/event-receiver/internal/dynamo/client_test.go
  lambda-functions/event-receiver/internal/random/random.go
  lambda-functions/event-receiver/internal/random/random_test.go
Due: none

uml 3736 wip
  lambda-functions/event-receiver/app/mocks/DynamodbClient.go
Due: none

UML-3724 updated pipeline and applied event-reciever test within build test scan push
  .github/workflows/_build-and-push.yml
  .github/workflows/pull-request-path.yml
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
Due: none

UML-3724 updated build push yml
  .github/workflows/_build-and-push.yml
Due: none

UML-3724 updated build push yml
  .github/workflows/_build-and-push.yml
  .github/workflows/pull-request-path.yml
Due: none

UML-3724 updated build push yml
  .github/workflows/pull-request-path.yml
Due: none

test changes and additions
  service-api/app/features/actor-create-access-code.feature
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

Changes as per code review
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

indentation correction
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

UML-3736 wip
  lambda-functions/event-receiver/.idea/event-receiver.iml
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/DynamodbClient.go
  lambda-functions/event-receiver/app/mocks/Handler.go
  lambda-functions/event-receiver/app/mocks/factory.go
  lambda-functions/event-receiver/internal/dynamo/client.go
  lambda-functions/event-receiver/internal/dynamo/client_test.go
  lambda-functions/event-receiver/internal/dynamo/mocks/DynamoDB.go
  lambda-functions/event-receiver/internal/random/random_test.go
Due: none

bits in docker compose needed to run lambda in localstack
  docker-compose.dependencies.yml
  lambda-functions/event-receiver/app/main.go
  mock-integrations/secrets-manager/localstack_init.sh
Due: none

fixes to localstack script
  mock-integrations/secrets-manager/localstack_init.sh
Due: none
