Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

add pem
  local-ssl/certs/ca.pem
  local-ssl/certs/cert.pem
  local-ssl/certs/key.pem
  local-ssl/certs/localhost.pem
Due: none

trust ca in smoke tests
  docker-compose.testing.yml
  tests/smoke/Dockerfile
Due: none

add SANs
  local-ssl/certs/ca.srl
  local-ssl/certs/localhost.key
  local-ssl/certs/localhost.pem
Due: none

remove old files
  local-ssl/certs/cert.pem
  local-ssl/certs/key.pem
Due: none

phpcbf in app/features
  service-api/app/features/bootstrap/app.php
  service-api/app/features/bootstrap/config.pact.php
  service-api/app/features/bootstrap/config.php
  service-api/app/features/bootstrap/container.acceptance.php
  service-api/app/features/context/Acceptance/CommonContext.php
  service-api/app/features/context/Acceptance/FeatureFlagContext.php
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/BaseAcceptanceContextTrait.php
  service-api/app/features/context/Integration/AccountContext.php
  service-api/app/features/context/Integration/BaseIntegrationContext.php
  service-api/app/features/context/Integration/FeatureFlagContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/UsesPactContextTrait.php
Due: use-an-lpa-api

phpcbf in app/public
  service-api/app/public/index.php
Due: use-an-lpa-api

phpcbf app/src/App/DataAccess
  service-api/app/features/bootstrap/app.php
  service-api/app/features/bootstrap/config.pact.php
  service-api/app/features/bootstrap/config.php
  service-api/app/features/bootstrap/container.acceptance.php
  service-api/app/features/context/Acceptance/CommonContext.php
  service-api/app/features/context/Acceptance/FeatureFlagContext.php
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/BaseAcceptanceContextTrait.php
  service-api/app/features/context/Integration/AccountContext.php
  service-api/app/features/context/Integration/BaseIntegrationContext.php
  service-api/app/features/context/Integration/FeatureFlagContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/UsesPactContextTrait.php
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodes.php
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodesFactory.php
  service-api/app/src/App/src/DataAccess/ApiGateway/Lpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/LpasFactory.php
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSigner.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorCodes.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorCodesFactory.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsersFactory.php
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodeActivity.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodeActivityFactory.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodesFactory.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/src/App/src/DataAccess/Repository/KeyCollisionException.php
  service-api/app/src/App/src/DataAccess/Repository/Response/ActorCode.php
  service-api/app/src/App/src/DataAccess/Repository/Response/Lpa.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodeActivityInterface.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
Due: use-an-lpa-api

phpcbf src/App/src/Exception
  service-api/app/src/App/src/Exception/AbstractApiException.php
  service-api/app/src/App/src/Exception/ActorCodeMarkAsUsedException.php
  service-api/app/src/App/src/Exception/ActorCodeValidationException.php
  service-api/app/src/App/src/Exception/ApiException.php
  service-api/app/src/App/src/Exception/BadRequestException.php
  service-api/app/src/App/src/Exception/ConflictException.php
  service-api/app/src/App/src/Exception/CreationException.php
  service-api/app/src/App/src/Exception/ForbiddenException.php
  service-api/app/src/App/src/Exception/GoneException.php
  service-api/app/src/App/src/Exception/NotFoundException.php
  service-api/app/src/App/src/Exception/UnauthorizedException.php
Due: use-an-lpa-api

phpcbf src/App/arc/Handler
  service-api/app/src/App/src/Handler/AddLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/AddLpaValidationHandler.php
  service-api/app/src/App/src/Handler/CanPasswordResetHandler.php
  service-api/app/src/App/src/Handler/CanResetEmailHandler.php
  service-api/app/src/App/src/Handler/ChangePasswordHandler.php
  service-api/app/src/App/src/Handler/CompleteChangeEmailHandler.php
  service-api/app/src/App/src/Handler/CompleteDeleteAccountHandler.php
  service-api/app/src/App/src/Handler/CompletePasswordResetHandler.php
  service-api/app/src/App/src/Handler/Factory/HealthcheckHandlerFactory.php
  service-api/app/src/App/src/Handler/HealthcheckHandler.php
  service-api/app/src/App/src/Handler/LpasCollectionHandler.php
  service-api/app/src/App/src/Handler/LpasResourceHandler.php
  service-api/app/src/App/src/Handler/NotifyHandler.php
  service-api/app/src/App/src/Handler/RequestChangeEmailHandler.php
  service-api/app/src/App/src/Handler/RequestPasswordResetHandler.php
  service-api/app/src/App/src/Handler/UserActivateHandler.php
  service-api/app/src/App/src/Handler/UserHandler.php
  service-api/app/src/App/src/Handler/ViewerCodeFullHandler.php
  service-api/app/src/App/src/Handler/ViewerCodeSummaryHandler.php
Due: use-an-lpa-api

phpcbf src/App/src/Service
  service-api/app/src/App/src/Service/ActorCodes/ActorCodeService.php
  service-api/app/src/App/src/Service/ApiClient/Client.php
  service-api/app/src/App/src/Service/ApiClient/ClientFactory.php
  service-api/app/src/App/src/Service/Aws/DynamoDbClientFactory.php
  service-api/app/src/App/src/Service/Aws/SdkFactory.php
  service-api/app/src/App/src/Service/Container/ModifiableContainerInterface.php
  service-api/app/src/App/src/Service/Container/PhpDiModifiableContainer.php
  service-api/app/src/App/src/Service/Email/EmailClient.php
  service-api/app/src/App/src/Service/Email/EmailClientFactory.php
  service-api/app/src/App/src/Service/Features/FeatureEnabled.php
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-api/app/src/App/src/Service/Log/LogStderrListener.php
  service-api/app/src/App/src/Service/Log/LogStderrListenerDelegatorFactory.php
  service-api/app/src/App/src/Service/Log/RequestTracingLogProcessor.php
  service-api/app/src/App/src/Service/Log/RequestTracingLogProcessorFactory.php
  service-api/app/src/App/src/Service/Lpa/AccessForAllLpaService.php
  service-api/app/src/App/src/Service/Lpa/AddLpa.php
  service-api/app/src/App/src/Service/Lpa/CheckLpaCleansed.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus.php
  service-api/app/src/App/src/Service/Lpa/IsValidLpa.php
  service-api/app/src/App/src/Service/Lpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/LpaService.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/Lpa/RestrictSendingLpaForCleansing.php
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-api/app/src/App/src/Service/Notify/NotifyService.php
  service-api/app/src/App/src/Service/ViewerCodes/CodeGenerator.php
Due: use-an-lpa-api

phpcbf src/App/src/Middleware&Service
  service-api/app/src/App/src/Middleware/Logging/RequestTracingMiddleware.php
  service-api/app/src/App/src/Middleware/ProblemDetailsMiddleware.php
Due: use-an-lpa-api

phpcbf test/AppTest/DataAccess
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/LpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/LpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/RequestSignerFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/Sanitisers/SiriusLpaSanitiserTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorCodesFactoryTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorCodesTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersFactoryTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/GenerateAwsResultTrait.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapFactoryTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodeActivityFactoryTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodeActivityTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesFactoryTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/DataAccess/Repository/Response/LpaTest.php
Due: use-an-lpa-api

phpcbf test/AppTest/Exception
  service-api/app/test/AppTest/Exception/ApiExceptionTest.php
  service-api/app/test/AppTest/Exception/BadRequestExceptionTest.php
  service-api/app/test/AppTest/Exception/ConflictExceptionTest.php
  service-api/app/test/AppTest/Exception/ForbiddenExceptionTest.php
  service-api/app/test/AppTest/Exception/GoneExceptionTest.php
  service-api/app/test/AppTest/Exception/NotFoundExceptionTest.php
  service-api/app/test/AppTest/Exception/UnauthorizedExceptionTest.php
Due: use-an-lpa-api

phpcbf test/AppTest/Handler
  service-api/app/test/AppTest/Handler/AuthHandlerTest.php
  service-api/app/test/AppTest/Handler/Factory/HealthcheckHandlerFactoryTest.php
  service-api/app/test/AppTest/Handler/HealthcheckHandlerTest.php
  service-api/app/test/AppTest/Handler/LpaHandlerTest.php
  service-api/app/test/AppTest/Handler/LpaSearchHandlerTest.php
  service-api/app/test/AppTest/Handler/UserActivateHandlerTest.php
  service-api/app/test/AppTest/Handler/UserHandlerTest.php
Due: use-an-lpa-api

phpcbf test/AppTest/Middleware
  service-api/app/test/AppTest/Middleware/Logging/RequestTracingMiddlewareTest.php
  service-api/app/test/AppTest/Middleware/ProblemDetailsMiddlewareTest.php
  service-api/app/test/AppTest/Middleware/UserIdentificationMiddlewareTest.php
Due: use-an-lpa-api

phpcbf test/AppTest/Service
  service-api/app/test/AppTest/Service/ActorCodes/ActorCodeServiceTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/DynamoCodeValidationStrategyTest.php
  service-api/app/test/AppTest/Service/ApiClient/ClientFactoryTest.php
  service-api/app/test/AppTest/Service/ApiClient/ClientTest.php
  service-api/app/test/AppTest/Service/Aws/DynamoDbClientFactoryTest.php
  service-api/app/test/AppTest/Service/Aws/SdkFactoryTest.php
  service-api/app/test/AppTest/Service/Container/PhpDiModifiableContainerTest.php
  service-api/app/test/AppTest/Service/Email/EmailClientFactoryTest.php
  service-api/app/test/AppTest/Service/Email/EmailClientTest.php
  service-api/app/test/AppTest/Service/Features/FeatureEnabledFactoryTest.php
  service-api/app/test/AppTest/Service/Features/FeatureEnabledTest.php
  service-api/app/test/AppTest/Service/Log/LogStderrListenerDelegatorFactoryTest.php
  service-api/app/test/AppTest/Service/Log/LogStderrListenerTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/RestrictSendingLpaForCleansingTest.php
  service-api/app/test/AppTest/Service/Lpa/ValidateAccessForAllLpaRequirementsTest.php
  service-api/app/test/AppTest/Service/Notify/NotifyServiceTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/CodeGeneratorTest.php
Due: use-an-lpa-api

point viewer at new secure url (actor not yet as its not yet working)
  docker-compose.testing.yml
Due: none

UML-3125 Content Update (Make it obvious the activation key will be posted to this address) (#2414)
  service-front/app/features/actor-request-activation-key.feature
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Form/RequestActivationKey/ActorAddress.php
  service-front/app/src/Actor/src/Form/RequestActivationKey/RequestPostcode.php
  service-front/app/src/Actor/templates/actor/form-error-messages.html.twig
  service-front/app/src/Actor/templates/actor/request-activation-key/actor-address.html.twig
  service-front/app/src/Actor/templates/actor/request-activation-key/before-requesting-activation-key-info.html.twig
  service-front/app/src/Actor/templates/actor/request-activation-key/postcode.html.twig
Due: use-an-lpa-front

amended phpTest for change in Lpa
  service-api/app/test/AppTest/DataAccess/Repository/Response/LpaTest.php
Due: use-an-lpa-api

amended LpaTest.php
  service-api/app/test/AppTest/DataAccess/Repository/Response/LpaTest.php
Due: use-an-lpa-api

amended test file ActorCodeServiceTest.php
  service-api/app/test/AppTest/Service/ActorCodes/ActorCodeServiceTest.php
Due: use-an-lpa-api

removed important message
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
Due: use-an-lpa-front

removed behat test
  service-front/app/features/actor-dashboard.feature
Due: use-an-lpa-front

update behat tests
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

UML-3042 add also known as field to LPA Summary
  mock-integrations/opg-data-lpa/mock-openapi-examples.yaml
  mock-integrations/opg-data-lpa/mock-openapi.yaml
  mock-integrations/opg-data-lpa/opg-data-lpa-openapi.yml
  service-front/app/src/Common/src/Entity/CaseActor.php
  service-front/app/src/Common/src/Service/Lpa/Factory/Sirius.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-donor-details.html.twig
Due: use-an-lpa-front

add unit tests to SiriusLpaFactoryTest
  service-front/app/test/CommonTest/Service/Lpa/SiriusLpaFactoryTest.php
  service-front/app/test/fixtures/full_example.json
  service-front/app/test/fixtures/full_example_signed_before_2016.json
  service-front/app/test/fixtures/simple_example.json
Due: use-an-lpa-front

Add UI test coverage
  service-front/app/features/actor-view-lpa.feature
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

Add translation files
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-2907 phpcbf run in service-api (#2427)
  service-api/app/public/index.php
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodes.php
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodesFactory.php
  service-api/app/src/App/src/DataAccess/ApiGateway/Lpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/LpasFactory.php
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSigner.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorCodes.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorCodesFactory.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsersFactory.php
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodeActivity.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodeActivityFactory.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodesFactory.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/src/App/src/DataAccess/Repository/KeyCollisionException.php
  service-api/app/src/App/src/DataAccess/Repository/Response/ActorCode.php
  service-api/app/src/App/src/DataAccess/Repository/Response/Lpa.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodeActivityInterface.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/test/AppTest/DataAccess/Repository/Response/LpaTest.php
  service-api/app/test/AppTest/Service/ActorCodes/ActorCodeServiceTest.php
Due: use-an-lpa-api

amended NotifyServiceTest
  service-api/app/test/AppTest/Service/Notify/NotifyServiceTest.php
Due: use-an-lpa-api

Revert "amended NotifyServiceTest"
  service-api/app/test/AppTest/Service/Notify/NotifyServiceTest.php
Due: use-an-lpa-api

amended NotiffyServiceTest
  service-api/app/test/AppTest/Service/Notify/NotifyServiceTest.php
Due: use-an-lpa-api

amended ApiException
  service-api/app/src/App/src/Exception/ApiException.php
Due: use-an-lpa-api

amended CreationException
  service-api/app/src/App/src/Exception/CreationException.php
Due: use-an-lpa-api

amend NotFOundException
  service-api/app/src/App/src/Exception/NotFoundException.php
Due: use-an-lpa-api

amended class declaration BadRequestException
  service-api/app/src/App/src/Exception/BadRequestException.php
Due: use-an-lpa-api

amended ConflictException
  service-api/app/src/App/src/Exception/ConflictException.php
Due: use-an-lpa-api

amended class declarations
  service-api/app/src/App/src/Exception/ForbiddenException.php
  service-api/app/src/App/src/Exception/GoneException.php
  service-api/app/src/App/src/Exception/UnauthorizedException.php
Due: use-an-lpa-api

ApiExceptionTest
  service-api/app/src/App/src/Exception/AbstractApiException.php
Due: use-an-lpa-api

UML-3187 Fail on critical CVEs
  local-ssl/certs/localhost.csr
  local-ssl/certs/localhost.v3.ext
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none
