Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

use new attributes for assume role
  terraform/account/.envrc
  terraform/account/terraform.tf
  terraform/environment/.envrc
  terraform/environment/terraform.tf
Due: none

upgrade version for cloudtrail module
  terraform/account/modules/dynamodb_cloudtrail/terraform.tf
Due: none

test fixes
  service-api/app/src/App/src/Service/Lpa/LpaRemoved/DonorInformation.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
  service-front/app/test/CommonTest/Service/Lpa/RemoveLpaTest.php
Due: use-an-lpa-front, use-an-lpa-api

some more test correcions
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
Due: use-an-lpa-api

In dashboard inform user they have restrictions and conditions MLPA
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
Due: use-an-lpa-front

updated logic around if modernise or not
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
Due: use-an-lpa-front

outputting the restrictions and conditions value in gray banner
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/web/src/stylesheets/_banner.scss
Due: use-an-lpa-front

added lpa ref number column to report
  query/dynamodb_export.py
Due: none

updated html structure and removed test line
  service-api/app/src/App/src/Handler/LpasResourceImagesCollectionHandler.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/web/src/stylesheets/_banner.scss
Due: use-an-lpa-front, use-an-lpa-api

updated attributes
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front

added lpa ref number column to expired access code Reports (#3235)
  query/dynamodb_export.py
Due: none

updated AWS lambda img
  lambda-functions/event-receiver/Dockerfile
Due: none

reverted wrong commit
  lambda-functions/event-receiver/Dockerfile
Due: none

updated lambda img
  lambda-functions/event-receiver/Dockerfile
Due: none

In dashboard inform user they have restrictions and conditions MLPA (#3234)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
Due: use-an-lpa-front

updated readme
  query/README.md
Due: none

updated lambda img (#3236)
  lambda-functions/event-receiver/Dockerfile
Due: none

updated readme (#3237)
  query/README.md
Due: none

Update proxy deprecations.
  service-admin/go.mod
  service-admin/go.sum
  service-admin/proxy/go.mod
  service-admin/proxy/go.sum
  service-admin/proxy/main.go
Due: use-an-lpa-admin

Remove old webpack sass loader as redundant since move to esbuild
  service-admin/package-lock.json
  service-admin/package.json
Due: use-an-lpa-admin

Go mod tidy and bump to 1.23.7 go
  service-admin/Dockerfile
  service-admin/go.mod
  service-admin/go.sum
Due: use-an-lpa-admin

updated readme
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front

Some additional test fixes and clean up
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-front/app/src/Common/src/Service/Lpa/RemoveLpa.php
Due: use-an-lpa-front, use-an-lpa-api

further upgrade
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
Due: none

upgrade go itself
  lambda-functions/event-receiver/go.mod
Due: none

upgrade go in dockerfile
  lambda-functions/event-receiver/Dockerfile
Due: none

upgrade go in stats lambda
  scripts/add_historical_statistics/go.mod
  scripts/add_historical_statistics/go.sum
Due: none

upgrade service admin go
  service-admin/go.mod
  service-admin/proxy/go.mod
Due: use-an-lpa-admin

upgrade Go in admin dockerfile
  service-admin/Dockerfile
Due: use-an-lpa-admin

upgrade toolchain too
  service-admin/proxy/go.mod
Due: use-an-lpa-admin

upgrade to 1.24
  scripts/add_historical_statistics/go.mod
Due: none

upgrade aws packages in attempt to fix issue
  scripts/add_historical_statistics/go.mod
  scripts/add_historical_statistics/go.sum
Due: none

upgrade AWS base image to see if this removes vuln
  lambda-functions/upload-statistics/Dockerfile
Due: none

3.13 instead
  lambda-functions/upload-statistics/Dockerfile
Due: none

ignore AWS image issue for now
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none

fix
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none

more output to test
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none

update welsh translation for terms of use
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

fix logic
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none
