Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Translated using Weblate (Welsh)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Translated using Weblate (English)
  service-front/app/languages/en_GB/LC_MESSAGES/messages.mo
  service-front/app/languages/en_GB/LC_MESSAGES/messages.po
Due: use-an-lpa-front

fix issue with uv
  service-api/docker/seeding/Dockerfile
Due: use-an-lpa-api

fix issue with make development_mode
  docker-compose.yml
  tests/smoke/docker-compose.smoke.yml
Due: none

POT file generated with the content formatted keys in
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

POT file generated with the content formatted keys in
  service-front/app/src/Actor/templates/actor/request-activation-key/before-requesting-activation-key-info.html.twig
Due: use-an-lpa-front

fix spacing issue
  service-front/web/src/stylesheets/_lpa-copyclipboard.scss
Due: use-an-lpa-front
