Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

UML-3427 updated docker matchManagers
  renovate.json
Due: none

UML-3427 updated renovate config to split PRs (#2729)
  renovate.json
Due: none

class name change sirius Lpas
  service-api/app/features/bootstrap/config.pact.php
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpasFactory.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/LpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasTest.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactLpasFactory.php
Due: use-an-lpa-api

add environment variable
  docker-compose.dependencies.yml
  service-api/app/config/autoload/envs.global.php
Due: use-an-lpa-api

new class and factory for Modernise Lpas
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpas.php
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpasFactory.php
Due: use-an-lpa-api

lint
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpas.php
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpasFactory.php
Due: use-an-lpa-api

lint
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpas.php
Due: use-an-lpa-api

lint
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpas.php
Due: use-an-lpa-api

Use supplied github action password if it's been made available.
  tests/smoke/.env
  tests/smoke/context/AccountContext.php
Due: none

Only use environment password if using One Login.
  tests/smoke/context/AccountContext.php
Due: none

Point pre-prod at live One Login.
  terraform/environment/terraform.tfvars.json
Due: none

DONT COMMIT
  tests/smoke/.env
Due: none

Allow access to secret for github action
  .github/workflows/_run-behat-tests.yml
Due: none

ensure-smoke-tests-work-with-production-one-login (#2734)
  .github/workflows/_run-behat-tests.yml
  terraform/environment/terraform.tfvars.json
  tests/smoke/.env
  tests/smoke/context/AccountContext.php
Due: none

Turn on one login in preprod
  terraform/environment/terraform.tfvars.json
Due: none

Turn on one login in preprod (#2735)
  terraform/environment/terraform.tfvars.json
Due: none

Enable One Login in production
  terraform/environment/terraform.tfvars.json
Due: none

Remove warning about upcoming login changes from the dashboards
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

Amend date on OneLogin landing page.
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Translation update with new content
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-3509 Show if an email address has a gov.uk One login
  service-admin/README.md
  service-admin/internal/server/data/account.go
  service-admin/web/templates/result_actor.partial.gohtml
Due: use-an-lpa-admin

Ensure random bytes are appropriately hex encoded before being used as a random password.
  service-api/app/src/App/src/Service/User/UserService.php
Due: use-an-lpa-api

Update Data Protection Policy with HTTPGetEmailAddress Identifier
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Due: none

Update cloudwatch_data_protection_policy.tf
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Due: none

Update Data Protection Policy with HTTPGetEmailAddress Identifier (#2739)
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Due: none

Ensure random bytes are appropriately hex encoded before being used as a random password. (#2738)
  service-api/app/src/App/src/Service/User/UserService.php
Due: use-an-lpa-api

Updating data protection policy regex pattern
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Due: none

Updating data protection policy regex pattern (#2740)
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Due: none

add new LPA data store repo
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpas.php
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpasFactory.php
Due: use-an-lpa-api

unit test for ModerniseLpa
  service-api/app/test/AppTest/DataAccess/ApiGateway/ModerniseLpasTest.php
Due: use-an-lpa-api

name change DataStoreLpas
  service-api/app/src/App/src/DataAccess/Repository/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/Repository/DataStoreLpasFactory.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
Due: use-an-lpa-api

Update regex query in data protection policy
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Due: none

Adding '.' to regex query
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Due: none

UML-3509 added test case for showing if email has one login
  service-admin/internal/server/data/account_test.go
Due: use-an-lpa-admin

Update regex query in data protection policy (#2741)
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Due: none

SiriusLpasFactoryTest added
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasFactoryTest.php
Due: use-an-lpa-api

file move
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
Due: use-an-lpa-api

amend tests
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
Due: use-an-lpa-api

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
