Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

test correction with code change
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
Due: use-an-lpa-api

change link
  service-front/app/src/Actor/templates/actor/partials/new-use-service.html.twig
  service-front/app/src/Viewer/templates/viewer/new-view-service.html.twig
Due: use-an-lpa-front

change link (#3119)
  service-front/app/src/Actor/templates/actor/partials/new-use-service.html.twig
  service-front/app/src/Viewer/templates/viewer/new-view-service.html.twig
Due: use-an-lpa-front

move localstack_init and create Dockerfile for localstack (WIP)
  localstack/Dockerfile
  localstack/localstack_init.sh
Due: none

undo json response from lambda as no longer needed as we can see print out in cloudwatch results
  lambda-functions/event-receiver/app/main.go
Due: none

explain running lambda within localstack
  lambda-functions/event-receiver/README.md
Due: none

fixes
  docker-compose.dependencies.yml
  localstack/Dockerfile
Due: none

UML-3724 changed logger package to telemetry.NewLogger decoding sqsevent appropriately to be handled off added more test cases to address deserialisation
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/Handler.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
Due: none

get localstack building via dockerfile
  docker-compose.dependencies.yml
  localstack/Dockerfile
  localstack/localstack-init.sh
Due: none

Uml 3802 test harness (#3115)
  docker-compose.dependencies.yml
  lambda-functions/event-receiver/README.md
  localstack/Dockerfile
  localstack/localstack-init.sh
  mock-integrations/secrets-manager/localstack_init.sh
Due: none

Refactor the exception throwing and handling around viewer code access.
  service-api/app/src/App/src/Exception/MissingCodeExpiryException.php
  service-api/app/src/App/src/Handler/ViewerCodeFullHandler.php
  service-api/app/src/App/src/Handler/ViewerCodeSummaryHandler.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/src/App/src/Service/Lpa/LpaManagerInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

Implement getByViewerCode
  service-api/app/src/App/src/DataAccess/Repository/LpasInterface.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/Lpa/Combined/RejectInvalidLpa.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/test/AppTest/Service/Lpa/Combined/RejectInvalidLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

Refactor lpa client classes to better DRY
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
Due: use-an-lpa-api

UML-3724 updated dockerfile to include every .go file during ZIP
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  localstack/Dockerfile
Due: none

UML-3736 WIP
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/go.mod
Due: none

UML-3724 added test for main.go and updated error message
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
Due: none

UML-3724 instead of using t.run, defining tests as func
  lambda-functions/event-receiver/app/main_test.go
Due: none

Uml 3724 lambda to consume registration events (#3070)
  .github/workflows/_build-and-push.yml
  .github/workflows/go-unit-test.yml
  .github/workflows/pull-request-path.yml
  lambda-functions/event-receiver/app/factory.go
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/Handler.go
  lambda-functions/event-receiver/app/mocks/factory.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  localstack/Dockerfile
Due: none

fix link
  service-front/app/src/Actor/templates/actor/partials/new-use-service.html.twig
Due: use-an-lpa-front

fix link (#3123)
  service-front/app/src/Actor/templates/actor/partials/new-use-service.html.twig
Due: use-an-lpa-front

UML-3808: allow api access to secretsmanager
  terraform/environment/locals.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
Due: none

move to envar again
  terraform/environment/region/api_ecs.tf
Due: none

upgrade deprecared upload_artifact
  .github/workflows/_build-and-push.yml
  .github/workflows/_node-build.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_run-terraform.yml
Due: none

upgrade download_artifact
  .github/workflows/_build-and-push.yml
  .github/workflows/_codecov.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_seed-database.yml
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
Due: none

UML-3813 upgrade deprecated upload_artifact and download_artifact in CI build (#3130)
  .github/workflows/_build-and-push.yml
  .github/workflows/_codecov.yml
  .github/workflows/_node-build.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_run-terraform.yml
  .github/workflows/_seed-database.yml
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
Due: none

UML-3736 updated tests refactored
  lambda-functions/event-receiver/app/factory.go
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/DynamodbClient.go
  lambda-functions/event-receiver/app/mocks/Handler.go
  lambda-functions/event-receiver/app/mocks/factory.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
Due: none

UML-3736 refactored handler to accept dependencies to be able to effectively mock dynamo
  lambda-functions/event-receiver/app/main.go
Due: none

UML-3808: allow api access to secretsmanager (#3129)
  terraform/environment/locals.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
Due: none

UML-3780: Creation of sharecodes for all LPAs (#3110)
  docker-compose.yml
  service-api/app/features/actor-create-access-code.feature
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode-combined-lpa.html.twig
Due: use-an-lpa-front, use-an-lpa-api

UML-3736 removed unused func removed early return
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/internal/random/random.go
  lambda-functions/event-receiver/internal/random/random_test.go
Due: none

allow ecs api-app to execute lpa-store api gateway
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

allow ecs api-app to execute lpa-store api gateway (#3137)
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

UML-3736 updated dockerfile to include internal folder
  localstack/Dockerfile
Due: none

UML-3736 copy internal
  lambda-functions/event-receiver/Dockerfile
Due: none

UML-3802 test harness
  localstack/Dockerfile
  localstack/localstack-init.sh
  localstack/targets.json
Due: none

Fix testcase errors on DataStoreLpas
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/PSR17PropheciesTrait.php
Due: use-an-lpa-api

Testing revealed issue with way ApiException create function handles failed responses.
  service-api/app/src/App/src/Exception/ApiException.php
Due: use-an-lpa-api

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
