Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Fix mock with single LPA and add replacement attorney (the concept of "inactive" does not exist).
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/lpas/4UX3.json
  mock-integrations/lpa-data-store/src/lpas/lpas.mjs
Due: none

Add postcodes to LpaStore lpas and make one attorney a replacement
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/lpas/4UX3.json
Due: none

Update example openapi lpa
  service-api/app/docs/examples/lpa-response-example.yaml
Due: use-an-lpa-api

Add WhenLpaCanBeUsed field to the openapi doc
  service-api/app/openapi.yaml
Due: use-an-lpa-api

Clean up class variable usage
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
Due: use-an-lpa-front

Stop using address arrays if we have a Person on template output
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
Due: use-an-lpa-front

Define interfaces for the frontend entity functions that we use.
  service-front/app/src/Common/src/Service/Lpa/ServiceInterfaces/ProcessLpasInterface.php
  service-front/app/src/Common/src/Service/Lpa/ServiceInterfaces/ProcessPersonsInterface.php
Due: use-an-lpa-front

Move enum value deciphering to the casters rather than being in the enums themselves.
  service-front/app/src/Common/src/Entity/Casters/CastToCaseSubtype.php
  service-front/app/src/Common/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-front/app/src/Common/src/Enum/LifeSustainingTreatment.php
  service-front/app/src/Common/src/Enum/LpaType.php
Due: use-an-lpa-front

Remove all concept of differing LPA types on the frontend.
  service-front/app/src/Common/src/Entity/Casters/CastSingleDonor.php
  service-front/app/src/Common/src/Entity/Casters/CastSiriusDonor.php
  service-front/app/src/Common/src/Entity/Casters/ExtractAddressLine1FromLpaStore.php
  service-front/app/src/Common/src/Entity/Casters/ExtractAddressLine1FromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractAddressLine2FromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractAddressLine3FromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractCountryFromLpaStore.php
  service-front/app/src/Common/src/Entity/Casters/ExtractCountryFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractCountyFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractPostcodeFromLpaStore.php
  service-front/app/src/Common/src/Entity/Casters/ExtractPostcodeFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractTownFromLpaStore.php
  service-front/app/src/Common/src/Entity/Casters/ExtractTownFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractTypeFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/LinkedDonorCaster.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreAttorney.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreDonor.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaAttorney.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaDonor.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-front/app/src/Common/src/Enum/WhenTheLpaCanBeUsed.php
  service-front/app/src/Common/src/Service/Lpa/Factory/PersonDataFormatter.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
Due: use-an-lpa-front

Start using the actual API response instead of the mocked LPA
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
Due: use-an-lpa-front

Docblock updates
  service-api/app/src/App/src/Service/Lpa/Combined/ResolveLpaTypes.php
Due: use-an-lpa-api

Handler tidy up
  service-api/app/src/App/src/Handler/LpasResourceCodesCollectionHandler.php
Due: use-an-lpa-api

Make ViewerCodeService Uid source agnostic
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
Due: use-an-lpa-api

v2 handler urls is nice and all but actually pretty complex to implement
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/LpasCollectionV2Handler.php
Due: use-an-lpa-api

Don't need a pipeline setup for a route that doesn't exist.
  service-api/app/config/pipeline.php
Due: use-an-lpa-api

First test fixes
  service-front/app/src/Common/src/Entity/Casters/CastToCaseSubtype.php
  service-front/app/test/CommonTest/Entity/Casters/CanCastSiriusDonorTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanCastToSiriusLifeSustainingTreatmentTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractAddressLine1FromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractAddressLine2FromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractAddressLine3FromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractCountryFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractCountyFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractPostcodeFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractTownFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractTypeFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastSingleDonorTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToCaseSubtypeTest.php
  service-front/app/test/CommonTest/Entity/Casters/ExtractAddressLine1FromLpaStoreTest.php
  service-front/app/test/CommonTest/Entity/Casters/ExtractCountryFromLpaStoreTest.php
  service-front/app/test/CommonTest/Entity/Casters/ExtractTownFromLpaStoreTest.php
Due: use-an-lpa-front

UML-3750 removed outputting actor data
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
Due: use-an-lpa-api

updated text
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/change-lpa-details.html.twig
Due: use-an-lpa-front

Add reset target to build file
  Makefile
Due: none

Add reset target to build file (PHONY)
  Makefile
Due: none

Manually call make targets rather than use dependencies
  Makefile
Due: none

updated text (#3008)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/change-lpa-details.html.twig
Due: use-an-lpa-front

fix test
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
Due: use-an-lpa-api

fix test
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
Due: use-an-lpa-api

Fix RequestSignerFactoryTest.php test
  service-api/app/test/AppTest/DataAccess/ApiGateway/RequestSignerFactoryTest.php
Due: use-an-lpa-api

fix test
  service-api/app/test/AppTest/Entity/LpaStoreTest.php
Due: use-an-lpa-api

fix tests
  service-api/app/test/AppTest/Entity/SiriusLpaTest.php
Due: use-an-lpa-api

Fixes to Casters and entities
  service-api/app/test/AppTest/Entity/CanCastSiriusDonorTest.php
  service-api/app/test/AppTest/Entity/CanExtractAddressLine1FromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractAddressLine2FromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractAddressLine3FromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractCountryFromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractCountyFromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractPostcodeFromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractTownFromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractTypeFromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CastSingleDonorTest.php
  service-api/app/test/AppTest/Entity/ExtractAddressLine1FromLpaStoreTest.php
  service-api/app/test/AppTest/Entity/ExtractCountryFromLpaStoreTest.php
  service-api/app/test/AppTest/Entity/ExtractTownFromLpaStoreTest.php
  service-api/app/test/AppTest/Entity/LpaStoreTest.php
Due: use-an-lpa-api

fix test
  service-api/app/test/AppTest/Service/Lpa/AccessForAll/AccessForAllValidationTest.php
Due: use-an-lpa-api

Fixes to Casters and entities
  docker-compose.dependencies.yml
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/Sirius/Casters/CastSiriusDonor.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractAddressLine1FromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractAddressLine2FromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractAddressLine3FromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractCountryFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractCountyFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractPostcodeFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractTownFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractTypeFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporation.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
Due: use-an-lpa-front, use-an-lpa-api

Fixup address extraction in caster for Sirius Lpas
  service-api/app/src/App/src/Entity/Casters/ExtractAddressFieldFrom.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/SiriusLpaTest.php
Due: use-an-lpa-api

fix tests
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
Due: use-an-lpa-api

Serialisation test for lpa store
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
Due: use-an-lpa-api

Serialisation test for Sirius lpas
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
Due: use-an-lpa-api

Serialisation test for Sirius into combined format
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
Due: use-an-lpa-api

fix tests
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
Due: use-an-lpa-api

fix test
  service-api/app/test/AppTest/Service/Secrets/LpaDataStoreSecretManagerTest.php
Due: use-an-lpa-api

fix tests
  service-api/app/test/AppTest/Service/Lpa/LpaManagerFactoryTest.php
Due: use-an-lpa-api
