Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Point at new location of the Dockerfile in code repo.
  docker-compose.dependencies.yml
Due: none

prevent tf lint
  .github/workflows/pull-request-path.yml
Due: none

Point at new location of the Dockerfile in code repo. (#2462)
  docker-compose.dependencies.yml
Due: none

UML-2140: remove documentation workflo
  .github/workflows/documentation-update.yml
Due: none

UML-2140: add docs only changes
  .github/workflows/pull-request-path.yml
Due: none

UML-2140: fix semicolon error
  .github/workflows/pull-request-path.yml
Due: none

UML-2140: fix syntax error
  .github/workflows/pull-request-path.yml
Due: none

UML-2140 add documentation only workflow (#2461)
  .github/workflows/pull-request-path.yml
Due: none

mocked out service in tests (WIP)
  service-admin/internal/server/handlers/systemmessage_test.go
Due: use-an-lpa-admin

updated docker containers
  service-api/docker/app/Dockerfile
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api

added test for UserService logging
  service-api/app/src/App/src/Service/Log/Output/Email.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: use-an-lpa-api

updated docker containers (#2464)
  service-api/docker/app/Dockerfile
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api

snake case
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: use-an-lpa-api

Testing stats export for php-fpm
  terraform/environment/region/api_ecs.tf
Due: none

Linting
  terraform/environment/region/api_ecs.tf
Due: none

Fix
  terraform/environment/region/api_ecs.tf
Due: none

IAM permissions
  terraform/environment/region/api_ecs.tf
Due: none

Pull corret image
  terraform/environment/region/api_ecs.tf
Due: none

fix dev update
  service-api/docker/seeding/start.sh
  service-api/seeding/put_actor_codes.py
Due: use-an-lpa-api

Uml 1533 hashing logged email (#2460)
  service-api/app/src/App/src/Service/Log/Output/Email.php
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/Service/Log/Output/EmailTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
  service-front/app/src/Common/src/Service/User/UserService.php
Due: use-an-lpa-front, use-an-lpa-api

WIP textareas are populated by hard-coded strings - next step they will come from the paramter store via the service
  service-admin/internal/server/data/system_message_test.go
  service-admin/internal/server/handlers/systemmessage.go
  service-admin/internal/server/handlers/systemmessage_test.go
  service-admin/web/templates/systemmessage.page.gohtml
Due: use-an-lpa-admin

Bump
  terraform/environment/region/api_ecs.tf
Due: none

fix dev update (#2466)
  service-api/docker/seeding/start.sh
  service-api/seeding/put_actor_codes.py
Due: use-an-lpa-api

Another bump
  terraform/environment/region/api_ecs.tf
Due: none

Fargate is not EC2 🤦
  terraform/environment/region/api_ecs.tf
Due: none

call service to get textarea values
  service-admin/internal/server/handlers/systemmessage.go
Due: use-an-lpa-admin

BUMP
  terraform/environment/region/api_ecs.tf
Due: none

fix golint errors
  service-admin/internal/server/data/ssm_connection_test.go
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/data/system_message_test.go
Due: use-an-lpa-admin

golint fix
  .idea/opg-use-an-lpa.iml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  service-admin/internal/server/handlers/systemmessage.go
Due: use-an-lpa-admin

fix
  terraform/environment/region/api_ecs.tf
Due: none

Add internal clock implementation
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Service/InternalClock.php
Due: use-an-lpa-api

Setup secrets manager with our out of band public key.
  docker-compose.dependencies.yml
  mock-integrations/secrets-manager/localstack_init.sh
  mock-integrations/secrets-manager/onelogin_mock_public_key.pem
Due: none

Add type documentation to interface
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
Due: use-an-lpa-api

Update route to POST
  service-api/app/config/routes.php
Due: use-an-lpa-api

Implement parsing, validation and return of user info
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Handler/OneLoginAuthenticationCallbackHandler.php
  service-api/app/src/App/src/Handler/OneLoginAuthenticationRequestHandler.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationClientManager.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationClientManagerFactory.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationService.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationServiceBuilder.php
  service-api/app/src/App/src/Service/Authentication/IssuerBuilder.php
  service-api/app/src/App/src/Service/Authentication/JWKFactory.php
  service-api/app/src/App/src/Service/Authentication/KeyPair.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/AbstractKeyPairManager.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/KeyPair.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/KeyPairManagerInterface.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginIdentityKeyPairManager.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginUserInfoKeyManager.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthenticationRequestService.php
  service-api/app/src/App/src/Service/Authentication/OneLoginService.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifier.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilder.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderFactory.php
  service-api/app/src/App/src/Service/Authentication/UserInfoService.php
Due: use-an-lpa-api

Idea folder update
  .idea/inspectionProfiles/Project_Default.xml
  .idea/opg-use-an-lpa.iml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  .idea/remote-mappings.xml
Due: none

More .idea folder updates
  .idea/opg-use-an-lpa.iml
  .idea/phpunit.xml
Due: none

Update to newer mock-one-login and include necessary env var
  docker-compose.dependencies.yml
Due: none

Introduce GMP usage and build it.
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/docker/app/Dockerfile
  service-front/app/composer.json
  service-front/app/composer.lock
Due: use-an-lpa-front, use-an-lpa-api
