Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Further psalm run flags changes
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
Due: none

Return to fixing PHP versions despite the docs saying the composer.json should do it
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
Due: none

Try adding a taint source for system secrets.
  service-api/app/src/App/src/Service/Secrets/AbstractKeyPairManager.php
  service-api/app/src/App/src/Service/Secrets/LpaDataStoreSecretManager.php
Due: use-an-lpa-api

Correct psalm path
  .github/workflows/psalm-static-analysis-api.yml
Due: none

stitching pages for paper verification journey including tests
  service-front/app/config/routes.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-paper-verification-code.feature
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/NumberOfAttorneysHander.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PVDonorDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PaperVerificationCodeSentToHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/ProvideAttorneyDetailsForPVHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/number-of-attorneys.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/provide-attorney-details.html.twig
Due: use-an-lpa-front

extra conditional to stop double posting message
  .github/workflows/_slack-notification.yml
Due: none

use correct template
  .github/workflows/path-to-live.yml
Due: none

UML-4026: Improve docs only path
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
Due: none

add conditional step
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
Due: none

remove duplicate
  .github/workflows/path-to-live.yml
Due: none

remove more weird duplicates
  .github/workflows/path-to-live.yml
Due: none

Run npm audit fix.
  service-front/web/package-lock.json
Due: use-an-lpa-front

Run npm audit fix. (#3326)
  service-front/web/package-lock.json
Due: use-an-lpa-front

add in accidentally removed lines
  .github/workflows/path-to-live.yml
Due: none

UML-4026: improve docs only path (#3342)
  .github/workflows/path-to-live.yml
Due: none

test docs path
  docs/runbooks/reextract-an-lpa-scan.md
Due: none

test docs path (#3344)
  docs/runbooks/reextract-an-lpa-scan.md
Due: none

add conditional step
  .github/workflows/_slack-notification.yml
Due: none

UML-4026: update workflow and squash message
  .github/workflows/_slack-notification.yml
  scripts/pipeline/post_release_slack_notification/documentation_update.txt
  scripts/pipeline/post_release_slack_notification/production_release.txt
Due: none

UML-4026: fix docs workflow (#3345)
  .github/workflows/_slack-notification.yml
  scripts/pipeline/post_release_slack_notification/documentation_update.txt
  scripts/pipeline/post_release_slack_notification/production_release.txt
Due: none

test docs only
  docs/runbooks/reextract-an-lpa-scan.md
Due: none

test docs only (#3346)
  docs/runbooks/reextract-an-lpa-scan.md
Due: none

UML-4026: prevent failed deploy message on success
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
Due: none

UML-2909-setup-psalm-baseline (#3332)
  .github/workflows/php-linting.yml
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/config/pipeline.php
  service-api/app/config/routes.php
  service-api/app/psalm-baseline.xml
  service-api/app/psalm.xml
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/src/App/src/Service/Secrets/AbstractKeyPairManager.php
  service-api/app/src/App/src/Service/Secrets/LpaDataStoreSecretManager.php
  service-front/app/psalm-baseline.xml
  service-front/app/psalm.xml
Due: use-an-lpa-front, use-an-lpa-api

UML-4026: prevent failed deploy message on success (#3347)
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
Due: none

UML-4029: move stats to opg-lpa-stats
  .github/workflows/statistics.yml
Due: none

Bump PHP version in docker and composer.json files.
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/docker/app/Dockerfile
  service-front/docker/app/app-php-development.ini
Due: use-an-lpa-front, use-an-lpa-api

Fix up dynamic property declarations
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/context/Acceptance/CommonContext.php
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/Integration/AccountContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/rector.php
  service-front/app/rector.php
Due: use-an-lpa-front, use-an-lpa-api

Update Idea folder
  .idea/codeStyles/Project.xml
  .idea/codeception.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/opg-use-an-lpa.iml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  .idea/swagger-settings.xml
  .idea/terraform.xml
Due: none

Update CI workflow files with missed PHP version change
  .github/workflows/php-linting.yml
  .github/workflows/psalm-static-analysis-api.yml
Due: none

UML-3086 PHP8.3 upgrade for the API (#3349)
  .github/workflows/php-linting.yml
  .github/workflows/psalm-static-analysis-api.yml
  .idea/codeStyles/Project.xml
  .idea/codeception.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/opg-use-an-lpa.iml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  .idea/swagger-settings.xml
  .idea/terraform.xml
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/context/Acceptance/CommonContext.php
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/Integration/AccountContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/rector.php
  service-api/docker/app/Dockerfile
  service-front/app/rector.php
  service-front/docker/app/app-php-development.ini
Due: use-an-lpa-front, use-an-lpa-api

UML-4029: move stats to opg-lpa-stats (#3348)
  .github/workflows/statistics.yml
Due: none

Get functional tests running in pipeline and locally.
  .idea/runConfigurations/API_Functional.xml
Due: none

Configure local test running better.
  .idea/runConfigurations/API_Functional.xml
Due: none
