Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

UML-3930: update backup plan
  .secrets.baseline
  terraform/environment/backup_plan.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

UML-4127: increase trivy timeout
  .github/workflows/_build-and-push.yml
Due: none

add seconds
  .github/workflows/_build-and-push.yml
Due: none

change timeout location
  .github/workflows/_build-and-push.yml
Due: none

fix typo
  .github/workflows/_build-and-push.yml
Due: none

UML-4127: increase trivy timeout (#3435)
  .github/workflows/_build-and-push.yml
Due: none

UML-3930: update backup plan (#3437)
  .secrets.baseline
  terraform/environment/backup_plan.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

UML-3930: cold storage in variables
  .secrets.baseline
  terraform/environment/backup_plan.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

UML-3930: cold storage in variables (#3439)
  .secrets.baseline
  terraform/environment/backup_plan.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

Revert python version for statistics job
  .github/workflows/statistics.yml
Due: none

Set whether has paper verification code on validate of activation
  mock-integrations/lpa-codes/mock-openapi.yml
  mock-integrations/lpa-codes/mock-responses.js
  mock-integrations/lpa-codes/src/codes/seeding-data.json
  mock-integrations/lpa-codes/src/index.ts
  mock-integrations/lpa-codes/src/types/index.d.ts
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodes.php
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/src/App/src/DataAccess/Repository/Response/ActorCodeIsValid.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/Service/ActorCodes/ActorCodeService.php
  service-api/app/src/App/src/Service/ActorCodes/CodeValidationStrategyInterface.php
  service-api/app/src/App/src/Service/ActorCodes/ValidatedActorCode.php
  service-api/app/src/App/src/Service/ActorCodes/Validation/CodesApiValidationStrategy.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapTest.php
  service-api/app/test/AppTest/Service/ActorCodes/ActorCodeServiceTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/CodesApiValidationStrategyTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
Due: use-an-lpa-api

UML-4117 Set whether has paper verification code on validate of activation (#3438)
  mock-integrations/lpa-codes/mock-openapi.yml
  mock-integrations/lpa-codes/mock-responses.js
  mock-integrations/lpa-codes/src/codes/seeding-data.json
  mock-integrations/lpa-codes/src/index.ts
  mock-integrations/lpa-codes/src/types/index.d.ts
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodes.php
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/src/App/src/DataAccess/Repository/Response/ActorCodeIsValid.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/Service/ActorCodes/ActorCodeService.php
  service-api/app/src/App/src/Service/ActorCodes/CodeValidationStrategyInterface.php
  service-api/app/src/App/src/Service/ActorCodes/ValidatedActorCode.php
  service-api/app/src/App/src/Service/ActorCodes/Validation/CodesApiValidationStrategy.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapTest.php
  service-api/app/test/AppTest/Service/ActorCodes/ActorCodeServiceTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/CodesApiValidationStrategyTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
Due: use-an-lpa-api

Increase renovate's concurrent PR limit
  renovate.json
Due: none

Increase renovate's concurrent PR limit (#3443)
  renovate.json
Due: none

Update requests
  scripts/pipeline/generate_trivy_report/requirements.txt
Due: none

Update requests (#3446)
  scripts/pipeline/generate_trivy_report/requirements.txt
Due: none

Ignore dependencies that renovate can't find
  renovate.json
Due: none

Use docker layer for php-extension-installer
  tests/smoke/Dockerfile
Due: none

Misnamed file include
  .github/workflows/pull-request-path.yml
Due: none

Attempt at uploading pact files on PR workflow
  .github/workflows/_pact-upload.yml
  .github/workflows/pull-request-path.yml
Due: none

Had some wrong uids in the functional tests
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: use-an-lpa-api

Tweaks to the PACT contract definitions to be better spec compliant
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: use-an-lpa-api

Fix revoke code PACT
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
Due: use-an-lpa-api

Set up the new functional test to allow the provider to create fixtures
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
Due: use-an-lpa-api

Attempt at uploading pact files on PR workflow (#3436)
  .github/workflows/_pact-upload.yml
  .github/workflows/pull-request-path.yml
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: use-an-lpa-api

Ignore dependencies that renovate can't find (#3444)
  renovate.json
  tests/smoke/Dockerfile
Due: none

Bump symfony/http-foundation from 5.4.48 to 5.4.50 in /service-api/app (#3457)
  service-api/app/composer.lock
Due: use-an-lpa-api

Add build step to seed lpa-store and lpa-codes
  .github/workflows/_seed-database.yml
  .github/workflows/pull-request-path.yml
  .secrets.baseline
  scripts/seed_lpas_and_codes/go.mod
  scripts/seed_lpas_and_codes/go.sum
  scripts/seed_lpas_and_codes/main.go
Due: none

UML-4128 Add build step to seed lpa-store and lpa-codes (#3445)
  .github/workflows/_seed-database.yml
  .github/workflows/pull-request-path.yml
  .secrets.baseline
  scripts/seed_lpas_and_codes/go.mod
  scripts/seed_lpas_and_codes/go.sum
  scripts/seed_lpas_and_codes/main.go
Due: none

Add id-token permission to path to live workflow
  .github/workflows/path-to-live.yml
  .secrets.baseline
Due: none

UML-4128 - allow id-token write
  .github/workflows/path-to-live.yml
Due: none

UML-4128 Add id-token permission to path to live workflow (#3460)
  .github/workflows/path-to-live.yml
  .secrets.baseline
Due: none

Allow M-UIDs to be provided when adding an LPA
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Form/AddLpa/LpaReferenceNumber.php
  service-front/app/src/Actor/src/Form/RequestActivationKey/RequestReferenceNumber.php
  service-front/app/src/Actor/src/Handler/AddLpa/LpaReferenceNumberHandler.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/ReferenceNumberHandler.php
  service-front/app/src/Actor/templates/actor/add-lpa/lpa-reference-number.html.twig
  service-front/app/src/Actor/templates/actor/request-activation-key/reference-number.html.twig
  service-front/app/src/Common/src/Validator/DammCheck.php
  service-front/app/test/ActorTest/Form/AddLpa/LpaReferenceNumberTest.php
  service-front/app/test/ActorTest/Form/RequestActivationKey/RequestReferenceNumberTest.php
  service-front/app/test/CommonTest/Validator/DammCheckTest.php
Due: use-an-lpa-front

UML-4001 Allow M-UIDs to be provided when adding an LPA (#3463)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Form/AddLpa/LpaReferenceNumber.php
  service-front/app/src/Actor/src/Form/RequestActivationKey/RequestReferenceNumber.php
  service-front/app/src/Actor/src/Handler/AddLpa/LpaReferenceNumberHandler.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/ReferenceNumberHandler.php
  service-front/app/src/Actor/templates/actor/add-lpa/lpa-reference-number.html.twig
  service-front/app/src/Actor/templates/actor/request-activation-key/reference-number.html.twig
  service-front/app/src/Common/src/Validator/DammCheck.php
  service-front/app/test/ActorTest/Form/AddLpa/LpaReferenceNumberTest.php
  service-front/app/test/ActorTest/Form/RequestActivationKey/RequestReferenceNumberTest.php
  service-front/app/test/CommonTest/Validator/DammCheckTest.php
Due: use-an-lpa-front

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
