Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Test setting test as integration test
  service-api/app/test/AppTest/Service/Authentication/AuthenticationServiceTest.php
Due: use-an-lpa-api

Fix linting error
  service-api/app/test/AppTest/Service/Authentication/AuthenticationServiceTest.php
Due: use-an-lpa-api

Confirm test runs in pipeline
  service-api/app/test/AppTest/Service/Authentication/AuthenticationServiceTest.php
Due: use-an-lpa-api

revert to unit test
  service-api/app/test/AppTest/Service/Authentication/AuthenticationServiceTest.php
Due: use-an-lpa-api

Turn AuthenticationServiceTest into unit test
  service-api/app/config/routes.php
  service-api/app/src/App/src/Service/Authentication/AuthenticationService.php
  service-api/app/test/AppTest/Service/Authentication/AuthenticationServiceTest.php
Due: use-an-lpa-api

UML-3109 Remove build_admin feature flag from TF
  terraform/environment/admin_ecs.tf
  terraform/environment/admin_load_balancer.tf
  terraform/environment/cloudwatch_alarms.tf
  terraform/environment/cognito_client.tf
  terraform/environment/config_file.tf
  terraform/environment/dns.tf
  terraform/environment/locals.tf
  terraform/environment/terraform.tf
  terraform/environment/terraform.tfvars.json
Due: none

UML-3112 Increase actor and api min containers
  terraform/environment/terraform.tfvars.json
Due: none

Uml 3082 mock onelogin is now moved to seperate repo (#2361)
  Makefile
  docker-compose.dependencies.yml
  mock-integrations/one-login/Dockerfile
  mock-integrations/one-login/go.mod
  mock-integrations/one-login/go.sum
  mock-integrations/one-login/main.go
Due: none

Update catch Exception type
  service-api/app/src/App/src/Service/Authentication/AuthenticationService.php
Due: use-an-lpa-api

rename classes, methods and test names
  service-api/app/src/App/src/Handler/AuthRedirectHandler.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthorisationRequestService.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthorisationRequestServiceTest.php
Due: use-an-lpa-api

amend handler name
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/OneLoginAuthorisationRequestHandler.php
Due: use-an-lpa-api

Remove try catch in createAuthorisationRequest
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthorisationRequestService.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthorisationRequestServiceTest.php
Due: use-an-lpa-api

Fix lint error
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthorisationRequestServiceTest.php
Due: use-an-lpa-api

remove superfluous comments and move redirect_uri from the client meta data to params
  service-api/app/src/App/src/Handler/OneLoginAuthorisationRequestHandler.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthorisationRequestService.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthorisationRequestServiceTest.php
Due: use-an-lpa-api

UML-3056 initial code and working test (#2360)
  .github/workflows/_build-and-push.yml
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/AuthHandler.php
  service-api/app/src/App/src/Handler/OneLoginAuthorisationRequestHandler.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthorisationRequestService.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthorisationRequestServiceTest.php
Due: use-an-lpa-api

Replace hard-coded regions
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/viewer_ecs.tf
Due: none

Sort variables file alphabetically
  terraform/environment/region/variables.tf
Due: none

UML-3115 Move ECS Terraform to region module
  .github/workflows/_lint-terraform.yml
  .github/workflows/_run-terraform.yml
  .github/workflows/scheduled-workspace-cleanup.yml
  terraform/account/.tfswitchrc
  terraform/environment/.tfswitchrc
  terraform/environment/autoscaling.tf
  terraform/environment/config_file.tf
  terraform/environment/outputs.tf
  terraform/environment/refactor.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/ecs_cluster.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/terraform.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/terraform.tf
Due: none

UML-3115 Correct PDF version
  terraform/environment/region.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/variables.tf
Due: none

UML-3115 Terraform linting
  terraform/environment/refactor.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/ecs_cluster.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/viewer_ecs.tf
Due: none

Add preproduction plan to PR workflow
  .github/workflows/pull-request-path.yml
Due: none

Terraform FMT
  terraform/environment/region/variables.tf
Due: none

UML-3115 Move ECS Terraform to region module (#2364)
  .github/workflows/_lint-terraform.yml
  .github/workflows/_run-terraform.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/scheduled-workspace-cleanup.yml
  terraform/account/.tfswitchrc
  terraform/environment/.tfswitchrc
  terraform/environment/autoscaling.tf
  terraform/environment/config_file.tf
  terraform/environment/outputs.tf
  terraform/environment/refactor.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/ecs_cluster.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/terraform.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/terraform.tf
Due: none

implemented caching
  service-api/app/src/App/src/Service/Authentication/IssuerBuilder.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthorisationRequestService.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthorisationRequestServiceTest.php
Due: use-an-lpa-api

fix linting error
  service-api/app/src/App/src/Service/Authentication/IssuerBuilder.php
Due: use-an-lpa-api

update opening hours content
  service-front/app/languages/.pot
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/src/Common/templates/partials/contact-details/telephone.html.twig
Due: use-an-lpa-front

update composer.lock
  service-api/app/composer.lock
Due: use-an-lpa-api

fix
  service-front/app/composer.lock
Due: use-an-lpa-front

Add unit test coverage for IssuerBuilder setMetaDataProviderBuilder()
  service-api/app/src/App/src/Service/Authentication/IssuerBuilder.php
  service-api/app/test/AppTest/Service/Authentication/IssuerBuilderTest.php
Due: use-an-lpa-api

fix linting and ignore code coverage for build method
  service-api/app/src/App/src/Service/Authentication/IssuerBuilder.php
  service-api/app/test/AppTest/Service/Authentication/IssuerBuilderTest.php
Due: use-an-lpa-api

uml-3080 caching one login (#2366)
  service-api/app/src/App/src/Service/Authentication/IssuerBuilder.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthorisationRequestService.php
  service-api/app/test/AppTest/Service/Authentication/IssuerBuilderTest.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthorisationRequestServiceTest.php
Due: use-an-lpa-api

UML-3119 Move ALBs to region module
  terraform/environment/actor_load_balancer.tf
  terraform/environment/cloudwatch_alarms.tf
  terraform/environment/config_file.tf
  terraform/environment/dns.tf
  terraform/environment/dns_health_check.tf
  terraform/environment/refactor.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
  terraform/environment/shared_data_sources.tf
  terraform/environment/waf.tf
Due: none

Fix refactor.tf
  terraform/environment/refactor.tf
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

UML-3119 Move ALBs to region module (#2368)
  terraform/environment/cloudwatch_alarms.tf
  terraform/environment/config_file.tf
  terraform/environment/dns.tf
  terraform/environment/dns_health_check.tf
  terraform/environment/refactor.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
  terraform/environment/shared_data_sources.tf
  terraform/environment/waf.tf
Due: none

uml-3116-update-opening-hours-content (#2367)
  service-api/app/composer.lock
  service-front/app/composer.lock
  service-front/app/languages/.pot
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/src/Common/templates/partials/contact-details/telephone.html.twig
Due: use-an-lpa-front, use-an-lpa-api

Pass regions variable to region module
  terraform/environment/dynamodb.tf
  terraform/environment/locals.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/terraform.tfvars.json
Due: none

Enable streams
  terraform/environment/dynamodb.tf
Due: none

UML-3114 Use global DynamoDB tables
  terraform/environment/dynamodb.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/variables.tf
Due: none

Stream view NEW_AND_OLD
  terraform/environment/dynamodb.tf
Due: none

viewer activity enable stream
  terraform/environment/dynamodb.tf
Due: none
