Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Move call to jsEnabled earlier
  service-front/web/src/index.js
Due: use-an-lpa-front

Reinstate package.json and update GDS FE to 5.0 for compatibility with MOJ FE
  service-front/web/package-lock.json
Due: use-an-lpa-front

Fix main gds header content. Revert moj header in admin.
  service-admin/web/templates/header.partial.gohtml
  service-front/app/src/Common/templates/layout/default.html.twig
Due: use-an-lpa-front, use-an-lpa-admin

SVG markup updates
  service-admin/web/templates/header.partial.gohtml
  service-front/app/src/Common/templates/layout/default.html.twig
Due: use-an-lpa-front, use-an-lpa-admin

Add updated js-enabled code
  service-admin/web/templates/default.layout.gohtml
  service-front/web/src/javascript/jsEnabled.js
Due: use-an-lpa-front, use-an-lpa-admin

Revert removing webpack_dist
  docker-compose.yml
Due: none

Refactor existing header to make it easier to implement a one-login variant
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/app/src/Common/templates/partials/header/common.html.twig
  service-front/app/src/Common/templates/partials/header/default.html.twig
Due: use-an-lpa-front

Project files updates
  .gitignore
  .idea/codeStyles/Project.xml
Due: none

Import one-login header files as npm package
  service-front/web/package.json
  service-front/web/src/gds.scss
Due: use-an-lpa-front

Template, JS and CSS changes to implement new header design
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/app/src/Common/templates/partials/account-bar.html.twig
  service-front/app/src/Common/templates/partials/header/common.html.twig
  service-front/app/src/Common/templates/partials/header/default.html.twig
  service-front/app/src/Common/templates/partials/header/one-login-logged-in.html.twig
  service-front/app/src/Common/templates/partials/header/one-login.html.twig
  service-front/app/src/Common/templates/partials/header/welsh-switch.html.twig
  service-front/web/build.js
  service-front/web/src/index.js
  service-front/web/src/javascript/header.js
  service-front/web/src/javascript/vendor/service-header.js
  service-front/web/src/stylesheets/lpa.scss
Due: use-an-lpa-front

Test fix for new twig global variable.
  service-front/app/test/CommonTest/View/Twig/GenericGlobalVariableExtensionTest.php
Due: use-an-lpa-front

Further refactoring work around how the application name is populated.
  service-front/app/src/Common/src/View/Twig/GenericGlobalVariableExtension.php
  service-front/app/src/Common/templates/common/contact-us.html.twig
  service-front/app/src/Common/templates/common/cookies.html.twig
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/app/src/Common/templates/partials/cookie-banner.html.twig
  service-front/app/src/Common/templates/partials/footer.html.twig
  service-front/app/src/Common/templates/partials/footers-common.html.twig
  service-front/app/src/Common/templates/partials/header/default.html.twig
  service-front/app/src/Common/templates/partials/header/one-login-logged-in.html.twig
  service-front/app/src/Common/templates/partials/header/one-login.html.twig
Due: use-an-lpa-front

Extracted Welsh into POT file
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Usage of serviceName variable instead of block in both viewer and actor sides
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/home-page.html.twig
  service-front/app/src/Actor/templates/actor/layout.html.twig
  service-front/app/src/Actor/templates/actor/one-login.html.twig
  service-front/app/src/Common/templates/partials/header/default.html.twig
  service-front/app/src/Common/templates/partials/header/one-login-logged-in.html.twig
  service-front/app/src/Common/templates/partials/header/one-login.html.twig
  service-front/app/src/Viewer/templates/viewer/layout.html.twig
Due: use-an-lpa-front

Fixes for aXe issue
  .idea/phpunit.xml
  service-front/app/src/Common/templates/partials/header/one-login-logged-in.html.twig
  service-front/app/src/Common/templates/partials/header/one-login.html.twig
  service-front/web/src/stylesheets/_lpa-account-menu.scss
Due: use-an-lpa-front

Update translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Incorrect translation format resulted in bad extract
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode.html.twig
Due: use-an-lpa-front

Rebase and fix for main changes
  .idea/codeception.xml
  .idea/opg-use-an-lpa.iml
  .idea/php.xml
  .idea/phpspec.xml
  Makefile
  service-front/web/package-lock.json
Due: use-an-lpa-front

Fix header, logged in and not.
  service-front/app/src/Common/templates/partials/header/default.html.twig
  service-front/app/src/Common/templates/partials/header/one-login.html.twig
Due: use-an-lpa-front

Uml 3297 GOVUK One Login header (#2573)
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeception.xml
  .idea/opg-use-an-lpa.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  Makefile
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/home-page.html.twig
  service-front/app/src/Actor/templates/actor/layout.html.twig
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode.html.twig
  service-front/app/src/Actor/templates/actor/one-login.html.twig
  service-front/app/src/Common/src/View/Twig/GenericGlobalVariableExtension.php
  service-front/app/src/Common/templates/common/contact-us.html.twig
  service-front/app/src/Common/templates/common/cookies.html.twig
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/app/src/Common/templates/partials/account-bar.html.twig
  service-front/app/src/Common/templates/partials/cookie-banner.html.twig
  service-front/app/src/Common/templates/partials/footer.html.twig
  service-front/app/src/Common/templates/partials/footers-common.html.twig
  service-front/app/src/Common/templates/partials/header/default.html.twig
  service-front/app/src/Common/templates/partials/header/one-login-logged-in.html.twig
  service-front/app/src/Common/templates/partials/header/one-login.html.twig
  service-front/app/src/Common/templates/partials/header/welsh-switch.html.twig
  service-front/app/src/Common/templates/partials/headers-common.html.twig
  service-front/app/src/Viewer/templates/viewer/layout.html.twig
  service-front/app/test/CommonTest/View/Twig/GenericGlobalVariableExtensionTest.php
  service-front/web/build.js
  service-front/web/package-lock.json
  service-front/web/package.json
  service-front/web/src/gds.scss
  service-front/web/src/index.js
  service-front/web/src/javascript/header.js
  service-front/web/src/javascript/vendor/service-header.js
  service-front/web/src/stylesheets/_lpa-account-menu.scss
  service-front/web/src/stylesheets/lpa.scss
Due: use-an-lpa-front

Missing v.
  .github/workflows/_node-test.yml
Due: none

Bump summary action to 2.3
  .github/workflows/_node-test.yml
Due: none

Bump summary action to 2.3 (#2591)
  .github/workflows/_node-test.yml
Due: none

show system message on use side
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
  service-front/app/src/Actor/templates/actor/partials/service-message.html.twig
Due: use-an-lpa-front

remove comment
  service-front/app/src/Common/src/Service/SystemMessage/SystemMessageService.php
Due: use-an-lpa-front

fix behat tests
  service-api/app/features/system-message.feature
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front, use-an-lpa-api

lint
  service-front/app/src/Common/src/Service/SystemMessage/SystemMessageService.php
Due: use-an-lpa-front

lint
  service-front/app/test/CommonTest/Service/SystemMessage/SystemMessageServiceFactoryTest.php
  service-front/app/test/CommonTest/Service/SystemMessage/SystemMessageServiceTest.php
Due: use-an-lpa-front

fix behat login test
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

return empty array if api call fails
  service-front/app/src/Common/src/Service/SystemMessage/SystemMessageService.php
  service-front/app/test/CommonTest/Service/SystemMessage/SystemMessageServiceTest.php
Due: use-an-lpa-front

add tests for system messages
  service-api/app/features/actor-dashboard.feature
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/test/CommonTest/Service/SystemMessage/SystemMessageServiceFactoryTest.php
  service-front/app/test/CommonTest/Service/SystemMessage/SystemMessageServiceTest.php
Due: use-an-lpa-front, use-an-lpa-api

fetch system messages from api
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Service/SystemMessage/SystemMessageService.php
  service-front/app/src/Common/src/Service/SystemMessage/SystemMessageServiceFactory.php
Due: use-an-lpa-front

fix missing `@test`
  service-front/app/test/CommonTest/Service/SystemMessage/SystemMessageServiceTest.php
Due: use-an-lpa-front

Add certificate for mock-onelogin service to account
  terraform/account/region/certificate.tf
Due: none

Add certificate for mock-onelogin service to account (#2597)
  terraform/account/region/certificate.tf
Due: none

Fix forward overly long certificate domain name.
  terraform/account/region/certificate.tf
Due: none

Fix forward overly long certificate domain name. (#2598)
  terraform/account/region/certificate.tf
Due: none

UML-2981 Show system messages on use side (#2577)
  service-api/app/features/actor-dashboard.feature
  service-api/app/features/system-message.feature
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
  service-front/app/src/Actor/templates/actor/partials/service-message.html.twig
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Service/SystemMessage/SystemMessageService.php
  service-front/app/src/Common/src/Service/SystemMessage/SystemMessageServiceFactory.php
  service-front/app/test/CommonTest/Service/SystemMessage/SystemMessageServiceFactoryTest.php
  service-front/app/test/CommonTest/Service/SystemMessage/SystemMessageServiceTest.php
Due: use-an-lpa-front, use-an-lpa-api

show system message on view side
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-sharecode.feature
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
Due: use-an-lpa-front

fix template
  service-front/app/src/Viewer/templates/viewer/partials/service-message.html.twig
Due: use-an-lpa-front

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
