Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

PHPStorm idea folder updates
  .idea/inspectionProfiles/Project_Default.xml
  .idea/opg-use-an-lpa.iml
  .idea/php-test-framework.xml
  .idea/php.xml
Due: none

Full acceptance testing of happy path one-login
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/features/one-login.feature
  service-api/app/src/App/src/Service/Authentication/AuthorisationClientManager.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationService.php
Due: use-an-lpa-api

Additional coverage in tests
  service-api/app/test/AppTest/Service/Authentication/KeyPairManager/CachedKeyPairManagerTest.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginServiceTest.php
Due: use-an-lpa-api

Fix linting issue
  service-api/app/test/AppTest/Service/InternalClockTest.php
Due: use-an-lpa-api

Test of token verfication
  service-api/app/test/AppTest/OidcUtilities.php
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierTest.php
Due: use-an-lpa-api

Refactor OIDC into shared class.
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/test/AppTest/OidcUtilities.php
Due: use-an-lpa-api

Coverage of more added files
  service-api/app/test/AppTest/Service/Authentication/AuthorisationClientManagerFactoryTest.php
  service-api/app/test/AppTest/Service/Authentication/AuthorisationClientManagerTest.php
  service-api/app/test/AppTest/Service/Authentication/KeyPairManager/CachedKeyPairManagerDelegatorFactoryTest.php
Due: use-an-lpa-api

added new content
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Builder factory coverage
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderFactoryTest.php
Due: use-an-lpa-api

Linting fixes
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderFactoryTest.php
Due: use-an-lpa-api

completed inital content
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Coverage improvements
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderTest.php
Due: use-an-lpa-api

Welsh translations added
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

another translation
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

reformating
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

amended behat test for login button
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

added aria-lables
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

amended behat test with correct function
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

amended behat test UI/AccountContext
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

hyperlink added
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

enabled flag for UAT
  terraform/environment/terraform.tfvars.json
Due: none

amended translation tags
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

disabled flag
  terraform/environment/terraform.tfvars.json
Due: none

uml 3216 - new content to homepage (#2457)
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

write method and test WIP not yet working
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/data/system_message_test.go
Due: use-an-lpa-admin

Add identity index to DynamoDB
  service-api/docker/seeding/start.sh
  terraform/environment/dynamodb.tf
Due: use-an-lpa-api

hash Email() added to servicefront UserService
  service-front/app/src/Common/src/Service/User/UserService.php
Due: use-an-lpa-front

hashing email to service-api
  service-api/.idea/.gitignore
  service-api/.idea/modules.xml
  service-api/.idea/service-api.iml
  service-api/.idea/vcs.xml
  service-api/app/src/App/src/Service/User/UserService.php
Due: use-an-lpa-api

Add identity index to DynamoDB (#2459)
  service-api/docker/seeding/start.sh
  terraform/environment/dynamodb.tf
Due: use-an-lpa-api

Add environment variables for Redis to API
  terraform/environment/region/api_ecs.tf
Due: none

UML-3204: Allow access to Redis from API
  terraform/environment/region/api_ecs.tf
Due: none

added Email Class service-api
  service-api/app/src/App/src/Service/Log/Output/Email.php
Due: use-an-lpa-api

added EmailTest
  service-api/app/test/AppTest/Service/Log/Output/EmailTest.php
Due: use-an-lpa-api

test for system message, uses prefix in ssm connection
  service-admin/internal/server/data/ssm_connection.go
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/data/system_message_test.go
Due: use-an-lpa-admin

amended namespace paths
  service-api/app/src/App/src/Service/Log/Output/Email.php
  service-api/app/test/AppTest/Service/Log/Output/EmailTest.php
Due: use-an-lpa-api

refactor for linting
  service-api/app/test/AppTest/Service/Log/Output/EmailTest.php
Due: use-an-lpa-api

remove .idea
  service-api/.idea/.gitignore
  service-api/.idea/modules.xml
  service-api/.idea/service-api.iml
  service-api/.idea/vcs.xml
Due: use-an-lpa-api

import Email class to UserService
  service-api/app/src/App/src/Service/User/UserService.php
Due: use-an-lpa-api

UML-3204: Allow access to Redis from API (#2458)
  terraform/environment/region/api_ecs.tf
Due: none

UML-2140 add documentation only workflow
  .github/workflows/documentation-update.yml
  .github/workflows/pull-request-path.yml
Due: none
