Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Checking explicitly if CreatedBy data is available before assignment
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-front/app/src/Actor/templates/actor/partials/check-code-details.html.twig
Due: use-an-lpa-front, use-an-lpa-api

need showing active access codes even if lpa is deleted to co-actors
  service-front/app/src/Actor/templates/actor/check-access-codes.html.twig
Due: use-an-lpa-front

applying review comments and related cleanup
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
Due: use-an-lpa-api

should now always get back an actor id for newly added added lpas and generated codes, so no exclusions needed
  service-front/app/src/Actor/src/Handler/CheckAccessCodesHandler.php
Due: use-an-lpa-front

test fixes again
  service-api/app/features/context/Acceptance/LpaContext.php
Due: use-an-lpa-api

test fixes after refactoring
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
  service-front/app/src/Actor/templates/actor/partials/check-code-details.html.twig
Due: use-an-lpa-front, use-an-lpa-api

test fixes again
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

test improvement
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

applying review comments
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

checking why UAT env breaks
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
Due: use-an-lpa-api

review changes applied with test changes and some cleanup
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

Identations corrected
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-api

Fix test failures relating to null test input
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/BaselineValidData.php
Due: use-an-lpa-front

common templates moved to partial folder (#2212)
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-donor-details.html.twig
Due: use-an-lpa-front

UML-2642 (part 1) Can't request more than one key a day (#2211)
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Actor/src/Handler/Factory/CheckLpaHandlerFactory.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckDetailsAndConsentHandler.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckYourAnswersHandler.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CreateActivationKeyHandler.php
  service-front/app/src/Common/src/Service/Lpa/AccessForAllApiResult.php
  service-front/app/src/Common/src/Service/Lpa/AddAccessForAllLpa.php
  service-front/app/src/Common/src/Service/Lpa/AddLpa.php
  service-front/app/src/Common/src/Service/Lpa/AddLpaApiResult.php
  service-front/app/src/Common/src/Service/Lpa/CleanseLpa.php
  service-front/app/src/Common/src/Service/Lpa/OlderLpaApiResponse.php
  service-front/app/src/Common/src/Service/Lpa/Response/AccessForAllResult.php
  service-front/app/src/Common/src/Service/Lpa/Response/ActivationKeyExists.php
  service-front/app/src/Common/src/Service/Lpa/Response/LpaAlreadyAdded.php
  service-front/app/src/Common/src/Service/Lpa/Response/LpaMatch.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/BaselineValidData.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseActivationKeyExists.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaAlreadyAdded.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaAlreadyAddedResponse.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaMatch.php
  service-front/app/src/Common/src/Service/Lpa/Response/Response.php
  service-front/app/src/Common/src/Workflow/State.php
  service-front/app/test/CommonTest/Service/Lpa/AccessForAllApiResultTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddLpaApiResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddLpaTest.php
  service-front/app/test/CommonTest/Service/Lpa/CleanseLpaTest.php
  service-front/app/test/CommonTest/Service/Lpa/OlderLpaApiResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/ActivationKeyExistsResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/LpaAlreadyAddedResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/LpaMatchResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseAccessForAllLpaMatchResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseActivationKeyExistsResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseLpaAlreadyAddedResponseTest.php
Due: use-an-lpa-front

Introduced a null check and some further chamges to make sure any edge cases are not missed
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-front/app/src/Actor/templates/actor/partials/check-code-details.html.twig
Due: use-an-lpa-front, use-an-lpa-api

UML-2808 : Actor dashboard not showing up on login and shows error and is a bug (#2184)
  service-api/app/features/actor-remove-lpa.feature
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
  service-front/app/features/actor-remove-lpa.feature
  service-front/app/src/Actor/src/Handler/CheckAccessCodesHandler.php
  service-front/app/src/Actor/templates/actor/check-access-codes.html.twig
  service-front/app/src/Actor/templates/actor/partials/check-code-details.html.twig
  service-front/app/src/Common/src/Service/Lpa/ViewerCodeService.php
Due: use-an-lpa-front, use-an-lpa-api

Missed PHPCS fixes
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseAccessForAllLpaMatchResponseTest.php
Due: use-an-lpa-front

Rework functions around apparent broken complexity coding standard
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseActivationKeyExists.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaMatch.php
Due: use-an-lpa-front

Refactor to AccessForAll
  service-api/app/src/App/src/Handler/AccessForAllLpaConfirmationHandler.php
Due: use-an-lpa-api

This annotation is a right pain.
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseAccessForAllLpaMatchResponseTest.php
Due: use-an-lpa-front

Reduce complexity further.
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaMatch.php
Due: use-an-lpa-front

Attempt at complexity reducing
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseActivationKeyExists.php
Due: use-an-lpa-front

Refactor to AccessForAll
  service-api/app/config/routes.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/Handler/AccessForAllLpaValidationHandler.php
  service-api/app/src/App/src/Handler/OlderLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Lpa/AccessForAllLpaService.php
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/ValidateAccessForAllLpaRequirementsTest.php
Due: use-an-lpa-api

Increase complexity leniency
  service-api/app/phpcs.xml.dist
  service-front/app/phpcs.xml.dist
Due: use-an-lpa-front, use-an-lpa-api

Refactor and simplification of a number of classes.
  service-api/app/src/App/src/Handler/AccessForAllLpaValidationHandler.php
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
Due: use-an-lpa-api

Update project dependencies to pull in new phpcs sniffs
  service-api/app/composer.json
  service-api/app/composer.lock
  service-front/app/composer.json
  service-front/app/composer.lock
Due: use-an-lpa-front, use-an-lpa-api

Update CI linter config to use same dependency versions
  .github/workflows/php-linting.yml
Due: none

Increment complexity threshold to be value +1
  service-api/app/phpcs.xml.dist
  service-front/app/phpcs.xml.dist
Due: use-an-lpa-front, use-an-lpa-api

Fix final PHPCS grumble.
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
Due: use-an-lpa-api

Don't fail on warnings - just errors.
  .github/workflows/php-linting.yml
Due: none

Minor change to trigger rebuild.
  service-api/app/src/App/src/Service/Lpa/AccessForAllLpaService.php
Due: use-an-lpa-api

Test file was missing new @covers annotations
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Due: use-an-lpa-api

Added translations to the service down messages
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Adding the service down templates to required pages in actor and viewer
  service-front/app/src/Actor/templates/actor/home-page.html.twig
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Viewer/templates/viewer/enter-code.html.twig
Due: use-an-lpa-front

removed fuzzy lines
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

changed content and style for service down message
  service-front/app/src/Actor/templates/actor/partials/upcoming-service-downtime.html.twig
  service-front/app/src/Actor/templates/actor/partials/warning-upcoming-service-downtime.html.twig
  service-front/app/src/Viewer/templates/viewer/partials/upcoming-service-downtime.html.twig
Due: use-an-lpa-front

Content change
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Content change applied
  service-front/app/src/Actor/templates/actor/partials/upcoming-service-downtime.html.twig
  service-front/app/src/Actor/templates/actor/partials/warning-upcoming-service-downtime.html.twig
  service-front/app/src/Viewer/templates/viewer/partials/upcoming-service-downtime.html.twig
Due: use-an-lpa-front

UML-2828: Let users know system will be down between 31st March - 1st April (#2220)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/home-page.html.twig
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/partials/upcoming-service-downtime.html.twig
  service-front/app/src/Actor/templates/actor/partials/warning-upcoming-service-downtime.html.twig
  service-front/app/src/Viewer/templates/viewer/enter-code.html.twig
  service-front/app/src/Viewer/templates/viewer/partials/upcoming-service-downtime.html.twig
Due: use-an-lpa-front

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
