Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Initial stab at JS smoke test for use (#2935)
  service-front/web/src/index.js
  tests/features/actor-login.feature
  tests/smoke/context/AccountContext.php
Due: use-an-lpa-front

Update data call
  terraform/account/region/lambda_functions.tf
Due: none

Remove lambda
  terraform/account/region/lambda_functions.tf
Due: none

rm data call
  terraform/account/region/lambda_functions.tf
Due: none

Add in lambda
  terraform/account/region/lambda_functions.tf
Due: none

Update account name in data call
  terraform/account/region/lambda_functions.tf
Due: none

fix template and test
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-warning-message.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

Adding in var
  terraform/account/region/lambda_functions.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tfvars.json
  terraform/environment/terraform.tfvars.json
Due: none

Update var value
  terraform/account/region/lambda_functions.tf
Due: none

Update lambda
  terraform/account/region/lambda_functions.tf
  terraform/account/region/modules/event_bus/main.tf
  terraform/account/region/modules/event_bus/variables.tf
Due: none

rm var
  terraform/account/region/modules/event_bus/variables.tf
Due: none

move event bus
  terraform/environment/region/modules/event_bus/main.tf
  terraform/environment/region/modules/event_bus/terraform.tf
  terraform/environment/region/modules/event_bus/variables.tf
Due: none

change I and P around
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front

Revert "change I and P around"
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front

swap text around
  .idea/runConfigurations/Front_UI__Single_Scenario.xml
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
Due: use-an-lpa-front

change text around
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front

remaining translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

idea file
  .idea/runConfigurations/Front_UI__Single_Scenario.xml
Due: none

Update service-front/app/README.md
  service-front/app/README.md
Due: use-an-lpa-front

UML-3676 new content about IaP (#2961)
  service-front/app/README.md
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/instructions-preferences.html.twig
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-warning-message.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

Update var
  terraform/account/region.tf
Due: none

Add lambda to env
  terraform/environment/region.tf
  terraform/environment/region/lambda_functions.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
Due: none

mv lambda
  terraform/account/region/lambda_functions.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tfvars.json
  terraform/environment/region/lambda_functions.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
Due: none

Update region
  terraform/account/region.tf
Due: none

fix syntax
  terraform/account/region/lambda_functions.tf
  terraform/environment/region.tf
Due: none

Update region
  terraform/account/region.tf
  terraform/account/variables.tf
Due: none

Add ingestion lambda (#2979)
  terraform/account/region.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tfvars.json
  terraform/account/variables.tf
Due: none

Remove default value
  terraform/account/region/modules/lambda_function/variables.tf
Due: none

UML-3750 added exception for null DOB
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

Update policy doc
  terraform/account/region/modules/lambda_function/iam.tf
  terraform/account/region/modules/lambda_function/variables.tf
Due: none

Update policy doc
  terraform/account/region/modules/lambda_function/iam.tf
Due: none

Update lambda policy (#2983)
  terraform/account/region/modules/lambda_function/iam.tf
Due: none

remove feature flagged old logic
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
Due: use-an-lpa-front

take out old feature flag logic
  service-front/app/src/Viewer/src/Handler/DownloadLpaHandler.php
  service-front/app/src/Viewer/src/Handler/ViewLpaHandler.php
Due: use-an-lpa-front

take out old feature flag logic
  service-front/app/features/context/Integration/ViewerContext.php
Due: use-an-lpa-front

take out old feature flag logic
  service-front/app/features/context/UI/ViewerContext.php
Due: use-an-lpa-front
