Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

remove save_older_lpa_requests from accessforalllpaservicetest.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
Due: use-an-lpa-api

flag removed from terraform
  terraform/environment/terraform.tfvars.json
Due: none

removed flagg ref from locals.tf
  terraform/environment/locals.tf
Due: none

removed flag from docker-compose
  docker-compose.yml
Due: none

removed flag from feature.global
  service-api/app/config/autoload/features.global.php
Due: use-an-lpa-api

removed flag from api ecs terraform
  terraform/environment/api_ecs.tf
Due: none

flag ref removed from behavioural tests
  service-api/app/features/actor-add-an-older-lpa.feature
Due: use-an-lpa-api

removed flag ref from unit tests
  service-api/app/test/AppTest/Service/Lpa/ValidateAccessForAllLpaRequirementsTest.php
Due: use-an-lpa-api

removed flag from actor ecs terraform
  service-api/app/test/AppTest/Service/Lpa/ValidateAccessForAllLpaRequirementsTest.php
Due: use-an-lpa-api

flag removed from routes
  service-front/app/config/routes.php
Due: use-an-lpa-front

removed flag
  service-front/app/src/Actor/src/Handler/RequestActivationKey/RequestActivationKeyInfoHandler.php
Due: use-an-lpa-front

flag removed from behavioural tests
  service-front/app/features/actor-add-an-older-lpa.feature
Due: use-an-lpa-front

removed flag from behavioural test
  service-front/app/features/actor-additional-details-check-answers-and-consent.feature
Due: use-an-lpa-front

remove flag from feature file
  service-front/app/features/actor-choose-your-role.feature
Due: use-an-lpa-front

removed conditional block as always true
  service-front/app/src/Actor/templates/actor/check-your-answers.html.twig
Due: use-an-lpa-front

removed flag conditional
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-front/app/src/Actor/templates/actor/cannot-find-lpa.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpas-registered-after.html.twig
Due: use-an-lpa-front, use-an-lpa-api

removed flag
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckYourAnswersHandler.php
Due: use-an-lpa-front

amended test in LpaContext
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

removed feature flag ref
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

removed flag ref
  service-front/app/features/actor-current-address-details.feature
  service-front/app/features/bootstrap/behat.config.php
  terraform/environment/actor_ecs.tf
Due: use-an-lpa-front

removed feature flag ref
  service-front/app/features/actor-role-details-on-partial-match.feature
Due: use-an-lpa-front

remove flag in feature file
  service-front/app/features/actor-logout.feature
Due: use-an-lpa-front

removed flag ref from feature.global
  service-front/app/config/autoload/features.global.php
Due: use-an-lpa-front

removed flag ref from AccessForAllLpaConfirmationHandler
  service-api/app/src/App/src/Handler/AccessForAllLpaConfirmationHandler.php
Due: use-an-lpa-api

removed feature flag ref
  service-front/app/features/actor-triage.feature
Due: use-an-lpa-front

fixed flag removal
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-front/app/src/Actor/templates/actor/partials/lpas-registered-after.html.twig
Due: use-an-lpa-front, use-an-lpa-api

Upgrade translation library
  service-front/app/composer.json
  service-front/app/composer.lock
Due: use-an-lpa-front

Fix translation key issues
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

Translations fixed to this point.
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Fresh extraction using new extraction extension.
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Missing translation tag in template.
  service-front/app/src/Actor/templates/actor/actor-privacy-notice.html.twig
Due: use-an-lpa-front

Add missing translations that have been found.
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

Found some additional translations.
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Uml 2966 less breaky translations (#2294)
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/actor-privacy-notice.html.twig
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

fix paths
  mock-integrations/image-request-handler/mock-openapi-examples.yaml
  mock-integrations/image-request-handler/mock-openapi.yaml
  mock-integrations/image-request-handler/mock-responses.js
Due: none

remove use_legacy_codes_service flag
  service-api/app/config/autoload/features.global.php
  service-api/app/src/App/src/Service/ActorCodes/CodeValidationStrategyFactory.php
  service-api/app/test/AppTest/Service/ActorCodes/CodeValidationStrategyFactoryTest.php
  terraform/environment/api_ecs.tf
  terraform/environment/locals.tf
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-api

UML-2944 improve test data including with additional info (#2288)
  docker-compose.yml
  mock-integrations/README.md
  mock-integrations/image-request-handler/mock-openapi-examples.yaml
  mock-integrations/image-request-handler/mock-openapi.yaml
  mock-integrations/image-request-handler/mock-responses.js
  mock-integrations/image-request-handler/mocked-images/iap-700000136361-instructions.jpg
  mock-integrations/image-request-handler/mocked-images/iap-700000136361-preferences.jpg
  mock-integrations/image-request-handler/mocked-images/iap-700000137237-continuation_unknown_1.jpg
  mock-integrations/image-request-handler/mocked-images/iap-700000137237-instructions.jpg
  mock-integrations/image-request-handler/mocked-images/iap-700000137237-preferences.jpg
  mock-integrations/nginx.conf
  mock-integrations/opg-data-lpa/generate_examples/list.txt
  mock-integrations/opg-data-lpa/generate_examples/make_examples.sh
  mock-integrations/opg-data-lpa/mock-openapi-examples.yaml
  mock-integrations/opg-data-lpa/mock-openapi.yaml
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api

Add missing keys and extraction
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode.html.twig
Due: use-an-lpa-front

Updated PO with POT file
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

remove always-on severance warning for older lpas
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
