Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Instructions and Preferences Images
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImages.php
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImagesFactory.php
  service-api/app/src/App/src/DataAccess/Repository/InstructionsAndPreferencesImagesInterface.php
  service-api/app/src/App/src/DataAccess/Repository/Response/InstructionsAndPreferencesImages.php
  service-api/app/src/App/src/DataAccess/Repository/Response/InstructionsAndPreferencesImagesResult.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/InstructionsAndPreferencesImagesFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/InstructionsAndPreferencesImagesTest.php
Due: use-an-lpa-api

wip
  mock-integrations/instructions-preferences-image-request-handler.yml
Due: none

openapi spec for image-request-handler wip
  docker-compose.yml
  mock-integrations/nginx.conf
Due: none

Move mock handlers into per mock folders and amend compose files
  Makefile
  docker-compose.dependencies.yml
  mock-integrations/image-request-handler/mock-openapi.yaml
  mock-integrations/nginx.conf
  mock-integrations/opg-data-lpa/merge.sh
  mock-integrations/opg-data-lpa/mock-openapi-examples.yaml
  mock-integrations/opg-data-lpa/mock-openapi.yaml
  mock-integrations/opg-data-lpa/opg-data-lpa-openapi.yml
Due: none

Swap PRISM for Imposter.sh.
  Makefile
  docker-compose.dependencies.yml
  docker-compose.yml
  mock-integrations/image-request-handler/mock-config.yaml
  mock-integrations/image-request-handler/mock-openapi-examples.yaml
  mock-integrations/image-request-handler/mock-responses.js
  mock-integrations/image-request-handler/responses/lpa0344.json
  mock-integrations/image-request-handler/update.sh
  mock-integrations/nginx.conf
Due: none

Build out a new image mock provider
  Makefile
  mock-integrations/README.md
  mock-integrations/generate_examples/make_examples.sh
  mock-integrations/generate_examples/nginx-template.conf
  mock-integrations/image-request-handler/merge.sh
  mock-integrations/image-request-handler/mock-openapi-examples.yaml
  mock-integrations/image-request-handler/mock-openapi.yaml
  mock-integrations/image-request-handler/mocked-images/.gitkeep
  mock-integrations/nginx.conf
Due: none

Tidy up command syntax and allow access to the mocks swagger doc site
  docker-compose.dependencies.yml
  mock-integrations/image-request-handler/mock-responses.js
Due: none

Ensure everything is exposed for local use
  docker-compose.dependencies.yml
  mock-integrations/nginx.conf
Due: none

Cleanup around nginx proxy setup
  docker-compose.dependencies.yml
  mock-integrations/nginx.conf
  mock-integrations/opg-data-lpa/generate_examples/examples-template.yaml
  mock-integrations/opg-data-lpa/generate_examples/list.txt
  mock-integrations/opg-data-lpa/generate_examples/make_examples.sh
  mock-integrations/opg-data-lpa/generate_examples/nginx-template.conf
Due: none

Update examples from new spec file.
  mock-integrations/image-request-handler/mock-openapi-examples.yaml
  mock-integrations/image-request-handler/mock-responses.js
  mock-integrations/image-request-handler/opg-data-lpa-instructions-preferences-openapi.yml
Due: none

Override responses from upstream spec as not correct for our usage
  mock-integrations/image-request-handler/mock-openapi-examples.yaml
  mock-integrations/image-request-handler/mock-openapi.yaml
  mock-integrations/image-request-handler/update.sh
Due: none

Serve images from mock proxy server
  docker-compose.dependencies.yml
  mock-integrations/image-request-handler/mock-openapi-examples.yaml
  mock-integrations/image-request-handler/mock-openapi.yaml
  mock-integrations/image-request-handler/mock-responses.js
  mock-integrations/image-request-handler/mocked-images/iap-700000000047-instructions.jpg
  mock-integrations/image-request-handler/mocked-images/iap-700000000047-preferences.jpg
  mock-integrations/image-request-handler/mocked-images/iap-700000000138-instructions.jpg
  mock-integrations/image-request-handler/mocked-images/iap-700000000344-instructions.jpg
  mock-integrations/nginx.conf
Due: none

Force update to trigger build
  README.md
Due: none

phpcs fixes and new unit test
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImages.php
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImagesFactory.php
  service-api/app/src/App/src/DataAccess/Repository/InstructionsAndPreferencesImagesInterface.php
  service-api/app/src/App/src/Service/Lpa/GetInstructionsAndPreferencesImages.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/InstructionsAndPreferencesImagesFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/InstructionsAndPreferencesImagesTest.php
Due: use-an-lpa-api

phpcs fix
  service-api/app/src/App/src/Service/Lpa/GetInstructionsAndPreferencesImages.php
Due: use-an-lpa-api

fix test
  service-api/app/test/AppTest/DataAccess/ApiGateway/InstructionsAndPreferencesImagesTest.php
Due: use-an-lpa-api

Uml 2846 implement prism mock (#2248)
  Makefile
  README.md
  docker-compose.dependencies.yml
  mock-integrations/README.md
  mock-integrations/image-request-handler/mock-config.yaml
  mock-integrations/image-request-handler/mock-openapi-examples.yaml
  mock-integrations/image-request-handler/mock-openapi.yaml
  mock-integrations/image-request-handler/mock-responses.js
  mock-integrations/image-request-handler/mocked-images/.gitkeep
  mock-integrations/image-request-handler/mocked-images/iap-700000000047-instructions.jpg
  mock-integrations/image-request-handler/mocked-images/iap-700000000047-preferences.jpg
  mock-integrations/image-request-handler/mocked-images/iap-700000000138-instructions.jpg
  mock-integrations/image-request-handler/mocked-images/iap-700000000344-instructions.jpg
  mock-integrations/image-request-handler/opg-data-lpa-instructions-preferences-openapi.yml
  mock-integrations/image-request-handler/responses/lpa0344.json
  mock-integrations/image-request-handler/update.sh
  mock-integrations/nginx.conf
  mock-integrations/opg-data-lpa/generate_examples/examples-template.yaml
  mock-integrations/opg-data-lpa/generate_examples/list.txt
  mock-integrations/opg-data-lpa/generate_examples/make_examples.sh
  mock-integrations/opg-data-lpa/generate_examples/nginx-template.conf
  mock-integrations/opg-data-lpa/merge.sh
  mock-integrations/opg-data-lpa/mock-openapi-examples.yaml
  mock-integrations/opg-data-lpa/mock-openapi.yaml
  mock-integrations/opg-data-lpa/opg-data-lpa-openapi.yml
Due: none

new unit test
  service-api/app/test/AppTest/Service/Lpa/GetInstructionsAndPreferencesImagesTest.php
Due: use-an-lpa-api

behat testing
  docker-compose.yml
  service-api/app/config/autoload/envs.global.php
  service-api/app/features/actor-view-lpa.feature
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImagesFactory.php
Due: use-an-lpa-api

phpstorm updated this
  service-api/app/composer.json
Due: use-an-lpa-api

phpcs fix
  service-api/app/test/AppTest/Service/Lpa/GetInstructionsAndPreferencesImagesTest.php
Due: use-an-lpa-api

fix unit test
  service-api/app/test/AppTest/DataAccess/ApiGateway/InstructionsAndPreferencesImagesFactoryTest.php
Due: use-an-lpa-api

fix behat test
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/ConfigProvider.php
Due: use-an-lpa-api

fix behat test
  service-api/app/features/bootstrap/config.php
Due: use-an-lpa-api

terraform for iap_images
  terraform/environment/api_ecs.tf
  terraform/environment/locals.tf
  terraform/environment/terraform.tfvars.json
Due: none

Update .idea files
  .idea/inspectionProfiles/Project_Default.xml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  .idea/watcherTasks.xml
Due: none

Add configuration for cookie name to development mode
  service-front/app/config/autoload/development.local.php.dist
Due: use-an-lpa-front

Development fixes (#2252)
  .idea/inspectionProfiles/Project_Default.xml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  .idea/watcherTasks.xml
  service-front/app/config/autoload/development.local.php.dist
Due: use-an-lpa-front

Mock lpa lambda was on wrong port
  docker-compose.dependencies.yml
Due: none

expiry date in seeded data should be an integer
  service-api/seeding/seeding_lpa_codes.json
Due: use-an-lpa-api

Fix prism mock rewrite not directing appropriately
  mock-integrations/nginx.conf
Due: none

Fix mock environment (#2253)
  docker-compose.dependencies.yml
  mock-integrations/nginx.conf
  service-api/seeding/seeding_lpa_codes.json
Due: use-an-lpa-api

content changes
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
Due: use-an-lpa-front

added in translations for ac1
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

added message content for preference only
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
Due: use-an-lpa-front

added Welsh translation for preferences only content
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

added content change for instructions only
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
Due: use-an-lpa-front

added the Welsh translation for instructions only content change.
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

match dependabot prs that update pip
  .github/workflows/pull-request-path.yml
  lambda-functions/upload-statistics/app/upload-statistics.py
Due: none
