Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

correcting the web view of the summary page
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

template amended to correct div blocks and included a new styling
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

amemded test to check
  tests/smoke/context/ViewerContext.php
Due: none

wip to add left margins to pdf
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/web/src/pdf.scss
Due: use-an-lpa-front

cleanup
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
Due: use-an-lpa-front

tests/smoke/context/ViewerContext.php
  tests/smoke/context/ViewerContext.php
Due: none

reverted test
  tests/smoke/context/ViewerContext.php
Due: none

UML-2913 Allow API to access I&P API gateway
  terraform/environment/api_ecs.tf
Due: none

Make smoke tests run locally (mopst of them) . PHP downgraded to 8.1 in smoke test Dockerfile to match CI
  Makefile
  tests/smoke/Dockerfile
  tests/smoke/composer.lock
  tests/smoke/context/BaseContext.php
Due: none

add missing param to exception
  tests/smoke/context/BaseContext.php
Due: none

UML-2899 Update MOJ IP allow list
  terraform/environment/shared_data_sources.tf
Due: none

removed surplus .pot file
  service-front/app/languages/.pot
Due: use-an-lpa-front

UML-2821: Add left margins to pdf (#2263)
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/web/src/pdf.scss
Due: use-an-lpa-front

Add build.js in place of webpack config
  service-admin/Dockerfile
Due: use-an-lpa-admin

Format admin stats page
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

Ensure sass uses local reference path for build
  service-admin/package-lock.json
  service-admin/package.json
Due: use-an-lpa-admin

Remove babel deps
  service-admin/package-lock.json
  service-admin/package.json
Due: use-an-lpa-admin

Change naming of js and css assets
  service-admin/package.json
  service-admin/web/templates/default.layout.gohtml
Due: use-an-lpa-admin

Format stats table with classes
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

Replace webpack with esbuild in admin app
  service-admin/Dockerfile
  service-admin/build.js
  service-admin/docker-compose.yml
  service-admin/package-lock.json
  service-admin/package.json
  service-admin/web/assets/main.js
  service-admin/web/assets/main.scss
  service-admin/webpack.config.js
Due: use-an-lpa-admin

Revert govuk deps
  service-admin/package-lock.json
  service-admin/package.json
Due: use-an-lpa-admin

Update node deps
  service-admin/package-lock.json
  service-admin/package.json
Due: use-an-lpa-admin

Replace webpack with esbuild in admin app (#2267)
  service-admin/Dockerfile
  service-admin/build.js
  service-admin/docker-compose.yml
  service-admin/package-lock.json
  service-admin/package.json
  service-admin/web/assets/main.js
  service-admin/web/assets/main.scss
  service-admin/web/templates/default.layout.gohtml
  service-admin/web/templates/stats.page.gohtml
  service-admin/webpack.config.js
Due: use-an-lpa-admin

content amended to IP read more
  service-front/app/src/Actor/templates/actor/instructions-preferences.html.twig
Due: use-an-lpa-front

Welsh translations added to content
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/instructions-preferences.html.twig
Due: use-an-lpa-front

amendment to translation
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/instructions-preferences.html.twig
Due: use-an-lpa-front

Uml 2881 remove references to ip (#2264)
  service-front/app/features/actor-dashboard.feature
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/check-access-codes.html.twig
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode.html.twig
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
Due: use-an-lpa-front

UML-2893 Fix typo
  .github/workflows/pull-request-path.yml
Due: none

UML-2893 Use SHA and branch for workspace name
  .github/workflows/pull-request-path.yml
Due: none

added content to LPA summary
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
Due: use-an-lpa-front

Welsh translations added
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
Due: use-an-lpa-front

removed TODO
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
Due: use-an-lpa-front

Revert "UML-2893 TF workspace name to include PR number"
  .github/workflows/pull-request-path.yml
Due: none

UML-2841 switch to Google Analytics 4 (#2265)
  Makefile
  service-front/docker/web/etc/confd/templates/nginx.conf
  terraform/environment/terraform.tfvars.json
  tests/smoke/Dockerfile
  tests/smoke/composer.lock
  tests/smoke/context/BaseContext.php
Due: use-an-lpa-front

add warning content to lpa view side
  service-front/app/languages/.pot
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

Add Welsh translation for warning viewer side
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

make it possible to run a single smoke test from the command line
  Makefile
Due: none

added the new severence warning attribute to the mock and added severence logic check
  mock-integrations/opg-data-lpa/mock-openapi.yaml
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/src/Common/src/Service/Lpa/Factory/Sirius.php
Due: use-an-lpa-front

added unit test for severance attribute added
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
  service-front/app/test/CommonTest/Service/Lpa/SiriusLpaFactoryTest.php
  service-front/app/test/fixtures/full_example.json
Due: use-an-lpa-front

add extra comment to README
  README.md
Due: none
