Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

feature flag created and configured
  docker-compose.yml
  service-front/app/config/autoload/features.global.php
  service-front/app/config/routes.php
  service-front/app/features/bootstrap/behat.config.php
  terraform/environment/actor_ecs.tf
  terraform/environment/locals.tf
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front

removed flag dec from routes
  service-front/app/config/routes.php
Due: use-an-lpa-front

flag added to config.
  service-front/app/features/bootstrap/behat.config.php
Due: use-an-lpa-front

reformat features.global
  service-front/app/config/autoload/features.global.php
Due: use-an-lpa-front

reformat terraform
  terraform/environment/terraform.tfvars.json
Due: none

reformat actor_ecs
  terraform/environment/actor_ecs.tf
Due: none

format change in terraform
  terraform/environment/actor_ecs.tf
Due: none

Add extra logout tests (#2315)
  service-admin/internal/server/handlers/logout_test.go
Due: use-an-lpa-admin

added flag to terraform api
  terraform/environment/api_ecs.tf
  terraform/environment/viewer_ecs.tf
Due: none

UML-2813 Confirm LPA status is valid before redirecting actor who does not live in UK
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckYourAnswersHandler.php
  service-front/app/src/Common/src/Service/Lpa/AddAccessForAllLpa.php
  service-front/app/src/Common/src/Service/Lpa/Response/AccessForAllResult.php
Due: use-an-lpa-front, use-an-lpa-api

UML-2887 Confirm LPA status is valid before redirecting actor living outside UK
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckYourAnswersHandler.php
  service-front/app/src/Common/src/Service/Lpa/AddAccessForAllLpa.php
  service-front/app/src/Common/src/Service/Lpa/Response/AccessForAllResult.php
Due: use-an-lpa-front, use-an-lpa-api

UML-2887 fix broken unit test
  service-api/app/test/AppTest/Service/Lpa/ValidateAccessForAllLpaRequirementsTest.php
Due: use-an-lpa-api

UML-2927 Welsh Translations (#2306)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Add unit test coverage to AddAccessForAllLpaTest
  service-front/app/src/Common/src/Service/Lpa/Response/AccessForAllResult.php
  service-front/app/test/CommonTest/Service/Lpa/AddAccessForAllLpaTest.php
Due: use-an-lpa-front

Merge bad exception thrown tests in AddAccessForAllLpaTest and update AccessForAllApiResultTest
  service-front/app/test/CommonTest/Service/Lpa/AccessForAllApiResultTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddAccessForAllLpaTest.php
Due: use-an-lpa-front

Delete unused featureEnabled and LoggerInterface
  service-api/app/src/App/src/Service/Lpa/AccessForAllLpaService.php
  service-api/app/src/App/src/Service/Lpa/LpaAlreadyAdded.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Due: use-an-lpa-api

UML-3027 Create Parameter Store values for message
  terraform/environment/admin_ecs.tf
  terraform/environment/api_ecs.tf
  terraform/environment/parameter_store.tf
Due: none

Give Initial value
  terraform/environment/parameter_store.tf
Due: none

UML-3037 - Create Parameter Store values for System Message (#2322)
  terraform/environment/admin_ecs.tf
  terraform/environment/api_ecs.tf
  terraform/environment/parameter_store.tf
Due: none

Add behat test coverage
  service-front/app/features/actor-abroad-address.feature
  service-front/app/features/context/UI/RequestActivationKeyContext.php
Due: use-an-lpa-front

switch on feature flag locally, update twig files and enter correct details in behat step
  docker-compose.yml
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckYourAnswersHandler.php
  service-front/app/src/Actor/templates/actor/cannot-find-lpa.html.twig
  service-front/app/src/Actor/templates/actor/check-your-answers.html.twig
Due: use-an-lpa-front

Update old behat step to return expected bad request response
  service-front/app/features/context/UI/RequestActivationKeyContext.php
Due: use-an-lpa-front

UML-2974 Update documentation for DynamoDB export
  query/README.md
Due: none

amended docker compose
  docker-compose.yml
Due: none

UML-3010 Create feature flag allow_gov_one_login (#2319)
  docker-compose.yml
  service-front/app/config/autoload/features.global.php
  service-front/app/features/bootstrap/behat.config.php
  terraform/environment/actor_ecs.tf
  terraform/environment/api_ecs.tf
  terraform/environment/locals.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/viewer_ecs.tf
Due: use-an-lpa-front

UML-2887 Service sending activation keys to unregistered LPAs (#2321)
  docker-compose.yml
  service-api/app/src/App/src/Service/Lpa/AccessForAllLpaService.php
  service-api/app/src/App/src/Service/Lpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
  service-api/app/test/AppTest/Service/Lpa/ValidateAccessForAllLpaRequirementsTest.php
  service-front/app/features/actor-abroad-address.feature
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckYourAnswersHandler.php
  service-front/app/src/Actor/templates/actor/cannot-find-lpa.html.twig
  service-front/app/src/Actor/templates/actor/check-your-answers.html.twig
  service-front/app/src/Common/src/Service/Lpa/AddAccessForAllLpa.php
  service-front/app/src/Common/src/Service/Lpa/Response/AccessForAllResult.php
  service-front/app/test/CommonTest/Service/Lpa/AccessForAllApiResultTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddAccessForAllLpaTest.php
Due: use-an-lpa-front, use-an-lpa-api

amended the implementation of nav bar active tab
  service-admin/internal/server/handlers/search.go
  service-admin/internal/server/handlers/stats.go
  service-admin/web/templates/header.partial.gohtml
Due: use-an-lpa-admin

amended test
  service-admin/internal/server/handlers/search_test.go
Due: use-an-lpa-admin

UML-2979-navigation-admin-portal (#2312)
  service-admin/internal/server/handlers/search.go
  service-admin/internal/server/handlers/search_test.go
  service-admin/internal/server/handlers/stats.go
  service-admin/web/templates/header.partial.gohtml
Due: use-an-lpa-admin

welsh translation added
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

fix after dynamodb update
  service-admin/internal/server/data/dynamo.go
Due: use-an-lpa-admin

welsh translation added (#2323)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

reformated file dynamo.go
  service-admin/internal/server/data/dynamo.go
Due: use-an-lpa-admin

removed var syntax
  service-admin/internal/server/data/dynamo.go
Due: use-an-lpa-admin

refactor dynamo.go
  service-admin/internal/server/data/dynamo.go
Due: use-an-lpa-admin

Revert "refactor dynamo.go"
  service-admin/internal/server/data/dynamo.go
Due: use-an-lpa-admin

Renovate all minor patch updates (#2324)
  service-admin/internal/server/data/dynamo.go
Due: use-an-lpa-admin

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
