Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

update golangci version
  .github/workflows/golang-linting.yml
Due: none

update go versions
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  service-admin/Dockerfile
  service-admin/go.mod
  service-admin/go.sum
  service-admin/proxy/go.mod
Due: use-an-lpa-admin

UML-3928: Pin Docker images to digests (#3265)
  .github/workflows/golang-linting.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  localstack/Dockerfile
  renovate.json
  service-admin/Dockerfile
  service-admin/go.mod
  service-admin/go.sum
  service-admin/proxy/Dockerfile
  service-admin/proxy/go.mod
  service-api/docker/app/Dockerfile
  service-api/docker/web/Dockerfile
  service-front/docker/app/Dockerfile
  service-front/docker/web/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Revert "Renovate Update govuk-one-login-service-header digest to 8d977bc (#3263)"
  service-front/web/package-lock.json
  service-front/web/package.json
Due: use-an-lpa-front

Revert "Renovate Update govuk-one-login-service-header digest to 8d977bc (#3263)" (#3269)
  service-front/web/package-lock.json
  service-front/web/package.json
Due: use-an-lpa-front

updated isonline lpa check updated logic around viewing R&C removed unused test
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/opg-data-lpa/mock-openapi.yaml
  mock-integrations/opg-data-lpa/opg-data-lpa-openapi.yml
  service-front/app/src/Common/src/Enum/Channel.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/test/CommonTest/Enum/ChannelTest.php
Due: use-an-lpa-front

fixed indent
  mock-integrations/opg-data-lpa/opg-data-lpa-openapi.yml
Due: none

test ignore
  service-front/app/src/Viewer/src/Handler/AbstractPVSCodeHandler.php
Due: use-an-lpa-front

Docblock updates
  service-front/app/src/Common/src/Workflow/State.php
  service-front/app/src/Common/src/Workflow/WorkflowStep.php
Due: use-an-lpa-front

Introduce new abstract base we can work workflow pages from
  service-front/app/src/Viewer/src/Handler/AbstractPVSCodeHandler.php
  service-front/app/src/Viewer/src/Workflow/PaperVerificationShareCode.php
  service-front/app/test/ViewerTest/Workflow/PaperVerificationCodeTest.php
Due: use-an-lpa-front

Delete old handler/template for homepage
  service-front/app/src/Viewer/src/Handler/HomePageHandler.php
  service-front/app/src/Viewer/templates/viewer/home-page.html.twig
Due: use-an-lpa-front

Translation extract
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Translation updates
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Rework current start page to be a part of the workflow and add new template
  service-front/app/config/routes.php
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/src/Viewer/src/Handler/EnterPVSCodeHandler.php
  service-front/app/src/Viewer/templates/viewer/enter-code-pv.html.twig
Due: use-an-lpa-front

Delete missed redundant test file
  service-front/app/test/ViewerTest/Handler/Factory/CheckCodeHandlerFactoryTest.php
  service-front/app/test/ViewerTest/Handler/HomePageHandlerTest.php
Due: use-an-lpa-front

Translation conflict fixes.
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
Due: use-an-lpa-front

Turn on paper verification flag for development environments
  docker-compose.yml
  terraform/environment/terraform.tfvars.json
Due: none

PHP upgrade
  service-api/docker/app/Dockerfile
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api

Better, more explicit, docker compose dependency image selection
  docker-compose.dependencies.yml
Due: none

Don't fetch system messages unnecessarily.
  service-front/app/src/Viewer/src/Handler/EnterPVSCodeHandler.php
Due: use-an-lpa-front

Ignore handler for code coverage (Behat tests will cover)
  service-front/app/src/Viewer/src/Handler/AbstractPVSCodeHandler.php
Due: use-an-lpa-front

Remove single assertion from smoke tests (to be added back in when feature flags are working)
  tests/smoke/context/ViewerContext.php
Due: none

Trait template parameter clarification.
  service-front/app/src/Common/src/Workflow/State.php
  service-front/app/src/Viewer/src/Handler/AbstractPVSCodeHandler.php
Due: use-an-lpa-front

Form input hints should be divs not spans
  service-front/app/src/Common/templates/partials/govuk_form.html.twig
Due: use-an-lpa-front

removed the page wiring
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
Due: use-an-lpa-front

Uml 3548 Start of Paper verification journey (#3249)
  docker-compose.dependencies.yml
  docker-compose.yml
  service-api/docker/app/Dockerfile
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/src/Workflow/State.php
  service-front/app/src/Common/src/Workflow/WorkflowStep.php
  service-front/app/src/Viewer/src/Handler/AbstractPVSCodeHandler.php
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/src/Viewer/src/Handler/EnterPVSCodeHandler.php
  service-front/app/src/Viewer/src/Handler/HomePageHandler.php
  service-front/app/src/Viewer/src/Workflow/PaperVerificationShareCode.php
  service-front/app/src/Viewer/templates/viewer/enter-code-pv.html.twig
  service-front/app/src/Viewer/templates/viewer/home-page.html.twig
  service-front/app/test/ViewerTest/Handler/Factory/CheckCodeHandlerFactoryTest.php
  service-front/app/test/ViewerTest/Handler/HomePageHandlerTest.php
  service-front/app/test/ViewerTest/Workflow/PaperVerificationCodeTest.php
  service-front/docker/app/Dockerfile
  terraform/environment/terraform.tfvars.json
  tests/smoke/context/ViewerContext.php
Due: use-an-lpa-front, use-an-lpa-api

fix typo
  renovate.json
Due: none

fix typo (#3271)
  renovate.json
Due: none

added translations again after resolving merge conflicts
  docker-compose.yml
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

fixing lint errors
  service-front/app/src/Viewer/src/Form/VerificationCode.php
  service-front/app/src/Viewer/src/Handler/PaperVerificationCodeSentToHandler.php
  service-front/app/test/ViewerTest/Form/VerificationCodeSentToTest.php
Due: use-an-lpa-front

fixing lint errors
  service-front/app/src/Viewer/src/Form/VerificationCode.php
Due: use-an-lpa-front

R&C images
  mock-integrations/lpa-data-store/mock-responses.js
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/LpaStoreTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/src/Common/src/Enum/Channel.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/Service/Lpa/LpaServiceTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: use-an-lpa-front, use-an-lpa-api

page wiring is a wip
  service-front/app/src/Viewer/src/Handler/PaperVerificationCodeSentToHandler.php
Due: use-an-lpa-front

Form input hints should be divs not spans (#3270)
  service-front/app/src/Common/templates/partials/govuk_form.html.twig
Due: use-an-lpa-front

R&C images (#3272)
  mock-integrations/lpa-data-store/mock-responses.js
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/LpaStoreTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/src/Common/src/Enum/Channel.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/Service/Lpa/LpaServiceTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: use-an-lpa-front, use-an-lpa-api

paper verification lpa reference check
  docker-compose.yml
  service-front/app/config/routes.php
  service-front/app/src/Viewer/src/Form/LpaCheck.php
  service-front/app/src/Viewer/src/Handler/PaperVerificationLpaCheckHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification-lpa-check.html.twig
  service-front/app/test/ViewerTest/Form/LpaCheckTest.php
Due: use-an-lpa-front

Update C4 diagram. Remove the structurizer folders and out of data diagrams.
  docs/diagrams/dsl/README.md
  docs/diagrams/dsl/structurizr-Component-001.mmd
  docs/diagrams/dsl/structurizr-Component-001.png
  docs/diagrams/dsl/structurizr-Component-002.mmd
  docs/diagrams/dsl/structurizr-Component-002.png
  docs/diagrams/dsl/structurizr-Component-003.mmd
  docs/diagrams/dsl/structurizr-Component-003.png
  docs/diagrams/dsl/structurizr-Component-004.mmd
  docs/diagrams/dsl/structurizr-Component-004.png
  docs/diagrams/dsl/structurizr-Component-005.mmd
  docs/diagrams/dsl/structurizr-Component-005.png
  docs/diagrams/dsl/structurizr-Container-001.mmd
  docs/diagrams/dsl/structurizr-Container-001.png
  docs/diagrams/dsl/structurizr-Container-002.mmd
  docs/diagrams/dsl/structurizr-Container-002.png
  docs/diagrams/dsl/structurizr-SystemContext-001.mmd
  docs/diagrams/dsl/structurizr-SystemContext-001.png
  docs/diagrams/dsl/structurizr.properties
  docs/diagrams/dsl/ualpa.dsl
  docs/diagrams/dsl/workspace.dsl
  docs/diagrams/use-an-lpa-c4-l2.svg
Due: none

Update diagram based on feedback.
  docs/diagrams/use-an-lpa-c4-l2.svg
Due: none

new template added for pvc journey
  service-front/app/src/Viewer/templates/viewer/lpa-not-found-with-pvc.html.twig
Due: use-an-lpa-front

handler ammended
  service-front/app/src/Viewer/src/Handler/CheckCodeHandler.php
Due: use-an-lpa-front
