Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Delete LpaContext.php
  service-api/app/features/context/Acceptance/LpaContext.php
Due: use-an-lpa-api

Update line indentation to hopefully make it a little more readable.
  service-api/app/src/App/src/Service/User/UserService.php
Due: use-an-lpa-api

Improve test coverage of new repo functions
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
Due: use-an-lpa-api

Check if a given password needs to be rehashed and do so.
  service-api/app/src/App/src/Service/User/UserService.php
Due: use-an-lpa-api

Add new interface method that allows password rehashing
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
Due: use-an-lpa-api

Test updates
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/context/Integration/AccountContext.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: use-an-lpa-api

Remove password from response.
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: use-an-lpa-api

Missing coverage on UserService.
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: use-an-lpa-api

UML-2779: Adding new event codes for type of LPA (#2183)
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/src/App/src/Handler/OlderLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Common/src/Service/Log/EventCodes.php
  terraform/environment/cloudwatch_metrics.tf
Due: use-an-lpa-front, use-an-lpa-api

UML-2803: Fixing UI to show instructions and preferences together (#2188)
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-sharecode-with-instructions-and-preferences.feature
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

Uml 2467 improve password hashing (#2189)
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/context/Integration/AccountContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: use-an-lpa-api

put php back to 8.1
  service-api/docker/app/Dockerfile
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api

fix trivy vuln
  .circleci/config.yml
  lambda-functions/upload-statistics/Dockerfile
Due: none

print stats in CI as events outputs are longer and getting truncated in slack summary
  .circleci/config.yml
Due: none

code commented for a test and will be reveretd
  .circleci/config.yml
Due: none

config changes reveretd after testing
  .circleci/config.yml
Due: none

Print stats in CI to show all events (#2200)
  .circleci/config.yml
Due: none

address adition to unit test
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: use-an-lpa-front

correction
  mock-integrations/mock-openapi.yaml
Due: none

Add coutry to address data for use use and view
  mock-integrations/mock-openapi.yaml
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
Due: use-an-lpa-front

UML-2799: Add country to address data for use use and view (#2197)
  mock-integrations/mock-openapi.yaml
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: use-an-lpa-front

cleanup
  service-admin/internal/server/handlers/search_test.go
Due: use-an-lpa-admin

linting fix
  service-admin/internal/server/handlers/search_test.go
Due: use-an-lpa-admin

Changed field name from Upadted to ActivatedOn in UserLpaActorMap table
  service-admin/internal/server/data/lpa.go
  service-admin/internal/server/handlers/search.go
  service-admin/internal/server/handlers/search_test.go
  service-admin/web/templates/result_lpa.partial.gohtml
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapTest.php
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api, use-an-lpa-admin

cleanup
  service-admin/internal/server/handlers/search.go
Due: use-an-lpa-admin

Added a new Update field to UserActorLpaMap table and now showing LPAActivated date in Admin portal
  service-admin/internal/server/data/lpa.go
  service-admin/internal/server/handlers/search.go
  service-admin/internal/server/handlers/search_test.go
  service-admin/web/templates/result_lpa.partial.gohtml
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapTest.php
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api, use-an-lpa-admin

variabl name altered
  service-admin/internal/server/handlers/search.go
  service-admin/internal/server/handlers/search_test.go
  service-admin/web/templates/result_lpa.partial.gohtml
Due: use-an-lpa-admin

review changes applied
  service-admin/internal/server/handlers/search.go
Due: use-an-lpa-admin

UML-2777-2785: Show date LPA was added by code/ activated when possible in Admin portal (#2194)
  service-admin/internal/server/data/lpa.go
  service-admin/internal/server/handlers/search.go
  service-admin/internal/server/handlers/search_test.go
  service-admin/web/templates/result_lpa.partial.gohtml
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapTest.php
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api, use-an-lpa-admin

UML-2819 exclude php from minor bundle prs and bundle action prs
  renovate.json
Due: none

common templates moved to partial folder
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-donor-details.html.twig
Due: use-an-lpa-front

Refactor of access for all lpa addition code
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Actor/src/Handler/Factory/CheckLpaHandlerFactory.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckDetailsAndConsentHandler.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckYourAnswersHandler.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CreateActivationKeyHandler.php
  service-front/app/src/Common/src/Service/Lpa/AccessForAllApiResult.php
  service-front/app/src/Common/src/Service/Lpa/AddAccessForAllLpa.php
  service-front/app/src/Common/src/Service/Lpa/AddLpa.php
  service-front/app/src/Common/src/Service/Lpa/AddLpaApiResult.php
  service-front/app/src/Common/src/Service/Lpa/CleanseLpa.php
  service-front/app/src/Common/src/Service/Lpa/OlderLpaApiResponse.php
  service-front/app/src/Common/src/Service/Lpa/Response/AccessForAllResult.php
  service-front/app/src/Common/src/Service/Lpa/Response/ActivationKeyExists.php
  service-front/app/src/Common/src/Service/Lpa/Response/LpaAlreadyAdded.php
  service-front/app/src/Common/src/Service/Lpa/Response/LpaMatch.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseActivationKeyExists.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaAlreadyAdded.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaMatch.php
  service-front/app/src/Common/src/Service/Lpa/Response/Response.php
  service-front/app/src/Common/src/Workflow/State.php
  service-front/app/test/CommonTest/Service/Lpa/AccessForAllApiResultTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddLpaApiResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddLpaTest.php
  service-front/app/test/CommonTest/Service/Lpa/CleanseLpaTest.php
  service-front/app/test/CommonTest/Service/Lpa/OlderLpaApiResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/ActivationKeyExistsResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/LpaAlreadyAddedResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/LpaMatchResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseAccessForAllLpaMatchResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseActivationKeyExistsResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseLpaAlreadyAddedResponseTest.php
Due: use-an-lpa-front

Missed PHPCS fixes
  service-front/app/src/Common/src/Service/Lpa/AddAccessForAllLpa.php
  service-front/app/src/Common/src/Service/Lpa/Response/AccessForAllResult.php
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseAccessForAllLpaMatchResponseTest.php
Due: use-an-lpa-front

Reduce complexity further.
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaAlreadyAdded.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaMatch.php
Due: use-an-lpa-front

This annotation is a right pain.
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseAccessForAllLpaMatchResponseTest.php
Due: use-an-lpa-front

Attempt at complexity reducing
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseActivationKeyExists.php
Due: use-an-lpa-front

Rework functions around apparent broken complexity coding standard
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/BaselineValidData.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseActivationKeyExists.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaAlreadyAdded.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaMatch.php
Due: use-an-lpa-front

Incorrect exception type
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaAlreadyAdded.php
Due: use-an-lpa-front

test alteration to explicitly check when actor from access code
  service-api/app/features/actor-remove-lpa.feature
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
  service-front/app/features/actor-remove-lpa.feature
Due: use-an-lpa-front, use-an-lpa-api

refactoring
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-front/app/src/Common/src/Service/Lpa/ViewerCodeService.php
Due: use-an-lpa-front, use-an-lpa-api
