Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

uncommented test
  tests/features/actor-login.feature
Due: none

commenting test
  tests/features/actor-login.feature
  tests/smoke/context/AccountContext.php
Due: none

Change the lambda name
  terraform/environment/lambda.tf
Due: none

Figure out which principal is broken
  terraform/environment/lambda.tf
Due: none

Provide option to not deploy the backfill lambda
  .secrets.baseline
  terraform/environment/lambda.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

Add lambda to backfill IDENTITY# and EMAIL# records
  .github/workflows/_build-and-push.yml
  lambda-functions/backfill/.trivyignore.yaml
  lambda-functions/backfill/Dockerfile
  lambda-functions/backfill/go.mod
  lambda-functions/backfill/go.sum
  lambda-functions/backfill/main.go
  lambda-functions/backfill/main_test.go
  lambda-functions/backfill/testdata/data/46zi6ttlbe3wnh6flbqmrg43de.json.gz
  lambda-functions/backfill/testdata/data/ibtniuessq5cdly3kh2ljhqlau.json.gz
  lambda-functions/backfill/testdata/data/lzvqads3ae45xmtdimeasemw2m.json.gz
  lambda-functions/backfill/testdata/data/skigb5gqhm4alablyu7w2dpyaq.json.gz
  lambda-functions/backfill/testdata/manifest-files.json
  lambda-functions/backfill/testdata/manifest-summary.json
  terraform/environment/lambda.tf
  terraform/environment/shared_data_sources.tf
Due: none

Add a bucket policy
  terraform/environment/lambda.tf
Due: none

Get lambda image by digest
  terraform/environment/lambda.tf
  terraform/environment/shared_data_sources.tf
Due: none

Turn it off on all envs
  terraform/environment/lambda.tf
  terraform/environment/terraform.tfvars.json
Due: none

Update to "new" GOV•UK styles
  service-admin/web/templates/default.layout.gohtml
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/app/src/Common/templates/partials/footer.html.twig
  service-front/app/src/Common/templates/partials/header/one-login-logged-in.html.twig
  service-front/app/src/Common/templates/partials/header/one-login.html.twig
  service-front/web/package-lock.json
  service-front/web/package.json
  tests/smoke/context/AccountContext.php
Due: use-an-lpa-front, use-an-lpa-admin

Fix PHPCS issues in service-api
  service-api/app/config/pipeline.php
Due: use-an-lpa-api

service-pdf latest and psalm error fix
  docker-compose.dependencies.yml
  service-api/app/src/App/src/Entity/Lpa.php
Due: use-an-lpa-api

service-pdf latest and psalm error fix
  service-api/app/src/App/src/Entity/Lpa.php
Due: use-an-lpa-api

checking psalm errors
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
Due: use-an-lpa-api

checking psalm errors again
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
Due: use-an-lpa-api

checking psalm errors again
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
Due: use-an-lpa-api

upgraded servc-pdf version
  docker-compose.dependencies.yml
  tests/features/actor-login.feature
Due: none

UML-4190: prevent ebs snapshot from being accessible
  terraform/account/region/securityhub.tf
Due: none

trigger
  .github/workflows/trigger_build
Due: none

UML-4190: prevent ebs snapshot from being accessible (#3525)
  .github/workflows/trigger_build
  terraform/account/region/securityhub.tf
Due: none

changes to try test working
  tests/smoke/context/AccountContext.php
Due: none

wip
  tests/smoke/context/AccountContext.php
Due: none

using alert component for the one login page
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

using alert component for the one login page
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  tests/smoke/context/AccountContext.php
Due: use-an-lpa-front

Update phpcs to v4 on smoke tests (#3518)
  tests/smoke/Dockerfile
  tests/smoke/composer.json
  tests/smoke/composer.lock
  tests/smoke/phpcs.xml.dist
Due: none

duplicate seeding was the issue?
  tests/smoke/context/AccountContext.php
Due: none

wip
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api

redoing the same in original ticket to test pipeline
  docker-compose.dependencies.yml
  service-api/seeding/dynamodb.py
  service-front/app/features/actor-add-an-lpa.feature
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front, use-an-lpa-api

wip
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
Due: use-an-lpa-front

ignore newly introduced psalm errors as twig not recongnised by psalm
  service-api/app/psalm-baseline.xml
  service-front/app/psalm-baseline.xml
Due: use-an-lpa-front, use-an-lpa-api

ui test added
  service-api/seeding/dynamodb.py
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front, use-an-lpa-api

UML-3993 Update to "new" GOV•UK styles (#3520)
  service-admin/web/templates/default.layout.gohtml
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/app/src/Common/templates/partials/footer.html.twig
  service-front/app/src/Common/templates/partials/header/one-login-logged-in.html.twig
  service-front/app/src/Common/templates/partials/header/one-login.html.twig
  service-front/web/package-lock.json
  service-front/web/package.json
  tests/smoke/context/AccountContext.php
Due: use-an-lpa-front, use-an-lpa-admin

UML-3993 Update to "new" GOV•UK styles (#3520)
  service-admin/web/templates/default.layout.gohtml
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/app/src/Common/templates/partials/footer.html.twig
  service-front/app/src/Common/templates/partials/header/one-login-logged-in.html.twig
  service-front/app/src/Common/templates/partials/header/one-login.html.twig
  service-front/web/package-lock.json
  service-front/web/package.json
  tests/smoke/context/AccountContext.php
Due: use-an-lpa-front, use-an-lpa-admin

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
