Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

UML-3727: fix typo and bump pdf service (#3000)
  docker-compose.dependencies.yml
  docker-compose.yml
Due: none

UML-3762: ensure end of workflow runs
  .github/workflows/path-to-live.yml
Due: none

update name
  .github/workflows/path-to-live.yml
Due: none

UML-3723 running event receiver in localstack with the use of make up
  docker-compose.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/README.md
  lambda-functions/event-receiver/app/main.go
  lambda-functions/upload-statistics/README.md
Due: none

UML-3762: ensure end of workflow runs (#2998)
  .github/workflows/path-to-live.yml
Due: none

Uml 3723 golang lambda to run in localstack (#3003)
  docker-compose.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/README.md
  lambda-functions/event-receiver/app/main.go
  lambda-functions/upload-statistics/README.md
Due: none

UML-3762: ensure end of workflow runs (#3004)
  .github/workflows/path-to-live.yml
Due: none

removed debug code in file
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-donor-details-combined-lpa.html.twig
Due: use-an-lpa-front

UML-3767: move lambda to environment
  terraform/environment/lambda.tf
Due: none

remove old files
  terraform/account/region.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/variables.tf
  terraform/account/variables.tf
Due: none

add event receiver repo
  terraform/environment/lambda.tf
  terraform/environment/shared_data_sources.tf
Due: none

update readme
  lambda-functions/event-receiver/README.md
Due: none

change architecture to amd64
  lambda-functions/event-receiver/Dockerfile
Due: none

reduce memory
  terraform/environment/lambda.tf
Due: none

UML-3767: reduce lambda memory (#3005)
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/README.md
  terraform/account/region.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/variables.tf
  terraform/account/variables.tf
  terraform/environment/lambda.tf
  terraform/environment/shared_data_sources.tf
Due: none

Update typing information
  service-api/app/src/App/src/Service/Lpa/LpaManagerInterface.php
Due: use-an-lpa-api

Move to using the lpa service interface in preparation for v2 strategy.
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Due: use-an-lpa-api

Use own JWS builder as one in library is not usable how we need.
  service-api/app/src/App/src/DataAccess/ApiGateway/GenerateJWT.php
  service-api/app/src/App/src/Service/JWT/JWSBuilderFactory.php
Due: use-an-lpa-api

Secret needs to be longer.
  mock-integrations/secrets-manager/localstack_init.sh
Due: none

Incorrect container usage
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSignerFactory.php
Due: use-an-lpa-api

Move to a feature flagged factory for lpa manager creation
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
Due: use-an-lpa-api

Add authentication to v2 lpas endpoint
  service-api/app/config/pipeline.php
Due: use-an-lpa-api

Add datastorelpas to configprovider
  service-api/app/src/App/src/ConfigProvider.php
Due: use-an-lpa-api

Managed to add this back in during conflict resolving.
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
Due: use-an-lpa-api

Add work in progress combined lpa manager and point v2 handler at it.
  service-api/app/src/App/src/Handler/LpasCollectionV2Handler.php
  service-api/app/src/App/src/Service/Lpa/Combined/ResolveLpaTypes.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
Due: use-an-lpa-api

Seed LpaStore lpa
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api

Rename LpaManagerInterface method as it was a bit clumsy
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Handler/LpasCollectionHandler.php
  service-api/app/src/App/src/Service/Lpa/LpaManagerInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

Use correct secret field name
  service-api/app/src/App/src/Service/Secrets/LpaDataStoreSecretManager.php
Due: use-an-lpa-api

Ensure necessary parameter is added to request signer.
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
Due: use-an-lpa-api

Composer run script update
  service-api/app/composer.json
Due: use-an-lpa-api

Turns out our entire mock Sirius gateway setup was returning invalid LPA data, but we never saw it due to what we seed in the DB.
  mock-integrations/nginx.conf
  mock-integrations/opg-data-lpa/generate_examples/make_examples.sh
  mock-integrations/opg-data-lpa/generate_examples/nginx-template.conf
  mock-integrations/opg-data-lpa/mock-openapi-examples.yaml
Due: none

To make the api work with the Swagger editor cors headers need setting appropriately.
  service-api/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-api

Create openapi documentation for lpas endpoint.
  service-api/app/docs/examples/lpa-response-example.yaml
  service-api/app/openapi.yaml
Due: use-an-lpa-api

Use LpaDataFormatter for LpaStore lpas
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpasFactory.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
Due: use-an-lpa-api

Regen mock Sirius data.
  mock-integrations/opg-data-lpa/mock-openapi.yaml
Due: none

Work to further combine lpa types
  service-api/app/src/App/src/DataAccess/Repository/Response/Lpa.php
  service-api/app/src/App/src/DataAccess/Repository/Response/LpaInterface.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/LpaStoreHasActorTrait.php
Due: use-an-lpa-api

Tweaking how frontend templated deal with cast type and other enums
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-donor-details-combined-lpa.html.twig
Due: use-an-lpa-front

Package updates on frontend
  service-front/app/composer.lock
Due: use-an-lpa-front

Add spaties cloneable so we can manipulate our readonly objects (bring on PHP 8.4)
  service-api/app/composer.json
  service-api/app/composer.lock
Due: use-an-lpa-api
