Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

UML-4040: update trivy step (#3355)
  .github/workflows/_build-and-push.yml
  .github/workflows/_ecr-scanning.yml
  .github/workflows/pull-request-path.yml
  docs/runbooks/managing_trivy_image_scan_findings.md
  lambda-functions/event-receiver/.trivyignore.yaml
  lambda-functions/upload-statistics/.trivyignore.yaml
  scripts/pipeline/check_ecr_scan_results/README.md
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
  scripts/pipeline/check_ecr_scan_results/requirements.txt
  service-admin/.trivyignore.yaml
  service-api/docker/app/.trivyignore.yaml
  service-api/docker/seeding/.trivyignore.yaml
  service-api/docker/web/.trivyignore.yaml
  service-front/docker/app/.trivyignore.yaml
  service-front/docker/web/.trivyignore.yaml
  service-front/web/.trivyignore.yaml
Due: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Test coverage improvements
  service-front/app/src/Common/src/Middleware/Session/SessionAttributeAllowlistMiddleware.php
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
Due: use-an-lpa-front

fixed correct imports for tests
  service-api/app/src/App/src/Handler/PaperVerification/ViewHandler.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

Add healthcheck path to terraform since the root path '/' doesn't exist anymore.
  terraform/environment/region/use_load_balancer.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

fixed psalm err
  service-api/app/config/routes.php
  service-api/app/psalm-baseline.xml
Due: use-an-lpa-api

Revert "UML-3972:Added new query to the dynamo db export script to extract du…"
  query/dynamodb_export.py
Due: none

updated future answers func in abstract class and implemented an override func
  service-front/app/src/Viewer/src/Handler/AbstractPVSCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/NumberOfAttorneysHander.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PVDonorDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PaperVerificationCodeSentToHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/ProvideAttorneyDetailsForPVHandler.php
Due: use-an-lpa-front

fixed psalm err
  service-front/app/src/Viewer/src/Handler/PaperVerification/PaperVerificationCodeSentToHandler.php
Due: use-an-lpa-front

Revert "UML-3972:Added new query to the dynamo db export script to extract du…" (#3357)
  query/dynamodb_export.py
Due: none

Updated script to import ddl to import additional column and added content to readme
  query/README.md
  query/tables/actor_users.ddl
Due: none

Added a query to show count of duplicate accounts
  query/dynamodb_export.py
Due: none

Updated readme
  query/README.md
Due: none

UML-4038: Queries added in read me to get details of duplicate user accounts (#3358)
  query/README.md
  query/dynamodb_export.py
  query/tables/actor_users.ddl
Due: none

resolved a conflict on this manually
  service-front/app/config/routes.php
Due: use-an-lpa-front

Psalm error fix
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
Due: use-an-lpa-front

new page to enter organisation name, form is the same existing
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/enter-organisation-name.html.twig
Due: use-an-lpa-front

linting issues
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
Due: use-an-lpa-front

psalm breakage fix
  service-front/app/src/Viewer/src/Workflow/PaperVerificationShareCode.php
Due: use-an-lpa-front

Resolved conflicts and signed all commits
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
Due: use-an-lpa-front

Readme updated again with two more queries to give count of accounts with one login ids
  query/README.md
Due: none

Update base golang image with stdlib fixes
  lambda-functions/event-receiver/Dockerfile
  service-admin/Dockerfile
Due: use-an-lpa-admin

Rewrite stats lambda container
  docker-compose.yml
  lambda-functions/upload-statistics/Dockerfile
Due: none

Fix linting issues with package versions.
  lambda-functions/upload-statistics/Dockerfile
  service-admin/Dockerfile
Due: use-an-lpa-admin

Fixes for CVE-2025-47907 (#3361)
  docker-compose.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/upload-statistics/Dockerfile
  service-admin/Dockerfile
Due: use-an-lpa-admin

Delete handlers and configured routes
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/AuthHandler.php
  service-api/app/src/App/src/Handler/CanPasswordResetHandler.php
  service-api/app/src/App/src/Handler/CanResetEmailHandler.php
  service-api/app/src/App/src/Handler/ChangePasswordHandler.php
  service-api/app/src/App/src/Handler/CompleteChangeEmailHandler.php
  service-api/app/src/App/src/Handler/CompletePasswordResetHandler.php
  service-api/app/src/App/src/Handler/RequestChangeEmailHandler.php
  service-api/app/src/App/src/Handler/RequestPasswordResetHandler.php
  service-api/app/src/App/src/Handler/UserActivateHandler.php
  service-api/app/src/App/src/Handler/UserHandler.php
Due: use-an-lpa-api

Fix accidental parameter renames
  service-api/app/src/App/src/Middleware/Logging/RequestTracingMiddleware.php
  service-api/app/src/App/src/Middleware/UserIdentificationMiddleware.php
Due: use-an-lpa-api

Remove unnecessary constructor parameter
  service-api/app/src/App/src/Service/User/UserService.php
Due: use-an-lpa-api

Fix up behat test suites (mostly by deleting things)
  service-api/app/behat.yml
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/features/actor-account-creation.feature
  service-api/app/features/actor-change-email.feature
  service-api/app/features/actor-delete-account.feature
  service-api/app/features/actor-login.feature
  service-api/app/features/actor-password-reset.feature
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/AccountContext.php
  service-api/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-api

Tidy up adding new users as all the password and activation stuff is non-functional
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/src/App/src/Service/User/UserService.php
Due: use-an-lpa-api

Unit test fixes
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
  service-api/app/test/AppTest/Handler/AuthHandlerTest.php
  service-api/app/test/AppTest/Handler/UserActivateHandlerTest.php
  service-api/app/test/AppTest/Handler/UserHandlerTest.php
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: use-an-lpa-api

Delete unused UserService methods
  service-api/app/src/App/src/Service/User/UserService.php
Due: use-an-lpa-api
