Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

update Go version to v1.23.0 (#2756)
  codecov.yml
  service-admin/Dockerfile
Due: use-an-lpa-admin

UML-3460 added tests for casters
  service-api/app/src/App/src/Entity/DataStore/DataStoreDonor.php
  service-api/app/src/App/src/Entity/DataStore/DataStoreTrustCorporations.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

Run pull request path on all PRs - REVERT after final merge
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
  .github/workflows/pull-request-path.yml
Due: none

Move to a feature flagged factory for lpa manager creation
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
  service-api/app/src/App/src/Service/Lpa/LpaManagerFactory.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Handler/LpaHandlerTest.php
  service-api/app/test/AppTest/Handler/LpaSearchHandlerTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/DynamoCodeValidationStrategyTest.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
Due: use-an-lpa-api

Readme updates, mostly to force rebuild.
  README.md
Due: none

Add tests for manager factory
  service-api/app/test/AppTest/Service/Lpa/LpaManagerFactoryTest.php
Due: use-an-lpa-api

Add missing 'Id' field to psalm-type
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
Due: use-an-lpa-api

UML-3460 fixed can_cast_single_donor test
  service-api/app/src/App/src/Entity/DataStore/DataStoreDonor.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

UML-3460 updated test
  service-api/app/src/App/src/Entity/DataStore/DataStoreDonor.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

UML-3460 updated tests
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

UML-3460 renamed datastore to lpa store
  service-api/app/src/App/src/Entity/Casters/CastSingleDonor.php
  service-api/app/src/App/src/Entity/Casters/ExtractAddressLine1FromLpaStore.php
  service-api/app/src/App/src/Entity/Casters/ExtractCountryFromLpaStore.php
  service-api/app/src/App/src/Entity/Casters/ExtractTownFromLpaStore.php
  service-api/app/src/App/src/Entity/DataStore/DataStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStorePerson.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

Bump aws provider version
  terraform/account/modules/dynamodb_cloudtrail/terraform.tf
  terraform/account/modules/multi_region_kms/terraform.tf
  terraform/account/region/modules/dns_firewall/terraform.tf
  terraform/account/region/modules/lambda_function/terraform.tf
  terraform/account/region/modules/s3_bucket/terraform.tf
  terraform/account/region/terraform.tf
  terraform/account/terraform.tf
  terraform/environment/modules/iam/terraform.tf
  terraform/environment/modules/lambda/terraform.tf
  terraform/environment/region/modules/dns/terraform.tf
  terraform/environment/region/modules/ecs_autoscaling/terraform.tf
  terraform/environment/region/terraform.tf
  terraform/environment/terraform.tf
Due: none

Update version
  terraform/account/.terraform.lock.hcl
Due: none

lock file update
  terraform/account/.terraform.lock.hcl
  terraform/environment/.terraform.lock.hcl
Due: none

Bump aws provider version (#2759)
  terraform/account/.terraform.lock.hcl
  terraform/account/modules/dynamodb_cloudtrail/terraform.tf
  terraform/account/modules/multi_region_kms/terraform.tf
  terraform/account/region/modules/dns_firewall/terraform.tf
  terraform/account/region/modules/lambda_function/terraform.tf
  terraform/account/region/modules/s3_bucket/terraform.tf
  terraform/account/region/terraform.tf
  terraform/account/terraform.tf
  terraform/environment/.terraform.lock.hcl
  terraform/environment/modules/iam/terraform.tf
  terraform/environment/modules/lambda/terraform.tf
  terraform/environment/region/modules/dns/terraform.tf
  terraform/environment/region/modules/ecs_autoscaling/terraform.tf
  terraform/environment/region/terraform.tf
  terraform/environment/terraform.tf
Due: none

A complete rebuild of the lpa store mock so that we can more easily add new data as we dev against it.
  docker-compose.dependencies.yml
  mock-integrations/lpa-data-store/.gitignore
  mock-integrations/lpa-data-store/README.md
  mock-integrations/lpa-data-store/build.mjs
  mock-integrations/lpa-data-store/mock-config.yaml
  mock-integrations/lpa-data-store/mock-openapi-examples.yaml
  mock-integrations/lpa-data-store/mock-openapi.yaml
  mock-integrations/lpa-data-store/mock-openapi.yml
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/package-lock.json
  mock-integrations/lpa-data-store/package.json
  mock-integrations/lpa-data-store/src/index.mjs
  mock-integrations/lpa-data-store/src/lpas/4UX3.json
  mock-integrations/lpa-data-store/src/lpas/lpas.mjs
  mock-integrations/lpa-data-store/src/types/index.ts
  mock-integrations/lpa-data-store/update.sh
Due: none

Turn on template_sub so we can test this.
  terraform/environment/region/mock_onelogin_ecs.tf
Due: none

bumping tf ver
  terraform/account/modules/dynamodb_cloudtrail/terraform.tf
  terraform/account/modules/multi_region_kms/terraform.tf
  terraform/account/region/modules/dns_firewall/terraform.tf
  terraform/account/region/modules/lambda_function/terraform.tf
  terraform/account/region/modules/s3_bucket/terraform.tf
  terraform/account/region/terraform.tf
  terraform/account/terraform.tf
Due: none

Bump tf ver
  terraform/environment/.terraform-version
  terraform/environment/modules/iam/terraform.tf
  terraform/environment/modules/lambda/terraform.tf
  terraform/environment/region/modules/dns/terraform.tf
  terraform/environment/region/modules/ecs_autoscaling/terraform.tf
  terraform/environment/region/terraform.tf
  terraform/environment/terraform.tf
Due: none

Bump tf ver in account
  terraform/account/.terraform-version
Due: none

bumping tf ver (#2761)
  terraform/account/.terraform-version
  terraform/account/modules/dynamodb_cloudtrail/terraform.tf
  terraform/account/modules/multi_region_kms/terraform.tf
  terraform/account/region/modules/dns_firewall/terraform.tf
  terraform/account/region/modules/lambda_function/terraform.tf
  terraform/account/region/modules/s3_bucket/terraform.tf
  terraform/account/region/terraform.tf
  terraform/account/terraform.tf
  terraform/environment/.terraform-version
  terraform/environment/modules/iam/terraform.tf
  terraform/environment/modules/lambda/terraform.tf
  terraform/environment/region/modules/dns/terraform.tf
  terraform/environment/region/modules/ecs_autoscaling/terraform.tf
  terraform/environment/region/terraform.tf
  terraform/environment/terraform.tf
Due: none

UML-3459 wip
  service-api/app/src/App/src/Entity/Sirius/Casters/CastSingleDonor.php
  service-api/app/src/App/src/Entity/Sirius/Casters/CastToCaseSubtype.php
  service-api/app/src/App/src/Entity/Sirius/Casters/CastToLifeSustainingTreatment.php
  service-api/app/src/App/src/Entity/Sirius/Casters/CastToWhenTheLpaCanBeUsed.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractAddressLine1FromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractAddressLine2FromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractAddressLine3FromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractCountryFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractCountyFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractPostcodeFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractTownFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaPerson.php
  service-api/app/src/App/src/Entity/Sirius/SiriusSiriusLpaTrustCorporations.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
Due: use-an-lpa-api

UML-3460 using datetime immutable instead of interface
  service-api/app/src/App/src/Entity/Casters/DateToStringSerializer.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

UML-3460 using datetime interface in DateToStringSerializer.php
  service-api/app/src/App/src/Entity/Casters/DateToStringSerializer.php
Due: use-an-lpa-api

Allow migration of existing accounts to One Login accounts that change their email (#2743)
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-api/app/src/App/src/Service/User/RecoverAccount.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/test/AppTest/Service/User/RecoverAccountTest.php
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
  terraform/environment/region/cloudwatch_metrics.tf
  terraform/environment/region/mock_onelogin_ecs.tf
Due: use-an-lpa-api

UML-3460 removed unnecessary lpastore person created new files for dedicated tests
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStorePerson.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CastSingleDonorTest.php
  service-api/app/test/AppTest/Entity/CastToCaseSubtypeTest.php
  service-api/app/test/AppTest/Entity/CastToLifeSustainingTreatmentTest.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
  service-api/app/test/AppTest/Entity/DateToStringSerializerTest.php
  service-api/app/test/AppTest/Entity/ExtractAddressLine1FromLpaStoreTest.php
  service-api/app/test/AppTest/Entity/ExtractCountryFromLpaStoreTest.php
  service-api/app/test/AppTest/Entity/ExtractTownFromLpaStoreTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

UML-3460 CanSerialiseLpaStoreToModerniseFormatTest.php test
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
Due: use-an-lpa-api

A complete rebuild of the lpa store mock so that we can more easily add new data as we dev against it. (#2760)
  docker-compose.dependencies.yml
  mock-integrations/lpa-data-store/.gitignore
  mock-integrations/lpa-data-store/README.md
  mock-integrations/lpa-data-store/build.mjs
  mock-integrations/lpa-data-store/mock-config.yaml
  mock-integrations/lpa-data-store/mock-openapi-examples.yaml
  mock-integrations/lpa-data-store/mock-openapi.yaml
  mock-integrations/lpa-data-store/mock-openapi.yml
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/package-lock.json
  mock-integrations/lpa-data-store/package.json
  mock-integrations/lpa-data-store/src/index.mjs
  mock-integrations/lpa-data-store/src/lpas/4UX3.json
  mock-integrations/lpa-data-store/src/lpas/lpas.mjs
  mock-integrations/lpa-data-store/src/types/index.ts
  mock-integrations/lpa-data-store/update.sh
Due: none

UML-3460 fixed php lint errors
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CastSingleDonorTest.php
  service-api/app/test/AppTest/Entity/CastToCaseSubtypeTest.php
  service-api/app/test/AppTest/Entity/CastToLifeSustainingTreatmentTest.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
  service-api/app/test/AppTest/Entity/DateToStringSerializerTest.php
  service-api/app/test/AppTest/Entity/ExtractAddressLine1FromLpaStoreTest.php
  service-api/app/test/AppTest/Entity/ExtractCountryFromLpaStoreTest.php
  service-api/app/test/AppTest/Entity/ExtractTownFromLpaStoreTest.php
Due: use-an-lpa-api

Adding destroy script
  scripts/pipeline/workspace_cleanup/destroy_workspace.sh
Due: none

Update workflow name
  .github/workflows/workflow_destroy_on_merge.yml
Due: none

Take out if for testing
  .github/workflows/workflow_destroy_on_merge.yml
Due: none

Update destroy on merge workflow
  .github/workflows/workflow_destroy_on_merge.yml
Due: none

Add destroy on merge workflow (#2757)
  .github/workflows/workflow_destroy_on_merge.yml
  scripts/pipeline/workspace_cleanup/destroy_workspace.sh
Due: none

UML-3394 Move to a feature flagged factory for lpa manager creation (#2695)
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
  .github/workflows/pull-request-path.yml
  README.md
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
  service-api/app/src/App/src/Service/Lpa/LpaManagerFactory.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Handler/LpaHandlerTest.php
  service-api/app/test/AppTest/Handler/LpaSearchHandlerTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/DynamoCodeValidationStrategyTest.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaManagerFactoryTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
Due: use-an-lpa-api

Update method to get tf ver
  .github/workflows/workflow_destroy_on_merge.yml
Due: none

Revert changes to get terraform version
  .github/workflows/workflow_destroy_on_merge.yml
Due: none

Adding tf ver switcher
  scripts/switch-terraform-version.sh
  terraform/account/.envrc
  terraform/environment/.envrc
Due: none

Adding versions file
  terraform/account/terraform.tf
  terraform/account/versions.tf
  terraform/environment/terraform.tf
  terraform/environment/versions.tf
Due: none

Update method to get tf ver (#2763)
  scripts/switch-terraform-version.sh
  terraform/account/.envrc
  terraform/account/terraform.tf
  terraform/account/versions.tf
  terraform/environment/.envrc
  terraform/environment/terraform.tf
  terraform/environment/versions.tf
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
