Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

fix some of test
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

fix tests
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
Due: use-an-lpa-api

fix test
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
Due: use-an-lpa-api

fix tests
  service-api/app/test/AppTest/Service/Lpa/LpaManagerFactoryTest.php
Due: use-an-lpa-api

fix test
  service-api/app/test/AppTest/Service/Secrets/LpaDataStoreSecretManagerTest.php
Due: use-an-lpa-api

Fixup FindActorInLpaTest by making Sirius objects a little more robust
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
Due: use-an-lpa-api

Final set of unit test fixes (before we start codecoverage work)
  service-api/app/src/App/src/Service/Lpa/Combined/FilterActiveActors.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

fix up mocks
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

fix test broken by merge of main into branch
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

Start of work on CombinedLpaManagerTest
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

Tidy up entity handling around enum casting and life sustaining treatment
  service-api/app/src/App/src/Entity/Casters/CastToAttorneyActDecisions.php
  service-api/app/src/App/src/Entity/Casters/CastToCaseSubtype.php
  service-api/app/src/App/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/Casters/CastToSiriusLifeSustainingTreatment.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Enum/LifeSustainingTreatment.php
  service-api/app/src/App/src/Enum/LpaType.php
  service-api/app/test/AppTest/Entity/CanCastToSiriusLifeSustainingTreatmentTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
Due: use-an-lpa-api

combined manager test
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

UML-3750 fixed frontend unit tests
  service-front/app/src/Common/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-front/app/test/CommonTest/Entity/CanHydrateCombinedLpaTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateLpaStoreToCombinedFormatTest.php
  service-front/app/test/CommonTest/Entity/PersonTest.php
  service-front/app/test/CommonTest/Entity/Sirius/SiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Sirius/SiriusLpaTrustCorporationTest.php
  service-front/app/test/CommonTest/Enum/WhenCanTheLpaBeUsedTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
  service-front/app/test/fixtures/combined_lpa.json
  service-front/app/test/fixtures/test_lpa.json
Due: use-an-lpa-front

WIP tests
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

WIP broken, working on test
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

UML-3394 fix ui
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

UML-3394 updated frontend tests - fixed behat tests with feature flag enabled
  service-front/app/features/actor-view-lpa.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
  service-front/app/test/CommonTest/Entity/CanHydrateCombinedLpaTest.php
Due: use-an-lpa-front

UML-3394 updated frontend tests - fixed behat tests
  service-front/app/features/actor-one-login.feature
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

Add test for user token fetch of Sirius LPA
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
  service-api/app/test/fixtures/example_lpa.json
Due: use-an-lpa-api

Final coverage fixes for CombinedLpaManager
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

Improvements to CombinedLpaManagerTest coverage
  service-api/app/src/App/src/DataAccess/Repository/Response/Lpa.php
  service-api/app/src/App/src/DataAccess/Repository/Response/LpaInterface.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

Composer updates
  service-api/app/composer.lock
Due: use-an-lpa-api

UML-3394 updated front-end tests and improved codecov
  service-api/app/src/App/src/Service/Lpa/ResolveActor/LpaStoreHasActorTrait.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/LpaStoreHasActorTraitTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToCaseSubtypeTest.php
  service-front/app/test/CommonTest/Entity/PersonTest.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
  service-front/app/test/fixtures/combined_lpa.json
Due: use-an-lpa-front, use-an-lpa-api

UML-3394 updated api tests and improved codecov
  service-api/app/test/AppTest/Entity/CastToCaseSubtypeTest.php
  service-api/app/test/AppTest/Entity/CastToLifeSustainingTreatmentTest.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
  service-api/app/test/AppTest/Enum/HowAttorneysMakeDecisionsTest.php
  service-api/app/test/AppTest/Service/Lpa/Combined/FilterActiveActorsTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
Due: use-an-lpa-api

UML-3394 added ResolveLpaTypeTest.php
  service-api/app/test/AppTest/Service/Lpa/Combined/FilterActiveActorsTest.php
  service-api/app/test/AppTest/Service/Lpa/Combined/ResolveLpaTypeTest.php
Due: use-an-lpa-api

UML-3619 wip
  service-front/app/test/fixtures/full_example.json
  service-front/app/test/fixtures/full_example_signed_before_2016.json
  service-front/app/test/fixtures/simple_example.json
Due: use-an-lpa-front

UML-3619 Convert incoming LPAs to combined format (repository layer)
  service-front/app/test/fixtures/full_example.json
  service-front/app/test/fixtures/full_example_signed_before_2016.json
  service-front/app/test/fixtures/simple_example.json
Due: use-an-lpa-front

UML-3394 updated CastToWhenTheLpaCanBeUsedTest.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
Due: use-an-lpa-api

Move to a feature flagged factory for lpa manager creation
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
Due: use-an-lpa-api

Move to using the lpa service interface in preparation for v2 strategy.
  service-api/app/src/App/src/ConfigProvider.php
Due: use-an-lpa-api

Add authentication to v2 lpas endpoint
  service-api/app/config/pipeline.php
Due: use-an-lpa-api

Managed to add this back in during conflict resolving.
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
Due: use-an-lpa-api

Clean up class variable usage
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
Due: use-an-lpa-front

Not really possible to break the rest of this down.
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
Due: use-an-lpa-api

Don't need a pipeline setup for a route that doesn't exist.
  service-api/app/config/pipeline.php
Due: use-an-lpa-api

Fixes to Casters and entities
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
Due: use-an-lpa-front

Final set of unit test fixes (before we start codecoverage work)
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

Use mock logger in place of Monolog instance
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

fix test broken by merge in of main
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

UML-3394 updated frontend tests - fixed behat tests with feature flag enabled
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
  service-front/app/test/fixtures/combined_lpa.json
Due: use-an-lpa-front
