Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

add endpoints module
  terraform/account/region/modules/vpc_endpoints/data_sources.tf
  terraform/account/region/modules/vpc_endpoints/main.tf
  terraform/account/region/modules/vpc_endpoints/terraform.tf
  terraform/account/region/modules/vpc_endpoints/variables.tf
Due: none

remove unused variable
  terraform/account/region/firewalled_network.tf
  terraform/account/region/modules/vpc_endpoints/variables.tf
Due: none

remove unused variable
  terraform/account/region/firewalled_network.tf
Due: none

Let organisation know why LPA could not be found (#3298)
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/lpa-not-found.html.twig
Due: use-an-lpa-front

Refactor deprecated InputFilter inheritance
  service-front/app/src/Common/src/Filter/ActorViewerCodeFilter.php
  service-front/app/src/Common/src/Filter/ConvertQuotesToApostrophe.php
  service-front/app/src/Common/src/Filter/ShareCodeFilter.php
  service-front/app/src/Common/src/Filter/StripSpacesAndHyphens.php
Due: use-an-lpa-front

Add apostrophe normalisation to share code forms
  service-front/app/src/Viewer/src/Form/PVShareCode.php
  service-front/app/src/Viewer/src/Form/ShareCode.php
Due: use-an-lpa-front

Update tests to handle new filter code
  service-front/app/test/CommonTest/Filter/ActorViewerCodeFilterTest.php
  service-front/app/test/CommonTest/Filter/ConvertQuotesToApostropheTest.php
  service-front/app/test/CommonTest/Filter/ShareCodeFilterTest.php
  service-front/app/test/CommonTest/Filter/StripSpacesAndHyphensTest.php
Due: use-an-lpa-front

Uml 3999 Implement apostrophe normalisation in viewer (#3329)
  service-front/app/src/Common/src/Filter/ActorViewerCodeFilter.php
  service-front/app/src/Common/src/Filter/ConvertQuotesToApostrophe.php
  service-front/app/src/Common/src/Filter/ShareCodeFilter.php
  service-front/app/src/Common/src/Filter/StripSpacesAndHyphens.php
  service-front/app/src/Viewer/src/Form/PVShareCode.php
  service-front/app/src/Viewer/src/Form/ShareCode.php
  service-front/app/test/CommonTest/Filter/ActorViewerCodeFilterTest.php
  service-front/app/test/CommonTest/Filter/ConvertQuotesToApostropheTest.php
  service-front/app/test/CommonTest/Filter/ShareCodeFilterTest.php
  service-front/app/test/CommonTest/Filter/StripSpacesAndHyphensTest.php
Due: use-an-lpa-front

Get functional tests running in pipeline and locally.
  .idea/runConfigurations/API_Functional.xml
Due: none

Test for response object
  service-api/app/test/App/Service/PaperVerificationCodes/CodeUsableTest.php
Due: use-an-lpa-api

Configure local test running better.
  .idea/runConfigurations/API_Functional.xml
Due: none

Move post request functionality to trait for future shared usage
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodes.php
  service-api/app/src/App/src/DataAccess/ApiGateway/PostRequest.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SignatureType.php
  service-api/app/src/App/src/DataAccess/Repository/Response/APIResponseInterface.php
  service-api/app/src/App/src/DataAccess/Repository/Response/ActorCode.php
Due: use-an-lpa-api

Tests for paper verification codes service
  service-api/app/test/App/Service/PaperVerificationCodes/CodeUsableTest.php
Due: use-an-lpa-api

Turn on more test output.
  .github/workflows/_build-and-push.yml
Due: none

Revert out verbose behat runnning
  .github/workflows/_build-and-push.yml
Due: none

Coverage changes for api gateway service
  service-api/app/src/App/src/DataAccess/ApiGateway/PaperVerificationCodes.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/PSR17PropheciesTrait.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: use-an-lpa-api

Missed two changes out of the actor code refactor
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
Due: use-an-lpa-api

Test service factory
  service-api/app/test/AppTest/DataAccess/ApiGateway/PaperVerificationCodesFactoryTest.php
Due: use-an-lpa-api

Coverage of service improved
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

Request signers new exception handling needs coverage
  service-api/app/test/AppTest/DataAccess/ApiGateway/RequestSignerFactoryTest.php
Due: use-an-lpa-api

Run npm audit fix.
  service-front/web/package-lock.json
Due: use-an-lpa-front

Value object doesn't need its own test so include in another
  service-api/app/test/AppTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: use-an-lpa-api

Add delta to datetime assertion.
  service-api/app/test/AppTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: use-an-lpa-api

UML-3998 - provision vpc endpoints (#3328)
  terraform/account/region/firewalled_network.tf
  terraform/account/region/modules/vpc_endpoints/data_sources.tf
  terraform/account/region/modules/vpc_endpoints/main.tf
  terraform/account/region/modules/vpc_endpoints/terraform.tf
  terraform/account/region/modules/vpc_endpoints/variables.tf
Due: none

fix Invalid Attribute Combination validation error
  terraform/account/modules/dynamodb_cloudtrail/s3.tf
Due: none

use new network in development
  terraform/account/.envrc
  terraform/account/region/data_sources.tf
  terraform/account/region/elasticache.tf
  terraform/account/region/lookups.tf
  terraform/account/region/modules/dns_firewall/data_sources.tf
  terraform/account/region/modules/dns_firewall/main.tf
  terraform/account/region/vpc_endpoints.tf
Due: none

use new network in development account
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/network.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/use_load_balancer.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

switch subnets in ecs and loadbalancer files
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/network.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/use_load_balancer.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

fix spelling
  terraform/account/.envrc
Due: none

use account name for network switching
  terraform/environment/.envrc
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/use_load_balancer.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

reset enrc
  terraform/environment/.envrc
Due: none

point at dev
  terraform/account/.envrc
Due: none

make vpc endpoints for new network
  terraform/account/region/vpc_endpoints.tf
Due: none

old vpce still should use old network
  terraform/account/region/vpc_endpoints.tf
Due: none

leave old vpce for s3 in place
  terraform/account/region/vpc_endpoints.tf
Due: none

create a new subnet because modifying the existing one didn't work
  terraform/account/region/elasticache.tf
Due: none

modify script to use vpc id when getting security groups
  scripts/pipeline/ci_ingress/ci_ingress.py
Due: none

pass vpc id to ingress scripts
  scripts/pipeline/ci_ingress/ci_ingress.py
  terraform/environment/config_file.tf
  terraform/environment/region/outputs.tf
Due: none

use new vpc in ingress script
  scripts/pipeline/ci_ingress/ci_ingress.py
  scripts/pipeline/requirements.txt
  terraform/environment/config_file.tf
  terraform/environment/region/outputs.tf
Due: none
