Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Handle lowercasing names using mb_* functions
  service-api/app/src/App/src/Service/Equals.php
  service-api/app/test/AppTest/Service/EqualsTest.php
Due: use-an-lpa-api

Remove old docblock
  service-api/app/src/App/src/Service/Equals.php
Due: use-an-lpa-api

Tweaks to handle coverage changes
  service-api/app/src/App/src/Service/Equals.php
Due: use-an-lpa-api

Idea folder updates
  .idea/dataSources.local.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/phpunit.xml
Due: none

Making psalm happier
  service-api/app/src/App/src/Exception/EqualsNormalisationException.php
  service-api/app/src/App/src/Service/Equals.php
Due: use-an-lpa-api

Interpreter version updates (idea folder)
  .idea/php.xml
Due: none

container names aren't necessary, so get rid.
  .secrets.baseline
  docker-compose.dependencies.yml
  docker-compose.yml
Due: none

UML-4156: split out dynamodb replicas into own resources
  .secrets.baseline
  docs/runbooks/reextract-an-lpa-scan.md
  terraform/environment/dynamodb.tf
  terraform/environment/dynamodb_replicas.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

import to the replica tables
  terraform/environment/refactor.tf
Due: none

comment out imports
  terraform/environment/refactor.tf
Due: none

add import
  terraform/environment/refactor.tf
Due: none

Remove import blocks from Terraform
  terraform/environment/refactor.tf
Due: none

Update Python dependencies
  lambda-functions/duplicate-accounts/uv.lock
  lambda-functions/upload-statistics/uv.lock
  service-api/seeding/uv.lock
Due: use-an-lpa-api

Run `go mod tidy` on Go packages, and tell Renovate to
  lambda-functions/event-receiver/go.sum
  renovate.json
  scripts/add_historical_statistics/go.mod
  scripts/add_historical_statistics/go.sum
  scripts/seed_duplicate_accounts/go.mod
  scripts/seed_duplicate_accounts/go.sum
  scripts/seed_lpas_and_codes/go.mod
  scripts/seed_lpas_and_codes/go.sum
  service-admin/go.mod
  service-admin/go.sum
  service-admin/proxy/go.sum
Due: use-an-lpa-admin

Pull back psalm/plugin-phpunit, complete upgrade
  service-front/app/composer.json
  service-front/app/composer.lock
Due: use-an-lpa-front

Update js-yaml and brace-expansion
  service-front/web/package-lock.json
Due: use-an-lpa-front

Move to using application based middleware for CSP generation
  .secrets.baseline
  docker-compose.dependencies.yml
  docker-compose.yml
  service-front/app/config/autoload/envs.global.php
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Middleware/Security/CSPMiddleware.php
  service-front/app/src/Common/src/Middleware/Security/CSPMiddlewareFactory.php
  service-front/app/src/Common/src/Middleware/Security/CSPNonceMiddleware.php
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/docker/web/default.conf.template
  terraform/environment/region.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: use-an-lpa-front

Amend precommit hooks to ignore docker-compose.override.yml files.
  pre-commit-hooks/phpcbf.sh
  pre-commit-hooks/phpcs.sh
Due: none

Docblock fix that was missed.
  service-front/app/src/Common/src/Middleware/Security/CSPMiddlewareFactory.php
Due: use-an-lpa-front

Translated using Weblate (English)
  service-front/app/languages/en_GB/LC_MESSAGES/messages.mo
  service-front/app/languages/en_GB/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Translated using Weblate (Welsh)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

pin pdf service to working tag
  .pre-commit-config.yaml
  .secrets.baseline
  terraform/environment/region/data_sources.tf
Due: none

Change text detection to use element one.
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/src/Actor/templates/actor/cannot-find-lpa.html.twig
Due: use-an-lpa-front

try dot notation
  terraform/account/locals.tf
  terraform/account/region/firewalled_network.tf
  terraform/account/region/modules/dns_firewall/data_sources.tf
  terraform/account/region/modules/dns_firewall/variables.tf
  terraform/account/region/resource_group.tf
  terraform/account/region/variables.tf
Due: none

test firewalled network change
  terraform/account/region/firewalled_network.tf
Due: none

test availability zone input
  terraform/account/region.tf
  terraform/account/region/firewalled_network.tf
  terraform/account/region/variables.tf
Due: none

update firewalled network module version
  terraform/account/region/firewalled_network.tf
  terraform/account/region/variables.tf
Due: none

Additional test changes to remove reliance of english content.
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/templates/actor/check-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/check-lpa.html.twig
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
Due: use-an-lpa-front

add create_before_destroy to certificate validation resources
  terraform/account/region/certificate.tf
  terraform/account/region/modules/dns_firewall/variables.tf
Due: none

Remove redundant redacted logs bucket
  terraform/account/region/modules/s3_bucket/data_sources.tf
  terraform/account/region/s3_redacted_logs.tf
Due: none

test fix
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapTest.php
Due: use-an-lpa-api

switched the ci role to a new boundaried ci role and was missed here
  scripts/pipeline/workspace_cleanup/get_workspaces/main.go
  scripts/pipeline/workspace_cleanup/put_workspace/main.go
Due: none

Rebuild workspace cleanup binaries
  scripts/pipeline/workspace_cleanup/get_workspaces_linux
  scripts/pipeline/workspace_cleanup/get_workspaces_mac
  scripts/pipeline/workspace_cleanup/put_workspace_linux
  scripts/pipeline/workspace_cleanup/put_workspace_mac
Due: none

UML-4510: move mock-onelogin data source into region module
  terraform/environment/region.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/shared_data_sources.tf
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
