Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

enhance test, see if coverage recognises this
  service-admin/internal/server/templates_test.go
Due: use-an-lpa-admin

fix test
  service-admin/internal/server/templates.go
  service-admin/internal/server/templates_test.go
Due: use-an-lpa-admin

fixes
  service-admin/internal/server/export_test.go
  service-admin/internal/server/handlers/stats_test.go
  service-admin/internal/server/templates.go
Due: use-an-lpa-admin

move api-web onto 9010 so it doesn't clash with admin on 9005, update README to reflect this, fix go linting
  README.md
  docker-compose.yml
  service-admin/internal/server/templates_test.go
Due: use-an-lpa-admin

new content about IaP
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

Remove Serialisation code and revert field name change.
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
Due: use-an-lpa-front

UML-3706 fix stats in Admin portal (#2948)
  README.md
  docker-compose.yml
  service-admin/internal/server/export_test.go
  service-admin/internal/server/handlers/stats_test.go
  service-admin/internal/server/templates.go
  service-admin/internal/server/templates_test.go
  service-admin/web/templates/stats.page.gohtml
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api, use-an-lpa-admin

Fix unit tests and remove tests we don't need
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
Due: use-an-lpa-front

fix text, with welsh translations
  service-front/app/README.md
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

README update
  service-front/app/README.md
Due: use-an-lpa-front

Remove JsonSerializable definitions
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreAttorney.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreDonor.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaAttorney.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaDonor.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
Due: use-an-lpa-front

clarifications in README
  service-front/app/README.md
Due: use-an-lpa-front

UML-3688 swap instructions and preferences around so its preferences and instructions instead
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-warning-message.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

Further test cleanup
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateLpaStoreToCombinedFormatTest.php
  service-front/app/test/CommonTest/Entity/Sirius/CanHydrateSiriusToCombinedFormatTest.php
  service-front/app/test/fixtures/4UX3.json
Due: use-an-lpa-front

Use correct 'uid' field name
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Service/Lpa/Factory/LpaDataFormatter.php
Due: use-an-lpa-front

english text for UML-3678 and couple other re-orders
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

Create ingestion lambda dockerfile
  lambda-functions/ingestion-lambda/Dockerfile
Due: none

Create ingestion lambda dockerfile (#2966)
  lambda-functions/ingestion-lambda/Dockerfile
Due: none

UML-3722: create event bus
  terraform/environment/region.tf
  terraform/environment/region/modules/event_bus/main.tf
  terraform/environment/region/modules/event_bus/terraform.tf
  terraform/environment/region/modules/event_bus/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

add module
  terraform/environment/region/event_bus.tf
  terraform/environment/region/modules/event_bus/main.tf
  terraform/environment/region/modules/event_bus/variables.tf
  terraform/environment/region/variables.tf
Due: none

add provider block
  terraform/environment/region/event_bus.tf
Due: none

add missing resource instance key
  terraform/environment/region/modules/event_bus/main.tf
Due: none

add missing var
  terraform/environment/region.tf
Due: none

apply to env
  terraform/environment/terraform.tfvars.json
Due: none

Update docker file
  lambda-functions/ingestion-lambda/Dockerfile
Due: none

go mod init
  lambda-functions/ingestion-lambda/go.mod
Due: none

Add go lambda
  lambda-functions/ingestion-lambda/app/main.go
  lambda-functions/ingestion-lambda/go.mod
  lambda-functions/ingestion-lambda/go.sum
Due: none

Update Dockerfile
  lambda-functions/ingestion-lambda/Dockerfile
Due: none

update build and push actions
  .github/workflows/_build-and-push.yml
Due: none

Update build and push
  .github/workflows/_build-and-push.yml
Due: none

Update path in build and push
  .github/workflows/_build-and-push.yml
Due: none

Update go ver
  lambda-functions/ingestion-lambda/go.mod
Due: none

Update ingestion lambda
  .github/workflows/_build-and-push.yml
  lambda-functions/ingestion-lambda/Dockerfile
Due: none

Update dockerfile
  lambda-functions/ingestion-lambda/Dockerfile
Due: none

Update DockerFile
  lambda-functions/ingestion-lambda/Dockerfile
Due: none

Uml 3727 build image (#2968)
  .github/workflows/_build-and-push.yml
  lambda-functions/ingestion-lambda/Dockerfile
  lambda-functions/ingestion-lambda/app/main.go
  lambda-functions/ingestion-lambda/go.mod
  lambda-functions/ingestion-lambda/go.sum
Due: none

UML-3570 updated tests updated references to addressline1,2,3 added getters
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-front/app/src/Common/src/Service/Lpa/Factory/LpaDataFormatter.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateLpaStoreToCombinedFormatTest.php
  service-front/app/test/CommonTest/Entity/PersonTest.php
  service-front/app/test/CommonTest/Entity/Sirius/CanHydrateSiriusToCombinedFormatTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
  service-front/app/test/fixtures/4UX3.json
Due: use-an-lpa-front

add mrk for sqs
  terraform/account/kms.tf
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
