Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Tidy up route.php imports
  service-api/app/config/routes.php
Due: use-an-lpa-api

SiriusUid field not existent should be handled.
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
Due: use-an-lpa-api

Fix up some merge issues.
  service-api/app/composer.lock
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/features/context/Integration/AccountContext.php
Due: use-an-lpa-front, use-an-lpa-api

Fix FindActorInLpa tests
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

UML-3394 fixed broken test & PersonDataFormatterTest.php
  service-front/app/test/CommonTest/Entity/CanHydrateCombinedLpaTest.php
  service-front/app/test/CommonTest/Service/Lpa/Factory/PersonDataFormatterTest.php
Due: use-an-lpa-front

The waitforit application we use in seeding has changed ownership.
  service-api/docker/seeding/Dockerfile
Due: use-an-lpa-api

UML-3394 fixed lint
  service-api/app/test/AppTest/Service/Lpa/Combined/FilterActiveActorsTest.php
Due: use-an-lpa-api

Ensure we handle modernise records in the DB when the combined format flag is turned off.
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

Code tidy ups after rebase
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
  service-front/app/features/actor-view-lpa.feature
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/test/fixtures/combined_lpa.json
Due: use-an-lpa-front, use-an-lpa-api

Fix test namespaces to stop composer autoload errors
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
  service-front/app/test/CommonTest/Service/Log/RequestTracingLogProcessorFactoryTest.php
  service-front/app/test/CommonTest/Service/Log/RequestTracingLogProcessorTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceFactoryTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front, use-an-lpa-api

Reinstate the remove lpa fix from UML-3791
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
Due: use-an-lpa-front

Remove added feature flag from behat test configuration
  service-front/app/features/bootstrap/behat.config.php
Due: use-an-lpa-front

UML-3724 consume event and output log to confirm
  lambda-functions/event-receiver/app/config.go
  lambda-functions/event-receiver/app/factory.go
  lambda-functions/event-receiver/app/factory_test.go
  lambda-functions/event-receiver/app/handler.go
  lambda-functions/event-receiver/app/logger.go
  lambda-functions/event-receiver/app/logger_test.go
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/Factory.go
  lambda-functions/event-receiver/app/mocks/Handler.go
  lambda-functions/event-receiver/app/mocks/Logger.go
  lambda-functions/event-receiver/app/mocks/SQSEventHandler.go
  lambda-functions/event-receiver/app/mocks/factory.go
Due: none

Move to a feature flagged factory for lpa manager creation
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
Due: use-an-lpa-api

Add authentication to v2 lpas endpoint
  service-api/app/config/pipeline.php
Due: use-an-lpa-api

Use own JWS builder as one in library is not usable how we need.
  service-api/app/src/App/src/DataAccess/ApiGateway/GenerateJWT.php
  service-api/app/src/App/src/Service/JWT/JWSBuilderFactory.php
Due: use-an-lpa-api

Update typing information
  service-api/app/src/App/src/Service/Lpa/LpaManagerInterface.php
Due: use-an-lpa-api

Move to using the lpa service interface in preparation for v2 strategy.
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Due: use-an-lpa-api

Incorrect container usage
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSignerFactory.php
Due: use-an-lpa-api

Use correct secret field name
  service-api/app/src/App/src/Service/Secrets/LpaDataStoreSecretManager.php
Due: use-an-lpa-api

Use LpaDataFormatter for LpaStore lpas
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpasFactory.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
Due: use-an-lpa-api

Add datastorelpas to configprovider
  service-api/app/src/App/src/ConfigProvider.php
Due: use-an-lpa-api

Add work in progress combined lpa manager and point v2 handler at it.
  service-api/app/src/App/src/Handler/LpasCollectionV2Handler.php
  service-api/app/src/App/src/Service/Lpa/Combined/ResolveLpaTypes.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
Due: use-an-lpa-api

Rename LpaManagerInterface method as it was a bit clumsy
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Handler/LpasCollectionHandler.php
  service-api/app/src/App/src/Service/Lpa/LpaManagerInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

Managed to add this back in during conflict resolving.
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
Due: use-an-lpa-api

Seed LpaStore lpa
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api

Ensure necessary parameter is added to request signer.
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
Due: use-an-lpa-api

Work to further combine lpa types
  service-api/app/src/App/src/DataAccess/Repository/Response/Lpa.php
  service-api/app/src/App/src/DataAccess/Repository/Response/LpaInterface.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/LpaStoreHasActorTrait.php
Due: use-an-lpa-api

Create openapi documentation for lpas endpoint.
  service-api/app/docs/examples/lpa-response-example.yaml
  service-api/app/openapi.yaml
Due: use-an-lpa-api

Update example openapi lpa
  service-api/app/docs/examples/lpa-response-example.yaml
Due: use-an-lpa-api

Composer run script update
  service-api/app/composer.json
Due: use-an-lpa-api

To make the api work with the Swagger editor cors headers need setting appropriately.
  service-api/docker/web/default.conf.template
Due: use-an-lpa-api

Add WhenLpaCanBeUsed field to the openapi doc
  service-api/app/openapi.yaml
Due: use-an-lpa-api

Add spaties cloneable so we can manipulate our readonly objects (bring on PHP 8.4)
  service-api/app/composer.json
  service-api/app/composer.lock
Due: use-an-lpa-api

Tweaking how frontend templated deal with cast type and other enums
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-donor-details-combined-lpa.html.twig
Due: use-an-lpa-front

Move enum value deciphering to the casters rather than being in the enums themselves.
  service-front/app/src/Common/src/Entity/Casters/CastToCaseSubtype.php
  service-front/app/src/Common/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-front/app/src/Common/src/Enum/LifeSustainingTreatment.php
  service-front/app/src/Common/src/Enum/LpaType.php
Due: use-an-lpa-front

Stop using address arrays if we have a Person on template output
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
Due: use-an-lpa-front
