Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

lint
  service-front/app/src/Common/src/Middleware/Authentication/AuthenticationMiddlewareFactory.php
Due: use-an-lpa-front

Update service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
Due: use-an-lpa-front

added AuthenticationMiddlewareFactory to config
  service-front/app/src/Common/src/ConfigProvider.php
Due: use-an-lpa-front

Add one login contact details to new sign in page (#2703)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

content added
  service-front/app/src/Viewer/templates/viewer/enter-code.html.twig
Due: use-an-lpa-front

Welsh translations added
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Welsh translations conflicts
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

conflicts
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

added terms and conditions
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Add redirect url for your-details to go to settings
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

Add redirect url for your-details to go to settings (#2712)
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

Put forced password reset middleware behind One Login flag (#2708)
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Middleware/Authentication/AuthenticationMiddleware.php
  service-front/app/src/Common/src/Middleware/Authentication/AuthenticationMiddlewareFactory.php
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
Due: use-an-lpa-front

added info banner
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Uml 3301 content epa as cant use the service (#2711)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/templates/viewer/enter-code.html.twig
Due: use-an-lpa-front

Ensure mocks have correct (mocked) security in place
  mock-integrations/image-request-handler/mock-config.yaml
  mock-integrations/lpa-data-store/mock-config.yaml
Due: none

Fake healthcheck "endpoint" for api gateway mocks
  mock-integrations/image-request-handler/mocked-images/v1/healthcheck
Due: none

Ensure request signer adds static auth header *after* signing.
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSigner.php
Due: use-an-lpa-api

Move around the header addition ordering
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSigner.php
Due: use-an-lpa-api

Fix up healtcheck endpoint with new PSR compatible code
  service-api/app/src/App/src/Handler/Factory/HealthcheckHandlerFactory.php
  service-api/app/src/App/src/Handler/HealthcheckHandler.php
  service-api/app/test/AppTest/Handler/Factory/HealthcheckHandlerFactoryTest.php
  service-api/app/test/AppTest/Handler/HealthcheckHandlerTest.php
Due: use-an-lpa-api

Add healthy check to the smoke test for the service.
  tests/features/check-service-status.feature
  tests/smoke/context/CommonContext.php
Due: none

Tidy up environment more when bringing it down.
  Makefile
Due: none

remove unnecessary print
  scripts/bulk_email/send_via_notify.py
Due: none

UML-3498: reduce scaling
  terraform/environment/terraform.tfvars.json
Due: none

UML-2223 removed dont_send_lpas_registered_after_sep_2019_to_cleansing_team feature flag, and references
  docker-compose.yml
  service-api/app/config/autoload/features.global.php
  service-api/app/features/actor-add-an-older-lpa.feature
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-front/app/config/autoload/features.global.php
  service-front/app/features/actor-add-an-older-lpa.feature
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Actor/templates/actor/cannot-find-lpa.html.twig
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: use-an-lpa-front, use-an-lpa-api

UML-2223 adjusted formating for terraform files
  terraform/environment/region.tf
  terraform/environment/variables.tf
Due: none

UML-2223 Removed Feature Flag dont_send_lpas_registered_after_sep_2019_to_cleansing_team (#2706)
  docker-compose.yml
  service-api/app/config/autoload/features.global.php
  service-api/app/features/actor-add-an-older-lpa.feature
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-front/app/config/autoload/features.global.php
  service-front/app/features/actor-add-an-older-lpa.feature
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Actor/templates/actor/cannot-find-lpa.html.twig
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: use-an-lpa-front, use-an-lpa-api

content added and Welsh translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

fixed banner alignment
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

content added and url link fix
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
Due: use-an-lpa-front

comment print out line
  scripts/bulk_email/send_via_notify.py
Due: none

content fix
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

improve explanation
  docs/runbooks/cloud9/README.md
Due: none

fixed Welsh url links
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

update .pot /.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-3209 provide ability to email all users (#2707)
  docs/runbooks/cloud9/README.md
  scripts/bulk_email/README.md
  scripts/bulk_email/get_emails.py
  scripts/bulk_email/send_via_notify.py
Due: none

added pot file again
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Set SameSite to none for our Cookie as it stops OIDC flows from working correctly.
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Service/Session/EncryptedCookiePersistence.php
Due: use-an-lpa-front

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
