Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

revert tests
  docker-compose.yml
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
Due: use-an-lpa-api

addded restrictionsAndConditionsImages to api
  mock-integrations/lpa-data-store/mock-openapi.yml
  mock-integrations/opg-data-lpa/mock-openapi.yaml
  mock-integrations/opg-data-lpa/opg-data-lpa-openapi.yml
  service-api/app/composer.lock
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/LpaStoreTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
  service-front/app/composer.lock
  service-front/web/package-lock.json
  tests/smoke/composer.lock
Due: use-an-lpa-front, use-an-lpa-api

updated tests and added enum
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/src/Common/src/Enum/Channel.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Enum/ChannelTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: use-an-lpa-front

updated lint
  service-front/app/src/Common/src/Enum/Channel.php
  service-front/app/test/CommonTest/Enum/ChannelTest.php
Due: use-an-lpa-front

added presign url query and updated twig logic
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front

added presign url query to test
  service-front/app/test/CommonTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-front

UML-3902 Paper verification workflow state (#3248)
  service-front/app/src/Actor/src/Workflow/AddLpa.php
  service-front/app/src/Actor/src/Workflow/RequestActivationKey.php
  service-front/app/src/Common/src/Workflow/Traits/JsonSerializable.php
  service-front/app/src/Viewer/src/Workflow/PaperVerificationCode.php
  service-front/app/test/ViewerTest/Workflow/PaperVerificationCodeTest.php
Due: use-an-lpa-front

Docblock updates
  service-front/app/src/Common/src/Workflow/State.php
  service-front/app/src/Common/src/Workflow/WorkflowStep.php
Due: use-an-lpa-front

Delete old handler/template for homepage
  service-front/app/src/Viewer/src/Handler/HomePageHandler.php
  service-front/app/src/Viewer/templates/viewer/home-page.html.twig
Due: use-an-lpa-front

Translation updates
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Translation extract
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Turn on paper verification flag for development environments
  docker-compose.yml
  terraform/environment/terraform.tfvars.json
Due: none

Introduce new abstract base we can work workflow pages from
  service-front/app/src/Viewer/src/Handler/AbstractPVSCodeHandler.php
  service-front/app/src/Viewer/src/Workflow/PaperVerificationShareCode.php
  service-front/app/test/ViewerTest/Workflow/PaperVerificationCodeTest.php
Due: use-an-lpa-front

Delete missed redundant test file
  service-front/app/test/ViewerTest/Handler/Factory/CheckCodeHandlerFactoryTest.php
  service-front/app/test/ViewerTest/Handler/HomePageHandlerTest.php
Due: use-an-lpa-front

Rework current start page to be a part of the workflow and add new template
  service-front/app/config/routes.php
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/src/Viewer/src/Handler/EnterPVSCodeHandler.php
  service-front/app/src/Viewer/templates/viewer/enter-code-pv.html.twig
Due: use-an-lpa-front

Translation conflict fixes.
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
Due: use-an-lpa-front

WIP upload reports lambda which works locally (curerntly hard-coded to run against demo and produce a single report)
  docker-compose.yml
  lambda-functions/upload-monthly-reports/Dockerfile
  lambda-functions/upload-monthly-reports/README.md
  lambda-functions/upload-monthly-reports/app/upload_monthly_reports.py
  lambda-functions/upload-monthly-reports/requirements.txt
Due: none

UML-3926: pin lambda to updated sha
  lambda-functions/upload-statistics/Dockerfile
Due: none

update provided lambda and pin
  lambda-functions/event-receiver/Dockerfile
Due: none

updated presign images url param
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
Due: use-an-lpa-front

remove unneccesary packages
  lambda-functions/upload-statistics/Dockerfile
Due: none

consolidate run
  lambda-functions/upload-statistics/Dockerfile
Due: none

updated tests
  service-front/app/test/CommonTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-front

Dockerfile improvments from hadolint
  lambda-functions/upload-statistics/Dockerfile
Due: none

fix wonky args
  lambda-functions/upload-statistics/Dockerfile
Due: none

updated tests
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
Due: use-an-lpa-api

UML-3926: pin lambda to updated sha (#3260)
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/upload-statistics/Dockerfile
Due: none

UML-3927: update docker images
  service-api/docker/app/Dockerfile
  service-api/docker/web/Dockerfile
  service-front/docker/app/Dockerfile
  service-front/docker/web/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api

UML-3927: update docker images (#3261)
  service-api/docker/app/Dockerfile
  service-api/docker/web/Dockerfile
  service-front/docker/app/Dockerfile
  service-front/docker/web/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api

changes for paper verfication journey
  service-front/app/config/routes.php
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/src/Viewer/src/Workflow/PaperVerificationShareCode.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front

new form and handler added in for a new page in the PV journey
  docker-compose.yml
  service-front/app/src/Viewer/src/Form/VerificationCode.php
  service-front/app/src/Viewer/src/Handler/AbstractPVSCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerificationCodeSentToHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification-code-sent-to.html.twig
Due: use-an-lpa-front

unit test added
  service-front/app/src/Viewer/src/Form/VerificationCode.php
  service-front/app/src/Viewer/templates/viewer/paper-verification-code-sent-to.html.twig
  service-front/app/test/ViewerTest/Form/VerificationCodeSentToTest.php
Due: use-an-lpa-front

UML-3818: Fixes to allow removing an LPA from account (#3231)
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Service/Lpa/LpaRemoved/LpaRemovedDonorInformationInterface.php
  service-api/app/src/App/src/Service/Lpa/LpaRemoved/LpaRemovedInterface.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/src/Actor/src/Handler/RemoveLpaHandler.php
  service-front/app/src/Common/src/Service/Lpa/RemoveLpa.php
  service-front/app/test/CommonTest/Service/Lpa/RemoveLpaTest.php
Due: use-an-lpa-front, use-an-lpa-api

test fix
  service-front/app/test/ViewerTest/Workflow/PaperVerificationCodeTest.php
Due: use-an-lpa-front

added translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

test fix again
  service-front/app/test/ViewerTest/Workflow/PaperVerificationCodeTest.php
Due: use-an-lpa-front

pin docker images & patch updates
  lambda-functions/event-receiver/Dockerfile
  localstack/Dockerfile
  service-admin/Dockerfile
  service-admin/proxy/Dockerfile
  service-api/docker/app/Dockerfile
  service-api/docker/web/Dockerfile
  service-front/docker/app/Dockerfile
  service-front/docker/web/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

update renovate config
  renovate.json
Due: none

update golang patch version
  service-admin/proxy/Dockerfile
Due: use-an-lpa-admin

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
