Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

UML-2792: Content update to LPA deletion confirmation page (#2225)
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/confirm-remove-lpa.html.twig
Due: use-an-lpa-front

Add C4 Models as Code to Level 2
  .pre-commit-config.yaml
  docs/diagrams/dsl/ualpa.dsl
  docs/diagrams/dsl/workspace.dsl
  pre-commit-hooks/structurizr/pre-commit
Due: none

Add C4 Models as Code to Level 2
  docs/diagrams/dsl/structurizr-Container-001.mmd
  docs/diagrams/dsl/structurizr-Container-001.png
  docs/diagrams/dsl/structurizr-Container-002.mmd
  docs/diagrams/dsl/structurizr-Container-002.png
  docs/diagrams/dsl/structurizr-SystemContext-001.mmd
  docs/diagrams/dsl/structurizr-SystemContext-001.png
Due: none

Add C4 level 3
  docs/diagrams/dsl/structurizr-Component-001.mmd
  docs/diagrams/dsl/structurizr-Component-001.png
  docs/diagrams/dsl/structurizr-Component-002.mmd
  docs/diagrams/dsl/structurizr-Component-002.png
  docs/diagrams/dsl/structurizr-Component-003.mmd
  docs/diagrams/dsl/structurizr-Component-003.png
  docs/diagrams/dsl/structurizr-Component-004.mmd
  docs/diagrams/dsl/structurizr-Component-004.png
  docs/diagrams/dsl/structurizr-Container-001.mmd
  docs/diagrams/dsl/structurizr-Container-001.png
  docs/diagrams/dsl/ualpa.dsl
  docs/diagrams/dsl/workspace.dsl
Due: none

Add I&P architecture
  docs/diagrams/dsl/structurizr-Component-005.mmd
  docs/diagrams/dsl/structurizr-Component-005.png
  docs/diagrams/dsl/structurizr-Container-001.mmd
  docs/diagrams/dsl/structurizr-Container-001.png
  docs/diagrams/dsl/structurizr-SystemContext-001.mmd
  docs/diagrams/dsl/structurizr-SystemContext-001.png
  docs/diagrams/dsl/ualpa.dsl
  docs/diagrams/dsl/workspace.dsl
Due: none

UML-2840 Add C4 diagrams as code (#2227)
  .gitignore
  .pre-commit-config.yaml
  Makefile
  docs/diagrams/dsl/README.md
  docs/diagrams/dsl/structurizr-Component-001.mmd
  docs/diagrams/dsl/structurizr-Component-001.png
  docs/diagrams/dsl/structurizr-Component-002.mmd
  docs/diagrams/dsl/structurizr-Component-002.png
  docs/diagrams/dsl/structurizr-Component-003.mmd
  docs/diagrams/dsl/structurizr-Component-003.png
  docs/diagrams/dsl/structurizr-Component-004.mmd
  docs/diagrams/dsl/structurizr-Component-004.png
  docs/diagrams/dsl/structurizr-Component-005.mmd
  docs/diagrams/dsl/structurizr-Component-005.png
  docs/diagrams/dsl/structurizr-Container-001.mmd
  docs/diagrams/dsl/structurizr-Container-001.png
  docs/diagrams/dsl/structurizr-Container-002.mmd
  docs/diagrams/dsl/structurizr-Container-002.png
  docs/diagrams/dsl/structurizr-SystemContext-001.mmd
  docs/diagrams/dsl/structurizr-SystemContext-001.png
  docs/diagrams/dsl/structurizr.properties
  docs/diagrams/dsl/ualpa.dsl
  docs/diagrams/dsl/workspace.dsl
  pre-commit-hooks/structurizr/pre-commit
Due: none

Adding Api feature flag
  docker-compose.yml
  service-api/app/config/autoload/features.global.php
  service-front/app/features/bootstrap/behat.config.php
  terraform/environment/actor_ecs.tf
  terraform/environment/api_ecs.tf
  terraform/environment/locals.tf
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front, use-an-lpa-api

Adding Api feature flag (#2230)
  docker-compose.yml
  service-api/app/config/autoload/features.global.php
  service-front/app/features/bootstrap/behat.config.php
  terraform/environment/actor_ecs.tf
  terraform/environment/api_ecs.tf
  terraform/environment/locals.tf
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front, use-an-lpa-api

Attempt to get this building correctly
  service-front/web/package-lock.json
Due: use-an-lpa-front

Bring node build actions inline with each other.
  .github/workflows/_node-build.yml
  .github/workflows/_node-test.yml
Due: none

wip
  mock-integrations/instructions-preferences-image-request-handler.yml
Due: none

Explicitly setup Node v18
  .github/workflows/_node-build.yml
  .github/workflows/_node-test.yml
Due: none

Test annotation setup of environment.
  service-front/web/src/javascript/cookieHelper.test.js
  service-front/web/src/javascript/googleAnalytics.test.js
Due: use-an-lpa-front

Don't use the global object
  service-front/web/src/javascript/googleAnalytics.test.js
Due: use-an-lpa-front

Apply global change to cookiehelper
  service-front/web/src/javascript/cookieHelper.test.js
  service-front/web/src/javascript/googleAnalytics.test.js
Due: use-an-lpa-front

Apply global change to analyticsTracking
  service-front/web/src/javascript/analyticsTracking.test.js
  service-front/web/src/javascript/cookieHelper.test.js
Due: use-an-lpa-front

Change reporter for github-actions
  .github/workflows/_node-test.yml
Due: none

Switch to annotations for fix
  service-front/web/src/javascript/analyticsTracking.test.js
  service-front/web/src/javascript/cookieHelper.test.js
  service-front/web/src/javascript/googleAnalytics.test.js
Due: use-an-lpa-front

Switch to nvmrc for github-actions
  .github/workflows/_node-build.yml
  .github/workflows/_node-test.yml
Due: none

Fix path-to-live javascript build/test issues (#2233)
  .github/workflows/_node-build.yml
  .github/workflows/_node-test.yml
  service-front/web/package-lock.json
  service-front/web/src/javascript/analyticsTracking.test.js
  service-front/web/src/javascript/cookieHelper.test.js
  service-front/web/src/javascript/googleAnalytics.test.js
Due: use-an-lpa-front

Missed PHPCS fixes
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseAccessForAllLpaMatchResponseTest.php
Due: use-an-lpa-front

This annotation is a right pain.
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseAccessForAllLpaMatchResponseTest.php
Due: use-an-lpa-front

Increase complexity leniency
  service-api/app/phpcs.xml.dist
  service-front/app/phpcs.xml.dist
Due: use-an-lpa-front, use-an-lpa-api

Refactor and simplification of a number of classes.
  service-api/app/src/App/src/Handler/AccessForAllLpaValidationHandler.php
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
Due: use-an-lpa-api

Refactor to AccessForAll
  service-api/app/config/routes.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/Handler/AccessForAllLpaValidationHandler.php
  service-api/app/src/App/src/Handler/OlderLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Lpa/AccessForAllLpaService.php
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/ValidateAccessForAllLpaRequirementsTest.php
Due: use-an-lpa-api

Reduce complexity further.
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaMatch.php
Due: use-an-lpa-front

Attempt at complexity reducing
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseActivationKeyExists.php
Due: use-an-lpa-front

Rework functions around apparent broken complexity coding standard
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseActivationKeyExists.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseLpaMatch.php
Due: use-an-lpa-front

Refactor to AccessForAll
  service-api/app/src/App/src/Handler/AccessForAllLpaConfirmationHandler.php
Due: use-an-lpa-api

Update CI linter config to use same dependency versions
  .github/workflows/php-linting.yml
Due: none

Don't fail on warnings - just errors.
  .github/workflows/php-linting.yml
Due: none

Increment complexity threshold to be value +1
  service-api/app/phpcs.xml.dist
  service-front/app/phpcs.xml.dist
Due: use-an-lpa-front, use-an-lpa-api

Minor change to trigger rebuild.
  service-api/app/src/App/src/Service/Lpa/AccessForAllLpaService.php
Due: use-an-lpa-api

Fix final PHPCS grumble.
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
Due: use-an-lpa-api

Update project dependencies to pull in new phpcs sniffs
  service-api/app/composer.json
  service-api/app/composer.lock
  service-front/app/composer.json
  service-front/app/composer.lock
Due: use-an-lpa-front, use-an-lpa-api

Test file was missing new @covers annotations
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Due: use-an-lpa-api

Test changes to use types appropriately
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
Due: use-an-lpa-api

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
