Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

UML-3242: #patch change semver version (#2498)
  .github/workflows/path-to-live.yml
Due: none

UML-3242: #patch change back to 2.6.2
  .github/workflows/path-to-live.yml
Due: none

UML-3242: #patch change back to 2.6.2 (#2499)
  .github/workflows/path-to-live.yml
Due: none

UML-3208 script to preventing email addresses turning into links
  scripts/modify_emails.py
Due: none

UML-3208 script to preventing email addresses turning into links (#2501)
  scripts/modify_emails.py
Due: none

Remove hardcoded region from ci ingress
  terraform/environment/config_file.tf
Due: none

More changes
  terraform/environment/cognito_client.tf
  terraform/environment/config_file.tf
  terraform/environment/dynamodb.tf
  terraform/environment/locals.tf
  terraform/environment/region.tf
  terraform/environment/terraform.tfvars.json
Due: none

missed variable correction
  scripts/pipeline/ci_ingress/ci_ingress.py
  terraform/environment/region/variables.tf
Due: none

Might not work
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSigner.php
Due: use-an-lpa-api

Fix
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImages.php
Due: use-an-lpa-api

Add explicit provider
  terraform/environment/region/cloudwatch_alarms.tf
Due: none

Primary region to aws
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSignerFactory.php
Due: use-an-lpa-api

Fix lambda
  terraform/environment/lambda.tf
Due: none

Try signing
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImages.php
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSigner.php
Due: use-an-lpa-api

Disable eu-west-2 in dev
  terraform/environment/terraform.tfvars.json
Due: none

Add provider
  terraform/environment/terraform.tf
Due: none

Test changes needed - revert
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImages.php
Due: use-an-lpa-api

tffmt
  terraform/environment/region.tf
Due: none

Certificates
  terraform/environment/locals.tf
  terraform/environment/modules/lambda/variables.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/certificates.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/ship_to_metrics.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_load_balancer.tf
  terraform/environment/shared_data_sources.tf
Due: none

eu-west-1 is active
  terraform/environment/terraform.tfvars.json
Due: none

Fix
  terraform/environment/dynamodb.tf
  terraform/environment/locals.tf
  terraform/environment/terraform.tfvars.json
Due: none

UML-3108 Two region environment
  terraform/environment/region.tf
Due: none

eu-west-1, eu-west-2 logic
  terraform/environment/config_file.tf
  terraform/environment/outputs.tf
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/viewer_load_balancer.tf
  terraform/environment/terraform.tfvars.json
Due: none

add missing local
  terraform/environment/region/locals.tf
Due: none

Use MRKs in lookups
  terraform/environment/region/data_sources.tf
Due: none

Permissions fix
  terraform/environment/region/ecs_cluster.tf
Due: none

Add Apigateway region env var
  service-api/app/config/autoload/envs.global.php
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSignerFactory.php
  terraform/environment/region/api_ecs.tf
Due: use-an-lpa-api

fix incorrect petermeter
  scripts/pipeline/ci_ingress/ci_ingress.py
Due: none

Explicit providers
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/ship_to_metrics.tf
Due: none

enable region in dev
  terraform/environment/terraform.tfvars.json
Due: none

Fix typo
  terraform/environment/region.tf
Due: none

Update CI with region
  scripts/pipeline/ci_ingress/ci_ingress.py
Due: none

UML-3108 Two region environment (#2486)
  scripts/pipeline/ci_ingress/ci_ingress.py
  service-api/app/config/autoload/envs.global.php
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImages.php
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSignerFactory.php
  terraform/environment/cognito_client.tf
  terraform/environment/config_file.tf
  terraform/environment/lambda.tf
  terraform/environment/locals.tf
  terraform/environment/modules/lambda/variables.tf
  terraform/environment/outputs.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/certificates.tf
  terraform/environment/region/cloudwatch_alarms.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/ecs_cluster.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/ship_to_metrics.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_load_balancer.tf
  terraform/environment/shared_data_sources.tf
  terraform/environment/terraform.tf
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-api

UML-3145 service front no local account (#2487)
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
  service-front/app/src/Common/src/Service/Session/EncryptedCookiePersistence.php
Due: use-an-lpa-front

UML-3249 Upgrade packages in Lambda function
  lambda-functions/upload-statistics/Dockerfile
Due: none

Add is_active_region check
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

UML-3249 Upgrade packages in Lambda function (#2503)
  lambda-functions/upload-statistics/Dockerfile
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

UML-3242: #patch update semver action
  .github/workflows/path-to-live.yml
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
