Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

WIP fixing tests
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/features/context/UI/ViewerContext.php
Due: use-an-lpa-front

WIP fixing tests
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
Due: use-an-lpa-front

Update region
  terraform/account/region/lambda_functions.tf
Due: none

Stop logging donor object in it's entirety and just log the uId.
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
Due: use-an-lpa-api

Ensure logging handled in base ApiException
  service-api/app/test/AppTest/Exception/ApiExceptionTest.php
Due: use-an-lpa-api

Broken Cleansing exception test
  service-api/app/test/AppTest/Exception/LpaNeedsCleansingExceptionTest.php
Due: use-an-lpa-api

Silly PHPCS grumbling about something I literally can't change without breaking code.
  service-api/app/src/App/src/Exception/LpaActivationKeyAlreadyRequestedException.php
  service-api/app/src/App/src/Exception/LpaAlreadyAddedException.php
  service-api/app/src/App/src/Exception/LpaAlreadyHasActivationKeyException.php
  service-api/app/src/App/src/Exception/LpaDetailsDoNotMatchException.php
  service-api/app/src/App/src/Exception/LpaNeedsCleansingException.php
  service-api/app/src/App/src/Exception/LpaNotRegisteredException.php
Due: use-an-lpa-api

Fix up test coverage
  service-api/app/src/App/src/Exception/LpaActivationKeyAlreadyRequestedException.php
  service-api/app/src/App/src/Exception/LpaAlreadyAddedException.php
  service-api/app/src/App/src/Exception/LpaAlreadyHasActivationKeyException.php
  service-api/app/src/App/src/Exception/LpaDetailsDoNotMatchException.php
  service-api/app/src/App/src/Exception/LpaNeedsCleansingException.php
  service-api/app/src/App/src/Exception/LpaNotRegisteredException.php
  service-api/app/test/AppTest/Exception/LpaActivationKeyAlreadyRequestedExceptionTest.php
  service-api/app/test/AppTest/Exception/LpaAlreadyAddedExceptionTest.php
  service-api/app/test/AppTest/Exception/LpaAlreadyHasActivationKeyExceptionTest.php
  service-api/app/test/AppTest/Exception/LpaDetailsDoNotMatchExceptionTest.php
  service-api/app/test/AppTest/Exception/LpaNeedsCleansingExceptionTest.php
  service-api/app/test/AppTest/Exception/LpaNotRegisteredExceptionTest.php
Due: use-an-lpa-api

Refactor exceptions so that we can differentiate between loggable and non-loggable data.
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Exception/AbstractApiException.php
  service-api/app/src/App/src/Exception/ApiException.php
  service-api/app/src/App/src/Exception/BadRequestException.php
  service-api/app/src/App/src/Exception/ConflictException.php
  service-api/app/src/App/src/Exception/CreationException.php
  service-api/app/src/App/src/Exception/ForbiddenException.php
  service-api/app/src/App/src/Exception/GoneException.php
  service-api/app/src/App/src/Exception/LoggableAdditionalDataInterface.php
  service-api/app/src/App/src/Exception/LpaActivationKeyAlreadyRequestedException.php
  service-api/app/src/App/src/Exception/LpaAlreadyAddedException.php
  service-api/app/src/App/src/Exception/LpaAlreadyHasActivationKeyException.php
  service-api/app/src/App/src/Exception/LpaDetailsDoNotMatchException.php
  service-api/app/src/App/src/Exception/LpaNeedsCleansingException.php
  service-api/app/src/App/src/Exception/LpaNotRegisteredException.php
  service-api/app/src/App/src/Exception/NotFoundException.php
  service-api/app/src/App/src/Exception/UnauthorizedException.php
  service-api/app/src/App/src/Middleware/ProblemDetailsMiddleware.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpa.php
  service-api/app/src/App/src/Service/Lpa/CheckLpaCleansed.php
  service-api/app/src/App/src/Service/Lpa/RestrictSendingLpaForCleansing.php
  service-api/app/test/AppTest/Middleware/ProblemDetailsMiddlewareTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
Due: use-an-lpa-api

Handle default exception code differently to stop PHPCS from grumbling.
  service-api/app/src/App/src/Exception/AbstractApiException.php
  service-api/app/src/App/src/Exception/ApiException.php
  service-api/app/src/App/src/Exception/BadRequestException.php
  service-api/app/src/App/src/Exception/ConflictException.php
  service-api/app/src/App/src/Exception/CreationException.php
  service-api/app/src/App/src/Exception/ForbiddenException.php
  service-api/app/src/App/src/Exception/GoneException.php
  service-api/app/src/App/src/Exception/LpaActivationKeyAlreadyRequestedException.php
  service-api/app/src/App/src/Exception/LpaAlreadyAddedException.php
  service-api/app/src/App/src/Exception/LpaAlreadyHasActivationKeyException.php
  service-api/app/src/App/src/Exception/LpaDetailsDoNotMatchException.php
  service-api/app/src/App/src/Exception/LpaNeedsCleansingException.php
  service-api/app/src/App/src/Exception/LpaNotRegisteredException.php
  service-api/app/src/App/src/Exception/NotFoundException.php
  service-api/app/src/App/src/Exception/UnauthorizedException.php
  service-api/app/test/AppTest/Exception/ApiExceptionTest.php
Due: use-an-lpa-api

fmt
  terraform/account/region/lambda_functions.tf
Due: none

Stop logging donor object in it's entirety and just log the selected information. (#2969)
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Exception/AbstractApiException.php
  service-api/app/src/App/src/Exception/ApiException.php
  service-api/app/src/App/src/Exception/BadRequestException.php
  service-api/app/src/App/src/Exception/ConflictException.php
  service-api/app/src/App/src/Exception/CreationException.php
  service-api/app/src/App/src/Exception/ForbiddenException.php
  service-api/app/src/App/src/Exception/GoneException.php
  service-api/app/src/App/src/Exception/LoggableAdditionalDataInterface.php
  service-api/app/src/App/src/Exception/LpaActivationKeyAlreadyRequestedException.php
  service-api/app/src/App/src/Exception/LpaAlreadyAddedException.php
  service-api/app/src/App/src/Exception/LpaAlreadyHasActivationKeyException.php
  service-api/app/src/App/src/Exception/LpaDetailsDoNotMatchException.php
  service-api/app/src/App/src/Exception/LpaNeedsCleansingException.php
  service-api/app/src/App/src/Exception/LpaNotRegisteredException.php
  service-api/app/src/App/src/Exception/NotFoundException.php
  service-api/app/src/App/src/Exception/UnauthorizedException.php
  service-api/app/src/App/src/Middleware/ProblemDetailsMiddleware.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpa.php
  service-api/app/src/App/src/Service/Lpa/CheckLpaCleansed.php
  service-api/app/src/App/src/Service/Lpa/RestrictSendingLpaForCleansing.php
  service-api/app/test/AppTest/Exception/ApiExceptionTest.php
  service-api/app/test/AppTest/Exception/LpaActivationKeyAlreadyRequestedExceptionTest.php
  service-api/app/test/AppTest/Exception/LpaAlreadyAddedExceptionTest.php
  service-api/app/test/AppTest/Exception/LpaAlreadyHasActivationKeyExceptionTest.php
  service-api/app/test/AppTest/Exception/LpaDetailsDoNotMatchExceptionTest.php
  service-api/app/test/AppTest/Exception/LpaNeedsCleansingExceptionTest.php
  service-api/app/test/AppTest/Exception/LpaNotRegisteredExceptionTest.php
  service-api/app/test/AppTest/Middleware/ProblemDetailsMiddlewareTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
Due: use-an-lpa-api

Move to a feature flagged factory for lpa manager creation
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
Due: use-an-lpa-api

Update typing information
  service-api/app/src/App/src/Service/Lpa/LpaManagerInterface.php
Due: use-an-lpa-api

Secret needs to be longer.
  mock-integrations/secrets-manager/localstack_init.sh
Due: none

Move to using the lpa service interface in preparation for v2 strategy.
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Due: use-an-lpa-api

Use correct secret field name
  service-api/app/src/App/src/Service/Secrets/LpaDataStoreSecretManager.php
Due: use-an-lpa-api

Add datastorelpas to configprovider
  service-api/app/src/App/src/ConfigProvider.php
Due: use-an-lpa-api

Ensure necessary parameter is added to request signer.
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
Due: use-an-lpa-api

Add work in progress combined lpa manager and point v2 handler at it.
  service-api/app/src/App/src/Handler/LpasCollectionV2Handler.php
  service-api/app/src/App/src/Service/Lpa/Combined/ResolveLpaTypes.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
Due: use-an-lpa-api

Add authentication to v2 lpas endpoint
  service-api/app/config/pipeline.php
Due: use-an-lpa-api

Incorrect container usage
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSignerFactory.php
Due: use-an-lpa-api

Use own JWS builder as one in library is not usable how we need.
  service-api/app/src/App/src/DataAccess/ApiGateway/GenerateJWT.php
  service-api/app/src/App/src/Service/JWT/JWSBuilderFactory.php
Due: use-an-lpa-api

Seed LpaStore lpa
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api

Managed to add this back in during conflict resolving.
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
Due: use-an-lpa-api

Use LpaDataFormatter for LpaStore lpas
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpasFactory.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
Due: use-an-lpa-api

Rename LpaManagerInterface method as it was a bit clumsy
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Handler/LpasCollectionHandler.php
  service-api/app/src/App/src/Service/Lpa/LpaManagerInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

Work to further combine lpa types
  service-api/app/src/App/src/DataAccess/Repository/Response/Lpa.php
  service-api/app/src/App/src/DataAccess/Repository/Response/LpaInterface.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/LpaStoreHasActorTrait.php
Due: use-an-lpa-api

Turns out our entire mock Sirius gateway setup was returning invalid LPA data, but we never saw it due to what we seed in the DB.
  mock-integrations/nginx.conf
  mock-integrations/opg-data-lpa/generate_examples/make_examples.sh
  mock-integrations/opg-data-lpa/generate_examples/nginx-template.conf
  mock-integrations/opg-data-lpa/mock-openapi-examples.yaml
Due: none

To make the api work with the Swagger editor cors headers need setting appropriately.
  service-api/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-api

Regen mock Sirius data.
  mock-integrations/opg-data-lpa/mock-openapi.yaml
Due: none

Create openapi documentation for lpas endpoint.
  service-api/app/docs/examples/lpa-response-example.yaml
  service-api/app/openapi.yaml
Due: use-an-lpa-api

Moving event bus code
  terraform/account/region/event_bus.tf
  terraform/account/region/modules/event_bus/main.tf
  terraform/account/region/modules/event_bus/terraform.tf
  terraform/account/region/modules/event_bus/variables.tf
  terraform/account/region/variables.tf
  terraform/environment/region/variables.tf
Due: none

Update region settings
  terraform/environment/region.tf
Due: none

test fixes
  service-front/app/features/actor-view-lpa.feature
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/test/fixtures/combined_lpa.json
Due: use-an-lpa-front

Update AccountContext.php
  tests/smoke/context/AccountContext.php
Due: none

Change wording of gerkin scenario
  tests/features/actor-login.feature
  tests/smoke/context/AccountContext.php
Due: none

Initial stab at JS smoke test for use
  service-front/web/src/index.js
  tests/features/actor-login.feature
  tests/smoke/context/AccountContext.php
Due: use-an-lpa-front

MIssing char.
  tests/smoke/context/AccountContext.php
Due: none

set at window level
  service-front/web/src/index.js
Due: use-an-lpa-front

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
