Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Delete local-ssl/certs/localhost.csr
  local-ssl/certs/localhost.csr
Due: none

Delete local-ssl/certs/localhost.v3.ext
  local-ssl/certs/localhost.v3.ext
Due: none

UML-3187 Fail on critical CVEs (#2434)
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none

UML-3122 add exception handling to one login api
  service-api/app/src/App/src/Exception/AuthorisationServiceException.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationService.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationServiceBuilder.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthenticationRequestService.php
Due: use-an-lpa-api

add linting fixes to exception files
  service-api/app/src/App/src/Exception/ActorCodeMarkAsUsedException.php
  service-api/app/src/App/src/Exception/ActorCodeValidationException.php
Due: use-an-lpa-api

Uml 3122 one login api exception handling (#2436)
  service-api/app/src/App/src/Exception/ActorCodeMarkAsUsedException.php
  service-api/app/src/App/src/Exception/ActorCodeValidationException.php
  service-api/app/src/App/src/Exception/AuthorisationServiceException.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationService.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationServiceBuilder.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthenticationRequestService.php
Due: use-an-lpa-api

Uml 3042 add also known as field (#2431)
  mock-integrations/opg-data-lpa/mock-openapi-examples.yaml
  mock-integrations/opg-data-lpa/mock-openapi.yaml
  mock-integrations/opg-data-lpa/opg-data-lpa-openapi.yml
  service-front/app/features/actor-view-lpa.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/src/Entity/CaseActor.php
  service-front/app/src/Common/src/Service/Lpa/Factory/Sirius.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-donor-details.html.twig
  service-front/app/test/CommonTest/Service/Lpa/SiriusLpaFactoryTest.php
  service-front/app/test/fixtures/full_example.json
  service-front/app/test/fixtures/full_example_signed_before_2016.json
  service-front/app/test/fixtures/simple_example.json
Due: use-an-lpa-front

phpcbf test/AppTest/Service (#2430)
  service-api/app/test/AppTest/Service/ActorCodes/ActorCodeServiceTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/DynamoCodeValidationStrategyTest.php
  service-api/app/test/AppTest/Service/ApiClient/ClientFactoryTest.php
  service-api/app/test/AppTest/Service/ApiClient/ClientTest.php
  service-api/app/test/AppTest/Service/Aws/DynamoDbClientFactoryTest.php
  service-api/app/test/AppTest/Service/Aws/SdkFactoryTest.php
  service-api/app/test/AppTest/Service/Container/PhpDiModifiableContainerTest.php
  service-api/app/test/AppTest/Service/Email/EmailClientFactoryTest.php
  service-api/app/test/AppTest/Service/Email/EmailClientTest.php
  service-api/app/test/AppTest/Service/Features/FeatureEnabledFactoryTest.php
  service-api/app/test/AppTest/Service/Features/FeatureEnabledTest.php
  service-api/app/test/AppTest/Service/Log/LogStderrListenerDelegatorFactoryTest.php
  service-api/app/test/AppTest/Service/Log/LogStderrListenerTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/RestrictSendingLpaForCleansingTest.php
  service-api/app/test/AppTest/Service/Lpa/ValidateAccessForAllLpaRequirementsTest.php
  service-api/app/test/AppTest/Service/Notify/NotifyServiceTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/CodeGeneratorTest.php
Due: use-an-lpa-api

Uml 2907 phpcbf to fix code in service api 4 (#2429)
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/LpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/LpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/RequestSignerFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/Sanitisers/SiriusLpaSanitiserTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorCodesFactoryTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorCodesTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersFactoryTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/GenerateAwsResultTrait.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapFactoryTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodeActivityFactoryTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodeActivityTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesFactoryTest.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/DataAccess/Repository/Response/LpaTest.php
  service-api/app/test/AppTest/Exception/ApiExceptionTest.php
  service-api/app/test/AppTest/Exception/BadRequestExceptionTest.php
  service-api/app/test/AppTest/Exception/ConflictExceptionTest.php
  service-api/app/test/AppTest/Exception/ForbiddenExceptionTest.php
  service-api/app/test/AppTest/Exception/GoneExceptionTest.php
  service-api/app/test/AppTest/Exception/NotFoundExceptionTest.php
  service-api/app/test/AppTest/Exception/UnauthorizedExceptionTest.php
  service-api/app/test/AppTest/Handler/AuthHandlerTest.php
  service-api/app/test/AppTest/Handler/Factory/HealthcheckHandlerFactoryTest.php
  service-api/app/test/AppTest/Handler/HealthcheckHandlerTest.php
  service-api/app/test/AppTest/Handler/LpaHandlerTest.php
  service-api/app/test/AppTest/Handler/LpaSearchHandlerTest.php
  service-api/app/test/AppTest/Handler/UserActivateHandlerTest.php
  service-api/app/test/AppTest/Handler/UserHandlerTest.php
  service-api/app/test/AppTest/Middleware/Logging/RequestTracingMiddlewareTest.php
  service-api/app/test/AppTest/Middleware/ProblemDetailsMiddlewareTest.php
  service-api/app/test/AppTest/Middleware/UserIdentificationMiddlewareTest.php
Due: use-an-lpa-api

amended Client.php
  service-api/app/src/App/src/Service/ApiClient/Client.php
Due: use-an-lpa-api

reboot
  service-api/app/src/App/src/Service/ApiClient/Client.php
Due: use-an-lpa-api

removed important
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
Due: use-an-lpa-front

amended test files
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

Welsh translations updated
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

fix on ApiException.php
  service-api/app/src/App/src/Exception/ApiException.php
Due: use-an-lpa-api

amended construct function Client.php
  service-api/app/src/App/src/Service/ApiClient/Client.php
Due: use-an-lpa-api

gitignore results files
  .gitignore
Due: none

now runs 4 queries
  query/dynamodb_export.py
Due: none

take in date range, with default
  query/dynamodb_export.py
Due: none

athena query now runs
  query/dynamodb_export.py
Due: none

query all 4 tables
  query/dynamodb_export.py
Due: none

refactor, tidy up, update README
  query/README.md
  query/dynamodb_export.py
Due: none

tidy up output further
  query/dynamodb_export.py
Due: none

ddl files, refactoring, stats table commented for now until working
  query/dynamodb_export.py
  query/tables/actor_codes.ddl
  query/tables/user_lpa_actor_map.ddl
  query/tables/viewer_activity.ddl
  query/tables/viewer_codes.ddl
Due: none

drop database first so we don't have tables with old data in
  query/dynamodb_export.py
Due: none

export stats table also
  query/dynamodb_export.py
Due: none

results
  query/results/README
Due: none

print query output tidily
  query/dynamodb_export.py
Due: none

add polling to query
  query/dynamodb_export.py
Due: none

fix dates
  query/dynamodb_export.py
Due: none

refactored in prep to add polling functionality
  query/dynamodb_export.py
Due: none

refactoring
  query/dynamodb_export.py
Due: none

basic polling is working, and athena functions WIP
  query/dynamodb_export.py
Due: none

fix csv output
  query/dynamodb_export.py
Due: none

put s3 path in dictionary ready for this to be used for location
  query/dynamodb_export.py
Due: none

get all results using token
  query/dynamodb_export.py
Due: none

date substitution in sql string
  query/dynamodb_export.py
Due: none

run black to format python properly
  query/dynamodb_export.py
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
