Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

updated Welsh translations
  service-front/app/src/Actor/templates/actor/confirm-lpa-for-key-request.html.twig
Due: use-an-lpa-front

reformatting twig files
  service-front/app/src/Actor/templates/actor/activation-key-request-received.html.twig
  service-front/app/src/Actor/templates/actor/add-lpa-triage.html.twig
  service-front/app/src/Actor/templates/actor/cannot-find-lpa.html.twig
  service-front/app/src/Actor/templates/actor/check-lpa.html.twig
  service-front/app/src/Actor/templates/actor/confirm-lpa-for-key-request.html.twig
  service-front/app/src/Actor/templates/actor/confirm-remove-lpa.html.twig
  service-front/app/src/Actor/templates/actor/request-activation-key/before-requesting-activation-key-info.html.twig
  service-front/app/src/Actor/templates/actor/send-activation-key-confirmation.html.twig
Due: use-an-lpa-front

confirm-remove-lpa button fix
  service-front/app/src/Actor/templates/actor/confirm-remove-lpa.html.twig
Due: use-an-lpa-front

check lpa button fix
  service-front/app/src/Actor/templates/actor/check-lpa.html.twig
Due: use-an-lpa-front

send-activation-key confirmation
  service-front/app/src/Actor/templates/actor/send-activation-key-confirmation.html.twig
Due: use-an-lpa-front

activation-key-requedt-received button
  service-front/app/src/Actor/templates/actor/activation-key-request-received.html.twig
Due: use-an-lpa-front

already-requested-activation-key button fix
  service-front/app/src/Actor/templates/actor/already-requested-activation-key.html.twig
Due: use-an-lpa-front

flag off
  docker-compose.yml
Due: none

WIP now saves to localhost parameter store but handler needs fixing
  docker-compose.dependencies.yml
  service-admin/.idea/runConfigurations/Admin_Service.xml
  service-admin/cmd/admin/main.go
  service-admin/internal/server/handlers/systemmessage.go
  service-admin/internal/server/handlers/systemmessage_test.go
Due: use-an-lpa-admin

Make file. Config update. Use internal docker names.
  .gitignore
  Makefile
  docker-compose.dependencies.yml
  docker-compose.testing.yml
  zap/readme.md
  zap/zap-cfg.yml
Due: none

Add environment variable notes.
  zap/readme.md
Due: none

UML-3225 Remove unnecessary data lookups
  terraform/environment/locals.tf
  terraform/environment/shared_data_sources.tf
Due: none

Remove unnecessary lookups in account
  terraform/account/locals.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tf
Due: none

Correct version of TLS
  terraform/account/terraform.tf
Due: none

UML-3225 Remove unnecessary data lookups (#2472)
  terraform/account/locals.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tf
  terraform/environment/locals.tf
  terraform/environment/shared_data_sources.tf
Due: none

Fix unit tests
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
  service-front/app/test/CommonTest/Service/Session/EncryptedCookiePersistenceTest.php
Due: use-an-lpa-front

Add test coverage for OneLoginServiceFactory and add prophecy trait to remove warnings
  service-api/app/test/AppTest/Service/Email/EmailClientFactoryTest.php
  service-api/app/test/AppTest/Service/Email/EmailClientTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceFactoryTest.php
Due: use-an-lpa-front, use-an-lpa-api

WIP fixes
  service-admin/cmd/admin/main.go
  service-admin/internal/server/handlers/systemmessage.go
Due: use-an-lpa-admin

Add behat test coverage
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
Due: use-an-lpa-front

Add test coverage for unit tests
  service-front/app/test/CommonTest/Entity/UserTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceFactoryTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front

add needs reset to response for coverage
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front

Add linting fix
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceFactoryTest.php
Due: use-an-lpa-front

UML-3224: add semantic versioning
  .github/workflows/path-to-live.yml
Due: none

UML-3224: add semver to container tags
  .github/workflows/path-to-live.yml
Due: none

UML-3224: add semantic versioning (#2476)
  .github/workflows/path-to-live.yml
Due: none

UML-3224: add write permissions for semver
  .github/workflows/path-to-live.yml
Due: none

UML-3224: remove comment
  .github/workflows/path-to-live.yml
Due: none

Uml 3224 (#2477)
  .github/workflows/path-to-live.yml
Due: none

UML-3155 Enable development eu_west_2 account
  terraform/account/region.tf
Due: none

UML-3155 Enable development eu_west_2 account (#2478)
  terraform/account/region.tf
Due: none

UML-3155 Make metric alarms region-specific
  terraform/account/region/cloudwatch_alarms.tf
Due: none

Allow KMS key usage in eu-west-2
  terraform/account/kms.tf
Due: none

UML-3155 Fixes for account multi-region
  terraform/account/region/lambda_functions.tf
  terraform/account/region/modules/s3_bucket/main.tf
  terraform/account/region/modules/s3_bucket/variables.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/vpc_flowlogs.tf
Due: none

Linting
  terraform/account/region/modules/s3_bucket/main.tf
  terraform/account/region/s3_lb_access_logs.tf
Due: none

Add region name to data lookups
  terraform/environment/region/ship_to_metrics.tf
Due: none

Add region suffix
  terraform/environment/region/data_sources.tf
Due: none

UML-3155 Fixes for multi-region account Terraform (#2479)
  terraform/account/kms.tf
  terraform/account/region/cloudwatch_alarms.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/modules/s3_bucket/main.tf
  terraform/account/region/modules/s3_bucket/variables.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/vpc_flowlogs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/ship_to_metrics.tf
Due: none

UML-3155 Make Lambda module regional
  terraform/account/region/lambda_functions.tf
  terraform/account/region/modules/lambda_function/terraform.tf
  terraform/account/region/s3_lb_access_logs.tf
Due: none

UML-3155 Make Lambda module regional (#2480)
  terraform/account/region/lambda_functions.tf
  terraform/account/region/modules/lambda_function/terraform.tf
  terraform/account/region/s3_lb_access_logs.tf
Due: none

UML-3155 Add explicit provider for S3 resource
  terraform/account/region/s3_lb_access_logs.tf
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
