Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

fix more tests
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

UML-3601 rworked get trust corporation
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/LpaTrustCorporation.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/TrustCorporationStatusInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

fix mistake
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
Due: use-an-lpa-api

Terraform and associated environment changes for feature flag for front end
  service-front/app/config/autoload/features.global.php
  service-front/app/features/bootstrap/behat.config.php
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
Due: use-an-lpa-front

Update trivy job
  .github/workflows/_build-and-push.yml
Due: none

Update trivy job (#2797)
  .github/workflows/_build-and-push.yml
Due: none

UML-3599 rework IsValidLpa.php to use interface obj (#2776)
  service-api/app/src/App/src/Service/Lpa/IsValid/IsValidInterface.php
  service-api/app/src/App/src/Service/Lpa/IsValid/LpaStatus.php
  service-api/app/src/App/src/Service/Lpa/IsValidLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
Due: use-an-lpa-api

UML-3601 added test for SiriusPerson.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/TrustCorporationStatusInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/SiriusPersonTest.php
Due: use-an-lpa-api

UML-3601 merged in main and fixed conflicts
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
Due: use-an-lpa-api

Update lifecycle policy
  terraform/account/modules/dynamodb_cloudtrail/s3.tf
  terraform/account/region/modules/s3_bucket/main.tf
Due: none

remove double def'n of getUid that git kindly merged in (facepalm)
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
Due: use-an-lpa-api

refactor
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

WIP working on fixing tests
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

make SiriusPerson only where it isn't already
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
Due: use-an-lpa-api

fix tests
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
Due: use-an-lpa-api

UML-3601 fixed broken tests
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
Due: use-an-lpa-api

fixed remaining unit test
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
Due: use-an-lpa-api

fix behat tests
  service-api/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-api

UML-3601 made transformArrayToSiriusPersons more useable
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
Due: use-an-lpa-api

backward compatibility
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
Due: use-an-lpa-api

Uml 3601 rework get trust corporation status (#2791)
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/TrustCorporationStatusInterface.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/TrustCorporationStatuses.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusPersonTest.php
Due: use-an-lpa-api

remove obsolete function
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
Due: use-an-lpa-api

Add trivy db ecr mirror
  .github/workflows/_build-and-push.yml
Due: none

Add trivy db ecr mirror (#2809)
  .github/workflows/_build-and-push.yml
Due: none

Update multi part lifecycle rule
  terraform/account/region/modules/s3_bucket/main.tf
Due: none

fix tests
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

fix tests
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
Due: use-an-lpa-api

UML-3606 Access for all and add lpa journey specific service classes moved to a subfolder
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Handler/AccessForAllLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/AccessForAllLpaValidationHandler.php
  service-api/app/src/App/src/Handler/AddLpaValidationHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AccessForAllLpaService.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Due: use-an-lpa-api

added content
  service-front/app/src/Actor/templates/actor/change-details.html.twig
Due: use-an-lpa-front

EventsaucePHP Object Hydrator ADR
  docs/architecture/decisions/0024-library-for-lpa-data-mapping.md
Due: none

Welsh translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/change-details.html.twig
Due: use-an-lpa-front

Add type coersion to SiriusPerson getters
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/SiriusPersonTest.php
Due: use-an-lpa-api

Remove default var for enable_lifecycle
  terraform/account/region/modules/s3_bucket/variables.tf
Due: none

Add type coersion to SiriusPerson getters (#2817)
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/SiriusPersonTest.php
Due: use-an-lpa-api

updated EventsaucePHP Object Hydrator ADR with links to the libraries
  docs/architecture/decisions/0024-library-for-lpa-data-mapping.md
Due: none

Uml 3470 As a member of the correspondence team I need to know I can respond to a customers query (#2816)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/change-details.html.twig
Due: use-an-lpa-front

add type corecion
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
Due: use-an-lpa-api

type tests
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaTest.php
Due: use-an-lpa-api

Terraform and associated environment changes for feature flag for front end (#2798)
  service-front/app/config/autoload/features.global.php
  service-front/app/features/bootstrap/behat.config.php
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
Due: use-an-lpa-front
