Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

new page
  service-front/app/src/Actor/templates/actor/request-activation-key/stop-replacement-attorney.html.twig
Due: use-an-lpa-front

Added one more option to your role page and changes in handler
  service-front/app/src/Actor/src/Form/RequestActivationKey/ActorRole.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/ActorRoleHandler.php
  service-front/app/src/Actor/templates/actor/request-activation-key/actor-role.html.twig
Due: use-an-lpa-front

Event code added when a user makes a key request as a replacement attorney
  service-front/app/src/Actor/src/Handler/RequestActivationKey/ActorRoleHandler.php
  service-front/app/src/Common/src/Service/Log/EventCodes.php
  terraform/environment/cloudwatch_metrics.tf
Due: use-an-lpa-front

test addition
  service-front/app/features/actor-role-details-on-partial-match.feature
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/src/Actor/templates/actor/request-activation-key/stop-replacement-attorney.html.twig
Due: use-an-lpa-front

one line translation added and rest missing in story
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

cleanup
  service-front/app/features/actor-choose-your-role.feature
  service-front/app/src/Actor/templates/actor/request-activation-key/stop-replacement-attorney.html.twig
Due: use-an-lpa-front

translations added
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

clean up
  service-front/app/src/Actor/src/Handler/RequestActivationKey/ActorRoleHandler.php
Due: use-an-lpa-front

Refactoring as per review comment
  service-front/app/src/Actor/src/Handler/RequestActivationKey/ActorRoleHandler.php
Due: use-an-lpa-front

Resolved conflicts
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
Due: use-an-lpa-front

UML-2604: Inform customers that a replacement attorney can not act, and the process if they need to make them active (#2195)
  service-front/app/features/actor-choose-your-role.feature
  service-front/app/features/actor-role-details-on-partial-match.feature
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Form/RequestActivationKey/ActorRole.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/ActorRoleHandler.php
  service-front/app/src/Actor/templates/actor/request-activation-key/actor-role.html.twig
  service-front/app/src/Actor/templates/actor/request-activation-key/stop-replacement-attorney.html.twig
  service-front/app/src/Common/src/Service/Log/EventCodes.php
  terraform/environment/cloudwatch_metrics.tf
Due: use-an-lpa-front

Uml 2642 (part 2) Can't request more than one key a day (#2215)
  .github/workflows/php-linting.yml
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/config/routes.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/phpcs.xml.dist
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/Handler/AccessForAllLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/AccessForAllLpaValidationHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Lpa/AccessForAllLpaService.php
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AddOlderLpa.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-api/app/src/App/src/Service/Lpa/ValidateOlderLpaRequirements.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
  service-api/app/test/AppTest/Service/Lpa/ValidateAccessForAllLpaRequirementsTest.php
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/phpcs.xml.dist
Due: use-an-lpa-front, use-an-lpa-api

Remove maintenance banner
  service-front/app/src/Actor/templates/actor/home-page.html.twig
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Viewer/templates/viewer/enter-code.html.twig
Due: use-an-lpa-front

Revert "Uml 2642 (part 2) Can't request more than one key a day (#2215)"
  .github/workflows/php-linting.yml
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/config/routes.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/phpcs.xml.dist
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/Handler/OlderLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/OlderLpaValidationHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AddOlderLpa.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/OlderLpaService.php
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-api/app/src/App/src/Service/Lpa/ValidateOlderLpaRequirements.php
  service-api/app/test/AppTest/Service/Lpa/AddOlderLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
  service-api/app/test/AppTest/Service/Lpa/OlderLpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/ValidateOlderLpaRequirementsTest.php
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/phpcs.xml.dist
Due: use-an-lpa-front, use-an-lpa-api

Revert "Uml 2642 (part 2) Can't request more than one key a day (#2215)" (#2222)
  .github/workflows/php-linting.yml
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/config/routes.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/phpcs.xml.dist
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/Handler/OlderLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/OlderLpaValidationHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AddOlderLpa.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/OlderLpaService.php
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-api/app/src/App/src/Service/Lpa/ValidateOlderLpaRequirements.php
  service-api/app/test/AppTest/Service/Lpa/AddOlderLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
  service-api/app/test/AppTest/Service/Lpa/OlderLpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/ValidateOlderLpaRequirementsTest.php
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/phpcs.xml.dist
Due: use-an-lpa-front, use-an-lpa-api

Remove maintenance banner (#2221)
  service-front/app/src/Actor/templates/actor/home-page.html.twig
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Viewer/templates/viewer/enter-code.html.twig
Due: use-an-lpa-front

some test amendments to include special characters in names
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

Resolved merge conflicts
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
Due: use-an-lpa-api

Test data amended for local
  mock-integrations/mock-openapi.yaml
Due: none

Contet amendements and translations
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/confirm-remove-lpa.html.twig
Due: use-an-lpa-front

Corrections
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Corrections
  service-front/app/src/Actor/templates/actor/confirm-remove-lpa.html.twig
Due: use-an-lpa-front

The apostrophes doesn't match
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/confirm-remove-lpa.html.twig
Due: use-an-lpa-front

Add structurizr setup and base files
  .gitignore
  Makefile
  docs/diagrams/dsl/README.md
  docs/diagrams/dsl/structurizr.properties
  docs/diagrams/dsl/ualpa-use.dsl
  docs/diagrams/dsl/ualpa-view.dsl
  docs/diagrams/dsl/ualpa.dsl
  docs/diagrams/dsl/workspace.dsl
Due: none

Start replicating existing diagrams
  docs/diagrams/dsl/ualpa-use.dsl
  docs/diagrams/dsl/ualpa-view.dsl
  docs/diagrams/dsl/ualpa.dsl
  docs/diagrams/dsl/workspace.dsl
Due: none

Changes to incorporate right unicode apostrophie
  mock-integrations/mock-openapi.yaml
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

test change
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

test change
  service-api/app/test/fixtures/example_lpa.json
Due: use-an-lpa-api

linting fixes
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

test fixes
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/Lpa/AddOlderLpa.php
Due: use-an-lpa-api

replace unicode apostrophie to ascii for name strings
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
Due: use-an-lpa-api

local test data change
  mock-integrations/mock-openapi.yaml
Due: none

test addition and fixes
  service-api/app/features/actor-add-an-older-lpa.feature
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

mock data changes so that smoke tests don't break
  mock-integrations/mock-openapi.yaml
Due: none

smoke test fix as integration data dname changed
  tests/smoke/context/ViewerContext.php
Due: none

smoke test fix as integration data dname changed
  mock-integrations/mock-openapi.yaml
  tests/smoke/context/ViewerContext.php
Due: none

UML-2825: Names in Iphone with ' need to be accepted when requesting activation key (#2226)
  mock-integrations/mock-openapi.yaml
  service-api/app/features/actor-add-an-older-lpa.feature
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api
