Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

updated workflow pages utilising data from state fixed type errs adjusted twig dob implementation addressed comments in pr
  service-front/app/src/Viewer/src/Form/AttorneyDetailsForPV.php
  service-front/app/src/Viewer/src/Form/NumberOfAttorneys.php
  service-front/app/src/Viewer/src/Handler/EnterPVSCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PVDonorDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerificationCodeSentToHandler.php
  service-front/app/src/Viewer/src/Handler/ProvideAttorneyDetailsForPVHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
  service-front/app/test/ViewerTest/Form/AttorneyDetailsForPVTest.php
Due: use-an-lpa-front

reverted accidental commits
  query/dynamodb_export.py
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code.html.twig
Due: use-an-lpa-front

added tests for code cov
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
Due: use-an-lpa-front

updated logic around code receiver and removed redundant code
  service-front/app/src/Viewer/src/Handler/PaperVerification/PVDonorDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerificationCodeSentToHandler.php
Due: use-an-lpa-front

UAT purpose commit
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
Due: use-an-lpa-front

updated translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
Due: use-an-lpa-front

added tests for code cov
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
Due: use-an-lpa-front

pv check answers
  query/dynamodb_export.py
Due: none

updated translations
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
Due: use-an-lpa-front

changed logic of next page func depending on feature flag
  service-front/app/src/Viewer/src/Handler/EnterPVSCodeHandler.php
Due: use-an-lpa-front

wip
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code.html.twig
Due: use-an-lpa-front

updated translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

turned pv env off for behat test
  tests/features/download-pdf.feature
  tests/features/instructions-and-preferences.feature
  tests/features/view-lpa-using-sharecode.feature
Due: none

Bump requests in /scripts/pipeline/check_ecr_scan_results (#3306)
  scripts/pipeline/check_ecr_scan_results/requirements.txt
Due: none

rename to production
  lambda-functions/event-receiver/Dockerfile
Due: none

update openssl
  lambda-functions/upload-statistics/Dockerfile
Due: none

UML-3966: distroless event-receiver
  lambda-functions/event-receiver/Dockerfile
Due: none

move to debian12
  docker-compose.yml
  lambda-functions/upload-statistics/Dockerfile
Due: none

move upload-stats to distroless
  lambda-functions/upload-statistics/Dockerfile
  lambda-functions/upload-statistics/requirements.txt
Due: none

pin openssl
  lambda-functions/upload-statistics/Dockerfile
Due: none

UML-3966: distroless event-receiver (#3305)
  docker-compose.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/upload-statistics/Dockerfile
  lambda-functions/upload-statistics/requirements.txt
Due: none

UML-3948: Upgrade to Redis 7.0
  terraform/account/region/elasticache.tf
Due: none

reverted uat change
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
Due: use-an-lpa-front

Let organisation know why LPA could not be found using paper verification code - additional details incorrect
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/lpa-not-found.html.twig
Due: use-an-lpa-front

updated template to format dob and removed redundant code
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/lpa-not-found.html.twig
Due: use-an-lpa-front

added tests for code cov
  service-front/app/test/CommonTest/Filter/ShareCodeFilterTest.php
  service-front/app/test/ViewerTest/Form/PVShareCodeTest.php
Due: use-an-lpa-front

updated filter and removed validation option regex
  service-front/app/src/Common/src/Filter/ShareCodeFilter.php
  service-front/app/src/Viewer/src/Form/PVShareCode.php
  service-front/app/test/CommonTest/Filter/ShareCodeFilterTest.php
Due: use-an-lpa-front

new sharecode form validation based on paper verification code feature flag
  service-front/app/src/Common/src/Filter/ShareCodeFilter.php
  service-front/app/src/Viewer/src/Form/PVShareCode.php
  service-front/app/src/Viewer/src/Handler/EnterPVSCodeHandler.php
Due: use-an-lpa-front

validate endpoint/handler
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/PaperVerification/PaperVerificationValidationHandler.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
Due: use-an-lpa-api

Get functional tests running in pipeline and locally.
  .idea/runConfigurations/API_Functional.xml
Due: none

Configure local test running better.
  .idea/runConfigurations/API_Functional.xml
Due: none

UML-3948: Upgrade to Redis 7.0 (#3309)
  terraform/account/region/elasticache.tf
Due: none

get latest redis
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front

get latest version of redis
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front

UML-3948: update redis (#3310)
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front

move old network resources into old
  terraform/account/region/network_old.tf
  terraform/account/region/vpc_flowlogs.tf
Due: none

provision a new network alongside the existing one
  terraform/account/region.tf
  terraform/account/region/firewalled_network.tf
  terraform/account/region/network_firewall_rules.rules
  terraform/account/region/variables.tf
Due: none

make dev account rules
  terraform/account/region/development_network_firewall_rules.rules
  terraform/account/region/firewalled_network.tf
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
