Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

amended table format
  service-admin/internal/server/data/statistics.go
  service-admin/package-lock.json
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

fix
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

less cuddling
  service-admin/internal/server/data/statistics.go
Due: use-an-lpa-admin

Test file for top level component
  .idea/runConfigurations/Front_JS.xml
  service-front/web/src/javascript/components/iapImage.test.js
Due: use-an-lpa-front

macro
  service-front/app/src/Common/templates/common/macros.twig
Due: use-an-lpa-front

attempt to import macros and call macro in another template
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Common/templates/layout/default.html.twig
Due: use-an-lpa-front

amend feature file
  service-front/app/features/actor-inactive-dashboard.feature
Due: use-an-lpa-front

hide headers and footers when downloading pdf
  service-front/app/src/Common/templates/partials/footers-common.html.twig
  service-front/app/src/Common/templates/partials/headers-common.html.twig
  service-front/app/src/Viewer/templates/viewer/download-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/view-lpa.html.twig
Due: use-an-lpa-front

use partial instead of macro
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Common/templates/common/macros.twig
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/app/src/Common/templates/partials/footers-common.html.twig
  service-front/app/src/Common/templates/partials/headers-common.html.twig
Due: use-an-lpa-front

amended table category name.
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

table format change
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

fix
  service-admin/internal/server/data/statistics.go
Due: use-an-lpa-admin

UML-734-Stats-Page (#2310)
  Makefile
  scripts/get_statistics/get_statistics.py
  service-admin/internal/server/data/statistics.go
  service-admin/package-lock.json
  service-admin/web/templates/stats.page.gohtml
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api, use-an-lpa-admin

amended nav bar html
  service-admin/web/templates/header.partial.gohtml
Due: use-an-lpa-admin

logic added for selected tab change
  service-admin/web/templates/header.partial.gohtml
Due: use-an-lpa-admin

Uml 2811 Frontend javascript to handle checking for image updates (#2309)
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  .idea/runConfigurations/Front_JS.xml
  service-front/app/config/routes.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/src/Actor/src/Handler/ViewLpaSummaryImagesHandler.php
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/src/Entity/InstructionsAndPreferences/Images.php
  service-front/app/src/Common/templates/partials/flash-message.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/iap-images-components.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/iap-macros.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/app/test/CommonTest/Entity/InstructionsAndPreferences/ImagesTest.php
  service-front/web/src/index.js
  service-front/web/src/javascript/components/iapContainer.js
  service-front/web/src/javascript/components/iapContainer.test.js
  service-front/web/src/javascript/components/iapImage.test.js
  service-front/web/src/javascript/components/iapImages.js
  service-front/web/src/javascript/components/iapInstructions.js
  service-front/web/src/javascript/components/iapPreferences.js
  service-front/web/src/javascript/components/iapUnknown.js
  service-front/web/src/javascript/iapImages.js
  service-front/web/src/stylesheets/_lpa-instructions-and-preferences-images.scss
Due: use-an-lpa-front

Remove /home from admin service url.
  scripts/pipeline/post_release_slack_notification/post_release_slack_notification.py
Due: none

Remove /home from admin service url. (#2313)
  scripts/pipeline/post_release_slack_notification/post_release_slack_notification.py
Due: none

UML-3009 Create keypair
  terraform/account/keys.tf
  terraform/account/secretsmanager.tf
  terraform/environment/locals.tf
  terraform/environment/shared_data_sources.tf
Due: none

Correct private key name
  terraform/account/secretsmanager.tf
Due: none

Fix locals.tf
  terraform/environment/locals.tf
Due: none

Apply account
  .github/workflows/pull-request-path.yml
Due: none

Fix path
  .github/workflows/pull-request-path.yml
Due: none

Correct name
  terraform/environment/shared_data_sources.tf
Due: none

apply
  .github/workflows/pull-request-path.yml
Due: none

Ensure 404 page works
  service-front/app/src/Common/src/View/Twig/TranslationSwitchExtension.php
  service-front/app/src/Common/templates/partials/welsh-switch.html.twig
Due: use-an-lpa-front

Add test coverage to TranslationSwitchExtensionTest
  service-front/app/test/CommonTest/View/Twig/TranslationSwitchExtensionTest.php
Due: use-an-lpa-front

refactor getRouteName() and add return types to test file
  service-front/app/src/Common/src/View/Twig/TranslationSwitchExtension.php
  service-front/app/test/CommonTest/View/Twig/TranslationSwitchExtensionTest.php
Due: use-an-lpa-front

Add extra logout tests
  service-admin/internal/server/handlers/logout_test.go
Due: use-an-lpa-admin

Trust corporation shows consecutive number attorney in English and Welsh
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details.html.twig
Due: use-an-lpa-front

Trust corporation shows consecutive number attorney in English and Welsh (#2316)
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details.html.twig
Due: use-an-lpa-front

UML-3024 Move IAM roles to global config
  terraform/environment/actor_ecs.tf
  terraform/environment/admin_ecs.tf
  terraform/environment/api_ecs.tf
  terraform/environment/ecs_cluster.tf
  terraform/environment/locals.tf
  terraform/environment/main.tf
  terraform/environment/modules/iam/iam_ecs_execution_role.tf
  terraform/environment/modules/iam/iam_ecs_task_roles.tf
  terraform/environment/modules/iam/outputs.tf
  terraform/environment/modules/iam/variables.tf
  terraform/environment/pdf_ecs.tf
  terraform/environment/viewer_ecs.tf
Due: none

Linting TF
  terraform/environment/main.tf
Due: none

Correct execution role
  terraform/environment/actor_ecs.tf
  terraform/environment/admin_ecs.tf
  terraform/environment/api_ecs.tf
  terraform/environment/pdf_ecs.tf
  terraform/environment/viewer_ecs.tf
Due: none

Corrections
  terraform/environment/actor_ecs.tf
  terraform/environment/admin_ecs.tf
  terraform/environment/api_ecs.tf
  terraform/environment/pdf_ecs.tf
  terraform/environment/viewer_ecs.tf
Due: none
