Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Only attach fixture information if previous fixture options in place
  service-front/app/features/context/UI/ViewerContext.php
Due: use-an-lpa-front

add in severance warning (UML-2794 and UML-2830)
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/src/Common/src/Service/Lpa/Factory/Sirius.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/app/test/CommonTest/Service/Lpa/SiriusLpaFactoryTest.php
Due: use-an-lpa-front

Setup missing fixture data.
  service-front/app/features/context/UI/ViewerContext.php
Due: use-an-lpa-front

fix test
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/src/Common/src/Entity/Lpa.php
Due: use-an-lpa-front

Ensure things only show up if LPA has instructions/preferences
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

waiting message also for collection_not_started
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-sharecode-with-instructions-and-preferences.feature
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

Reimplement original severance warning
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

add actorside text behat test
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-sharecode-with-instructions-and-preferences.feature
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

spinner for collection_ion_progress
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/web/src/stylesheets/_lpa-instructions-and-preferences-images.scss
Due: use-an-lpa-front

2 spiners no icon
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

fix sentence end
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

extra text requested by Jude
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

PDF css fix
  service-front/web/src/pdf.scss
Due: use-an-lpa-front

typo
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

function for getting unkonw continuation sheets out
  service-front/app/src/Common/src/Entity/InstructionsAndPreferences/Images.php
  service-front/app/test/CommonTest/Service/Lpa/InstAndPrefImagesServiceTest.php
Due: use-an-lpa-front

added content UML-2933 - NO Welsh translations
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

ensure in behat tests that loader appears when it should, and not when it shouldn't
  service-front/app/features/context/UI/ViewerContext.php
Due: use-an-lpa-front

additional information
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

Updated translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

Added welsh for loading warnings.
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

added conditional so that content around if scanned image is not readable does not show if extract fails
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

severance warning format
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

Uml 2766 Display instruction and preference images to users (#2279)
  mock-integrations/image-request-handler/mock-openapi-examples.yaml
  mock-integrations/image-request-handler/mock-openapi.yaml
  mock-integrations/image-request-handler/mocked-images/iap-700000000138-instructions.jpg
  mock-integrations/image-request-handler/mocked-images/iap-700000000138-preferences.jpg
  mock-integrations/image-request-handler/opg-data-lpa-instructions-preferences-openapi.yml
  service-api/app/src/App/src/Service/Lpa/LpaService.php
  service-front/app/behat.yml
  service-front/app/composer.json
  service-front/app/features/context/Integration/FeatureFlagContext.php
  service-front/app/features/context/Integration/ViewerContext.php
  service-front/app/features/context/UI/FeatureFlagContext.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/pdf-download-of-lpa.feature
  service-front/app/features/view-lpa-using-sharecode-with-instructions-and-preferences.feature
  service-front/app/features/view-lpa-using-sharecode.feature
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/src/Entity/InstructionsAndPreferences/Images.php
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/src/Common/src/Service/Lpa/Factory/Sirius.php
  service-front/app/src/Common/src/Service/Pdf/PdfService.php
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/app/src/Viewer/src/Handler/DownloadLpaHandler.php
  service-front/app/src/Viewer/src/Handler/ViewLpaHandler.php
  service-front/app/test/CommonTest/Entity/InstructionsAndPreferences/ImagesTest.php
  service-front/app/test/CommonTest/Service/Lpa/InstAndPrefImagesServiceTest.php
  service-front/app/test/CommonTest/Service/Lpa/SiriusLpaFactoryTest.php
  service-front/app/test/CommonTest/Service/Pdf/PdfServiceTest.php
  service-front/web/src/pdf.scss
  service-front/web/src/stylesheets/_lpa-instructions-and-preferences-images.scss
  service-front/web/src/stylesheets/lpa.scss
  terraform/environment/.terraform.lock.hcl
  terraform/environment/viewer_ecs.tf
Due: use-an-lpa-front, use-an-lpa-api

Go Live
  terraform/environment/terraform.tfvars.json
Due: none

Turn off dev forward dating of codes
  service-front/app/src/Viewer/src/Handler/ViewLpaHandler.php
Due: use-an-lpa-front

Rejig additional images display
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

Fix issue with unopened DL after warning.
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

I&P Go Live (#2283)
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/app/src/Viewer/src/Handler/ViewLpaHandler.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front

Turn off I&P feature.
  terraform/environment/terraform.tfvars.json
Due: none

Ensure test screenshots always get uploaded
  .github/workflows/_run-behat-tests.yml
Due: none

Ensure test screenshots always get uploaded (#2285)
  .github/workflows/_run-behat-tests.yml
Due: none

content: mention scanned images
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

content updated ip read more
  service-front/app/src/Actor/templates/actor/instructions-preferences.html.twig
Due: use-an-lpa-front

added lpa with additional info
  mock-integrations/opg-data-lpa/generate_examples/list.txt
  mock-integrations/opg-data-lpa/generate_examples/make_examples.sh
Due: none

content change
  service-front/app/src/Actor/templates/actor/instructions-preferences.html.twig
Due: use-an-lpa-front

fix
  service-front/app/src/Actor/templates/actor/instructions-preferences.html.twig
Due: use-an-lpa-front

seed with extra LPAs
  mock-integrations/nginx.conf
  mock-integrations/opg-data-lpa/mock-openapi-examples.yaml
  mock-integrations/opg-data-lpa/mock-openapi.yaml
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api

Update depdendency files
  service-admin/go.mod
  service-admin/go.sum
Due: use-an-lpa-admin

Update sum file
  service-admin/go.sum
Due: use-an-lpa-admin

Fix deprecation warnings.
  service-admin/internal/server/auth/signing.go
  service-admin/internal/server/data/activation_key.go
Due: use-an-lpa-admin
