Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

UML-4152: enable deletion protection
  .secrets.baseline
  terraform/environment/dynamodb.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

move attributes to the top
  terraform/environment/dynamodb.tf
Due: none

add conditional on prevent destroy
  terraform/environment/dynamodb.tf
Due: none

remove redundant prevent destroy block
  terraform/environment/dynamodb.tf
Due: none

enable replica missing attributes
  terraform/environment/dynamodb.tf
Due: none

UML-4152: enable deletion protection on replica region (#3469)
  .secrets.baseline
  terraform/environment/dynamodb.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

Use LpaUid type
  service-api/app/psalm-baseline.xml
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ActorCodesInterface.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/ActorCodes/ActorCodeService.php
  service-api/app/src/App/src/Service/ActorCodes/CodeValidationStrategyInterface.php
  service-api/app/src/App/src/Service/ActorCodes/Validation/CodesApiValidationStrategy.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpa.php
  service-api/app/src/App/src/Service/Lpa/CheckLpaCleansed.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/src/App/src/Service/Lpa/LpaManagerInterface.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/src/App/src/Value/LpaUid.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/AppTest/Service/ActorCodes/ActorCodeServiceTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/CodesApiValidationStrategyTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-api/app/test/AppTest/Value/LpaUidTest.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
Due: use-an-lpa-api

Seed LPA with expected UID
  scripts/seed_lpas_and_codes/main.go
Due: none

Change phpcs hook to only show errors
  pre-commit-hooks/phpcs.sh
Due: none

Allow adding an LPA with an M-UID
  docker-compose.yml
  mock-integrations/lpa-codes/mock-responses.js
  mock-integrations/lpa-codes/src/codes/seeding-data.json
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/lpas/4UX3.json
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodes.php
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-front/app/features/actor-add-an-lpa.feature
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front, use-an-lpa-api

Change other UIDs to be valid
  mock-integrations/lpa-data-store/mock-openapi.yml
  mock-integrations/makeregister/lpa-access-granted-events/4UX3.json
  service-api/app/docs/examples/lpa-response-example.yaml
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
  service-api/app/test/AppTest/Value/LpaUidTest.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
  service-api/app/test/FunctionalTest/Request/PaperVerificationCodeValidateTest.php
  service-api/app/test/FunctionalTest/Request/PaperVerificationCodeViewTest.php
  service-api/app/test/fixtures/4UX3.json
  service-api/seeding/dynamodb.py
  service-front/app/features/view-lpa-using-paper-verification-code.feature
  service-front/app/src/Viewer/src/Form/LpaCheck.php
  service-front/app/test/fixtures/4UX3.json
Due: use-an-lpa-front, use-an-lpa-api

Include trust corporations when asking how many attorneys
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/view-lpa-using-paper-verification-code.feature
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

UML-3930: check disaster recovery procedure
  terraform/environment/terraform.tfvars.json
Due: none

trigger build
  .github/workflows/trigger_build
Due: none

UML-3930: check disaster recovery procedure (#3473)
  .github/workflows/trigger_build
  terraform/environment/terraform.tfvars.json
Due: none

Enable PVC flag
  terraform/environment/terraform.tfvars.json
Due: none

Be a bit more stringent about when to upload PACT contracts
  .github/workflows/_codecov.yml
  .github/workflows/_pact-upload.yml
Due: none

Content update and translations.
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code-cancelled.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code-expired.html.twig
Due: use-an-lpa-front

Welsh updates
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Translation merge fixes
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

content update
  service-front/app/src/Actor/templates/actor/change-lpa-details.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
Due: use-an-lpa-front

translations added
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-4131 Include trust corporations when asking how many attorneys (#3472)
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/view-lpa-using-paper-verification-code.feature
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

Enable PVC flag on demo env (#3475)
  .github/workflows/_codecov.yml
  .github/workflows/_pact-upload.yml
  terraform/environment/terraform.tfvars.json
Due: none

Update package symfony/http-foundation
  service-front/app/composer.lock
Due: use-an-lpa-front

Remove dependabot workflows that have drifted and cause build issues.
  .github/workflows/dependabot-composer-npm-path.yml
  .github/workflows/dependabot-terraform-upgrade.yml
Due: none

Update symfony http (#3470)
  .github/workflows/dependabot-composer-npm-path.yml
  .github/workflows/dependabot-terraform-upgrade.yml
  service-front/app/composer.lock
Due: use-an-lpa-front

UML-3463 Content update and translations for cancelled PVCs (#3462)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code-cancelled.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code-expired.html.twig
Due: use-an-lpa-front

content update
  service-front/app/src/Actor/templates/actor/request-activation-key/before-requesting-activation-key-info.html.twig
Due: use-an-lpa-front

adding new fields to dashboard
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
Due: use-an-lpa-front

added translations again
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

added welsh translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

content change reapplied
  service-front/app/src/Actor/templates/actor/request-activation-key/before-requesting-activation-key-info.html.twig
Due: use-an-lpa-front

wrong content change corrected
  service-front/app/src/Actor/templates/actor/request-activation-key/before-requesting-activation-key-info.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary-combined-lpa.html.twig
Due: use-an-lpa-front

welsh added in
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Send event when request letter for modernised LPA
  .secrets.baseline
  docker-compose.dependencies.yml
  service-api/app/config/autoload/envs.global.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpasFactory.php
  service-api/app/src/App/src/Service/Aws/EventBridgeClientFactory.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasTest.php
  service-api/app/test/AppTest/Service/Aws/EventBridgeClientFactoryTest.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactLpasFactory.php
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/modules/event_bus/outputs.tf
Due: use-an-lpa-api
