Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

update .po /.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

update to blank dashboard
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
Due: use-an-lpa-front

UML-3490: create metrics dashboard
  terraform/environment/region.tf
  terraform/environment/region/cloudwatch_dashboard.tf
  terraform/environment/region/cloudwatch_metrics.tf
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

fix duplicate resource
  terraform/environment/region/cloudwatch_dashboard.tf
Due: none

Update dashboard name and fix syntax
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

ternary to create dashboard in specific env
  terraform/environment/region/cloudwatch_dashboard.tf
  terraform/environment/region/cloudwatch_metrics.tf
Due: none

UML-3340 Your details page - content change to 'Find out about the role of attorney ...' (#2716)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

Fix tests to accept SameSite None cookies
  service-front/app/src/Common/src/Service/Session/EncryptedCookiePersistence.php
  service-front/app/test/CommonTest/Service/Session/EncryptedCookiePersistenceTest.php
Due: use-an-lpa-front

Samesite cookie fix for OIDC (being logged out on dashboard) (#2719)
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Service/Session/EncryptedCookiePersistence.php
  service-front/app/test/CommonTest/Service/Session/EncryptedCookiePersistenceTest.php
Due: use-an-lpa-front

Fix to missing paragraph tags
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

Ensure stupid 66 99 quote marks are removed from translation files.
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Uml 3340 content change to dashboard (#2720)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

Welsh link set up
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

amended welsh translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
Due: use-an-lpa-front

merge conflicts translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

uml-3409 Edits to 'Your access code page' page (#2717)
  .idea/php.xml
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
Due: use-an-lpa-front

content change
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Welsh translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

capture current logins
  terraform/environment/region/cloudwatch_metrics.tf
Due: none

fix
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Revert "fix"
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

add application error metric
  terraform/environment/region/cloudwatch_metrics.tf
Due: none

Add additional output to one login error states including event codes.
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Service/Log/EventCodes.php
  terraform/environment/region/cloudwatch_metrics.tf
Due: use-an-lpa-front

Add additional output to one login error states including event codes. (#2721)
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Service/Log/EventCodes.php
  terraform/environment/region/cloudwatch_metrics.tf
Due: use-an-lpa-front

fixed it!
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Update service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

translation fix
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

translation fix
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

fix metric filter
  terraform/environment/region/cloudwatch_metrics.tf
Due: none

update template
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

create placeholder
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

use actual value as placeholder
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

Uml 3483 sign into service content (#2714)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

UML-3513: Create PagerDuty Alarm for One Login Outage
  terraform/environment/region/cloudwatch_alarms.tf
Due: none

added logs
  service-admin/internal/server/data/system_message.go
Due: use-an-lpa-admin

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
