Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

add a sleep in
  bulk_email/send_via_notify.py
Due: none

use session for login handler
  service-front/app/src/Actor/src/Handler/CreateAccountHandler.php
  service-front/app/src/Actor/src/Handler/CreateAccountSuccessHandler.php
  service-front/app/src/Actor/src/Handler/LoginPageHandler.php
Due: use-an-lpa-front

Uml 3324 remove email from url parameters (#2681)
  service-front/app/src/Actor/src/Handler/CreateAccountHandler.php
  service-front/app/src/Actor/src/Handler/CreateAccountSuccessHandler.php
  service-front/app/src/Actor/src/Handler/LoginPageHandler.php
Due: use-an-lpa-front

hardcode pdf service version
  docker-compose.dependencies.yml
  terraform/environment/terraform.tfvars.json
Due: none

hardcode pdf service version (#2702)
  docker-compose.dependencies.yml
  terraform/environment/terraform.tfvars.json
Due: none

UML-3479 Add onelogin contact details to new sign in page
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Need to be able to set arrays into a modifiable container
  service-api/app/src/App/src/Service/Container/ModifiableContainerInterface.php
  service-api/app/src/App/src/Service/Container/PhpDiModifiableContainer.php
Due: use-an-lpa-api

Don't run functional tests for now in CI
  .github/workflows/_build-and-push.yml
Due: none

PHPStorm runner configuration
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  .idea/runConfigurations/API_Functional.xml
Due: none

A functional test of the ActorCodes api client
  docker-compose.testing.yml
  service-api/app/composer.json
  service-api/app/phpunit.xml.dist
  service-api/app/test/FunctionalTest/AbstractFunctionalTestCase.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/pacts/.gitkeep
Due: use-an-lpa-api

Lint fix
  service-api/app/test/FunctionalTest/AbstractFunctionalTestCase.php
Due: use-an-lpa-api

Set to run unit tests only
  .idea/runConfigurations/API.xml
Due: none

Rename PACT entities so they match up in the broker
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
Due: use-an-lpa-api

Name the test suite on the frontend so things keep working.
  service-front/app/phpunit.xml.dist
Due: use-an-lpa-front

Add OTP secret to github action
  .github/workflows/_run-behat-tests.yml
Due: none

Get tests working against a configured one login integration environment
  tests/smoke/.env
  tests/smoke/behat.yml
  tests/smoke/context/AccountContext.php
  tests/smoke/context/OneLoginImplementation.php
  tests/smoke/docker-compose.smoke.yml
Due: none

Add TOTP library
  tests/smoke/composer.json
  tests/smoke/composer.lock
Due: none

Fix labeler typo
  .github/labeler.yml
Due: none

Do the correct things with basic authentication
  .github/workflows/_run-behat-tests.yml
  tests/smoke/.env
  tests/smoke/context/AccountContext.php
  tests/smoke/docker-compose.smoke.yml
Due: none

Ensure we get all the necessary secrets into the runner
  .github/workflows/_run-behat-tests.yml
  tests/smoke/docker-compose.smoke.yml
Due: none

Uml 3485 get smoke tests working on ur (#2701)
  .github/labeler.yml
  .github/workflows/_run-behat-tests.yml
  tests/smoke/.env
  tests/smoke/behat.yml
  tests/smoke/composer.json
  tests/smoke/composer.lock
  tests/smoke/context/AccountContext.php
  tests/smoke/context/OneLoginImplementation.php
  tests/smoke/docker-compose.smoke.yml
Due: none

UML-3479 updated translation for the link
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Uml 3240 working phpunit integration tests (#2686)
  .github/workflows/_build-and-push.yml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  .idea/runConfigurations/API.xml
  .idea/runConfigurations/API_Functional.xml
  docker-compose.testing.yml
  service-api/app/composer.json
  service-api/app/phpunit.xml.dist
  service-api/app/src/App/src/Service/Container/ModifiableContainerInterface.php
  service-api/app/src/App/src/Service/Container/PhpDiModifiableContainer.php
  service-api/app/test/FunctionalTest/AbstractFunctionalTestCase.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/pacts/.gitkeep
  service-front/app/phpunit.xml.dist
Due: use-an-lpa-front, use-an-lpa-api

UML-3498: increase scaling temporarily
  terraform/environment/terraform.tfvars.json
Due: none

Remove pdf scaling
  terraform/environment/terraform.tfvars.json
Due: none

add template arg
  bulk_email/send_via_notify.py
Due: none

emails script and instructions link
  bulk_email/README.md
  bulk_email/get_emails.py
Due: none

change default to demo
  bulk_email/get_emails.py
Due: none

conditional routing in middleware
  service-front/app/src/Common/src/Middleware/Authentication/AuthenticationMiddleware.php
  service-front/app/src/Common/src/Middleware/Routing/ConditionalRoutingMiddleware.php
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
Due: use-an-lpa-front

UML-3498: increase scaling temporarily (#2705)
  terraform/environment/terraform.tfvars.json
Due: none

amended test
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
Due: use-an-lpa-front

UML-3304 updated div class for title in login-notification.html.twig
  service-front/app/src/Actor/templates/actor/login-notification.html.twig
Due: use-an-lpa-front

UML-3304 Inform users we are changing the way they log in (#2685)
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Handler/LoginNotificationHandler.php
  service-front/app/src/Actor/templates/actor/login-notification.html.twig
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

UML-3479 updated contact link for gov one login and updated translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

fix
  service-front/app/src/Common/src/Middleware/Routing/ConditionalRoutingMiddleware.php
Due: use-an-lpa-front

make template and file required args with no default
  bulk_email/send_via_notify.py
Due: none

remove commented lines
  bulk_email/send_via_notify.py
Due: none

moved bulk_email to within scripts folder
  scripts/bulk_email/README.md
  scripts/bulk_email/get_emails.py
  scripts/bulk_email/send_via_notify.py
Due: none

add factory class
  service-front/app/src/Common/src/Middleware/Authentication/AuthenticationMiddleware.php
  service-front/app/src/Common/src/Middleware/Authentication/AuthenticationMiddlewareFactory.php
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
Due: use-an-lpa-front

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
