Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Uncomments
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
Due: use-an-lpa-front

cleanup
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
Due: use-an-lpa-front

UML-3797-deprecated-laminascrypt-removal-pt2 (#3367)
  .idea/phpunit.xml
  .idea/scopes/API.xml
  .idea/scopes/Front.xml
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Service/Session/Encryption/BlockCipherEncryptedCookie.php
  service-front/app/src/Common/src/Service/Session/Encryption/BlockCipherEncryptedCookieFactory.php
  service-front/app/src/Common/src/Service/Session/Encryption/EncryptionFallbackCookie.php
  service-front/app/src/Common/src/Service/Session/Encryption/EncryptionFallbackCookieFactory.php
  service-front/app/test/CommonTest/Service/Session/Encryption/BlockCipherEncryptedCookieTest.php
  service-front/app/test/CommonTest/Service/Session/Encryption/EncryptionFallbackCookieFactoryTest.php
Due: use-an-lpa-front

added To Do comments to code to be played in future
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
Due: use-an-lpa-front

UML-4050: Code improvement to use state (#3368)
  docker-compose.dependencies.yml
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
Due: use-an-lpa-front

added organisation page to flow
  service-front/app/config/routes.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/enter-organisation-name.html.twig
Due: use-an-lpa-front

stitching pages for paper verification journey (#3343)
  service-front/app/config/routes.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-paper-verification-code.feature
  service-front/app/psalm-baseline.xml
  service-front/app/src/Viewer/src/Handler/AbstractPVSCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/NumberOfAttorneysHander.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PaperVerificationCodeSentToHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/ProvideAttorneyDetailsForPVHandler.php
  service-front/app/src/Viewer/src/Handler/ProvideAttorneyDetailsForPVHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/attorney-dob.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/donor-dob.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/enter-organisation-name.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/number-of-attorneys.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/provide-attorney-details.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/verification-code-sent-to.html.twig
Due: use-an-lpa-front

upgrade aws provider to v6
  terraform/account/.terraform.lock.hcl
  terraform/account/modules/dynamodb_cloudtrail/terraform.tf
  terraform/account/modules/multi_region_kms/terraform.tf
  terraform/account/region/modules/dns_firewall/terraform.tf
  terraform/account/region/modules/lambda_function/terraform.tf
  terraform/account/region/modules/s3_bucket/terraform.tf
  terraform/account/region/modules/vpc_endpoints/terraform.tf
  terraform/account/region/terraform.tf
  terraform/account/versions.tf
Due: none

replace name with region in the region data source
  terraform/account/dynamodb_data_plane_cloudtrail.tf
  terraform/account/kms.tf
  terraform/account/modules/dynamodb_cloudtrail/cloudtrail.tf
  terraform/account/modules/dynamodb_cloudtrail/kms.tf
  terraform/account/modules/dynamodb_cloudtrail/s3.tf
  terraform/account/region/cloudwatch.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/modules/dns_firewall/data_sources.tf
  terraform/account/region/modules/dns_firewall/main.tf
  terraform/account/region/modules/s3_bucket/data_sources.tf
  terraform/account/region/modules/vpc_endpoints/main.tf
  terraform/account/region/network_old.tf
  terraform/account/region/resource_group.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/s3_redacted_logs.tf
  terraform/account/region/vpc_endpoints.tf
  terraform/account/region/waf.tf
Due: none

make hadolint action verbose to understand failure
  .github/workflows/_build-and-push.yml
Due: none

replace name with region in the region data source
  terraform/environment/.terraform.lock.hcl
  terraform/environment/lambda.tf
  terraform/environment/modules/iam/terraform.tf
  terraform/environment/modules/lambda/terraform.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/cloudwatch_dashboard.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/ecs_cluster.tf
  terraform/environment/region/event_bus.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/modules/dns/terraform.tf
  terraform/environment/region/modules/ecs_autoscaling/terraform.tf
  terraform/environment/region/modules/event_bus/terraform.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/resource_group.tf
  terraform/environment/region/ship_to_metrics.tf
  terraform/environment/region/terraform.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/versions.tf
Due: none

UML-4060: change to detect-secrets
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

UML-4060: change to detect-secrets (#3371)
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

updated view func and renamed test
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/ViewCode.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/ViewCodeTest.php
Due: use-an-lpa-api

updated PaperVerificationCodeServiceTest.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

updated baseline
  service-api/app/psalm-baseline.xml
Due: use-an-lpa-api

Revert "Renovate Update docker.io/nginx:stable-alpine Docker digest to 8f2bcf…"
  docker-compose.dependencies.yml
Due: none

attempt to fix vulnerability and thereby build
  lambda-functions/upload-statistics/Dockerfile
Due: none

attempt to fix vulnerability and thereby build (#3382)
  lambda-functions/upload-statistics/Dockerfile
Due: none

specify maintenance window and show that auto minor updates are enabled
  terraform/account/region/elasticache.tf
Due: none

print hadolint output
  .github/workflows/_build-and-push.yml
Due: none

remove automatically added quote mark
  .github/workflows/_build-and-push.yml
Due: none

try cat or echo without quotes
  .github/workflows/_build-and-push.yml
Due: none

upgrade hadolint
  .github/workflows/_build-and-push.yml
Due: none

UML-4096 - Configure automated minor updates to take place outside of business hours (#3383)
  .github/workflows/_build-and-push.yml
  terraform/account/region/elasticache.tf
Due: none

snapshot window and maintenance window cannot overlap
  terraform/account/region/elasticache.tf
Due: none

remove condition for trivy scan
  .github/workflows/_build-and-push.yml
Due: none

UML-4069 - Make sure snapshot window and maintenance window don't overlap (#3384)
  .github/workflows/_build-and-push.yml
  terraform/account/region/elasticache.tf
Due: none

Fix PHP PR names as 8.2 is not correct.
  renovate.json
Due: none

Update _node-build.yml
  .github/workflows/_node-build.yml
Due: none

Add ignore scripts to all npm ci calls
  .github/workflows/_node-build.yml
  .github/workflows/_node-test.yml
  docker-compose.yml
  mock-integrations/lpa-codes/README.md
  service-admin/Dockerfile
Due: use-an-lpa-admin

Add ignore scripts to all npm ci calls (#3397)
  .github/workflows/_node-build.yml
  .github/workflows/_node-test.yml
  docker-compose.yml
  mock-integrations/lpa-codes/README.md
  service-admin/Dockerfile
Due: use-an-lpa-admin

use new network for all environments
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/use_load_balancer.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

add a dummy file to trigger a build
  .github/workflows/trigger_build
Due: none
