Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Unit test fixes
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: use-an-lpa-api

Delete unused ActorUsers repository methods
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
Due: use-an-lpa-api

Psalm fixes (had to suppress one as it's a bug)
  service-api/app/composer.json
  service-api/app/psalm-baseline.xml
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/src/App/src/Exception/ActorDateOfBirthNotSetException.php
  service-api/app/src/App/src/Exception/ApiException.php
  service-api/app/src/App/src/Exception/BadRequestException.php
  service-api/app/src/App/src/Exception/ConflictException.php
  service-api/app/src/App/src/Exception/CreationException.php
  service-api/app/src/App/src/Exception/DateTimeException.php
  service-api/app/src/App/src/Exception/ForbiddenException.php
  service-api/app/src/App/src/Exception/GoneException.php
  service-api/app/src/App/src/Exception/LpaActivationKeyAlreadyRequestedException.php
  service-api/app/src/App/src/Exception/LpaAlreadyAddedException.php
  service-api/app/src/App/src/Exception/LpaAlreadyHasActivationKeyException.php
  service-api/app/src/App/src/Exception/LpaDetailsDoNotMatchException.php
  service-api/app/src/App/src/Exception/LpaNeedsCleansingException.php
  service-api/app/src/App/src/Exception/LpaNotRegisteredException.php
  service-api/app/src/App/src/Exception/NotFoundException.php
  service-api/app/src/App/src/Exception/UnauthorizedException.php
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/Exception/ForbiddenExceptionTest.php
Due: use-an-lpa-api

Test coverage fixes
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: use-an-lpa-api

Add coverage for email change method
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
Due: use-an-lpa-api

linte rror fix
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
Due: use-an-lpa-front

Extra argument found during linting removed.
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
Due: use-an-lpa-api

remove fixed CVEs
  lambda-functions/upload-statistics/.trivyignore.yaml
Due: none

remove fixed CVEs (#3362)
  lambda-functions/upload-statistics/.trivyignore.yaml
Due: none

make sarif filenames unique
  .github/workflows/_build-and-push.yml
Due: none

Readme updated again with two more queries to give count of accounts with one login ids (#3359)
  query/README.md
Due: none

update slack notification logic
  .github/workflows/path-to-live.yml
Due: none

update slack notification logic (#3364)
  .github/workflows/path-to-live.yml
Due: none

UML-3881: Enter organisation name for pv journey (#3293)
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/src/Workflow/PaperVerificationShareCode.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/enter-organisation-name.html.twig
Due: use-an-lpa-front

make sarif filenames unique (#3363)
  .github/workflows/_build-and-push.yml
Due: none

Update everything and bring in new "suggested" package
  service-front/app/composer.json
  service-front/app/composer.lock
Due: use-an-lpa-front

Update the fun things.
  service-front/app/composer.json
  service-front/app/composer.lock
Due: use-an-lpa-front

All sorts of new Psalm things that needed tweaking under version 6
  service-front/app/psalm-baseline.xml
  service-front/app/psalm.xml
  service-front/app/src/Common/src/Filter/ShareCodeFilter.php
  service-front/app/src/Common/src/Middleware/Security/CSPNonceMiddleware.php
  service-front/app/src/Common/src/Validator/LuhnCheck.php
  service-front/app/src/Common/src/Validator/MerisReferenceCheckValidator.php
  service-front/app/src/Common/src/Validator/SiriusReferenceStartsWithCheck.php
Due: use-an-lpa-front

Tweaks to IDE inspections as Psalm is now prompting the opposite.
  .idea/inspectionProfiles/Project_Default.xml
Due: none

Make all grumbled about data providers static.
  service-front/app/test/CommonTest/Entity/Casters/CastToHowAttorneysMakeDecisionsTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToLifeSustainingTreatmentTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToWhenTheLpaCanBeUsedTest.php
  service-front/app/test/CommonTest/Service/Lpa/AccessForAllApiResultTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddLpaApiResponseTest.php
Due: use-an-lpa-front

Missed a testsuite name in configuration update
  service-front/app/phpunit.xml.dist
Due: use-an-lpa-front

Further test fixes
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
  service-front/app/test/CommonTest/Service/Lpa/AccessForAllApiResultTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddLpaApiResponseTest.php
Due: use-an-lpa-front

NotifyService tests failing due to new rules.
  service-front/app/src/Common/src/Service/Notify/NotifyService.php
  service-front/app/test/CommonTest/Service/Notify/NotifyServiceTest.php
Due: use-an-lpa-front

Remove PHPUnit deprecations failures (for now)
  service-front/app/phpunit.xml.dist
Due: use-an-lpa-front

Update to a v11 phpunit configuration file
  service-front/app/phpunit.xml.dist
Due: use-an-lpa-front

Fix some of the deprecations PHPUnit was reporting
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
  service-front/app/test/CommonTest/Middleware/Session/SessionExpiryMiddlewareTest.php
Due: use-an-lpa-front

Somehow managed to break this test whilst updating it (and haven't seen if fail till now?!)
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
Due: use-an-lpa-front

Service-front dependency updates (#3365)
  .idea/inspectionProfiles/Project_Default.xml
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/phpunit.xml.dist
  service-front/app/psalm-baseline.xml
  service-front/app/psalm.xml
  service-front/app/src/Common/src/Filter/ShareCodeFilter.php
  service-front/app/src/Common/src/Middleware/Security/CSPNonceMiddleware.php
  service-front/app/src/Common/src/Service/Notify/NotifyService.php
  service-front/app/src/Common/src/Validator/LuhnCheck.php
  service-front/app/src/Common/src/Validator/MerisReferenceCheckValidator.php
  service-front/app/src/Common/src/Validator/SiriusReferenceStartsWithCheck.php
  service-front/app/test/CommonTest/Entity/Casters/CastToHowAttorneysMakeDecisionsTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToLifeSustainingTreatmentTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToWhenTheLpaCanBeUsedTest.php
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
  service-front/app/test/CommonTest/Middleware/Session/SessionExpiryMiddlewareTest.php
  service-front/app/test/CommonTest/Service/Lpa/AccessForAllApiResultTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddLpaApiResponseTest.php
  service-front/app/test/CommonTest/Service/Notify/NotifyServiceTest.php
Due: use-an-lpa-front

All changes to date. Code is working with migration but needs tests
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Service/Session/Encryption/BlockCipherEncryptedCookie.php
  service-front/app/src/Common/src/Service/Session/Encryption/BlockCipherEncryptedCookieFactory.php
  service-front/app/src/Common/src/Service/Session/Encryption/EncryptionFallbackCookie.php
  service-front/app/src/Common/src/Service/Session/Encryption/EncryptionFallbackCookieFactory.php
  service-front/app/src/Common/src/Service/Session/Encryption/HaliteCrypto.php
  service-front/app/src/Common/src/Service/Session/Encryption/HaliteEncryptedCookie.php
  service-front/app/src/Common/src/Service/Session/KeyManager/Key.php
  service-front/app/test/CommonTest/Service/Session/Encryption/BlockCipherEncryptedCookieTest.php
  service-front/app/test/CommonTest/Service/Session/Encryption/HaliteEncryptedCookieTest.php
Due: use-an-lpa-front

Improve exception handling in halite cookie code
  service-front/app/src/Common/src/Exception/SessionEncryptionFailureException.php
  service-front/app/src/Common/src/Service/Session/Encryption/HaliteEncryptedCookie.php
Due: use-an-lpa-front

Cover missing Halite cookie creation code
  service-front/app/test/CommonTest/Service/Session/Encryption/HaliteEncryptedCookieTest.php
Due: use-an-lpa-front

Improving test coverage
  service-front/app/src/Common/src/Service/Session/Encryption/HaliteEncryptedCookie.php
  service-front/app/test/CommonTest/Service/Session/Encryption/EncryptionFallbackCookieTest.php
  service-front/app/test/CommonTest/Service/Session/Encryption/HaliteEncryptedCookieTest.php
Due: use-an-lpa-front

Key class modernising
  service-front/app/src/Common/src/Service/Session/KeyManager/Key.php
  service-front/app/test/CommonTest/Service/Session/KeyManager/KeyTest.php
Due: use-an-lpa-front

Modernise BlockCipher tests too
  service-front/app/test/CommonTest/Service/Session/Encryption/BlockCipherEncryptedCookieTest.php
Due: use-an-lpa-front

Add coverage for the fallback cookie factory
  service-front/app/test/CommonTest/Service/Session/Encryption/EncryptionFallbackCookieFactoryTest.php
Due: use-an-lpa-front

using state
  docker-compose.dependencies.yml
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
Due: use-an-lpa-front

Uml 3797 deprecated LaminasCrypt removal Pt.1 (#3366)
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Exception/SessionEncryptionFailureException.php
  service-front/app/src/Common/src/Service/Session/Encryption/BlockCipherEncryptedCookie.php
  service-front/app/src/Common/src/Service/Session/Encryption/BlockCipherEncryptedCookieFactory.php
  service-front/app/src/Common/src/Service/Session/Encryption/EncryptionFallbackCookie.php
  service-front/app/src/Common/src/Service/Session/Encryption/EncryptionFallbackCookieFactory.php
  service-front/app/src/Common/src/Service/Session/Encryption/HaliteCrypto.php
  service-front/app/src/Common/src/Service/Session/Encryption/HaliteEncryptedCookie.php
  service-front/app/src/Common/src/Service/Session/KeyManager/Key.php
  service-front/app/test/CommonTest/Service/Session/Encryption/BlockCipherEncryptedCookieTest.php
  service-front/app/test/CommonTest/Service/Session/Encryption/EncryptionFallbackCookieFactoryTest.php
  service-front/app/test/CommonTest/Service/Session/Encryption/EncryptionFallbackCookieTest.php
  service-front/app/test/CommonTest/Service/Session/Encryption/HaliteEncryptedCookieTest.php
  service-front/app/test/CommonTest/Service/Session/Encryption/KmsEncryptedCookieTest.php
  service-front/app/test/CommonTest/Service/Session/KeyManager/KeyTest.php
Due: use-an-lpa-front

Idea folder changes
  .idea/phpunit.xml
  .idea/scopes/API.xml
  .idea/scopes/Front.xml
Due: none

Remove block cipher code and composer dependency.
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Service/Session/Encryption/BlockCipherEncryptedCookie.php
  service-front/app/src/Common/src/Service/Session/Encryption/BlockCipherEncryptedCookieFactory.php
  service-front/app/src/Common/src/Service/Session/Encryption/EncryptionFallbackCookie.php
  service-front/app/src/Common/src/Service/Session/Encryption/EncryptionFallbackCookieFactory.php
  service-front/app/test/CommonTest/Service/Session/Encryption/BlockCipherEncryptedCookieTest.php
  service-front/app/test/CommonTest/Service/Session/Encryption/EncryptionFallbackCookieFactoryTest.php
Due: use-an-lpa-front
