Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

new sharecode form validation based on paper verification code feature flag
  service-front/app/src/Common/src/Filter/ShareCodeFilter.php
  service-front/app/src/Viewer/src/Form/PVShareCode.php
  service-front/app/src/Viewer/src/Handler/EnterPVSCodeHandler.php
Due: use-an-lpa-front

Use demo environments (#3289)
  terraform/environment/terraform.tfvars.json
Due: none

update docker images and ca-cert
  service-admin/Dockerfile
Due: use-an-lpa-admin

number of attorneys page (#3286)
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/src/View/Twig/GovUKLaminasFormExtension.php
  service-front/app/src/Common/templates/partials/govuk_form.html.twig
  service-front/app/src/Viewer/src/Form/NumberOfAttorneys.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/NumberOfAttorneysHander.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/number-of-attorneys.html.twig
  service-front/app/test/ViewerTest/Form/NumberOfAttorneysTest.php
Due: use-an-lpa-front

new page to enter organisation name, form is the same existing
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/enter-organisation-name.html.twig
Due: use-an-lpa-front

routes file changed
  service-front/app/config/routes.php
Due: use-an-lpa-front

translations added
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

translations resolved
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
Due: use-an-lpa-front

linting issues
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
Due: use-an-lpa-front

UML-3858: who paper verification code was sent to (#3262)
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Form/VerificationCodeReceiver.php
  service-front/app/src/Viewer/src/Handler/PaperVerificationCodeSentToHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/verification-code-sent-to.html.twig
  service-front/app/test/ViewerTest/Form/VerificationCodeSentToTest.php
Due: use-an-lpa-front

print statements
  query/dynamodb_export.py
Due: none

wip
  service-front/app/config/routes.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code.html.twig
Due: use-an-lpa-front

UML-3961: add if exists to athena query
  query/dynamodb_export.py
Due: none

UML-3961: add if exists to athena query (#3296)
  query/dynamodb_export.py
Due: none

pv check answers
  query/dynamodb_export.py
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
Due: use-an-lpa-front

added tests for code cov
  service-front/app/test/CommonTest/Filter/ShareCodeFilterTest.php
  service-front/app/test/ViewerTest/Form/PVShareCodeTest.php
Due: use-an-lpa-front

Add new middleware that allows mapping request data into objects semi-automatically.
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Handler/Trait/RequestAsObjectTrait.php
  service-api/app/src/App/src/Middleware/RequestObject/RequestObjectMapperFactory.php
  service-api/app/src/App/src/Middleware/RequestObject/RequestObjectMiddleware.php
  service-api/app/src/App/src/Middleware/RequestObject/RequestParser.php
  service-api/app/src/App/src/Middleware/RequestObject/RequestParserFactory.php
  service-api/app/src/App/src/Service/Hydration/WithoutConversionDefinitionProviderFactory.php
Due: use-an-lpa-api

Move value object to new location so we can build out more of them
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/src/App/src/Value/LpaUid.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
  service-api/app/test/AppTest/Value/LpaUidTest.php
Due: use-an-lpa-api

Remove unnecessary error handling from trait.
  service-api/app/src/App/src/Handler/Trait/RequestAsObjectTrait.php
Due: use-an-lpa-api

Change viewercode summary and full endpoints to use new objects and validation
  service-api/app/config/routes.php
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/src/App/src/Handler/ViewerCodeFullHandler.php
  service-api/app/src/App/src/Handler/ViewerCodeSummaryHandler.php
  service-api/app/src/App/src/Request/InputFilteredRequest.php
  service-api/app/src/App/src/Request/ViewerCodeFull.php
  service-api/app/src/App/src/Request/ViewerCodeSummary.php
Due: use-an-lpa-api

Get functional tests running in pipeline and locally.
  .github/workflows/_build-and-push.yml
  .idea/runConfigurations/API.xml
  .idea/runConfigurations/API_Functional.xml
  service-api/app/test/FunctionalTest/AbstractFunctionalTestCase.php
  service-api/app/test/FunctionalTest/Request/ViewerCodeFullTest.php
  service-api/app/test/FunctionalTest/Request/ViewerCodeSummaryTest.php
Due: use-an-lpa-api

Add initial paper verification code request types
  service-api/app/src/App/src/Request/PaperVerificationCodeUsable.php
  service-api/app/src/App/src/Request/PaperVerificationCodeValidate.php
  service-api/app/src/App/src/Request/PaperVerificationCodeView.php
  service-api/app/src/App/src/Value/CastToValueObject.php
  service-api/app/src/App/src/Value/PaperVerificationCode.php
Due: use-an-lpa-api

Enable apcu for unit tests
  .github/workflows/_build-and-push.yml
Due: none

added tests for code cov
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
Due: use-an-lpa-front

Split out functional test running into separate job
  .github/workflows/_build-and-push.yml
Due: none

Rejig the functional tests as a part of wider unit test running.
  .github/workflows/_build-and-push.yml
Due: none

Configure local test running better.
  .idea/runConfigurations/API.xml
  .idea/runConfigurations/API_Functional.xml
Due: none

Mark trait as not covered by tests.
  service-api/app/src/App/src/Handler/Trait/RequestAsObjectTrait.php
Due: use-an-lpa-api

Test for middleware
  service-api/app/test/AppTest/Middleware/RequestObject/RequestObjectMiddlewareTest.php
Due: use-an-lpa-api

Let organisation know why LPA could not be found using paper verification code - additional details incorrect
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/lpa-not-found.html.twig
Due: use-an-lpa-front

updated translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
Due: use-an-lpa-front

UAT purpose commit
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
Due: use-an-lpa-front

reverted accidental commits
  query/dynamodb_export.py
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code.html.twig
Due: use-an-lpa-front

UML-3962: reconfigure app insights
  terraform/account/region/application_insights.tf
  terraform/account/region/pagerduty.tf
  terraform/account/region/variables.tf
  terraform/environment/region.tf
  terraform/environment/region/application_insights.tf
  terraform/environment/region/pagerduty.tf
  terraform/environment/region/variables.tf
  terraform/environment/variables.tf
Due: none

remove all app insights configuration
  terraform/account/region/application_insights.tf
Due: none

UML-3962: remove app insights (#3299)
  terraform/account/region/application_insights.tf
  terraform/account/region/pagerduty.tf
  terraform/account/region/variables.tf
  terraform/environment/region.tf
  terraform/environment/region/application_insights.tf
  terraform/environment/region/pagerduty.tf
  terraform/environment/region/variables.tf
  terraform/environment/variables.tf
Due: none

reverted uat change
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
Due: use-an-lpa-front

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
