Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

test fixes
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

adding code creted by actor id to viewer code table to be used when lpa is removed from account
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/seeding/dynamodb.py
  service-front/app/features/actor-check-access-codes.feature
Due: use-an-lpa-front, use-an-lpa-api

inactive attorney name to be show
  service-api/app/src/App/src/Service/Lpa/ResolveActor.php
Due: use-an-lpa-api

test fixes
  service-api/app/features/context/Acceptance/LpaContext.php
Due: use-an-lpa-api

test fixes
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

reverted some changes and now sending back a list of active and inactive attorneys
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/LpasResourceHandler.php
  service-api/app/src/App/src/Service/Lpa/LpaService.php
  service-front/app/src/Actor/src/Handler/CheckAccessCodesHandler.php
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/src/Common/src/Service/Lpa/Factory/Sirius.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
Due: use-an-lpa-front, use-an-lpa-api

test fixes
  service-front/app/features/actor-remove-lpa.feature
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

wip
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/LpaDataResourceHandler.php
  service-api/app/src/App/src/Service/Lpa/LpaService.php
  service-front/app/src/Actor/src/Handler/CheckAccessCodesHandler.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
Due: use-an-lpa-front, use-an-lpa-api

reverted changes
  service-api/app/src/App/src/Service/Lpa/ResolveActor.php
Due: use-an-lpa-api

cleanups and test additions
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
  service-front/app/features/actor-view-lpa.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/test/CommonTest/Service/Lpa/SiriusLpaFactoryTest.php
  service-front/app/test/fixtures/full_example.json
Due: use-an-lpa-front, use-an-lpa-api

cleanups
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/Handler/LpasResourceHandler.php
Due: use-an-lpa-api

On removing an LPA, generated access codes do not get cancelled
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
  service-front/app/src/Actor/templates/actor/check-access-codes.html.twig
Due: use-an-lpa-front, use-an-lpa-api

number of access code views should look at event viewer codes viewed
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

data added to stats to test
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api

removed case sensitivity from email search
  service-admin/internal/server/handlers/search.go
Due: use-an-lpa-admin

removed case sensitivity from email search only
  service-admin/internal/server/handlers/search.go
Due: use-an-lpa-admin

show not applicable in email row when a used activation key has been serached for and the lpa is deleted
  service-admin/web/templates/result_code.partial.gohtml
Due: use-an-lpa-admin

UML-2793: Number of access code views should look at event viewer codes viewed (#2173)
  service-admin/web/templates/stats.page.gohtml
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api, use-an-lpa-admin

show not applicable in email row when a used activation key has been serached for and the lpa is deleted (#2175)
  service-admin/web/templates/result_code.partial.gohtml
Due: use-an-lpa-admin

Uml 2679 remove case sensitivity (#2159)
  service-admin/internal/server/handlers/search.go
  service-admin/internal/server/handlers/search_test.go
Due: use-an-lpa-admin

wip - to test
  service-front/docker/web/etc/confd/templates/nginx.conf
  terraform/environment/actor_ecs.tf
  terraform/environment/viewer_ecs.tf
  tests/features/security-headers.feature
  tests/smoke/context/CommonContext.php
Due: use-an-lpa-front

wip
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

adding cors headers
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

update trivy vuln
  lambda-functions/upload-statistics/Dockerfile
Due: none

Added translations and now showing label when no active access code present
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
Due: use-an-lpa-front

Added a missing step
  service-front/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-front

Configure logging endpoint locally
  docker-compose.yml
Due: none

Implement CSP on nginx responses and provide logging endpoint
  service-front/docker/web/Dockerfile
  service-front/docker/web/etc/confd/conf.d/nginx.toml
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

Stop google analytics from working for Cloudwatch test purposes
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

Update hashicorp/local terraform package
  terraform/environment/.terraform.lock.hcl
  terraform/environment/terraform.tf
Due: none

Update fetch-depth as changes not being picked up.
  .github/workflows/pull-request-path.yml
Due: none

Add protocol to reporting url
  terraform/environment/actor_ecs.tf
  terraform/environment/viewer_ecs.tf
Due: none

Add web_domain configuration value to ecs tasks
  terraform/environment/actor_ecs.tf
  terraform/environment/viewer_ecs.tf
Due: none

Fix fetch depth as documented https://github.com/tj-actions/changed-files#usage
  .github/workflows/pull-request-path.yml
Due: none

Revert "Stop google analytics from working for Cloudwatch test purposes"
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

Forgot comma in log format
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

Add nonce generation and use
  service-front/app/config/pipeline.php
  service-front/app/src/Common/src/Middleware/Security/CSPNonceMiddleware.php
  service-front/app/src/Common/src/Service/Security/CSPNonce.php
  service-front/app/src/Common/src/View/Twig/JavascriptVariablesExtension.php
  service-front/app/src/Common/src/View/Twig/JavascriptVariablesExtensionFactory.php
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

Sort out CORs headers
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

Twig component test fixes
  service-front/app/test/CommonTest/View/Twig/JavascriptVariablesExtensionFactoryTest.php
  service-front/app/test/CommonTest/View/Twig/JavascriptVariablesExtensionTest.php
Due: use-an-lpa-front

Add security header smoke test
  tests/features/security-headers.feature
  tests/smoke/context/CommonContext.php
Due: none
