Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

UML-3724 github workflow
  .github/workflows/go-unit-test.yml
Due: none

UML-3724 github workflow update
  .github/workflows/go-unit-test.yml
  .github/workflows/pull-request-path.yml
Due: none

UML-3724 github workflow update
  .github/workflows/pull-request-path.yml
Due: none

UML-3724 github workflow update
  .github/workflows/go-unit-test.yml
Due: none

UML-3724 updated main
  lambda-functions/event-receiver/app/main.go
Due: none

Move nonce value up a layer in the virtual server stack so that it can be used in CSP variable calculations
  service-front/docker/web/default.conf.template
Due: use-an-lpa-front

Check nonce set on script element as expected
  tests/smoke/context/CommonContext.php
Due: none

Smoke test dependency updates
  tests/smoke/composer.lock
Due: none

Behat configuration documentation had incorrect CLI command
  tests/smoke/behat.yml
Due: none

Context missing use statement
  tests/smoke/context/AccountContext.php
Due: none

Documentation link update
  service-front/app/config/autoload/templates.global.php
Due: use-an-lpa-front

Clarify comment on just what kind of attribute is forbidden.
  tests/smoke/context/CommonContext.php
Due: none

Fix CSP nonce headers not being set correctly (#3080)
  service-front/app/config/autoload/templates.global.php
  service-front/docker/web/default.conf.template
  tests/smoke/behat.yml
  tests/smoke/composer.lock
  tests/smoke/context/AccountContext.php
  tests/smoke/context/CommonContext.php
Due: use-an-lpa-front

Syntax issue after merge.
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

Install and configure rector on the api side
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/rector.php
Due: use-an-lpa-api

Install necessary packages and setup rector
  service-front/app/behat.yml
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/rector.php
Due: use-an-lpa-front

Rector run on new context file changes
  service-front/app/features/context/Integration/AccountContext.php
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

rector file linting fixes.
  service-api/app/rector.php
  service-front/app/rector.php
Due: use-an-lpa-front, use-an-lpa-api

Run rector and phpcs against context files.
  service-front/app/features/actor-create-access-code.feature
  service-front/app/features/context/ActorContextTrait.php
  service-front/app/features/context/BaseUiContextTrait.php
  service-front/app/features/context/ContextUtilities.php
  service-front/app/features/context/Integration/BaseIntegrationContext.php
  service-front/app/features/context/Integration/FeatureFlagContext.php
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/features/context/Integration/ViewerContext.php
  service-front/app/features/context/UI/BaseUiContext.php
  service-front/app/features/context/UI/CommonContext.php
  service-front/app/features/context/UI/FeatureFlagContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/features/context/UI/SharedState.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/context/ViewerContextTrait.php
Due: use-an-lpa-front

Add smoke test suite whilst I'm at it.
  .idea/phpunit.xml
  tests/smoke/composer.json
  tests/smoke/composer.lock
  tests/smoke/context/AccountContext.php
  tests/smoke/context/BaseContextTrait.php
  tests/smoke/context/CommonContext.php
  tests/smoke/context/FeatureFlagContextTrait.php
  tests/smoke/context/ViewerContext.php
  tests/smoke/rector.php
Due: none

Rector and phpcs run on api feature files.
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/context/Acceptance/BaseAcceptanceContext.php
  service-api/app/features/context/Acceptance/CommonContext.php
  service-api/app/features/context/Acceptance/FeatureFlagContext.php
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/BaseAcceptanceContextTrait.php
  service-api/app/features/context/Integration/AccountContext.php
  service-api/app/features/context/Integration/BaseIntegrationContext.php
  service-api/app/features/context/Integration/FeatureFlagContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/features/context/SetupEnv.php
  service-api/app/features/context/UsesPactContextTrait.php
Due: use-an-lpa-api

Merge fixes and rerun of rector/phpcbf
  service-api/app/composer.lock
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-front/app/composer.lock
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/features/context/UI/RequestActivationKeyContext.php
Due: use-an-lpa-front, use-an-lpa-api

Ensure mocks have correct (mocked) security in place
  mock-integrations/image-request-handler/mock-config.yaml
Due: none

Fix up healtcheck endpoint with new PSR compatible code
  service-api/app/src/App/src/Handler/Factory/HealthcheckHandlerFactory.php
  service-api/app/src/App/src/Handler/HealthcheckHandler.php
  service-api/app/test/AppTest/Handler/Factory/HealthcheckHandlerFactoryTest.php
  service-api/app/test/AppTest/Handler/HealthcheckHandlerTest.php
Due: use-an-lpa-api

Ensure request signer adds static auth header *after* signing.
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSigner.php
Due: use-an-lpa-api

Fake healthcheck "endpoint" for api gateway mocks
  mock-integrations/image-request-handler/mocked-images/v1/healthcheck
Due: none

Add healthy check to the smoke test for the service.
  tests/features/check-service-status.feature
  tests/smoke/context/CommonContext.php
Due: none

Tidy up environment more when bringing it down.
  Makefile
Due: none

Move around the header addition ordering
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSigner.php
Due: use-an-lpa-api

Fix up the healthcheck endpoint (#2704)
  Makefile
  mock-integrations/image-request-handler/mock-config.yaml
  mock-integrations/image-request-handler/mocked-images/v1/healthcheck
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSigner.php
  service-api/app/src/App/src/Handler/Factory/HealthcheckHandlerFactory.php
  service-api/app/src/App/src/Handler/HealthcheckHandler.php
  service-api/app/test/AppTest/Handler/Factory/HealthcheckHandlerFactoryTest.php
  service-api/app/test/AppTest/Handler/HealthcheckHandlerTest.php
  tests/features/check-service-status.feature
  tests/smoke/context/CommonContext.php
Due: use-an-lpa-api

UML-3804: add lpa-data-store secret access
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/variables.tf
  terraform/environment/variables.tf
Due: none

add values to tfvars
  terraform/environment/terraform.tfvars.json
Due: none

disable event bus flag - not sure how this was enabled?
  terraform/environment/terraform.tfvars.json
Due: none

UML-3804: lpa-data-store secret access (#3091)
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

Add lpastore api to healthcheck handler
  service-api/app/src/App/src/Handler/Factory/HealthcheckHandlerFactory.php
  service-api/app/src/App/src/Handler/HealthcheckHandler.php
Due: use-an-lpa-api

Ensure mock lpastore implements a proper healthcheck as per the spec
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/index.mjs
Due: none

Typo in internal config variable names meant only local dev would have been functional
  docker-compose.dependencies.yml
  docker-compose.yml
  service-api/app/config/autoload/envs.global.php
Due: use-an-lpa-api

Passing unit tests for new endpoint check.
  service-api/app/test/AppTest/Handler/Factory/HealthcheckHandlerFactoryTest.php
  service-api/app/test/AppTest/Handler/HealthcheckHandlerTest.php
Due: use-an-lpa-api

Pin Psalm to v5
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
Due: none
