Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Remove lighthouse test
  .github/workflows/_lighthouse-ci.yml
  .github/workflows/pull-request-path.yml
Due: none

Move caching in nginx to correct place
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

Try removing static caching
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

Simplify caching
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

Add preconnect for google assets
  service-front/app/src/Common/templates/layout/default.html.twig
Due: use-an-lpa-front

pin alpine version to 3.17 and upgraded some packages
  service-admin/Dockerfile
Due: use-an-lpa-admin

pin alpine version to 3.17 and upgraded some packages (#2152)
  service-admin/Dockerfile
Due: use-an-lpa-admin

UML-2781 cache assets (#2139)
  README.md
  service-front/app/config/autoload/templates.global.php
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/docker/web/etc/confd/templates/nginx.conf
  service-front/web/build.js
  service-front/web/src/budget.json
Due: use-an-lpa-front

add search case insensitivity
  service-admin/internal/server/handlers/search.go
  service-admin/internal/server/handlers/search_test.go
Due: use-an-lpa-admin

add viewed code stats
  service-admin/internal/server/data/statistics.go
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

Minify JS and CSS
  service-front/web/build.js
  service-front/web/package.json
Due: use-an-lpa-front

Revert "add search case insensitivity"
  service-admin/internal/server/handlers/search.go
  service-admin/internal/server/handlers/search_test.go
Due: use-an-lpa-admin

Add preload for fonts to reduce FOUT delay
  service-front/app/src/Common/templates/layout/default.html.twig
Due: use-an-lpa-front

Update service-admin/web/templates/stats.page.gohtml
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

Remove font preload
  service-front/app/src/Common/templates/layout/default.html.twig
Due: use-an-lpa-front

View success add to stats page (#2155)
  service-admin/internal/server/data/statistics.go
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

add lock timeout to plan command. This will wait 5m for the lock before failing
  .github/workflows/_run-terraform.yml
Due: none

add lock timeout to plan command. This will wait 5m for the lock before failing (#2156)
  .github/workflows/_run-terraform.yml
Due: none

Minify JS and CSS (#2154)
  service-front/web/build.js
  service-front/web/package.json
Due: use-an-lpa-front

move test to correct area
  service-admin/internal/server/handlers/search_test.go
Due: use-an-lpa-admin

Move JS script tag to bottom of document
  service-front/app/src/Common/templates/layout/default.html.twig
Due: use-an-lpa-front

update psalm independently
  service-api/app/composer.lock
  service-front/app/composer.lock
Due: use-an-lpa-front, use-an-lpa-api

update laminas-component-installer so it's compatibly with php 8.2
  service-api/docker/app/Dockerfile
  service-front/app/composer.lock
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api

fix stats job
  .circleci/config.yml
Due: none

Move JS script tag to bottom of document (#2161)
  service-front/app/src/Common/templates/layout/default.html.twig
Due: use-an-lpa-front

UML-2700 NO ACTIVE CODES badge (#2151)
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
Due: use-an-lpa-front

Add additional test for case where user re-requests a partial match
  service-api/app/features/actor-add-an-older-lpa.feature
  service-api/app/features/context/Acceptance/LpaContext.php
Due: use-an-lpa-api

Turn save_older_lpa_requests feature flag on
  service-api/app/features/actor-add-an-older-lpa.feature
Due: use-an-lpa-api

Test fixes
  service-api/app/features/actor-add-an-older-lpa.feature
  service-api/app/features/context/Acceptance/LpaContext.php
Due: use-an-lpa-api

Remove pact setup
  service-api/app/features/actor-add-an-older-lpa.feature
Due: use-an-lpa-api

UML-2656 Add additional test for case where user re-requests a partial match (#2153)
  service-api/app/features/actor-add-an-older-lpa.feature
  service-api/app/features/context/Acceptance/LpaContext.php
Due: use-an-lpa-api

adding access code created stats
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

table format change
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

data added to stats to test
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api

categorised acess codes created and viewed to one table
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

UML-2791:adding access code created stats (#2165)
  service-admin/web/templates/stats.page.gohtml
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api, use-an-lpa-admin

UML-2632: Rework password requirements to better match current GDS and ASVS guidelines (#2148)
  service-api/app/features/context/Integration/AccountContext.php
  service-front/app/features/actor-account-creation.feature
  service-front/app/features/actor-password-change.feature
  service-front/app/features/actor-password-reset.feature
  service-front/app/features/context/Integration/AccountContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Form/CreateAccount.php
  service-front/app/src/Actor/src/Form/PasswordChange.php
  service-front/app/src/Actor/src/Form/PasswordReset.php
  service-front/app/src/Actor/templates/actor/create-account.html.twig
  service-front/app/src/Actor/templates/actor/form-error-messages.html.twig
  service-front/app/src/Actor/templates/actor/password-change.html.twig
  service-front/app/src/Actor/templates/actor/password-reset.html.twig
Due: use-an-lpa-front, use-an-lpa-api

UML-2727 add api 5xx alarms
  service-api/docker/app/fpm-pool.ini
  service-api/docker/web/etc/confd/templates/nginx.conf
  service-front/docker/app/fpm-pool.ini
  service-front/docker/web/etc/confd/templates/nginx.conf
  terraform/environment/cloudwatch_alarms.tf
  terraform/environment/cloudwatch_metrics.tf
Due: use-an-lpa-front, use-an-lpa-api

cleanups
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
  service-front/app/test/CommonTest/Service/Lpa/SiriusLpaFactoryTest.php
Due: use-an-lpa-front, use-an-lpa-api

removed unwanted file
  service-api/app/src/App/src/Handler/LpaDataResourceHandler.php
Due: use-an-lpa-api
