Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

UML-2457 Run pilot light compute in eu-west-2 (#2533)
  terraform/environment/terraform.tfvars.json
Due: none

Start
  terraform/environment/modules/iam/iam_ecs_task_roles.tf
  terraform/environment/modules/iam/outputs.tf
  terraform/environment/region/actor_ecs.tf
Due: none

UML-972 Rename Actor Terraform resources to Use
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_seed-database.yml
  .github/workflows/path-to-live.yml
  scripts/pipeline/set_environment_variables/set_slack_message_values.sh
  terraform/environment/backup_plan.tf
  terraform/environment/config_file.tf
  terraform/environment/dynamodb.tf
  terraform/environment/modules/iam/iam_ecs_task_roles.tf
  terraform/environment/modules/iam/outputs.tf
  terraform/environment/refactor.tf
  terraform/environment/refactor_actor.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/autoscaling.tf
  terraform/environment/region/cloudwatch_alarms.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/viewer_load_balancer.tf
  terraform/environment/region/waf.tf
Due: none

Correct seed DB
  .github/workflows/_seed-database.yml
Due: none

UML-972 Rename Terraform resources from Actor to Use (#2534)
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_seed-database.yml
  .github/workflows/path-to-live.yml
  scripts/pipeline/set_environment_variables/set_slack_message_values.sh
  terraform/environment/backup_plan.tf
  terraform/environment/config_file.tf
  terraform/environment/dynamodb.tf
  terraform/environment/modules/iam/iam_ecs_task_roles.tf
  terraform/environment/modules/iam/outputs.tf
  terraform/environment/refactor.tf
  terraform/environment/refactor_actor.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/autoscaling.tf
  terraform/environment/region/cloudwatch_alarms.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/viewer_load_balancer.tf
  terraform/environment/region/waf.tf
Due: none

UML-3312 Fixing Terraform linting issues
  terraform/account/locals.tf
  terraform/account/variables.tf
  terraform/environment/locals.tf
  terraform/environment/outputs.tf
  terraform/environment/variables.tf
Due: none

UML-3312 Fixing Terraform linting issues (#2536)
  terraform/account/locals.tf
  terraform/account/variables.tf
  terraform/environment/locals.tf
  terraform/environment/outputs.tf
  terraform/environment/variables.tf
Due: none

UML-1911 Add SrcAccount condition for resource policies
  terraform/account/backup_role.tf
  terraform/account/kms.tf
  terraform/account/modules/dynamodb_cloudtrail/cloudtrail.tf
  terraform/account/modules/dynamodb_cloudtrail/kms.tf
  terraform/account/modules/dynamodb_cloudtrail/s3.tf
  terraform/account/region/cloudwatch.tf
  terraform/account/region/modules/lambda_function/iam.tf
  terraform/account/region/pagerduty.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/waf.tf
  terraform/account/vpc_flowlogs.tf
  terraform/environment/modules/iam/iam_ecs_execution_role.tf
  terraform/environment/modules/iam/iam_ecs_task_roles.tf
  terraform/environment/modules/lambda/iam.tf
Due: none

Add data lookups
  terraform/environment/modules/iam/iam_ecs_execution_role.tf
  terraform/environment/modules/lambda/iam.tf
Due: none

Add missing data looukup
  terraform/account/region/modules/lambda_function/iam.tf
Due: none

UML-1911 Add SrcAccount condition for resource policies (#2537)
  terraform/account/backup_role.tf
  terraform/account/kms.tf
  terraform/account/modules/dynamodb_cloudtrail/cloudtrail.tf
  terraform/account/modules/dynamodb_cloudtrail/kms.tf
  terraform/account/modules/dynamodb_cloudtrail/s3.tf
  terraform/account/region/cloudwatch.tf
  terraform/account/region/modules/lambda_function/iam.tf
  terraform/account/region/pagerduty.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/waf.tf
  terraform/account/vpc_flowlogs.tf
  terraform/environment/modules/iam/iam_ecs_execution_role.tf
  terraform/environment/modules/iam/iam_ecs_task_roles.tf
  terraform/environment/modules/lambda/iam.tf
Due: none

UML-1911 Allow LB to write access logs
  terraform/account/region/s3_lb_access_logs.tf
Due: none

UML-1911 Allow LB to write access logs (#2538)
  terraform/account/region/s3_lb_access_logs.tf
Due: none

UML-3227: Count IP Reputation matches #minor
  terraform/account/region/waf.tf
Due: none

UML-3227: Count IP Reputation matches #minor (#2539)
  terraform/account/region/waf.tf
Due: none

UML 3292 Update name of tab Your details (#2527)
  service-api/app/features/actor-delete-account.feature
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/context/Integration/AccountContext.php
  service-front/app/config/routes.php
  service-front/app/features/actor-back-navigation.feature
  service-front/app/features/actor-delete-account.feature
  service-front/app/features/actor-triage.feature
  service-front/app/features/actor-your-details.feature
  service-front/app/features/context/Integration/AccountContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Handler/SettingsHandler.php
  service-front/app/src/Actor/templates/actor/change-details.html.twig
  service-front/app/src/Actor/templates/actor/change-email.html.twig
  service-front/app/src/Actor/templates/actor/confirm-delete-account.html.twig
  service-front/app/src/Actor/templates/actor/password-change.html.twig
  service-front/app/src/Actor/templates/actor/settings.html.twig
  service-front/app/src/Common/templates/partials/account-bar.html.twig
Due: use-an-lpa-front, use-an-lpa-api

UML-3271 Send 410 for gone URLs
  service-front/app/config/autoload/dependencies.global.php
  service-front/app/config/pipeline.php
  service-front/app/config/routes.php
  service-front/app/src/Common/src/Middleware/ErrorHandling/GoneHandler.php
  service-front/app/src/Common/src/Middleware/ErrorHandling/GoneHandlerFactory.php
  service-front/app/src/Common/templates/error/410.html.twig
  service-front/app/test/CommonTest/Middleware/ErrorHandling/GoneHandlerFactoryTest.php
  service-front/app/test/CommonTest/Middleware/ErrorHandling/GoneHandlerTest.php
Due: use-an-lpa-front

Update service-front/app/config/pipeline.php
  service-front/app/config/pipeline.php
Due: use-an-lpa-front

DI moved to ConfigProvider.php
  service-front/app/config/autoload/dependencies.global.php
  service-front/app/src/Common/src/ConfigProvider.php
Due: use-an-lpa-front

changed content of 410.html.twig
  service-front/app/src/Common/templates/error/410.html.twig
Due: use-an-lpa-front

amending goneHandler to process child urls i.e {token}
  service-front/app/src/Common/src/Middleware/ErrorHandling/GoneHandler.php
Due: use-an-lpa-front

test behat with factory
  service-front/app/config/autoload/dependencies.global.php
Due: use-an-lpa-front

test behat factory
  service-front/app/config/autoload/dependencies.global.php
  service-front/app/features/bootstrap/behat.config.php
Due: use-an-lpa-front

added more gone URLs
  service-front/app/src/Common/src/Middleware/ErrorHandling/GoneHandler.php
Due: use-an-lpa-front

Update service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/ConfigProvider.php
Due: use-an-lpa-front

UML-3271 Password reset form need to 410 (#2535)
  service-front/app/config/pipeline.php
  service-front/app/config/routes.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Middleware/ErrorHandling/GoneHandler.php
  service-front/app/src/Common/src/Middleware/ErrorHandling/GoneHandlerFactory.php
  service-front/app/src/Common/templates/error/410.html.twig
  service-front/app/test/CommonTest/Middleware/ErrorHandling/GoneHandlerFactoryTest.php
  service-front/app/test/CommonTest/Middleware/ErrorHandling/GoneHandlerTest.php
Due: use-an-lpa-front

Add internal clock implementation
  service-api/app/src/App/src/ConfigProvider.php
Due: use-an-lpa-api

Add test for getByIdentity
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
Due: use-an-lpa-api

Improve exception handling across the user service esp. around dates
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
Due: use-an-lpa-api

Identity is a protected DynamoDB keyword
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
Due: use-an-lpa-api

Missed a linting issue
  service-api/app/src/App/src/Service/RandomByteGenerator.php
Due: use-an-lpa-api

Implement parsing, validation and return of user info
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginUserInfoKeyManager.php
Due: use-an-lpa-api

More .idea folder updates
  .idea/phpunit.xml
Due: none

Use new user resolution code
  service-api/app/src/App/src/Service/Authentication/OneLoginService.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginServiceTest.php
Due: use-an-lpa-api

Wrap random_bytes in function to handle exceptions better
  service-api/app/src/App/src/Exception/RandomException.php
  service-api/app/src/App/src/Service/RandomByteGenerator.php
  service-api/app/test/AppTest/Service/RandomByteGeneratorTest.php
Due: use-an-lpa-api

Behat test alterations and updates.
  service-api/app/features/context/Acceptance/OidcContext.php
Due: use-an-lpa-api

Exception for when DateTime operations fail.
  service-api/app/src/App/src/Exception/DateTimeException.php
Due: use-an-lpa-api

Ensure we're reporting Runtime exceptions and their derivatives in the IDE so we don't miss them.
  .idea/php.xml
Due: none

Tweak login template lnf
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Resolve oauth/oidc users out of our existing accounts
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
Due: use-an-lpa-api

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
