Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Translated using Weblate (Welsh)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Translated using Weblate (English)
  service-front/app/languages/en_GB/LC_MESSAGES/messages.mo
  service-front/app/languages/en_GB/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Create and include package to wrap axe extension things.
  tests/smoke/composer.json
  tests/smoke/composer.lock
  tests/smoke/packages/behat-axe-extension/src/AxeContext.php
  tests/smoke/packages/behat-axe-extension/src/AxeExtension.php
  tests/smoke/packages/behat-axe-extension/src/Driver/AxeChromeFactory.php
Due: none

Run the Axe tests in pipelines and locally
  .github/workflows/_run-behat-tests.yml
  tests/smoke/behat.yml
  tests/smoke/docker-compose.smoke.yml
Due: none

Missing Axe extension package files
  tests/smoke/packages/behat-axe-extension/composer.json
  tests/smoke/packages/behat-axe-extension/src/AxeResultMarkdownParser.php
  tests/smoke/packages/behat-axe-extension/src/Driver/AxeChromeDriver.php
  tests/smoke/packages/behat-axe-extension/src/Driver/DriverDecorator.php
Due: none

Fixup local runner for smoke tests
  local-config/proxy/dynamic.toml
  tests/smoke/.gitignore
  tests/smoke/README.md
  tests/smoke/context/CommonContext.php
  tests/smoke/context/FeatureFlagContextTrait.php
Due: none

Ensure custom packages are copied across for install
  tests/smoke/Dockerfile
Due: none

UML-4530: update elasticache alarm
  terraform/account/region/cloudwatch_alarms.tf
Due: none

Don't need to install anything in the dockerfile since we're doing it in the build.
  tests/smoke/Dockerfile
Due: none

Give the axe file the right name
  .github/workflows/_run-behat-tests.yml
Due: none

Only upload the file if it exists
  .github/workflows/_run-behat-tests.yml
Due: none

UML-4532 - Create shared mock onelogin load balancer for pr envs
  terraform/account/region/shared_mock_onelogin_load_balancer.tf
Due: none

Debug line to see what is output
  .github/workflows/_run-behat-tests.yml
  tests/smoke/packages/behat-axe-extension/src/Driver/AxeChromeDriver.php
Due: none

test coverage improved
  .secrets.baseline
  service-api/app/features/context/Integration/LpaContext.php
  service-front/app/features/actor-add-an-lpa.feature
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front, use-an-lpa-api

Forgot to include the axe javascript build changes (sigh)
  service-front/web/build.js
  service-front/web/package-lock.json
  service-front/web/package.json
Due: use-an-lpa-front

Revert "Debug line to see what is output"
  .github/workflows/_run-behat-tests.yml
  tests/smoke/packages/behat-axe-extension/src/Driver/AxeChromeDriver.php
Due: none

test change
  service-front/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-front

reverting the changes as we do not need to set the field on Ual
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapTest.php
Due: use-an-lpa-api

test fix
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

UML-4532 - Migrate mock onelogin to shared ALB in PR envs
  .github/workflows/_run-behat-tests.yml
  scripts/pipeline/ci_ingress/ci_ingress.py
  terraform/environment/locals.tf
  terraform/environment/region.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/variables.tf
Due: none

change variable name
  terraform/environment/locals.tf
  terraform/environment/region.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/variables.tf
Due: none
