Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Protect getAdditionalData function from exceptions
  service-api/app/src/App/src/Exception/ApiException.php
Due: use-an-lpa-api

Broke some tests with ApiException edits
  service-api/app/src/App/src/Exception/ApiException.php
Due: use-an-lpa-api

New SiriusLpas code tested
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasTest.php
Due: use-an-lpa-api

Enable LpaStore lpas in development environment
  terraform/environment/terraform.tfvars.json
Due: none

Switch out JWT identification field from 'aud' to 'sub'.
  .pre-commit-config.yaml
  service-api/app/src/App/src/DataAccess/ApiGateway/JWSPayload/DataStoreLpas.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/JWSPayload/DataStoreLpasTest.php
Due: use-an-lpa-api

UML-3736 Event receiver to create db entries (#3114)
  Makefile
  lambda-functions/event-receiver/.idea/event-receiver.iml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/app/factory.go
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/DynamodbClient.go
  lambda-functions/event-receiver/app/mocks/Handler.go
  lambda-functions/event-receiver/app/mocks/factory.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  lambda-functions/event-receiver/internal/dynamo/client.go
  lambda-functions/event-receiver/internal/dynamo/client_test.go
  lambda-functions/event-receiver/internal/dynamo/mocks/DynamoDB.go
  localstack/Dockerfile
Due: none

UML-3736 wip
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/DynamodbClient.go
  lambda-functions/event-receiver/internal/dynamo/client.go
  lambda-functions/event-receiver/internal/dynamo/client_test.go
Due: none

Refactor lpa client classes to better DRY
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
Due: use-an-lpa-api

Refactor the exception throwing and handling around viewer code access.
  service-api/app/src/App/src/Exception/MissingCodeExpiryException.php
  service-api/app/src/App/src/Handler/ViewerCodeFullHandler.php
  service-api/app/src/App/src/Handler/ViewerCodeSummaryHandler.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/src/App/src/Service/Lpa/LpaManagerInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

Implement getByViewerCode
  service-api/app/src/App/src/DataAccess/Repository/LpasInterface.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/Lpa/Combined/RejectInvalidLpa.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/test/AppTest/Service/Lpa/Combined/RejectInvalidLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

Testing revealed issue with way ApiException create function handles failed responses.
  service-api/app/src/App/src/Exception/ApiException.php
Due: use-an-lpa-api

Fix testcase errors on DataStoreLpas
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/PSR17PropheciesTrait.php
Due: use-an-lpa-api

Fix case where error response is set on lpa in collection (Not found)
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
  service-front/app/test/CommonTest/Service/Lpa/PopulateLpaMetadataTest.php
Due: use-an-lpa-front

Test to enforce stripping of bad lpas from the lpa results
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
Due: use-an-lpa-front

Refactor of ParseLpaData test file to better use the entity helpers
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
Due: use-an-lpa-front

Temporary debug code as it's still failing
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
  service-front/app/test/CommonTest/Service/Lpa/PopulateLpaMetadataTest.php
Due: use-an-lpa-front

Add test case to replicate issue with invalid array field access
  service-front/app/test/CommonTest/Service/Lpa/PopulateLpaMetadataTest.php
Due: use-an-lpa-front

Remove lpas in error from response in ParseLpaData
  service-front/app/src/Common/src/Exception/LpaRecordInErrorException.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
Due: use-an-lpa-front

Add better typing to Person hydrator
  service-front/app/src/Common/src/Service/Lpa/Factory/PersonDataFormatter.php
Due: use-an-lpa-front

Remove test that is no longer needed.
  service-front/app/test/CommonTest/Service/Lpa/PopulateLpaMetadataTest.php
Due: use-an-lpa-front

Ensure we use the correct mixture of hyphenated and non-hyphenated sirius uids in tests.
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/test/BehatTest/LpaTestUtilities.php
Due: use-an-lpa-api

Use more appropriate test assertion.
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
Due: use-an-lpa-api

Ensure we handle middlenames properly when flag is on in smoke tests
  tests/smoke/context/ViewerContext.php
Due: none

Code consistency fix
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
Due: use-an-lpa-front

Well that's unfun.
  mock-integrations/opg-data-lpa/generate_examples/make_examples.sh
  mock-integrations/opg-data-lpa/mock-openapi-examples.yaml
  mock-integrations/opg-data-lpa/mock-openapi.yaml
  service-api/app/src/App/src/Entity/Sirius/Casters/CastToUnhyphenatedUId.php
  service-api/app/src/App/src/Entity/Sirius/Casters/LinkedDonorCaster.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporation.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/fixtures/test_lpa.json
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
Due: use-an-lpa-front, use-an-lpa-api

Temporary debug output
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
Due: use-an-lpa-api

Forgot the regexp delimiter
  tests/smoke/context/ViewerContext.php
Due: none

Remove temporary logging and log useful information.
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
Due: use-an-lpa-front, use-an-lpa-api

UML-3736 adjusted broken test
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
Due: none

UML-3736 adjusted broken test
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
Due: none

SP-2606 - use non legacy pdf-service ecr #minor
  terraform/environment/region/data_sources.tf
Due: none

UML-3842: update scheduled action
  .github/workflows/scheduled-update-demo.yml
Due: none

update trivy
  .github/workflows/trivy_scan_alert_report.yml
Due: none

UML-3737 addressed comments
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/internal/dynamo/client.go
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
