Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

fix test
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
Due: use-an-lpa-api

Fixup FindActorInLpaTest by making Sirius objects a little more robust
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

fix some of test
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

Final set of unit test fixes (before we start codecoverage work)
  service-api/app/src/App/src/Service/Lpa/Combined/FilterActiveActors.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

Tidy up entity handling around enum casting and life sustaining treatment
  service-api/app/src/App/src/Entity/Casters/CastToAttorneyActDecisions.php
  service-api/app/src/App/src/Entity/Casters/CastToCaseSubtype.php
  service-api/app/src/App/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/Casters/CastToSiriusLifeSustainingTreatment.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Enum/LifeSustainingTreatment.php
  service-api/app/src/App/src/Enum/LpaType.php
  service-api/app/test/AppTest/Entity/CanCastToSiriusLifeSustainingTreatmentTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
Due: use-an-lpa-api

UML-3750 fixed frontend unit tests
  service-front/app/src/Common/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-front/app/test/CommonTest/Entity/CanHydrateCombinedLpaTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateLpaStoreToCombinedFormatTest.php
  service-front/app/test/CommonTest/Entity/PersonTest.php
  service-front/app/test/CommonTest/Entity/Sirius/SiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Sirius/SiriusLpaTrustCorporationTest.php
  service-front/app/test/CommonTest/Enum/WhenCanTheLpaBeUsedTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
  service-front/app/test/fixtures/combined_lpa.json
  service-front/app/test/fixtures/test_lpa.json
Due: use-an-lpa-front

combined manager test
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

UML-3750 moved try catch block to cover match logic
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
Due: use-an-lpa-api

UML-3750 fixed spacing
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
Due: use-an-lpa-api

fix up mocks
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

change file name
  terraform/environment/region/modules/event_bus/bus.tf
  terraform/environment/region/modules/event_bus/main.tf
Due: none

add event target bus name
  terraform/environment/region/modules/event_bus/bus.tf
Due: none

add sqs and variables
  terraform/environment/region/modules/event_bus/sqs.tf
  terraform/environment/region/modules/event_bus/variables.tf
Due: none

instance key and && operator
  terraform/environment/region/modules/event_bus/bus.tf
Due: none

update variable names
  terraform/environment/modules/lambda/outputs.tf
  terraform/environment/region.tf
  terraform/environment/region/event_bus.tf
  terraform/environment/region/modules/event_bus/bus.tf
  terraform/environment/region/modules/event_bus/sqs.tf
  terraform/environment/region/modules/event_bus/variables.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

allow lambda messages from sqs
  terraform/environment/lambda.tf
Due: none

add vars and outputs
  terraform/environment/region/modules/event_bus/outputs.tf
  terraform/environment/region/outputs.tf
Due: none

Add debug logging of the usage of array access methods so that we can discover all the hidden places it's being used.
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/ActorCodes/ActorCodeServiceTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/CodesApiValidationStrategyTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/SiriusHasActorTraitTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusPersonTest.php
Due: use-an-lpa-api

Cludgy fix to get the static providers giving valid entity objects.
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

use arn instead of id
  terraform/environment/lambda.tf
Due: none

just use name
  terraform/environment/lambda.tf
Due: none

propagate outputs
  terraform/environment/lambda.tf
  terraform/environment/region/modules/event_bus/outputs.tf
  terraform/environment/region/modules/event_bus/sqs.tf
  terraform/environment/region/modules/event_bus/variables.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/variables.tf
Due: none

rewmove lambda var
  terraform/environment/region.tf
  terraform/environment/region/event_bus.tf
Due: none

Add debug logging of the usage of array access methods so that we can… (#3013)
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/ActorCodes/ActorCodeServiceTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/CodesApiValidationStrategyTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/SiriusHasActorTraitTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusPersonTest.php
Due: use-an-lpa-api

UML-3394 fix ui
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

UML-3750 added logger
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

UML-3750 added exception for null DOB (#2984)
  service-api/app/src/App/src/Exception/ActorDateOfBirthNotSetException.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

Adding instruction to service admin
  service-admin/README.md
Due: use-an-lpa-admin

Start of work on CombinedLpaManagerTest
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

Adding instruction to service admin (#3020)
  service-admin/README.md
Due: use-an-lpa-admin

fix test broken by merge of main into branch
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

fix test broken by merge in of main
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

Update go container
  lambda-functions/event-receiver/Dockerfile
  service-admin/Dockerfile
  service-admin/go.mod
  service-admin/go.sum
Due: use-an-lpa-admin

Update go container (#3019)
  lambda-functions/event-receiver/Dockerfile
  service-admin/Dockerfile
  service-admin/go.mod
  service-admin/go.sum
Due: use-an-lpa-admin

Update workflow
  .github/workflows/path-to-live.yml
Due: none

Update workflow (#3021)
  .github/workflows/path-to-live.yml
Due: none

Use mock logger in place of Monolog instance
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

WIP tests
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

add lambda permission and change to arn
  terraform/environment/lambda.tf
Due: none

ensure queue visibility timeout aligns
  terraform/environment/region/event_bus.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/modules/event_bus/sqs.tf
  terraform/environment/region/modules/event_bus/variables.tf
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
