Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

accept new combined lpa
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
Due: use-an-lpa-api

refactor
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

all tests pass
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

make Person objects for fixtures for new combined obj
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

more testa fixed
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
Due: use-an-lpa-api

move GetAttorneyStatus to Person, refactor tests more, WIP (some tests still failing)
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

refactor
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
Due: use-an-lpa-api

tests (WIP)
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

Fix up points found in review.
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/GetTrustCorporationStatusInterface.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/TrustCorporationStatusInterface.php
Due: use-an-lpa-api

take out inactive attorney for combined
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

UML-3570 refactor templates to work with combined format summary
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

UML-3570 added relevant test cases
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Entity/PersonTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: use-an-lpa-front

UML-3570 fixed relevant test cases
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
Due: use-an-lpa-front

feature flag by separate templates
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/src/Viewer/src/Handler/CheckCodeHandler.php
  service-front/app/src/Viewer/src/Handler/Factory/CheckCodeHandlerFactory.php
  service-front/app/src/Viewer/src/Handler/ViewLpaHandler.php
  service-front/app/src/Viewer/templates/viewer/check-code-found-combined-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/view-lpa-combined-lpa.html.twig
Due: use-an-lpa-front

drop unused template
  service-front/app/src/Viewer/templates/viewer/enter-code.html.twig
Due: use-an-lpa-front

Bump symfony/process from 5.4.40 to 5.4.46 in /tests/smoke (#2909)
  tests/smoke/composer.lock
Due: none

Bump symfony/http-foundation from 5.4.40 to 5.4.46 in /service-api/app (#2912)
  service-api/app/composer.lock
Due: use-an-lpa-api

Bump symfony/process from 6.4.12 to 6.4.14 in /service-front/app (#2911)
  service-front/app/composer.lock
Due: use-an-lpa-front

Bump twig/twig from 3.14.0 to 3.14.1 in /service-front/app (#2914)
  service-front/app/composer.lock
Due: use-an-lpa-front

Add test doc
  test.md
Due: none

integration tests (WIP_
  .idea/runConfigurations/API_Integration__Single_Scenario.xml
  service-api/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-api

WIP fix test
  service-api/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-api

tests (WIP) commas
  service-api/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-api

UML-3570 fixed relevant test cases, added more tests, added new enum and cast, updated fixtures
  service-api/app/features/view-lpa-using-sharecode.feature
  service-front/app/features/actor-add-an-lpa.feature
  service-front/app/features/actor-change-details.feature
  service-front/app/src/Common/src/Entity/Casters/CastToHowAttorneysMakeDecisions.php
  service-front/app/src/Common/src/Entity/Casters/CastToWhenTheLpaCanBeUsed.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Enum/WhenTheLpaCanBeUsed.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/test/CommonTest/Entity/Casters/CastToHowAttorneysMakeDecisionsTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToWhenTheLpaCanBeUsedTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
  service-front/app/test/fixtures/test_lpa.json
Due: use-an-lpa-front, use-an-lpa-api

Update path to live workflow
  .github/workflows/path-to-live.yml
Due: none

tests (WIP)
  service-api/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-api

cover new enums and entities
  pre-commit-hooks/code-sniffer/pre-commit
  service-front/app/test/CommonTest/Entity/Casters/CastToHowAttorneysMakeDecisionsTest.php
  service-front/app/test/CommonTest/Entity/PersonTest.php
  service-front/app/test/CommonTest/Entity/Sirius/SiriusLpaTrustCorporationTest.php
  service-front/app/test/CommonTest/Enum/HowAttorneysMakeDecisionsTest.php
  service-front/app/test/CommonTest/Enum/LifeSustainingTreatmentTest.php
  service-front/app/test/CommonTest/Enum/LpaTypeTest.php
  service-front/app/test/CommonTest/Enum/WhenCanTheLpaBeUsedTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/Helper/TestData.php
Due: use-an-lpa-front

drop sniffer hook, share mock data, cover feature enabled injection
  .pre-commit-config.yaml
  pre-commit-hooks/code-sniffer/pre-commit
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/test/ActorTest/Handler/Factory/CheckLpaHandlerFactoryTest.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
  service-front/app/test/ViewerTest/Handler/Factory/CheckCodeHandlerFactoryTest.php
Due: use-an-lpa-front

cover ParseLpaData
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
Due: use-an-lpa-front

cover serialisation
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Common/src/Entity/Address.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-front/app/src/Common/src/Enum/WhenTheLpaCanBeUsed.php
  service-front/app/test/CommonTest/Entity/Casters/CastToHowAttorneysMakeDecisionsTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToWhenTheLpaCanBeUsedTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/fixtures/test_lpa.json
Due: use-an-lpa-front

return HowAttorneysAct and WhenCanLpaBeUsed from API, fix templates, fix PDF download
  docker-compose.yml
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Entity/Casters/CastToWhenTheLpaCanBeUsed.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/CastToHowAttorneysMakeDecisions.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-api/app/test/fixtures/sirius_lpa_transformed_by_use.json
  service-front/app/src/Common/src/Entity/Casters/CastToHowAttorneysMakeDecisions.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/src/Common/src/Service/Pdf/PdfService.php
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details-combined-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/download-lpa-combined-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/enter-code.html.twig
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/fixtures/test_lpa.json
Due: use-an-lpa-front, use-an-lpa-api

format
  service-front/app/src/Common/src/Entity/Casters/CastToHowAttorneysMakeDecisions.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-front/app/src/Common/src/Enum/WhenTheLpaCanBeUsed.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/src/Common/src/Service/Pdf/PdfService.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/src/Viewer/src/Handler/CheckCodeHandler.php
  service-front/app/src/Viewer/src/Handler/ViewLpaHandler.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/Helper/TestData.php
Due: use-an-lpa-front

add missing strict_types
  service-api/app/src/App/src/Entity/Casters/CastToHowAttorneysMakeDecisions.php
  service-api/app/src/App/src/Enum/WhenTheLpaCanBeUsed.php
Due: use-an-lpa-api

more test fixes
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
Due: use-an-lpa-front, use-an-lpa-api

test fixes
  service-api/app/src/App/src/Entity/Casters/CastToHowAttorneysMakeDecisions.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
  service-api/app/test/AppTest/Helper/EntityTestHelper.php
  service-api/app/test/AppTest/Helper/TestData.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
Due: use-an-lpa-api

cover getters
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
Due: use-an-lpa-front

WUP fix some tests
  service-api/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-api

WIP fix more tests
  service-api/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-api

update version and tag logic
  .github/workflows/path-to-live.yml
Due: none
