Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Update path to live workflow (#2917)
  .github/workflows/path-to-live.yml
Due: none

Remove conditional if
  .github/workflows/path-to-live.yml
Due: none

Remove conditional if (#2919)
  .github/workflows/path-to-live.yml
Due: none

UML-3570 updated tests, added verbose to ui test
  service-api/app/features/view-lpa-using-sharecode.feature
  service-front/app/composer.json
  service-front/app/features/actor-view-lpa.feature
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/BaseUiContextTrait.php
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/app/test/fixtures/combined_lpa.json
Due: use-an-lpa-front, use-an-lpa-api

WIP fixing tests
  service-api/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-api

Revert "Remove conditional if (#2919)"
  .github/workflows/path-to-live.yml
Due: none

API Integration tests all pass locally
  service-api/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-api

fix acceptance test
  service-api/app/features/context/Acceptance/LpaContext.php
Due: use-an-lpa-api

Revert "Remove conditional if (#2919)" (#2920)
  .github/workflows/path-to-live.yml
Due: none

move checkout action
  .github/workflows/path-to-live.yml
Due: none

move checkout action (#2921)
  .github/workflows/path-to-live.yml
Due: none

extract api changes from front PR
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Entity/Casters/CastToHowAttorneysMakeDecisions.php
  service-api/app/src/App/src/Entity/Casters/CastToWhenTheLpaCanBeUsed.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Enum/WhenTheLpaCanBeUsed.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
  service-api/app/test/AppTest/Helper/EntityTestHelper.php
  service-api/app/test/AppTest/Helper/TestData.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-api/app/test/fixtures/sirius_lpa_transformed_by_use.json
Due: use-an-lpa-api

revert api changes (to be extracted to new branch)
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Entity/Casters/CastToWhenTheLpaCanBeUsed.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-api/app/test/fixtures/test_lpa.json
Due: use-an-lpa-api

more api revert
  service-api/app/src/App/src/Entity/Casters/CastToHowAttorneysMakeDecisions.php
  service-api/app/src/App/src/Enum/WhenTheLpaCanBeUsed.php
  service-api/app/test/AppTest/Helper/EntityTestHelper.php
  service-api/app/test/AppTest/Helper/TestData.php
  service-api/app/test/fixtures/sirius_lpa_transformed_by_use.json
Due: use-an-lpa-api

ensure LpaType is accessible, fix addresses, make mock combined data dynamic
  docker-compose.yml
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-front/app/src/Common/src/Entity/Address.php
  service-front/app/src/Common/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-front/app/src/Common/src/Entity/Casters/ExtractPostcodeFromLpaStore.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreAttorney.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreDonor.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Service/Lpa/Factory/LpaDataFormatter.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
  service-front/app/test/fixtures/4UX3.json
Due: use-an-lpa-front, use-an-lpa-api

UML-3570 removed original, inactive and active attoryneys
  service-api/app/src/App/src/Service/ActorCodes/ActorCodeService.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details.html.twig
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
Due: use-an-lpa-front, use-an-lpa-api

reinstate mocked values
  docker-compose.yml
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
Due: use-an-lpa-front

Rework of how names are handled.
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporation.php
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Entity/Sirius/Casters/LinkedDonorCaster.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporation.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AccessForAllValidation.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus/GetAttorneyStatusInterface.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/CombinedHasActorTrait.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Entity/CanCastSiriusDonorTest.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CastSingleDonorTest.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAll/AccessForAllValidationTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
Due: use-an-lpa-api

bump cov
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/test/CommonTest/Entity/Casters/CastToLifeSustainingTreatmentTest.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
Due: use-an-lpa-front

Fix test that for some reason wasn't flagging as failing locally (even though it was)
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

revert api
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
Due: use-an-lpa-api

fix sniffs
  service-front/app/src/Common/src/Entity/Address.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreAttorney.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreDonor.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-front/app/src/Common/src/Enum/WhenTheLpaCanBeUsed.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/src/Common/src/Service/Pdf/PdfService.php
  service-front/app/test/CommonTest/Entity/Casters/CastToHowAttorneysMakeDecisionsTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToLifeSustainingTreatmentTest.php
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/PersonTest.php
  service-front/app/test/CommonTest/Entity/Sirius/SiriusLpaTrustCorporationTest.php
  service-front/app/test/CommonTest/Enum/HowAttorneysMakeDecisionsTest.php
  service-front/app/test/CommonTest/Enum/LpaTypeTest.php
  service-front/app/test/CommonTest/Enum/WhenCanTheLpaBeUsedTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
Due: use-an-lpa-front

fix sniffs
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/Helper/TestData.php
Due: use-an-lpa-front

update container version
  terraform/environment/region/data_sources.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

remove container version var from regions/vars
  terraform/environment/region/variables.tf
Due: none

add in var
  terraform/environment/region/variables.tf
Due: none

rm var
  terraform/environment/region/variables.tf
Due: none

Update region
  terraform/environment/region.tf
Due: none

update container version (#2928)
  terraform/environment/region.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

fix 7 further acceptance tests
  service-api/app/src/App/src/Handler/AccessForAllLpaConfirmationHandler.php
  service-api/app/src/App/src/Service/Lpa/CheckLpaCleansed.php
Due: use-an-lpa-api

Fix OneLogin Header init from changes.
  service-front/web/src/index.js
  service-front/web/src/javascript/header.js
Due: use-an-lpa-front

Add modern clipboard API copy. Adjust tests.
  service-front/web/src/javascript/copyAccessCode.js
  service-front/web/src/javascript/copyAccessCode.test.js
Due: use-an-lpa-front

Add modern clipboard API copy. Adjust tests. (#2925)
  service-front/web/src/index.js
  service-front/web/src/javascript/copyAccessCode.js
  service-front/web/src/javascript/copyAccessCode.test.js
  service-front/web/src/javascript/header.js
Due: use-an-lpa-front

fix tests
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporation.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AccessForAllValidation.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpaInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAll/AccessForAllValidationTest.php
Due: use-an-lpa-api

EventsaucePHP Object Hydrator ADR
  docs/architecture/decisions/0024-library-for-lpa-data-mapping.md
Due: none

updated EventsaucePHP Object Hydrator ADR with links to the libraries
  docs/architecture/decisions/0024-library-for-lpa-data-mapping.md
Due: none

EventsaucePHP Object Hydrator ADR (#2815)
  docs/architecture/decisions/0024-library-for-lpa-data-mapping.md
Due: none

fix tests, uid renamed to lpaUId for clarity
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporation.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AccessForAllValidation.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/CheckLpaCleansed.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa/ActorMatch.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

fussy linter
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpaInterface.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
Due: use-an-lpa-api

Update libarchive
  lambda-functions/upload-statistics/Dockerfile
Due: none
