Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

remove IaP flag
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front

remove IaP flag
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
Due: use-an-lpa-front

take out IaP flag
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

UML-3750 updated tests, added explicity exception
  service-api/app/src/App/src/Exception/ActorDateOfBirthNotSetException.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

UML-3750 updated tests
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

UML-3750 updated tests
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

getting ready for UAT
  docker-compose.yml
  terraform/environment/terraform.tfvars.json
Due: none

UML-3750 updated tests
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

reverting the changes made for UAT
  docker-compose.yml
  terraform/environment/terraform.tfvars.json
Due: none

fixing tests
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

Revert "fixing tests"
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

Update pull_request_template.md
  docs/pull_request_template.md
Due: none

Update pull_request_template.md (#2993)
  docs/pull_request_template.md
Due: none

UML-3762: update slack notification
  .github/workflows/path-to-live.yml
Due: none

UML-3762: update slack notification (#2995)
  .github/workflows/path-to-live.yml
Due: none

rename resources
  terraform/account/region.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tfvars.json
  terraform/account/variables.tf
Due: none

update name to event-receiver
  .github/workflows/_build-and-push.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
Due: none

UML-3727: event receiver lambda
  docker-compose.yml
Due: none

use svc prefix and suffix
  .github/workflows/_build-and-push.yml
Due: none

fix typo
  .github/workflows/_build-and-push.yml
Due: none

add if statement back
  .github/workflows/_build-and-push.yml
Due: none

remove old files
  lambda-functions/ingestion-lambda/Dockerfile
  lambda-functions/ingestion-lambda/app/main.go
  lambda-functions/ingestion-lambda/go.mod
  lambda-functions/ingestion-lambda/go.sum
Due: none

fix missed -
  .github/workflows/_build-and-push.yml
Due: none

turn off old tests that were flagged as false for iap flag
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-sharecode-with-instructions-and-preferences.feature
Due: use-an-lpa-front

more IaP removal
  service-front/app/features/pdf-download-of-lpa.feature
  service-front/app/src/Actor/src/Handler/ViewLpaSummaryHandler.php
Due: use-an-lpa-front

UML-3727: rename and Lambda RIE (#2994)
  .github/workflows/_build-and-push.yml
  docker-compose.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  terraform/account/region.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tfvars.json
  terraform/account/variables.tf
Due: none

more removals of feature flag logic
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary-combined-lpa.html.twig
Due: use-an-lpa-front

remove more feature flag logic
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

more feature flag removals
  service-front/app/src/Actor/templates/actor/check-access-codes-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/check-access-codes.html.twig
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

more mods
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
Due: use-an-lpa-front

take out iap feature
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front

remove steps no longer used
  service-front/app/features/context/UI/ViewerContext.php
Due: use-an-lpa-front

remove flag
  service-front/app/features/bootstrap/behat.config.php
Due: use-an-lpa-front

remove flag from api side
  service-api/app/config/autoload/features.global.php
  service-api/app/features/actor-view-lpa.feature
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/features/view-lpa-using-sharecode.feature
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
Due: use-an-lpa-api

remove feature flag
  docker-compose.yml
  service-front/app/config/autoload/features.global.php
Due: use-an-lpa-front

remove flag from terraform
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

tflint
  terraform/environment/variables.tf
Due: none

UML-3753 tech debt - remove no longer needed IaP flag (#2987)
  docker-compose.yml
  service-api/app/config/autoload/features.global.php
  service-api/app/features/actor-view-lpa.feature
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/features/view-lpa-using-sharecode.feature
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-front/app/config/autoload/features.global.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/Integration/ViewerContext.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/pdf-download-of-lpa.feature
  service-front/app/features/view-lpa-using-sharecode-with-instructions-and-preferences.feature
  service-front/app/src/Actor/src/Handler/ViewLpaSummaryHandler.php
  service-front/app/src/Actor/templates/actor/check-access-codes-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/check-access-codes.html.twig
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode.html.twig
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/app/src/Viewer/src/Handler/DownloadLpaHandler.php
  service-front/app/src/Viewer/src/Handler/ViewLpaHandler.php
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: use-an-lpa-front, use-an-lpa-api

fix typo and bump pdf service
  docker-compose.dependencies.yml
  docker-compose.yml
Due: none
