Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

UML-3394 updated frontend tests - fixed behat tests
  service-front/app/features/actor-one-login.feature
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

UML-3394 fix ui
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

WIP broken, working on test
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

Improvements to CombinedLpaManagerTest coverage
  service-api/app/src/App/src/DataAccess/Repository/Response/Lpa.php
  service-api/app/src/App/src/DataAccess/Repository/Response/LpaInterface.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

UML-3619 wip
  service-front/app/test/fixtures/full_example.json
  service-front/app/test/fixtures/full_example_signed_before_2016.json
  service-front/app/test/fixtures/simple_example.json
Due: use-an-lpa-front

Composer updates
  service-api/app/composer.lock
Due: use-an-lpa-api

Final coverage fixes for CombinedLpaManager
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Due: use-an-lpa-api

UML-3619 Convert incoming LPAs to combined format (repository layer)
  service-front/app/test/fixtures/full_example.json
  service-front/app/test/fixtures/full_example_signed_before_2016.json
  service-front/app/test/fixtures/simple_example.json
Due: use-an-lpa-front

UML-3394 added ResolveLpaTypeTest.php
  service-api/app/test/AppTest/Service/Lpa/Combined/FilterActiveActorsTest.php
  service-api/app/test/AppTest/Service/Lpa/Combined/ResolveLpaTypeTest.php
Due: use-an-lpa-api

UML-3394 updated api tests and improved codecov
  service-api/app/test/AppTest/Entity/CastToCaseSubtypeTest.php
  service-api/app/test/AppTest/Entity/CastToLifeSustainingTreatmentTest.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
  service-api/app/test/AppTest/Enum/HowAttorneysMakeDecisionsTest.php
  service-api/app/test/AppTest/Service/Lpa/Combined/FilterActiveActorsTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
Due: use-an-lpa-api

UML-3394 updated front-end tests and improved codecov
  service-api/app/src/App/src/Service/Lpa/ResolveActor/LpaStoreHasActorTrait.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/LpaStoreHasActorTraitTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToCaseSubtypeTest.php
  service-front/app/test/CommonTest/Entity/PersonTest.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
  service-front/app/test/fixtures/combined_lpa.json
Due: use-an-lpa-front, use-an-lpa-api

Move to using the lpa service interface in preparation for v2 strategy.
  service-api/app/src/App/src/ConfigProvider.php
Due: use-an-lpa-api

Move to a feature flagged factory for lpa manager creation
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
Due: use-an-lpa-api

Add authentication to v2 lpas endpoint
  service-api/app/config/pipeline.php
Due: use-an-lpa-api

UML-3394 updated CastToWhenTheLpaCanBeUsedTest.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
Due: use-an-lpa-api

Clean up class variable usage
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
Due: use-an-lpa-front

Managed to add this back in during conflict resolving.
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
Due: use-an-lpa-api

Not really possible to break the rest of this down.
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
Due: use-an-lpa-api

Final set of unit test fixes (before we start codecoverage work)
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

Fixes to Casters and entities
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
Due: use-an-lpa-front

Use mock logger in place of Monolog instance
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

Don't need a pipeline setup for a route that doesn't exist.
  service-api/app/config/pipeline.php
Due: use-an-lpa-api

UML-3394 updated frontend tests - fixed behat tests with feature flag enabled
  service-front/app/src/Common/src/Service/Lpa/PopulateLpaMetadata.php
  service-front/app/test/fixtures/combined_lpa.json
Due: use-an-lpa-front

fix test broken by merge in of main
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

The waitforit application we use in seeding has changed ownership.
  service-api/docker/seeding/Dockerfile
Due: use-an-lpa-api

SiriusUid field not existent should be handled.
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
Due: use-an-lpa-api

Fix up some merge issues.
  service-api/app/composer.lock
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/features/context/Integration/AccountContext.php
Due: use-an-lpa-front, use-an-lpa-api

UML-3394 fixed lint
  service-api/app/test/AppTest/Service/Lpa/Combined/FilterActiveActorsTest.php
Due: use-an-lpa-api

UML-3394 fixed broken test & PersonDataFormatterTest.php
  service-front/app/test/CommonTest/Entity/CanHydrateCombinedLpaTest.php
  service-front/app/test/CommonTest/Service/Lpa/Factory/PersonDataFormatterTest.php
Due: use-an-lpa-front

Tidy up route.php imports
  service-api/app/config/routes.php
Due: use-an-lpa-api

Fix FindActorInLpa tests
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

Operational precedence caught me out there.
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Due: use-an-lpa-api

Fix test namespaces to stop composer autoload errors
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
  service-front/app/test/CommonTest/Service/Log/RequestTracingLogProcessorFactoryTest.php
  service-front/app/test/CommonTest/Service/Log/RequestTracingLogProcessorTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceFactoryTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front, use-an-lpa-api

Code tidy ups after rebase
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
  service-front/app/features/actor-view-lpa.feature
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/test/fixtures/combined_lpa.json
Due: use-an-lpa-front, use-an-lpa-api

Remove added feature flag from behat test configuration
  service-front/app/features/bootstrap/behat.config.php
Due: use-an-lpa-front

Reinstate the remove lpa fix from UML-3791
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
Due: use-an-lpa-front

Ensure we handle modernise records in the DB when the combined format flag is turned off.
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

Hard code ubuntu 24.04 in runners to check pipelines all work with new image.
  .github/workflows/_build-and-push.yml
  .github/workflows/_codecov.yml
  .github/workflows/_ecr-scanning.yml
  .github/workflows/_lint-terraform.yml
  .github/workflows/_node-build.yml
  .github/workflows/_node-test.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_run-terraform.yml
  .github/workflows/_seed-database.yml
  .github/workflows/_slack-notification.yml
  .github/workflows/dependabot-composer-npm-path.yml
  .github/workflows/dependabot-terraform-upgrade.yml
  .github/workflows/golang-linting.yml
  .github/workflows/labeler.yml
  .github/workflows/path-to-live.yml
  .github/workflows/php-linting.yml
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/scheduled-codeql-analysis.yml
  .github/workflows/scheduled-tfsec.yml
  .github/workflows/scheduled-update-demo.yml
  .github/workflows/scheduled-workspace-cleanup.yml
  .github/workflows/statistics.yml
  .github/workflows/tfsec.yml
  .github/workflows/trivy_scan_alert_report.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
  .github/workflows/workflow_destroy_on_merge.yml
Due: none

UML-3724 using sqs not cloudwatchevent
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/Handler.go
Due: none
