Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

new class and factory for Modernise Lpas
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpas.php
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpasFactory.php
Due: use-an-lpa-api

unit test for ModerniseLpa
  service-api/app/test/AppTest/DataAccess/ApiGateway/ModerniseLpasTest.php
Due: use-an-lpa-api

name change DataStoreLpas
  service-api/app/src/App/src/DataAccess/Repository/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/Repository/DataStoreLpasFactory.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
Due: use-an-lpa-api

add new LPA data store repo
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpas.php
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpasFactory.php
Due: use-an-lpa-api

SiriusLpasFactoryTest added
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasFactoryTest.php
Due: use-an-lpa-api

lint
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpas.php
Due: use-an-lpa-api

file move
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
Due: use-an-lpa-api

lint
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/Repository/ModerniseLpas.php
Due: use-an-lpa-api

Update service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
Due: use-an-lpa-api

Update service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
Due: use-an-lpa-api

amend tests
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
Due: use-an-lpa-api

amend classes
  service-api/app/src/App/src/DataAccess/Repository/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/Repository/DataStoreLpasFactory.php
Due: use-an-lpa-api

lint
  service-api/app/src/App/src/DataAccess/Repository/DataStoreLpas.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
Due: use-an-lpa-api

fix
  service-api/app/src/App/src/DataAccess/Repository/DataStoreLpas.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
Due: use-an-lpa-api

changed env name
  service-api/app/config/autoload/envs.global.php
Due: use-an-lpa-api

Linting issues.
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasFactoryTest.php
Due: use-an-lpa-api

fix
  docker-compose.dependencies.yml
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
Due: use-an-lpa-api

Add error handling to DataStore lpa repository
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpasFactory.php
  service-api/app/src/App/src/DataAccess/Repository/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/Repository/LpasInterface.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
Due: use-an-lpa-api

Add test coverage around the client exception handling
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
Due: use-an-lpa-api

Uml 3393 Refactor LPAService to select appropriate strategy for fetching LPAs (#2733)
  docker-compose.dependencies.yml
  service-api/app/config/autoload/envs.global.php
  service-api/app/features/bootstrap/config.pact.php
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpasFactory.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpasFactory.php
  service-api/app/src/App/src/DataAccess/Repository/LpasInterface.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasTest.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactLpasFactory.php
Due: use-an-lpa-api

Get a working schema going and update the example lpa to be valid. Additionally, add security to the endpoint (non-validating but requiring appropriate headers).
  docker-compose.dependencies.yml
  mock-integrations/lpa-data-store/mock-config.yaml
  mock-integrations/lpa-data-store/mock-openapi-examples.yaml
  mock-integrations/lpa-data-store/mock-openapi.yaml
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/opg-data-lpa-data-store-openapi.yml
Due: none

Get a working schema going and update the example lpa to be valid. Additionally, add security to the endpoint (non-validating but requiring appropriate headers). (#2752)
  docker-compose.dependencies.yml
  mock-integrations/lpa-data-store/mock-config.yaml
  mock-integrations/lpa-data-store/mock-openapi-examples.yaml
  mock-integrations/lpa-data-store/mock-openapi.yaml
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/opg-data-lpa-data-store-openapi.yml
Due: none

Account creation routes removed.
  service-front/app/config/routes.php
Due: use-an-lpa-front

Fix up one of the failing UI tests.
  service-front/app/features/actor-privacy-notice.feature
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

Logging Fixes
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
Due: use-an-lpa-front

Two more UI test fixes
  service-front/app/features/actor-terms-of-use.feature
  service-front/app/features/common-language.feature
Due: use-an-lpa-front

Build confd as a part of the Dockerfiles so that we get ARCH specific versions.
  service-api/docker/web/Dockerfile
  service-front/docker/web/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api

UML-3460 Return LPA store LPAs via the new endpoint in the new format
  service-api/app/composer.json
  service-api/app/src/App/src/Entity/Attorney.php
  service-api/app/src/App/src/Entity/Casters/CastSingleDonor.php
  service-api/app/src/App/src/Entity/Casters/CastToCaseSubtype.php
  service-api/app/src/App/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-api/app/src/App/src/Entity/Casters/CastToWhenTheLpaCanBeUsed.php
  service-api/app/src/App/src/Entity/Casters/ExtractAddressLine1FromDataStore.php
  service-api/app/src/App/src/Entity/Casters/ExtractCountryFromDataStore.php
  service-api/app/src/App/src/Entity/Casters/ExtractTownFromDataStore.php
  service-api/app/src/App/src/Entity/Donor.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Entity/TrustCorporations.php
  service-api/app/src/App/src/Enum/HowAttorneysMakeDecisions.php
  service-api/app/src/App/src/Enum/LifeSustainingTreatment.php
  service-api/app/src/App/src/Enum/LpaType.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

UML-3460 updating composer lock and test
  service-api/app/composer.lock
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

UML-3460 updating to psr standards
  service-api/app/src/App/src/Entity/Attorney.php
  service-api/app/src/App/src/Entity/Casters/CastSingleDonor.php
  service-api/app/src/App/src/Entity/Casters/CastToCaseSubtype.php
  service-api/app/src/App/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-api/app/src/App/src/Entity/Casters/CastToWhenTheLpaCanBeUsed.php
  service-api/app/src/App/src/Entity/Casters/ExtractAddressLine1FromDataStore.php
  service-api/app/src/App/src/Entity/Casters/ExtractCountryFromDataStore.php
  service-api/app/src/App/src/Entity/Casters/ExtractTownFromDataStore.php
  service-api/app/src/App/src/Entity/Donor.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Entity/TrustCorporations.php
  service-api/app/src/App/src/Enum/HowAttorneysMakeDecisions.php
  service-api/app/src/App/src/Enum/LifeSustainingTreatment.php
  service-api/app/src/App/src/Enum/LpaType.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
Due: use-an-lpa-api

UML-3460 updating to psr standards
  service-api/app/src/App/src/Entity/Casters/CastSingleDonor.php
  service-api/app/src/App/src/Entity/Casters/CastToCaseSubtype.php
  service-api/app/src/App/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-api/app/src/App/src/Entity/Casters/CastToWhenTheLpaCanBeUsed.php
  service-api/app/src/App/src/Entity/Casters/ExtractAddressLine1FromDataStore.php
  service-api/app/src/App/src/Entity/Casters/ExtractCountryFromDataStore.php
  service-api/app/src/App/src/Entity/Casters/ExtractTownFromDataStore.php
Due: use-an-lpa-api

UML-3460 added test case
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

Build confd as a part of the Dockerfiles so that we get ARCH specific versions. (#2753)
  service-api/docker/web/Dockerfile
  service-front/docker/web/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api

Fix dockerfile build warnings
  service-api/docker/app/Dockerfile
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api

Turn on extra mock login functionality
  docker-compose.dependencies.yml
Due: none

Remove account creation routes under one login (#2751)
  service-front/app/config/routes.php
  service-front/app/features/actor-privacy-notice.feature
  service-front/app/features/actor-terms-of-use.feature
  service-front/app/features/common-language.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
Due: use-an-lpa-front

update Go version to v1.23.0
  service-admin/Dockerfile
Due: use-an-lpa-admin

UML-3460 serialised objects, transforming enum and datetimes. used inheritance for the entities to help structure datastore and for future sirius implementation
  service-api/app/src/App/src/Entity/Attorney.php
  service-api/app/src/App/src/Entity/Casters/CastSingleDonor.php
  service-api/app/src/App/src/Entity/Casters/DateToStringSerializer.php
  service-api/app/src/App/src/Entity/DataStore/DataStoreAttorney.php
  service-api/app/src/App/src/Entity/DataStore/DataStoreDonor.php
  service-api/app/src/App/src/Entity/DataStore/DataStoreLpa.php
  service-api/app/src/App/src/Entity/DataStore/DataStorePerson.php
  service-api/app/src/App/src/Entity/DataStore/DataStoreTrustCorporations.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
Due: use-an-lpa-api

Enable new one login mock functionality (#2755)
  docker-compose.dependencies.yml
  service-api/docker/app/Dockerfile
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api

Update codecov.yml
  codecov.yml
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
