Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Remove ecr scan results as it not longer exists
  .github/workflows/workflow-deploy-ref-to-env.yml
Due: none

Update secrets baseline
  .github/workflows/scheduled-update-demo.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
  .secrets.baseline
Due: none

Fix env deployment (#3483)
  .github/workflows/scheduled-update-demo.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
  .secrets.baseline
Due: none

UI changes with a Ui test added
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
Due: use-an-lpa-front

removed test
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

cleanup
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

translations
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-4126: Content update (#3479)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/request-activation-key/before-requesting-activation-key-info.html.twig
Due: use-an-lpa-front

Send event when request letter for modernised LPA
  .secrets.baseline
  docker-compose.dependencies.yml
  service-api/app/config/autoload/envs.global.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpasFactory.php
  service-api/app/src/App/src/Service/Aws/EventBridgeClientFactory.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasTest.php
  service-api/app/test/AppTest/Service/Aws/EventBridgeClientFactoryTest.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactLpasFactory.php
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/modules/event_bus/outputs.tf
Due: use-an-lpa-api

Show first names hint for modernised lpas activation key flow
  service-front/app/features/actor-request-activation-key.feature
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Form/RequestActivationKey/RequestNames.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/NameHandler.php
  service-front/app/src/Actor/templates/actor/form-error-messages.html.twig
  service-front/app/src/Actor/templates/actor/request-activation-key/your-name.html.twig
  service-front/app/test/ActorTest/Form/RequestActivationKey/RequestNamesTest.php
Due: use-an-lpa-front

po file cleaned
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

UML-4130 Show first names hint for modernised lpas activation key flow (#3488)
  service-front/app/features/actor-request-activation-key.feature
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Form/RequestActivationKey/RequestNames.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/NameHandler.php
  service-front/app/src/Actor/templates/actor/form-error-messages.html.twig
  service-front/app/src/Actor/templates/actor/request-activation-key/your-name.html.twig
  service-front/app/test/ActorTest/Form/RequestActivationKey/RequestNamesTest.php
Due: use-an-lpa-front

Delete service-api/app/test/pacts/use_a_lasting_power_of_attorney-lpa-codes.json
  service-api/app/test/pacts/use_a_lasting_power_of_attorney-lpa-codes.json
Due: use-an-lpa-api

UML-4138 Send event when request letter for modernised LPA (#3478)
  .secrets.baseline
  docker-compose.dependencies.yml
  service-api/app/config/autoload/envs.global.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpasFactory.php
  service-api/app/src/App/src/Service/Aws/EventBridgeClientFactory.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasTest.php
  service-api/app/test/AppTest/Service/Aws/EventBridgeClientFactoryTest.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactLpasFactory.php
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/modules/event_bus/outputs.tf
Due: use-an-lpa-api

changes after review
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
Due: use-an-lpa-front

Merge iam documents instead of having statement with no resources
  .github/workflows/trigger_build
  terraform/environment/region/api_ecs.tf
Due: none

UML-4138 Merge iam documents instead of having statement with no resources (#3489)
  .github/workflows/trigger_build
  terraform/environment/region/api_ecs.tf
Due: none

Update front packages
  service-front/app/composer.lock
Due: use-an-lpa-front

Downgrade api again
  service-api/app/composer.json
  service-api/app/composer.lock
Due: use-an-lpa-api

Ignore some new psalm things
  service-front/app/src/Common/src/Form/Element/Csrf.php
  service-front/app/src/Common/src/Form/Element/Email.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/ViewHandler.php
Due: use-an-lpa-front

Remove reference to github action step that doesn't exist
  .github/workflows/workflow-deploy-ref-to-env.yml
Due: none

Update api lockfile
  service-api/app/composer.lock
Due: use-an-lpa-api

Fix some tests that use stuff that no longer exists
  service-front/app/test/CommonTest/Handler/Traits/CsrfGuardTest.php
  service-front/app/test/CommonTest/Handler/Traits/UserTest.php
  service-front/app/test/CommonTest/Service/Security/RateLimitServiceTest.php
  service-front/app/test/CommonTest/View/Twig/OrdinalNumberExtensionTest.php
Due: use-an-lpa-front

test breakage fix
  service-api/app/features/actor-dashboard.feature
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front, use-an-lpa-api

added meta tag
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Remove use of behat-pact-extension
  .secrets.baseline
  service-api/app/behat.yml
  service-api/app/features/actor-access-code-cancellation.feature
  service-api/app/features/actor-add-an-lpa.feature
  service-api/app/features/actor-add-an-older-lpa.feature
  service-api/app/features/actor-check-access-codes.feature
  service-api/app/features/actor-view-lpa.feature
  service-api/app/features/context/Integration/BaseIntegrationContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/features/context/UsesPactContextTrait.php
  service-api/app/features/view-lpa-using-sharecode.feature
Due: use-an-lpa-api

Remove pact-behat-extension package, install pact
  service-api/app/composer.json
  service-api/app/composer.lock
Due: use-an-lpa-api

UML-4144 Remove use of behat-pact-extension (#3491)
  .secrets.baseline
  service-api/app/behat.yml
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/features/actor-access-code-cancellation.feature
  service-api/app/features/actor-add-an-lpa.feature
  service-api/app/features/actor-add-an-older-lpa.feature
  service-api/app/features/actor-check-access-codes.feature
  service-api/app/features/actor-view-lpa.feature
  service-api/app/features/context/Integration/BaseIntegrationContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/features/context/UsesPactContextTrait.php
  service-api/app/features/view-lpa-using-sharecode.feature
Due: use-an-lpa-api

UML-3763: Update content that references paper LPA (#3480)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/change-lpa-details.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
Due: use-an-lpa-front

UML-4167: use CMK for DynamoDB
  terraform/account/kms.tf
Due: none

create in all environments
  terraform/account/kms.tf
Due: none

update description and alias
  terraform/account/kms.tf
Due: none

review suggestions applied
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
Due: use-an-lpa-front

missed updating the robots file as per AC
  service-front/web/src/robots.txt
Due: use-an-lpa-front

Update golang images
  lambda-functions/event-receiver/Dockerfile
  localstack/Dockerfile
  service-admin/Dockerfile
  service-admin/proxy/Dockerfile
Due: use-an-lpa-admin

Bump js-yaml to patched version
  service-front/web/package-lock.json
Due: use-an-lpa-front

Bump js-yaml to patched version (#3497)
  service-front/web/package-lock.json
Due: use-an-lpa-front

changed from warning to information text
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/web/src/stylesheets/_banner.scss
Due: use-an-lpa-front

UML-4145: Display LPA reference number and whose activation key has been used to add the LPA (#3484)
  service-api/app/features/actor-dashboard.feature
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
Due: use-an-lpa-front, use-an-lpa-api

UML-4099: Add meta tag to home page (#3490)
  service-front/app/src/Actor/templates/actor/one-login.html.twig
  service-front/web/src/robots.txt
Due: use-an-lpa-front

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
