Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Revert "UML-2981 Show system messages on use side (#2577)"
  service-api/app/features/actor-dashboard.feature
  service-api/app/features/system-message.feature
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
  service-front/app/src/Actor/templates/actor/partials/service-message.html.twig
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Service/SystemMessage/SystemMessageService.php
  service-front/app/src/Common/src/Service/SystemMessage/SystemMessageServiceFactory.php
  service-front/app/test/CommonTest/Service/SystemMessage/SystemMessageServiceFactoryTest.php
  service-front/app/test/CommonTest/Service/SystemMessage/SystemMessageServiceTest.php
Due: use-an-lpa-front, use-an-lpa-api

UML-2981 Add GetParameters permission
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
Due: none

UML-2981 Add GetParameters permission (#2601)
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
Due: none

fix pdf download tests
  service-front/app/features/context/UI/ViewerContext.php
Due: use-an-lpa-front

add test for enter code handler
  service-front/app/test/ViewerTest/Handler/EnterCodeHandlerTest.php
Due: use-an-lpa-front

Uml 2982 system message view (#2588)
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-sharecode.feature
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/src/Viewer/templates/viewer/partials/service-message.html.twig
  service-front/app/test/ViewerTest/Handler/EnterCodeHandlerTest.php
Due: use-an-lpa-front

behat tests
  service-front/app/features/actor-triage.feature
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

display system message on landing page
  service-front/app/src/Actor/src/Handler/ActorTriagePageHandler.php
  service-front/app/src/Actor/templates/actor/home-page.html.twig
Due: use-an-lpa-front

UML-3369: Add LPA Data Store endpoint
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

UNL-3369: Add default data store endpoint
  terraform/environment/terraform.tfvars.json
Due: none

UML-3369: Add LPA Data Store endpoint (#2602)
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

UML-3410 display system message on landing page (#2592)
  service-front/app/features/actor-triage.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/src/Actor/src/Handler/ActorTriagePageHandler.php
  service-front/app/src/Actor/templates/actor/home-page.html.twig
Due: use-an-lpa-front

add readonly root filesystem
  terraform/environment/region/api_ecs.tf
Due: none

Switch to using "is not empty" for display of system message
  service-front/app/src/Actor/templates/actor/partials/service-message.html.twig
  service-front/app/src/Viewer/templates/viewer/partials/service-message.html.twig
Due: use-an-lpa-front

add readonly filesystems
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
Due: none

Switch to using "is not empty" for display of system message (#2604)
  service-front/app/src/Actor/templates/actor/partials/service-message.html.twig
  service-front/app/src/Viewer/templates/viewer/partials/service-message.html.twig
Due: use-an-lpa-front

Add trim operation to return of parameter store
  service-api/app/src/App/src/Service/SystemMessage/SystemMessage.php
  service-api/app/test/AppTest/Service/SystemMessage/SystemMessageFactoryTest.php
  service-api/app/test/AppTest/Service/SystemMessage/SystemMessageTest.php
Due: use-an-lpa-api

Add trim operation to return of parameter store (#2605)
  service-api/app/src/App/src/Service/SystemMessage/SystemMessage.php
  service-api/app/test/AppTest/Service/SystemMessage/SystemMessageFactoryTest.php
  service-api/app/test/AppTest/Service/SystemMessage/SystemMessageTest.php
Due: use-an-lpa-api

Fix overly long certificate domain name.
  terraform/environment/region/certificates.tf
  terraform/environment/region/dns.tf
Due: none

Some minor terraform point release updates
  terraform/account/.terraform.lock.hcl
  terraform/environment/.terraform.lock.hcl
Due: none

Remove unnecessary docker compose env var
  docker-compose.yml
  service-api/app/config/autoload/envs.global.php
Due: use-an-lpa-api

Terraform fmt command run
  terraform/environment/region/mock_onelogin_ecs.tf
Due: none

First attempt at getting this working in an environment
  terraform/environment/locals.tf
  terraform/environment/modules/iam/iam_ecs_task_roles.tf
  terraform/environment/modules/iam/outputs.tf
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/certificates.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/variables.tf
  terraform/environment/shared_data_sources.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

Fix multiline ternary fmt error
  terraform/environment/region/locals.tf
Due: none

Hook up correct containers to ALB
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
Due: none

Allow ingress from load balancer to mock container
  terraform/environment/region/mock_onelogin_ecs.tf
Due: none

Ensure access to necessary secrets manager arns for ECS tasks
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

Fine, I'll have a silly long line
  terraform/environment/region/locals.tf
Due: none

Enable one gov on development
  terraform/environment/terraform.tfvars.json
Due: none

Increase verbosity of authentication exceptions
  service-api/app/src/App/src/Service/Authentication/AuthorisationService.php
Due: use-an-lpa-api

Rejig internal communications between api and mock
  terraform/environment/region/locals.tf
  terraform/environment/region/mock_onelogin_ecs.tf
Due: none

Add variables to environment map definition.
  terraform/environment/variables.tf
Due: none

cache system messages
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Handler/SystemMessageHandler.php
  service-api/app/src/App/src/Service/SystemMessage/CachedSystemMessage.php
  service-api/app/src/App/src/Service/SystemMessage/CachedSystemMessageDelegatorFactory.php
  service-api/app/src/App/src/Service/SystemMessage/SystemMessage.php
  service-api/app/src/App/src/Service/SystemMessage/SystemMessageService.php
  service-api/app/test/AppTest/Service/SystemMessage/CachedSystemMessageDelegatorFactoryTest.php
  service-api/app/test/AppTest/Service/SystemMessage/CachedSystemMessageTest.php
Due: use-an-lpa-api

remove enter code handler test
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/test/ViewerTest/Handler/EnterCodeHandlerTest.php
Due: use-an-lpa-front

missing cache config
  service-api/app/config/autoload/envs.global.php
Due: use-an-lpa-api

use default ttl from config
  service-api/app/src/App/src/Service/SystemMessage/CachedSystemMessage.php
  service-api/app/src/App/src/Service/SystemMessage/CachedSystemMessageDelegatorFactory.php
Due: use-an-lpa-api

lint
  service-api/app/src/App/src/Service/SystemMessage/CachedSystemMessage.php
  service-api/app/test/AppTest/Service/SystemMessage/CachedSystemMessageTest.php
Due: use-an-lpa-api

fix consts
  service-api/app/src/App/src/Service/SystemMessage/CachedSystemMessage.php
Due: use-an-lpa-api

use constants for ttl
  service-api/app/src/App/src/Service/SystemMessage/CachedSystemMessage.php
  service-api/app/src/App/src/Service/SystemMessage/CachedSystemMessageDelegatorFactory.php
Due: use-an-lpa-api

lint
  service-api/app/src/App/src/Service/SystemMessage/CachedSystemMessage.php
Due: use-an-lpa-api
