Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

UML-3145 service front no local account (#2487)
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
  service-front/app/src/Common/src/Service/Session/EncryptedCookiePersistence.php
Due: use-an-lpa-front

UML-3249 Upgrade packages in Lambda function (#2503)
  lambda-functions/upload-statistics/Dockerfile
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

UML-3208 script to preventing email addresses turning into links (#2501)
  scripts/modify_emails.py
Due: none

UML-3242: #patch update semver action
  .github/workflows/path-to-live.yml
Due: none

refactored template and amended handler
  service-admin/internal/server/handlers/systemmessage.go
  service-admin/web/templates/systemmessage.page.gohtml
Due: use-an-lpa-admin

UML-3242: #patch default update to minor
  .github/workflows/path-to-live.yml
Due: none

added overwrite to ssm PutSystemMessage
  service-admin/internal/server/data/system_message.go
Due: use-an-lpa-admin

added test for PutParameter functionality
  service-admin/internal/server/data/system_message_test.go
Due: use-an-lpa-admin

UML-3242: #patch default update to minor (#2505)
  .github/workflows/path-to-live.yml
Due: none

UML-3254 Add tflint to pipeline and precommit hook
  .github/workflows/_lint-terraform.yml
  .pre-commit-config.yaml
  terraform/account/modules/dynamodb_cloudtrail/terraform.tf
  terraform/account/modules/lambda_function/.terraform.lock.hcl
  terraform/account/region/modules/dns_firewall/terraform.tf
  terraform/account/region/modules/lambda_function/terraform.tf
  terraform/account/region/modules/lambda_function/variables.tf
  terraform/account/region/modules/s3_bucket/terraform.tf
  terraform/account/region/modules/s3_bucket/variables.tf
  terraform/account/region/network.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/terraform.tf
  terraform/environment/modules/iam/terraform.tf
  terraform/environment/modules/lambda/terraform.tf
  terraform/environment/modules/lambda/variables.tf
  terraform/environment/region/modules/dns/terraform.tf
  terraform/environment/region/modules/dns/variables.tf
  terraform/environment/region/modules/ecs_autoscaling/terraform.tf
  terraform/environment/region/terraform.tf
Due: none

Remove unncessary attributes
  terraform/account/region/lambda_functions.tf
Due: none

UML-3254 Add tflint to pipeline and precommit hook (#2506)
  .github/workflows/_lint-terraform.yml
  .pre-commit-config.yaml
  terraform/account/modules/dynamodb_cloudtrail/terraform.tf
  terraform/account/modules/lambda_function/.terraform.lock.hcl
  terraform/account/region/lambda_functions.tf
  terraform/account/region/modules/dns_firewall/terraform.tf
  terraform/account/region/modules/lambda_function/terraform.tf
  terraform/account/region/modules/lambda_function/variables.tf
  terraform/account/region/modules/s3_bucket/terraform.tf
  terraform/account/region/modules/s3_bucket/variables.tf
  terraform/account/region/network.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/terraform.tf
  terraform/environment/modules/iam/terraform.tf
  terraform/environment/modules/lambda/terraform.tf
  terraform/environment/modules/lambda/variables.tf
  terraform/environment/region/modules/dns/terraform.tf
  terraform/environment/region/modules/dns/variables.tf
  terraform/environment/region/modules/ecs_autoscaling/terraform.tf
  terraform/environment/region/terraform.tf
Due: none

added default display to hidden
  service-front/app/src/Common/templates/partials/govuk_form.html.twig
Due: use-an-lpa-front

javascript to change display dynamically
  service-front/web/src/javascript/showHidePassword.js
Due: use-an-lpa-front

reformat code
  service-front/app/src/Common/templates/partials/govuk_form.html.twig
  service-front/web/build.js
  service-front/web/src/index.js
Due: use-an-lpa-front

amended code for show button hidden by default
  service-front/web/src/javascript/showHidePassword.test.js
Due: use-an-lpa-front

Uml 3062 js bug password button (#2507)
  service-front/app/src/Common/templates/partials/govuk_form.html.twig
  service-front/web/build.js
  service-front/web/src/index.js
  service-front/web/src/javascript/showHidePassword.js
  service-front/web/src/javascript/showHidePassword.test.js
Due: use-an-lpa-front

UML-2353 Change Application layer to block
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

UML-2353 Change Application layer to block (#2508)
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

UML-3266 Remove repo scanner
  .github/workflows/scheduled-package-scan.yml
Due: none

UML-3266 Remove repo scanner (#2509)
  .github/workflows/scheduled-package-scan.yml
Due: none

refactor of handler with bilingual message validation check
  service-admin/internal/server/handlers/systemmessage.go
Due: use-an-lpa-admin

remove 4 and c from possible codes to reduce change of inappropriate words
  service-api/app/src/App/src/Service/ViewerCodes/CodeGenerator.php
  service-api/app/test/AppTest/Service/ViewerCodes/CodeGeneratorTest.php
Due: use-an-lpa-api

Added delete message & success/error messages
  service-admin/internal/server/data/ssm_connection.go
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/handlers/systemmessage.go
  service-admin/web/templates/systemmessage.page.gohtml
Due: use-an-lpa-admin

service message removed message
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/handlers/systemmessage.go
Due: use-an-lpa-admin

UML-3269 Enable prod eu-west-2 for account level resources
  terraform/account/region/cloudwatch_alarms.tf
  terraform/account/terraform.tfvars.json
Due: none

Terraform fmt
  terraform/account/region/cloudwatch_alarms.tf
Due: none

UML-3269 Enable prod eu-west-2 for account level resources (#2511)
  terraform/account/region/cloudwatch_alarms.tf
  terraform/account/terraform.tfvars.json
Due: none

UML-3274 Add bucket-level public access block
  terraform/account/region/s3_lb_access_logs.tf
Due: none

Fix
  terraform/account/region/s3_lb_access_logs.tf
Due: none

UML-3274 Add bucket-level public access block (#2512)
  terraform/account/region/s3_lb_access_logs.tf
Due: none

tests for data/system_message
  service-admin/internal/server/data/ssm_connection_test.go
  service-admin/internal/server/data/system_message_test.go
Due: use-an-lpa-admin

tests for systemmessage handler
  service-admin/internal/server/handlers/handler_test.go
  service-admin/internal/server/handlers/search_test.go
  service-admin/internal/server/handlers/systemmessage_test.go
Due: use-an-lpa-admin

add a query to script, put date range on end of filename, handle empty cells
  query/dynamodb_export.py
Due: none

add a query to script, put date range on end of filename, handle empty (#2514)
  query/dynamodb_export.py
Due: none

reformatting for linting etc
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/data/system_message_test.go
  service-admin/internal/server/handlers/systemmessage.go
  service-admin/internal/server/handlers/systemmessage_test.go
Due: use-an-lpa-admin

linting fix
  service-admin/internal/server/server.go
Due: use-an-lpa-admin

later onelogin mock
  docker-compose.dependencies.yml
Due: none

use SSM URL
  service-admin/.idea/runConfigurations/Admin_Service.xml
  service-admin/cmd/admin/main.go
Due: use-an-lpa-admin

test coverage for system message handler parse form error
  service-admin/internal/server/handlers/systemmessage_test.go
Due: use-an-lpa-admin

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
