Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

UML-3114 Use global DynamoDB tables (#2365)
  terraform/environment/dynamodb.tf
  terraform/environment/locals.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/terraform.tfvars.json
Due: none

Initial landing page and route, structure behat test
  service-front/app/config/routes.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
  service-front/app/src/Actor/templates/actor/one-login.html.twig
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
Due: use-an-lpa-front

Add landing page with button and add test step
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

One login page behind feature flag
  service-front/app/config/routes.php
Due: use-an-lpa-front

Add one login form, submit button produces logger output
  service-front/app/src/Actor/src/Form/OneLoginForm.php
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Fix linting errors
  service-api/app/src/App/src/Service/Aws/SecretsManagerFactory.php
  service-front/app/src/Actor/src/Form/OneLoginForm.php
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
Due: use-an-lpa-front, use-an-lpa-api

UML-3124 Move CloudWatch and autoscaling
  terraform/environment/autoscaling.tf
  terraform/environment/refactor.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/autoscaling.tf
  terraform/environment/region/cloudwatch_alarms.tf
  terraform/environment/region/cloudwatch_log_groups.tf
  terraform/environment/region/cloudwatch_metrics.tf
  terraform/environment/region/modules/ecs_autoscaling/.terraform.lock.hcl
  terraform/environment/region/modules/ecs_autoscaling/README.md
  terraform/environment/region/modules/ecs_autoscaling/main.tf
  terraform/environment/region/modules/ecs_autoscaling/terraform.tf
  terraform/environment/region/modules/ecs_autoscaling/variables.tf
  terraform/environment/region/pagerduty.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/ship_to_metrics.tf
  terraform/environment/region/terraform.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_ecs.tf
Due: none

Explicit providers
  terraform/environment/region/modules/ecs_autoscaling/main.tf
  terraform/environment/region/pagerduty.tf
  terraform/environment/region/ship_to_metrics.tf
Due: none

Remove comments from Terraform
  terraform/account/pagerduty.tf
  terraform/environment/region.tf
Due: none

UML-3124 Move CloudWatch and autoscaling (#2373)
  terraform/account/pagerduty.tf
  terraform/environment/autoscaling.tf
  terraform/environment/refactor.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/autoscaling.tf
  terraform/environment/region/cloudwatch_alarms.tf
  terraform/environment/region/cloudwatch_log_groups.tf
  terraform/environment/region/cloudwatch_metrics.tf
  terraform/environment/region/modules/ecs_autoscaling/.terraform.lock.hcl
  terraform/environment/region/modules/ecs_autoscaling/README.md
  terraform/environment/region/modules/ecs_autoscaling/main.tf
  terraform/environment/region/modules/ecs_autoscaling/terraform.tf
  terraform/environment/region/modules/ecs_autoscaling/variables.tf
  terraform/environment/region/pagerduty.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/ship_to_metrics.tf
  terraform/environment/region/terraform.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_ecs.tf
Due: none

added boto3
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

UML-3137 Move DNS to region
  terraform/environment/cognito_client.tf
  terraform/environment/config_file.tf
  terraform/environment/dns.tf
  terraform/environment/dns_health_check.tf
  terraform/environment/outputs.tf
  terraform/environment/refactor.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/modules/dns/main.tf
  terraform/environment/region/modules/dns/outputs.tf
  terraform/environment/region/modules/dns/terraform.tf
  terraform/environment/region/modules/dns/variables.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/terraform.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

Remove commented out file
  terraform/environment/dns.tf
Due: none

Remove another comment
  terraform/environment/region.tf
Due: none

Use weighted routing
  terraform/environment/refactor.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/modules/dns/main.tf
  terraform/environment/region/modules/dns/variables.tf
Due: none

Update README.md
  README.md
Due: none

Button returns 200 status - Link factory classes in configProvider, api returns array
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Handler/OneLoginAuthorisationRequestHandler.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthorisationRequestService.php
  service-api/app/src/App/src/Service/Aws/SecretsManagerFactory.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthorisationRequestServiceTest.php
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
Due: use-an-lpa-front, use-an-lpa-api

AuthoriseOneLoginHandler sends request with en or cy
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
Due: use-an-lpa-front

use === instead of ==
  service-front/app/config/routes.php
Due: use-an-lpa-front

Revert me - adding Env to dockerifle
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front

merge composer.json
  .gitignore
  tests/composer.json
  tests/composer.lock
  tests/smoke/composer.json
Due: none

update composer.json composer.lock
  tests/smoke/composer.json
  tests/smoke/composer.lock
Due: none

Revert "added boto3"
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

Revert "ran phpcbf and psalm"
  .idea/php.xml
  tests/smoke/context/BaseContext.php
  tests/smoke/context/BaseContextTrait.php
  tests/smoke/context/CommonContext.php
  tests/smoke/phpcs.xml.dist
  tests/smoke/psalm.xml
  tests/smoke/src/DriverSubscriber.php
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

added sniff libraries
  tests/smoke/composer.json
  tests/smoke/composer.lock
  tests/smoke/context/BaseContext.php
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

added config files
  tests/smoke/phpcs.xml.dist
  tests/smoke/psalm.xml
Due: none

cbf tool run
  tests/smoke/context/AccountContext.php
  tests/smoke/context/BaseContextTrait.php
  tests/smoke/context/ViewerContext.php
  tests/smoke/src/DriverSubscriber.php
  tests/smoke/src/Drivers/Driver.php
  tests/smoke/src/SmokeExtension.php
Due: none

project config update
  .idea/php.xml
Due: none

added psalm plugin
  tests/smoke/composer.json
  tests/smoke/composer.lock
Due: none

set psalm to check context folder
  tests/smoke/psalm.xml
Due: none

code fix using psalm
  tests/smoke/context/BaseContext.php
  tests/smoke/context/BaseContextTrait.php
  tests/smoke/context/CommonContext.php
  tests/smoke/context/ViewerContext.php
  tests/smoke/src/DriverSubscriber.php
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

uml 2908 phpcbf and psalm on tests/smoke (#2374)
  .gitignore
  .idea/php.xml
  tests/smoke/composer.json
  tests/smoke/composer.lock
  tests/smoke/context/AccountContext.php
  tests/smoke/context/BaseContext.php
  tests/smoke/context/BaseContextTrait.php
  tests/smoke/context/CommonContext.php
  tests/smoke/context/ViewerContext.php
  tests/smoke/phpcs.xml.dist
  tests/smoke/psalm.xml
  tests/smoke/src/DriverSubscriber.php
  tests/smoke/src/Drivers/ChromeDriver.php
  tests/smoke/src/Drivers/Driver.php
  tests/smoke/src/SmokeExtension.php
Due: none

Add unit test coverage
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front

Add ui integration test step
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
Due: use-an-lpa-front

UML-3138 Create new secrets
  terraform/account/kms.tf
  terraform/account/refactor.tf
  terraform/account/secretsmanager.tf
  terraform/environment/shared_data_sources.tf
Due: none

multi_region = true
  terraform/account/modules/multi_region_kms/main.tf
Due: none

Clicking button sends us to redirect pag, change login flag
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthorisationRequestService.php
  service-front/app/config/routes.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
  service-front/docker/app/Dockerfile
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front, use-an-lpa-api

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
