Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Explicit old headless test
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

Ensure email and password changing endpoints return 410 gone (#2660)
  service-front/app/config/pipeline.php
  service-front/app/config/routes.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Handler/GoneHandler.php
  service-front/app/src/Common/src/Middleware/ErrorHandling/GoneHandler.php
  service-front/app/src/Common/src/Middleware/ErrorHandling/GoneHandlerFactory.php
  service-front/app/test/CommonTest/Middleware/ErrorHandling/GoneHandlerFactoryTest.php
  service-front/app/test/CommonTest/Middleware/ErrorHandling/GoneHandlerTest.php
Due: use-an-lpa-front

lower chrome version
  .github/workflows/_run-behat-tests.yml
Due: none

add flag
  .github/workflows/_run-behat-tests.yml
Due: none

install dependencies too
  .github/workflows/_run-behat-tests.yml
Due: none

remove headless=old
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

Fix around changes to listen address.
  .github/workflows/_run-behat-tests.yml
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

Remove manually set timeout
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

Pin action and enable stable chrome.
  .github/workflows/_run-behat-tests.yml
Due: none

Actually pin action.
  .github/workflows/_run-behat-tests.yml
Due: none

pin chrome version (#2668)
  .github/workflows/_run-behat-tests.yml
  docker-compose.dependencies.yml
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

UML-3456: destroy environments at start of PR (#2669)
  .github/workflows/pull-request-path.yml
  .github/workflows/scheduled-workspace-cleanup.yml
Due: none

UML-3316 merged in main and updated translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-3316 updated content on lpa ref number page
  service-front/app/src/Actor/templates/actor/request-activation-key/reference-number.html.twig
Due: use-an-lpa-front

runs email select if --emails flag is specified
  query/dynamodb_export.py
Due: none

UML-3316 updated content on lpa ref number page (#2667)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/request-activation-key/reference-number.html.twig
Due: use-an-lpa-front

UML-3315 updated content on request an activation key page
  service-front/app/src/Actor/templates/actor/request-activation-key/before-requesting-activation-key-info.html.twig
Due: use-an-lpa-front

UML-3315 pulled in main and updated translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

back and cancel buttons
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckYourAnswersHandler.php
  service-front/app/src/Actor/templates/actor/check-your-answers.html.twig
Due: use-an-lpa-front

UML-3315 updated content on request an activation key page (#2671)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/request-activation-key/before-requesting-activation-key-info.html.twig
Due: use-an-lpa-front

UML-3319 updated content on could not find lpa page
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/cannot-find-lpa.html.twig
Due: use-an-lpa-front

UML-3319 updated iAmInformedThatAnLPACouldNotBeFoundWithTheseDetails title to the new content update
  service-front/app/features/context/UI/RequestActivationKeyContext.php
Due: use-an-lpa-front

Remove redundant package
  service-api/app/composer.json
Due: use-an-lpa-api

Refactor existing keypair management code into new secrets location
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationClientManager.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationClientManagerFactory.php
  service-api/app/src/App/src/Service/Authentication/JWKFactory.php
  service-api/app/src/App/src/Service/Authentication/UserInfoService.php
  service-api/app/src/App/src/Service/JWT/JWKFactory.php
  service-api/app/src/App/src/Service/JWT/JWSPayload.php
  service-api/app/src/App/src/Service/Secrets/AbstractKeyPairManager.php
  service-api/app/src/App/src/Service/Secrets/CachedKeyPairManager.php
  service-api/app/src/App/src/Service/Secrets/CachedKeyPairManagerDelegatorFactory.php
  service-api/app/src/App/src/Service/Secrets/KeyPair.php
  service-api/app/src/App/src/Service/Secrets/KeyPairManagerInterface.php
  service-api/app/src/App/src/Service/Secrets/OneLoginIdentityKeyPairManager.php
  service-api/app/test/AppTest/Service/Authentication/AuthorisationClientManagerFactoryTest.php
  service-api/app/test/AppTest/Service/Authentication/AuthorisationClientManagerTest.php
  service-api/app/test/AppTest/Service/JWT/JWKFactoryTest.php
  service-api/app/test/AppTest/Service/Secrets/CachedKeyPairManagerDelegatorFactoryTest.php
  service-api/app/test/AppTest/Service/Secrets/CachedKeyPairManagerTest.php
  service-api/app/test/AppTest/Service/Secrets/KeyPairManagerTest.php
Due: use-an-lpa-api

Wrap secret in secret object.
  service-api/app/src/App/src/Service/Secrets/CachedSecretManager.php
  service-api/app/src/App/src/Service/Secrets/LpaDataStoreSecretManager.php
  service-api/app/src/App/src/Service/Secrets/Secret.php
  service-api/app/src/App/src/Service/Secrets/SecretManagerInterface.php
  service-api/app/test/AppTest/Service/Secrets/CachedSecretManagerTest.php
  service-api/app/test/AppTest/Service/Secrets/LpaDataStoreSecretManagerTest.php
Due: use-an-lpa-api

Remove unused factory for UserInfoService
  service-api/app/src/App/src/Service/Authentication/UserInfoServiceFactory.php
Due: use-an-lpa-api

Add secret to localstack secretsmanager
  mock-integrations/secrets-manager/localstack_init.sh
Due: none

JWT payload definition for DataStore Lpas
  service-api/app/src/App/src/DataAccess/ApiGateway/JWSPayload/DataStoreLpas.php
Due: use-an-lpa-api

Major refactor of api calling code to centralise request signing.
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodes.php
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodesFactory.php
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImages.php
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImagesFactory.php
  service-api/app/src/App/src/DataAccess/ApiGateway/Lpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/LpasFactory.php
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSigner.php
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSignerFactory.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SignatureType.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/InstructionsAndPreferencesImagesFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/InstructionsAndPreferencesImagesTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/LpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/LpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/RequestSignerFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/RequestSignerTest.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactActorCodesFactory.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactInstructionsAndPreferencesImagesFactory.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactLpasFactory.php
Due: use-an-lpa-api

Remove extra verbose behat output from composer runner
  service-front/app/composer.json
Due: use-an-lpa-front

Use DateTimeInterface so we can use immutables
  service-api/app/src/App/src/DataAccess/Repository/Response/Lpa.php
  service-api/app/src/App/src/DataAccess/Repository/Response/LpaInterface.php
Due: use-an-lpa-api

Also backup the globals in the factory tests
  service-api/app/test/AppTest/DataAccess/ApiGateway/RequestSignerFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/RequestSignerTest.php
Due: use-an-lpa-api

Widescale refactoring of api client code and passing unit tests.
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/AbstractApiClient.php
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodes.php
  service-api/app/src/App/src/DataAccess/ApiGateway/ActorCodesFactory.php
  service-api/app/src/App/src/DataAccess/ApiGateway/GenerateJWT.php
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImages.php
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImagesFactory.php
  service-api/app/src/App/src/DataAccess/ApiGateway/Lpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/LpasFactory.php
  service-api/app/src/App/src/Service/ApiClient/Client.php
  service-api/app/src/App/src/Service/ApiClient/ClientFactory.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/InstructionsAndPreferencesImagesFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/InstructionsAndPreferencesImagesTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/LpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/LpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/PSR17PropheciesTrait.php
  service-api/app/test/AppTest/Service/ApiClient/ClientFactoryTest.php
  service-api/app/test/AppTest/Service/ApiClient/ClientTest.php
Due: use-an-lpa-api

Necessary package updates
  service-api/app/composer.json
  service-api/app/composer.lock
Due: use-an-lpa-api

Linting fixes
  service-api/app/src/App/src/DataAccess/ApiGateway/AbstractApiClient.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/PSR17PropheciesTrait.php
Due: use-an-lpa-api

Lint fix
  service-api/app/src/App/src/Service/JWT/JWSPayload.php
Due: use-an-lpa-api

Ensure we backup the globals
  service-api/app/test/AppTest/DataAccess/ApiGateway/RequestSignerTest.php
Due: use-an-lpa-api

Update all the pact factories
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactActorCodesFactory.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactInstructionsAndPreferencesImagesFactory.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactLpasFactory.php
Due: use-an-lpa-api

Load the appropriate factory during acceptance testing
  service-api/app/features/bootstrap/config.php
Due: use-an-lpa-api

Correct the return type on the IaP factory
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImagesFactory.php
Due: use-an-lpa-api

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
