Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

UML-3621 rework attorney status (#2851)
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus/GetAttorneyStatusInterface.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
Due: use-an-lpa-api

fixes
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/TrustCorporationStatusInterface.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

Update workflow
  .github/workflows/_build-and-push.yml
Due: none

Update workflow (#2856)
  .github/workflows/_build-and-push.yml
Due: none

UML-3622 rework trust corporations (#2854)
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/TrustCorporationStatusInterface.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

UML-3623 Reworkk IsValidLpa.php to accept new entity/siriuslpa (#2852)
  service-api/app/src/App/src/Service/Lpa/IsValidLpa.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
Due: use-an-lpa-api

UML-3620 added a new test - CombinedLpaHasActorTraitTest.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/SiriusHasActorTrait.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
Due: use-an-lpa-api

UML-3620 fixed php lint
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
Due: use-an-lpa-api

Changes to allow combined format to the front
  service-front/app/src/Common/src/Entity/Casters/CastSingleDonor.php
  service-front/app/src/Common/src/Entity/Casters/CastSiriusDonor.php
  service-front/app/src/Common/src/Entity/Casters/CastToCaseSubtype.php
  service-front/app/src/Common/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-front/app/src/Common/src/Entity/Casters/CastToSiriusLifeSustainingTreatment.php
  service-front/app/src/Common/src/Entity/Casters/CastToWhenTheLpaCanBeUsed.php
  service-front/app/src/Common/src/Entity/Casters/ExtractAddressLine1FromLpaStore.php
  service-front/app/src/Common/src/Entity/Casters/ExtractAddressLine1FromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractAddressLine2FromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractAddressLine3FromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractCountryFromLpaStore.php
  service-front/app/src/Common/src/Entity/Casters/ExtractCountryFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractCountyFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractPostcodeFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractTownFromLpaStore.php
  service-front/app/src/Common/src/Entity/Casters/ExtractTownFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractTypeFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/LinkedDonorCaster.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreAttorney.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreDonor.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaAttorney.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaDonor.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-front/app/src/Common/src/Enum/HowAttorneysMakeDecisions.php
  service-front/app/src/Common/src/Enum/LifeSustainingTreatment.php
  service-front/app/src/Common/src/Enum/LpaType.php
  service-front/app/src/Common/src/Service/Lpa/Factory/LpaDataFormatter.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
Due: use-an-lpa-front

Uml 3620 rework resolve actor (#2866)
  service-api/app/src/App/src/Service/Lpa/ResolveActor/SiriusHasActorTrait.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
Due: use-an-lpa-api

api change accomodated
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreTrustCorporations.php
Due: use-an-lpa-front

Update code scan script
  scripts/pipeline/generate_trivy_report/code_scan_report.py
Due: none

accept new combined lpa
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
Due: use-an-lpa-api

tidy up refactor to make this file easier to work with
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

2 more refactors
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

Further corrections and test addition
  service-api/.idea/service-api.iml
  service-front/app/test/CommonTest/Entity/Casters/CanCastSiriusDonorTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanCastToSiriusLifeSustainingTreatmentTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractAddressLine1FromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractAddressLine2FromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractAddressLine3FromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractCountryFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractCountyFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractPostcodeFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractTownFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractTypeFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastSingleDonorTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToCaseSubtypeTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToLifeSustainingTreatmentTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToWhenTheLpaCanBeUsedTest.php
  service-front/app/test/CommonTest/Entity/Casters/ExtractAddressLine1FromLpaStoreTest.php
  service-front/app/test/CommonTest/Entity/Casters/ExtractCountryFromLpaStoreTest.php
  service-front/app/test/CommonTest/Entity/Casters/ExtractTownFromLpaStoreTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
  service-front/app/test/fixtures/4UX3.json
  service-front/app/test/fixtures/test_lpa.json
Due: use-an-lpa-front, use-an-lpa-api

Update code scan report script
  scripts/pipeline/generate_trivy_report/code_scan_report.py
Due: none

lint errors
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseLpaStoreToModerniseFormatTest.php
Due: use-an-lpa-front

Update code scan report script (#2872)
  scripts/pipeline/generate_trivy_report/code_scan_report.py
Due: none

Reverting the changes
  service-front/app/src/Common/src/Entity/Casters/CastSingleDonor.php
  service-front/app/src/Common/src/Entity/Casters/CastSiriusDonor.php
  service-front/app/src/Common/src/Entity/Casters/CastToCaseSubtype.php
  service-front/app/src/Common/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-front/app/src/Common/src/Entity/Casters/CastToSiriusLifeSustainingTreatment.php
  service-front/app/src/Common/src/Entity/Casters/CastToWhenTheLpaCanBeUsed.php
  service-front/app/src/Common/src/Entity/Casters/LinkedDonorCaster.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreAttorney.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreDonor.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaAttorney.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaDonor.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-front/app/src/Common/src/Service/Lpa/Factory/LpaDataFormatter.php
  service-front/app/test/CommonTest/Entity/Casters/CanCastSiriusDonorTest.php
Due: use-an-lpa-front

Updating the class to reflect the changes done in api
  service-front/app/src/Common/src/Service/Lpa/Factory/LpaDataFormatter.php
Due: use-an-lpa-front

test fixes and additions
  service-api/.idea/.gitignore
  service-api/.idea/modules.xml
  service-api/.idea/php-test-framework.xml
  service-api/.idea/php.xml
  service-api/.idea/phpunit.xml
  service-api/.idea/vcs.xml
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreAttorney.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreDonor.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaAttorney.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaDonor.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-front/app/src/Common/src/Service/Lpa/Factory/LpaDataFormatter.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
Due: use-an-lpa-front, use-an-lpa-api

add objecthydrator to composer files
  service-front/app/composer.json
  service-front/app/composer.lock
Due: use-an-lpa-front

Adding setup python
  .github/workflows/_build-and-push.yml
Due: none

Update python job
  .github/workflows/_build-and-push.yml
Due: none

Adding setup python (#2877)
  .github/workflows/_build-and-push.yml
Due: none

Add java db to trivy job
  .github/workflows/_build-and-push.yml
Due: none

lint errors fixed
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaDonor.php
Due: use-an-lpa-front

Remove unnecessary file
  service-api/.idea/.gitignore
  service-api/.idea/modules.xml
  service-api/.idea/php-test-framework.xml
  service-api/.idea/php.xml
  service-api/.idea/phpunit.xml
  service-api/.idea/service-api.iml
  service-api/.idea/vcs.xml
Due: use-an-lpa-api

Add java db to trivy job (#2874)
  .github/workflows/_build-and-push.yml
Due: none

WIP tests
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
  service-front/app/composer.lock
Due: use-an-lpa-front, use-an-lpa-api

refactor
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

allow mutiple types
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

refactor tests
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

make Person objects for fixtures for new combined obj
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

move GetAttorneyStatus to Person, refactor tests more, WIP (some tests still failing)
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

tests (WIP)
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

refactor
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
Due: use-an-lpa-api
