Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Change log retention changed to 400 days.
  terraform/environment/terraform.tfvars.json
Due: none

Change log retention changed to 400 days. (#3184)
  terraform/environment/terraform.tfvars.json
Due: none

revert bug fix temporarily
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
Due: use-an-lpa-api

test fix to support mlpa format
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Due: use-an-lpa-api

UML-3857: reset scaling to normal
  terraform/environment/terraform.tfvars.json
Due: none

Add value object for LPA UIDs
  service-api/app/src/App/src/Entity/Value/LpaUid.php
  service-api/app/src/App/src/Enum/LpaSource.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
Due: use-an-lpa-api

Better make file reset target
  Makefile
Due: none

Update PDF service as the old image has gone
  docker-compose.dependencies.yml
Due: none

Store all codes against Sirius ID for now
  .idea/phpunit.xml
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
Due: use-an-lpa-api

Unit test fixes for value object usage
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

Missed value object creation in lpa deletion code.
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
Due: use-an-lpa-api

Add test for LpaUid
  service-api/app/test/AppTest/Entity/Value/LpaUidTest.php
Due: use-an-lpa-api

added bug fix
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
Due: use-an-lpa-api

Uml 3781 actor side code viewing (#3168)
  .idea/phpunit.xml
  Makefile
  docker-compose.dependencies.yml
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Entity/Value/LpaUid.php
  service-api/app/src/App/src/Enum/LpaSource.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Entity/Value/LpaUidTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

Uml 3737 add user lpa actor map (#3142)
  .github/workflows/pull-request-path.yml
  Makefile
  docker-compose.dependencies.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/README.md
  lambda-functions/event-receiver/app/factory.go
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/DynamodbClient.go
  lambda-functions/event-receiver/internal/dynamo/client.go
  lambda-functions/event-receiver/internal/dynamo/client_test.go
  localstack/localstack-init.sh
  mock-integrations/makeregister/lpa-access-granted-events/4UX3.json
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  terraform/environment/lambda.tf
Due: use-an-lpa-api

Start work on removing dynamodb container in favour of localstack hosted.
  docker-compose.dependencies.yml
  docker-compose.yml
Due: none

Now that the codes service is updated make all the changes to our config+scripts
  docker-compose.dependencies.yml
  service-api/docker/seeding/start.sh
  service-api/seeding/dynamodb.py
  service-api/seeding/put_actor_codes.py
Due: use-an-lpa-api

unit test added for new and old format
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Due: use-an-lpa-api

Dynamodb container removal (#3190)
  docker-compose.dependencies.yml
  docker-compose.yml
  service-api/docker/seeding/start.sh
  service-api/seeding/dynamodb.py
  service-api/seeding/put_actor_codes.py
Due: use-an-lpa-api

wip
  docker-compose.dependencies.yml
  docker-compose.yml
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Service/ActorCodes/Validation/CodesApiValidationStrategy.php
  service-api/app/src/App/src/Service/ActorCodes/Validation/CodesApiValidationStrategyInterface.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpaInterface.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/LpaActor.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-front/app/src/Common/src/Entity/CaseActor.php
Due: use-an-lpa-front, use-an-lpa-api

further test corrections
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/test/AppTest/Entity/SiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
Due: use-an-lpa-api

upgrade tj-actions/files-changed to post incident version
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
Due: none

missing comment
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
Due: none

use correct name for pdf-service image
  terraform/environment/region/data_sources.tf
Due: none

update ecr scan results script
  .github/workflows/_ecr-scanning.yml
Due: none

upgrade tj-actions/files-changed to post incident version (#3198)
  .github/workflows/_ecr-scanning.yml
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
  terraform/environment/region/data_sources.tf
Due: none

added interface for codesapivalidationstrat and addlpa
  docker-compose.yml
  service-api/app/src/App/src/Service/ActorCodes/Validation/CodesApiValidationStrategy.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/LpaActor.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/CodesApiValidationStrategyTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
Due: use-an-lpa-api

Update renovate config for github action pinning
  renovate.json
Due: none

fix version being used
  .github/workflows/dependabot-composer-npm-path.yml
  .github/workflows/dependabot-terraform-upgrade.yml
Due: none

UML-3784: Refactor LpaAlreadyAdded to work with combined format (#3191)
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/LpaAlreadyAdded/DonorInformationInterface.php
  service-api/app/src/App/src/Service/Lpa/LpaAlreadyAdded/LpaAlreadyAddedInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Entity/SiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Due: use-an-lpa-api

fix checkout action to set version
  .github/workflows/_build-and-push.yml
  .github/workflows/_codecov.yml
  .github/workflows/_ecr-scanning.yml
  .github/workflows/_lint-terraform.yml
  .github/workflows/_node-build.yml
  .github/workflows/_node-test.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_run-terraform.yml
  .github/workflows/_seed-database.yml
  .github/workflows/_slack-notification.yml
  .github/workflows/go-unit-test.yml
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/scheduled-codeql-analysis.yml
  .github/workflows/scheduled-tfsec.yml
  .github/workflows/scheduled-workspace-cleanup.yml
  .github/workflows/trivy_scan_alert_report.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
Due: none

pin upload sarif
  .github/workflows/_build-and-push.yml
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
  .github/workflows/scheduled-tfsec.yml
Due: none

code cov pinned to patch version
  .github/workflows/_codecov.yml
Due: none

pin tflint
  .github/workflows/_lint-terraform.yml
Due: none

pin versions
  .github/workflows/golang-linting.yml
Due: none

renamed interface and removed null coalesce
  service-api/app/src/App/src/Service/ActorCodes/Validation/CodesApiValidationInterface.php
  service-front/app/src/Common/src/Entity/CaseActor.php
Due: use-an-lpa-front, use-an-lpa-api

pinned
  .github/workflows/labeler.yml
Due: none

php setup version
  .github/workflows/_ecr-scanning.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/php-linting.yml
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
Due: none

checkout updates
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/statistics.yml
  .github/workflows/tfsec.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
Due: none

aws cli version
  .github/workflows/_build-and-push.yml
  .github/workflows/_run-terraform.yml
Due: none
