Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Added translation using Weblate (English (United Kingdom))
  service-front/app/languages/en_GB/LC_MESSAGES/messages.mo
  service-front/app/languages/en_GB/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Translated using Weblate (Welsh)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Translated using Weblate (Welsh)
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Translated using Weblate (English (United Kingdom))
  service-front/app/languages/en_GB/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Translated using Weblate (English (United Kingdom))
  service-front/app/languages/en_GB/LC_MESSAGES/messages.mo
  service-front/app/languages/en_GB/LC_MESSAGES/messages.po
Due: use-an-lpa-front

Update content for instructions and preferences in summary (#3692)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/templates/partials/lpa-summary-details/iap-macros.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

tests added
  .secrets.baseline
  service-api/app/features/actor-one-login_edge_case_scenarios.feature
  service-api/app/features/context/Acceptance/OidcContext.php
Due: use-an-lpa-api

update
  scripts/duplicate-accounts/README.md
  scripts/duplicate-accounts/merge_duplicate_identities.py
Due: none

cleanup
  service-api/app/features/actor-one-login_edge_case_scenarios.feature
Due: use-an-lpa-api

cleanup
  .secrets.baseline
  service-api/app/features/context/Acceptance/OidcContext.php
Due: use-an-lpa-api

UML-3506 - Add test alarms for 4xx error anomalies
  terraform/environment/region/cloudwatch_alarms.tf
Due: none

SP-3747 - disable ship to metrics queue #minor
  terraform/environment/terraform.tfvars.json
Due: none

SP-3747 - disable ship to metrics queue #minor (#3699)
  terraform/environment/terraform.tfvars.json
Due: none

UML-3506 - Add test alarms for 4xx error anomalies (#3698)
  terraform/environment/region/cloudwatch_alarms.tf
Due: none

Show different page when activation key already made today
  .github/workflows/php-linting.yml
  .secrets.baseline
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Exception/LpaActivationKeyAlreadyRequestedException.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/test/AppTest/Exception/LpaActivationKeyAlreadyRequestedExceptionTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
  service-front/app/features/actor-request-activation-key.feature
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/psalm-baseline.xml
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckYourAnswersHandler.php
  service-front/app/src/Actor/templates/actor/already-requested-activation-key-today.html.twig
  service-front/app/src/Common/src/Service/Lpa/AddAccessForAllLpa.php
  service-front/app/src/Common/src/Service/Lpa/Response/ActivationKeyAlreadyRequested.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/BaselineValidData.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseActivationKeyAlreadyRequested.php
  service-front/app/test/CommonTest/Service/Lpa/AccessForAllApiResultTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/ActivationKeyAlreadyRequestedResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseActivationKeyAlreadyRequestedResponseTest.php
Due: use-an-lpa-front, use-an-lpa-api

UML-3506 - Adjust anomaly bands on 4xx alarms
  terraform/environment/region/cloudwatch_alarms.tf
Due: none

UML-3506 - Adjust anomaly bands on 4xx alarms (#3700)
  terraform/environment/region/cloudwatch_alarms.tf
Due: none

Show different page when activation key already made today (#3696)
  .github/workflows/php-linting.yml
  .secrets.baseline
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Exception/LpaActivationKeyAlreadyRequestedException.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/test/AppTest/Exception/LpaActivationKeyAlreadyRequestedExceptionTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
  service-front/app/features/actor-request-activation-key.feature
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/psalm-baseline.xml
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckYourAnswersHandler.php
  service-front/app/src/Actor/templates/actor/already-requested-activation-key-today.html.twig
  service-front/app/src/Common/src/Service/Lpa/AddAccessForAllLpa.php
  service-front/app/src/Common/src/Service/Lpa/Response/ActivationKeyAlreadyRequested.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/BaselineValidData.php
  service-front/app/src/Common/src/Service/Lpa/Response/Parse/ParseActivationKeyAlreadyRequested.php
  service-front/app/test/CommonTest/Service/Lpa/AccessForAllApiResultTest.php
  service-front/app/test/CommonTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/ActivationKeyAlreadyRequestedResponseTest.php
  service-front/app/test/CommonTest/Service/Lpa/Response/Parse/ParseActivationKeyAlreadyRequestedResponseTest.php
Due: use-an-lpa-front, use-an-lpa-api

Update openssl in upload statistics
  lambda-functions/upload-statistics/Dockerfile
Due: none

Add functions to check equality of names and postcode
  service-api/app/src/App/src/Service/Equals.php
  service-api/app/src/App/src/Service/Lpa/Combined/RejectInvalidLpa.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/EqualsTest.php
Due: use-an-lpa-api

Use RejectInvalidLpa helper in SiriusLpaManager too
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

UML-2852 Normalise names when checking equality (#3701)
  lambda-functions/upload-statistics/Dockerfile
  service-api/app/src/App/src/Service/Equals.php
  service-api/app/src/App/src/Service/Lpa/Combined/RejectInvalidLpa.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/EqualsTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
Due: use-an-lpa-api

Fix infinite diff by updating aws provider
  terraform/account/.terraform.lock.hcl
  terraform/account/versions.tf
  terraform/environment/.terraform.lock.hcl
  terraform/environment/versions.tf
Due: none

Fix infinite diff by updating aws provider (#3702)
  terraform/account/.terraform.lock.hcl
  terraform/account/versions.tf
  terraform/environment/.terraform.lock.hcl
  terraform/environment/versions.tf
Due: none

UML-4381 - Trial WAF rule for bot control
  terraform/account/region/waf.tf
Due: none

UML-4381 - Trial WAF rule for bot control (#3703)
  terraform/account/region/waf.tf
Due: none

content update
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/already-have-activation-key.html.twig
Due: use-an-lpa-front

logic ordering changed to correct the journey flow
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AccessForAllLpaService.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
Due: use-an-lpa-api

content update (#3705)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/already-have-activation-key.html.twig
Due: use-an-lpa-front

UML-4304: create backup KMS keys
  terraform/account/kms.tf
  terraform/account/terraform.tf
Due: none

update kms module and fix iam roles
  terraform/account/kms.tf
Due: none

ammend provider account
  terraform/account/kms.tf
Due: none

add backup
  terraform/account/lookups.tf
Due: none

add backup account provider
  terraform/account/terraform.tf
Due: none

add cross account provider role
  terraform/account/cross_account_backup_role.tf
Due: none

UML-4304: create backup KMS keys (#3706)
  terraform/account/cross_account_backup_role.tf
  terraform/account/kms.tf
  terraform/account/lookups.tf
  terraform/account/terraform.tf
Due: none
