Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

revert logs
  service-admin/internal/server/data/system_message.go
Due: use-an-lpa-admin

Adding Metrics to Dashboard
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

Updated position of Metrics on onelogin dashboard
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

change namespace
  terraform/environment/region/cloudwatch_alarms.tf
Due: none

Update onelogin dashboard placement
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

Change alarm threshold
  terraform/environment/region/cloudwatch_alarms.tf
Due: none

UML-3513: Create PagerDuty Alarm for One Login Outage (#2723)
  terraform/environment/region/cloudwatch_alarms.tf
Due: none

replaces deletion with single space string
  service-admin/internal/server/data/system_message.go
Due: use-an-lpa-admin

Updating Widget titles to be more descriptive
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

Add missing ',' to ln 93
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

amended tests
  service-admin/internal/server/data/ssm_connection.go
  service-admin/internal/server/data/ssm_connection_test.go
  service-admin/internal/server/data/system_message_test.go
Due: use-an-lpa-admin

lint
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/data/system_message_test.go
Due: use-an-lpa-admin

add route53 health check to dash
  terraform/environment/region/cloudwatch_dashboard.tf
  terraform/environment/region/modules/dns/outputs.tf
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

conditionally create output
  terraform/environment/region/modules/dns/outputs.tf
Due: none

lint
  service-admin/internal/server/data/system_message_test.go
Due: use-an-lpa-admin

'remove' and 'updated' messages show correctly
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/handlers/systemmessage.go
Due: use-an-lpa-admin

get ecs cluster metric name
  terraform/environment/region/cloudwatch_dashboard.tf
Due: none

update dash
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

fix dashboard
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

add missing comma
  terraform/environment/region/cloudwatch_dashboard.tf
Due: none

add missed comma
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

fix syntax error
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

add alb metrics
  terraform/environment/region/cloudwatch_dashboard.tf
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

fix syntax
  terraform/environment/region/cloudwatch_dashboard.tf
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

fix misplaced comma
  .pre-commit-config.yaml
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

amended tests
  service-admin/internal/server/data/system_message_test.go
  service-admin/internal/server/handlers/systemmessage_test.go
Due: use-an-lpa-admin

use tf interpolation
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
Due: none

update dash labels
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
  terraform/environment/terraform.tfvars.json
Due: none

UML-3490: create metrics dashboard (#2718)
  .pre-commit-config.yaml
  terraform/environment/region.tf
  terraform/environment/region/cloudwatch_dashboard.tf
  terraform/environment/region/cloudwatch_metrics.tf
  terraform/environment/region/modules/dns/outputs.tf
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

Adding test file
  test.txt
Due: none

combined twig files and handler functionality.
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

Testing terraform workspace show output in pipeline
  .github/workflows/pull-request-path.yml
Due: none

Updating workflow to run on push to this feature branch
  .github/workflows/pull-request-path.yml
Due: none

Add 'branches' to on push for this feature branch
  .github/workflows/pull-request-path.yml
Due: none

Remove test in workflow
  .github/workflows/pull-request-path.yml
Due: none

Remove rule
  .github/workflows/pull-request-path.yml
Due: none

Testing workspace name output
  .github/workflows/pull-request-path.yml
Due: none

Remove test job
  .github/workflows/pull-request-path.yml
Due: none

Adding test job to output workspace name
  .github/workflows/pull-request-path.yml
Due: none

Update format of job
  .github/workflows/pull-request-path.yml
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
