Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Documentation updates.
  tests/smoke/README.md
  tests/smoke/composer.json
Due: none

Rejig docker-compose files to be more independant of each other.
  docker-compose.dependencies.yml
  docker-compose.testing.yml
  docker-compose.yml
Due: none

Not sure how I missed this rename
  docker-compose.dependencies.yml
  docker-compose.yml
Due: none

Not sure how I missed this rename
  .idea/php.xml
Due: none

UML-3426: stop task desired count reset on deploy
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
Due: none

fix terraform
  terraform/environment/region/api_ecs.tf
Due: none

lint terraform
  terraform/environment/region/api_ecs.tf
Due: none

fix terraform
  terraform/account/secretsmanager.tf
Due: none

initial skeleton of lpa-store-mock
  docker-compose.dependencies.yml
  mock-integrations/lpa-data-store/mock-openapi-examples.yaml
  mock-integrations/lpa-data-store/mock-openapi.yaml
  mock-integrations/lpa-data-store/opg-data-lpa-data-store-openapi.yml
  mock-integrations/lpa-data-store/update.sh
Due: none

mods to get mock to start
  Makefile
  docker-compose.dependencies.yml
Due: none

Uml 3404 smoke working against mock (#2611)
  .github/workflows/_run-behat-tests.yml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  .idea/runConfigurations/Smoke.xml
  Makefile
  docker-compose.dependencies.yml
  docker-compose.testing.yml
  docker-compose.yml
  scripts/pipeline/ci_ingress/ci_ingress.py
  terraform/environment/config_file.tf
  terraform/environment/region/outputs.tf
  terraform/environment/terraform.tfvars.json
  tests/features/actor-login.feature
  tests/smoke/.env
  tests/smoke/Dockerfile
  tests/smoke/README.md
  tests/smoke/composer.json
  tests/smoke/composer.lock
  tests/smoke/context/AccountContext.php
  tests/smoke/context/BaseContext.php
  tests/smoke/context/BaseContextTrait.php
  tests/smoke/context/CommonContext.php
  tests/smoke/context/FeatureFlagContextTrait.php
  tests/smoke/context/ViewerContext.php
  tests/smoke/docker-compose.smoke.yml
Due: none

responses and config files
  mock-integrations/lpa-data-store/mock-config.yaml
  mock-integrations/lpa-data-store/mock-responses.js
Due: none

fix test
  service-api/app/test/AppTest/Service/Authentication/KeyPairManager/CachedKeyPairManagerDelegatorFactoryTest.php
Due: use-an-lpa-api

terraform
  terraform/environment/region/data_sources.tf
Due: none

lint terraform
  terraform/environment/region.tf
  terraform/environment/region/variables.tf
  terraform/environment/variables.tf
Due: none

lint terraform
  terraform/environment/region/data_sources.tf
Due: none

add lpa data secrets to terraform
  terraform/account/keys.tf
  terraform/account/secretsmanager.tf
Due: none

fix missing secret
  terraform/account/secretsmanager.tf
Due: none

UML-3392: add lpa data secrets to terraform (#2616)
  terraform/account/keys.tf
  terraform/account/secretsmanager.tf
Due: none

update after secrets already created
  terraform/account/secretsmanager.tf
Due: none

Updated "what is your activation key" page content
  .idea/inspectionProfiles/Project_Default.xml
  .idea/php-test-framework.xml
  .idea/php.xml
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/add-lpa/activation-key.html.twig
Due: use-an-lpa-front

UML-3425: test IP only rule
  terraform/account/region/waf.tf
Due: none

Updated "reference-number.html.twig" page content and added a cancel button which sends user to the dashboard
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/request-activation-key/reference-number.html.twig
Due: use-an-lpa-front

UML 3313 updated scenarios
  service-front/app/features/actor-request-activation-key.feature
  service-front/app/features/context/UI/RequestActivationKeyContext.php
Due: use-an-lpa-front

Regenerated message.pot file
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Update configuration to fix build issue
  renovate.json
  service-api/app/composer.json
  service-front/app/composer.json
Due: use-an-lpa-front, use-an-lpa-api

Further PHP versions specification updates in composer.json files
  service-api/app/composer.json
  service-front/app/composer.json
  tests/smoke/composer.json
Due: use-an-lpa-front, use-an-lpa-api

remove secrets from terraform
  terraform/account/keys.tf
  terraform/account/secretsmanager.tf
Due: none

Update configuration to fix build issue (#2622)
  renovate.json
  service-api/app/composer.json
  service-front/app/composer.json
  tests/smoke/composer.json
Due: use-an-lpa-front, use-an-lpa-api

remove secrets from terraform (#2623)
  terraform/account/keys.tf
  terraform/account/secretsmanager.tf
Due: none

add secret for lpa data store to terraform
  terraform/account/secretsmanager.tf
Due: none

Undo changes
  .idea/inspectionProfiles/Project_Default.xml
  .idea/php-test-framework.xml
  .idea/php.xml
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/add-lpa/activation-key.html.twig
Due: use-an-lpa-front

UML-3425: block matching requests
  terraform/account/region/waf.tf
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
