Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Rename handlers, paths, and routes to match template
  service-front/app/config/routes.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/src/Viewer/src/Handler/AbstractPaperVerificationCodeHandler.php
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDetailsHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CodeSentToHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/DonorDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/FoundLpaHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/NumberOfAttorneysHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/ViewHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/enter-code.html.twig
Due: use-an-lpa-front

Move session from abstract handler to the one that uses it
  service-front/app/src/Viewer/src/Handler/AbstractPaperVerificationCodeHandler.php
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
Due: use-an-lpa-front

Remove empty handler constructors
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDetailsHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CodeSentToHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/DonorDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/NumberOfAttorneysHandler.php
Due: use-an-lpa-front

Rename forms
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/src/Viewer/src/Form/AccessOrPaperVerificationCode.php
  service-front/app/src/Viewer/src/Form/AttorneyDetails.php
  service-front/app/src/Viewer/src/Form/CheckAnswers.php
  service-front/app/src/Viewer/src/Form/CodeSentTo.php
  service-front/app/src/Viewer/src/Form/DateOfBirth.php
  service-front/app/src/Viewer/src/Form/LpaReferenceNumber.php
  service-front/app/src/Viewer/src/Form/NumberOfAttorneys.php
  service-front/app/src/Viewer/src/Form/OrganisationName.php
  service-front/app/src/Viewer/src/Handler/CheckCodeHandler.php
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDetailsHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CodeSentToHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/DonorDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/FoundLpaHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/ViewHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/attorney-details.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/code-sent-to.html.twig
  service-front/app/test/ViewerTest/Form/AccessOrPaperVerificationCodeTest.php
  service-front/app/test/ViewerTest/Form/AttorneyDetailsTest.php
  service-front/app/test/ViewerTest/Form/CheckAnswersTest.php
  service-front/app/test/ViewerTest/Form/CodeSentToTest.php
  service-front/app/test/ViewerTest/Form/DateOfBirthTest.php
  service-front/app/test/ViewerTest/Form/LpaReferenceNumberTest.php
  service-front/app/test/ViewerTest/Form/NumberOfAttorneysTest.php
  service-front/app/test/ViewerTest/Form/OrganisationNameTest.php
Due: use-an-lpa-front

Remove '=== false'
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CodeSentToHandler.php
Due: use-an-lpa-front

A breaking test tidy up '
  service-front/app/features/actor-add-an-lpa.feature
Due: use-an-lpa-front

pipeline test breakage fix
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
Due: use-an-lpa-front

Setup and configure to use the localstack KMS provision
  .secrets.baseline
  docker-compose.dependencies.yml
  localstack/localstack-init.sh
Due: none

Remove unnecessary file
  local-config/kms/kms-seed.yaml
Due: none

some refactoring after review
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

Use two-thirds column for number of attorneys page
  service-front/app/src/Viewer/templates/viewer/paper-verification/number-of-attorneys.html.twig
Due: use-an-lpa-front

Tidy up some html and straight quotes to curly
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/templates/viewer/paper-verification/attorney-details.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/cannot-show-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/code-cancelled.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/found-lpa.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/lpa-ready-to-view.html.twig
Due: use-an-lpa-front

Make backlinks/continue go to the correct pages
  service-front/app/src/Viewer/src/Handler/AbstractPaperVerificationCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDetailsHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CodeSentToHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/DonorDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/FoundLpaHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/NumberOfAttorneysHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/code-sent-to.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/found-lpa.html.twig
Due: use-an-lpa-front

Trigger a full build
  .github/workflows/trigger_build
Due: none

Setup and configure app to use the localstack KMS provision (#3505)
  .github/workflows/trigger_build
  .secrets.baseline
  docker-compose.dependencies.yml
  local-config/kms/kms-seed.yaml
  localstack/localstack-init.sh
Due: none

cleanup
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
Due: use-an-lpa-front

Show trust corporation name in 'Added by:'
  mock-integrations/lpa-codes/mock-responses.js
  mock-integrations/lpa-codes/src/codes/seeding-data.json
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: use-an-lpa-front

Show trust corporation name in 'Added by:'
  mock-integrations/lpa-codes/mock-responses.js
  mock-integrations/lpa-codes/src/codes/seeding-data.json
  service-api/app/test/fixtures/example_lpa.json
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/Service/Lpa/SiriusLpaFactoryTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
  service-front/app/test/fixtures/full_example.json
  service-front/app/test/fixtures/full_example_signed_before_2016.json
  service-front/app/test/fixtures/simple_example.json
Due: use-an-lpa-front, use-an-lpa-api

UML-4177 Show trust corporation name in 'Added by:' (#3506)
  mock-integrations/lpa-codes/mock-responses.js
  mock-integrations/lpa-codes/src/codes/seeding-data.json
  service-api/app/test/fixtures/example_lpa.json
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/Service/Lpa/SiriusLpaFactoryTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
  service-front/app/test/fixtures/full_example.json
  service-front/app/test/fixtures/full_example_signed_before_2016.json
  service-front/app/test/fixtures/simple_example.json
Due: use-an-lpa-front, use-an-lpa-api

Duplicated the new LPA to display duplication info
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api

removed style sheet chnages after review
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/web/src/stylesheets/_banner.scss
Due: use-an-lpa-front

Seed an activation code for paper modernised attorney
  .github/workflows/_seed-database.yml
  scripts/seed_lpas_and_codes/main.go
Due: none

UML-4173 Seed an activation code for paper modernised attorney (#3508)
  .github/workflows/_seed-database.yml
  scripts/seed_lpas_and_codes/main.go
Due: none

Ensure datetimes are correctly passed as strings in returns rather than serialised to arrays
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
Due: use-an-lpa-api

Missing fixes to behat tests
  .secrets.baseline
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
Due: use-an-lpa-api

Set minimumReleaseAge to "0 days" for security vulnerabilities
  renovate.json
Due: none

Remove separate private method so data check is closer to usage.
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/RestrictSendingLpaForCleansing.php
Due: use-an-lpa-api

Update psalm baseline
  service-api/app/psalm-baseline.xml
Due: use-an-lpa-api

Set minimumReleaseAge to "0 days" for security vulnerabilities (#3514)
  renovate.json
Due: none

UML-4184 Ensure datetimes are correctly passed as strings in returns rather than serialised to arrays (#3510)
  .secrets.baseline
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/psalm-baseline.xml
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/RestrictSendingLpaForCleansing.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
Due: use-an-lpa-api

Update `aws/aws-sdk-php`
  renovate.json
  service-api/app/composer.lock
  service-front/app/composer.lock
Due: use-an-lpa-front, use-an-lpa-api

Update `aws/aws-sdk-php` (#3516)
  renovate.json
  service-api/app/composer.lock
  service-front/app/composer.lock
Due: use-an-lpa-front, use-an-lpa-api

Remove webimpress codeing standards and replace with a mixture of others.
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/phpcs.xml.dist
Due: use-an-lpa-api

Add other sub-projects, cause why not.
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/phpcs.xml.dist
  tests/smoke/composer.json
  tests/smoke/composer.lock
  tests/smoke/phpcs.xml.dist
Due: use-an-lpa-front

Remove webimpress coding standards and replace with a mixture of others (#3517)
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/phpcs.xml.dist
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/phpcs.xml.dist
  tests/smoke/composer.json
  tests/smoke/composer.lock
  tests/smoke/phpcs.xml.dist
Due: use-an-lpa-front, use-an-lpa-api

Bump `slevomat/coding-standard`
  .github/workflows/php-linting.yml
  service-api/app/composer.lock
  service-front/app/composer.lock
Due: use-an-lpa-front, use-an-lpa-api

Update to phpcs v4
  tests/smoke/composer.json
  tests/smoke/composer.lock
Due: none

Fix deprecated property and overly zealous rule
  tests/smoke/phpcs.xml.dist
Due: none

For some reason autoconf is not getting installed in the newest alpine
  tests/smoke/Dockerfile
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
