Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Remove email from URL parameters and use session storage
  service-front/app/src/Actor/src/Handler/CreateAccountSuccessHandler.php
Due: use-an-lpa-front

amend CreateAccountHandler using Session
  service-front/app/src/Actor/src/Handler/CreateAccountHandler.php
Due: use-an-lpa-front

Remove email from URL parameters and use session
  service-front/app/src/Actor/src/Handler/CreateAccountSuccessHandler.php
Due: use-an-lpa-front

removed @throws \Http\Client\Exception
  service-front/app/src/Actor/src/Handler/CreateAccountSuccessHandler.php
Due: use-an-lpa-front

Configure UR env in terraform
  terraform/environment/terraform.tfvars.json
Due: none

UML-3304 Inform users we are changing the way they log in, in service
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Handler/LoginNotificationHandler.php
  service-front/app/src/Actor/templates/actor/login-notification.html.twig
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

Configure UR env in terraform (#2680)
  terraform/environment/terraform.tfvars.json
Due: none

Need to be able to set arrays into a modifiable container
  service-api/app/src/App/src/Service/Container/ModifiableContainerInterface.php
  service-api/app/src/App/src/Service/Container/PhpDiModifiableContainer.php
Due: use-an-lpa-api

PHPStorm runner configuration
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  .idea/runConfigurations/API_Functional.xml
Due: none

A functional test of the ActorCodes api client
  docker-compose.testing.yml
  service-api/app/composer.json
  service-api/app/phpunit.xml.dist
  service-api/app/test/FunctionalTest/AbstractFunctionalTestCase.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/pacts/.gitkeep
Due: use-an-lpa-api

Set to run unit tests only
  .idea/runConfigurations/API.xml
Due: none

Lint fix
  service-api/app/test/FunctionalTest/AbstractFunctionalTestCase.php
Due: use-an-lpa-api

Don't run functional tests for now in CI
  .github/workflows/_build-and-push.yml
Due: none

UML-3445: capture test step timing
  .github/workflows/_build-and-push.yml
  .github/workflows/pull-request-path.yml
  scripts/pipeline/output_step_timing/step_timing.py
Due: none

Uml 3412 data format (#2635)
  docs/architecture/decisions/0023-lpa-data-format.md
Due: none

UML-3478: Adding ur to reserved workspaces
  scripts/pipeline/workspace_cleanup/workspace_cleanup.sh
Due: none

--- (#2687)
  scripts/pipeline/check_ecr_scan_results/requirements.txt
Due: none

Upstream header changes mean we can drop the vendored library file.
  service-front/web/package-lock.json
  service-front/web/package.json
  service-front/web/src/javascript/header.js
  service-front/web/src/javascript/vendor/service-header.js
Due: use-an-lpa-front

Rejig of the run configuration and associated files.
  .idea/opg-use-an-lpa.iml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/runConfigurations/API.xml
  .idea/runConfigurations/API_Acceptance.xml
  .idea/runConfigurations/API_Acceptance__Single_Scenario.xml
  .idea/runConfigurations/API_Integration.xml
  .idea/runConfigurations/All_tests.xml
  .idea/runConfigurations/Build.xml
  .idea/runConfigurations/Cleanup_Pact_Containers.xml
  .idea/runConfigurations/Down.xml
  .idea/runConfigurations/Extract_Translations.xml
  .idea/runConfigurations/Front.xml
  .idea/runConfigurations/Front_Integration.xml
  .idea/runConfigurations/Front_UI.xml
  .idea/runConfigurations/Front_UI__Single_Scenario.xml
  .idea/runConfigurations/Smoke.xml
  .idea/runConfigurations/Up.xml
  Makefile
  docker-compose.yml
  service-api/app/composer.json
  service-front/app/composer.json
  tests/smoke/docker-compose.smoke.yml
Due: use-an-lpa-front, use-an-lpa-api

make actor_users only loaded when specifiy emails flag
  query/dynamodb_export.py
Due: none

UML-3304 updated the dates and translations to reflect that
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/login-notification.html.twig
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Due: use-an-lpa-front

Change composer install make target.
  Makefile
Due: none

Upstream header changes mean we can drop the vendored library file. (#2689)
  service-front/web/package-lock.json
  service-front/web/package.json
  service-front/web/src/javascript/header.js
  service-front/web/src/javascript/vendor/service-header.js
Due: use-an-lpa-front

UML-3471: disable public access
  terraform/environment/terraform.tfvars.json
Due: none

UML-3304 updated translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/login-notification.html.twig
Due: use-an-lpa-front

Rejig of the run configuration and associated files. (#2691)
  .idea/opg-use-an-lpa.iml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/runConfigurations/API.xml
  .idea/runConfigurations/API_Acceptance.xml
  .idea/runConfigurations/API_Acceptance__Single_Scenario.xml
  .idea/runConfigurations/API_Integration.xml
  .idea/runConfigurations/All_tests.xml
  .idea/runConfigurations/Build.xml
  .idea/runConfigurations/Cleanup_Pact_Containers.xml
  .idea/runConfigurations/Down.xml
  .idea/runConfigurations/Extract_Translations.xml
  .idea/runConfigurations/Front.xml
  .idea/runConfigurations/Front_Integration.xml
  .idea/runConfigurations/Front_UI.xml
  .idea/runConfigurations/Front_UI__Single_Scenario.xml
  .idea/runConfigurations/Smoke.xml
  .idea/runConfigurations/Up.xml
  Makefile
  docker-compose.yml
  service-api/app/composer.json
  service-front/app/composer.json
  tests/smoke/docker-compose.smoke.yml
Due: use-an-lpa-front, use-an-lpa-api

UML-3431 Implement v2 LPAs endpoint (back-end)
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/LpasCollectionV2Handler.php
Due: use-an-lpa-api

fix customer services email address
  bulk_email/emails.py
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
Due: use-an-lpa-front

Revert "fix customer services email address"
  bulk_email/emails.py
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
Due: use-an-lpa-front

fix email address
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
Due: use-an-lpa-front

UML-3486 fix customer services email address (#2696)
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
Due: use-an-lpa-front

update Cloud 9 runbook
  docs/runbooks/cloud9/README.md
Due: none

UML-3186 documented database documents using psalm
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ActorCodesInterface.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodeActivityInterface.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
Due: use-an-lpa-api

UML-3186 removed throw from phpdoc
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
Due: use-an-lpa-api

UML-3431 Implement v2 LPAs endpoint (back-end) (#2690)
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/LpasCollectionV2Handler.php
Due: use-an-lpa-api

UML-3186 documented database documents using psalm (#2697)
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ActorCodesInterface.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodeActivityInterface.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
Due: use-an-lpa-api

amend variable name
  service-front/app/src/Actor/src/Handler/CreateAccountHandler.php
  service-front/app/src/Actor/src/Handler/CreateAccountSuccessHandler.php
Due: use-an-lpa-front

reads the file of email addresses
  bulk_email/send.py
Due: none

writes succeeded and failed files
  bulk_email/send_via_notify.py
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
