Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Add code to signer factory to do JWT handling.
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSignerFactory.php
Due: use-an-lpa-api

PSR autoloader warning fixes
  service-api/app/test/AppTest/Service/Email/EmailClientTest.php
  service-api/app/test/AppTest/Service/Log/LogStderrListenerTest.php
Due: use-an-lpa-api

Better encapsulation of JWT signing
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSignerFactory.php
Due: use-an-lpa-api

Ensure an actual client is used for PACT tests
  service-api/app/features/bootstrap/config.pact.php
Due: use-an-lpa-api

UML-3305 updated content when deleting account
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/confirm-delete-account.html.twig
Due: use-an-lpa-front

Test coverage improvements.
  service-api/app/test/AppTest/DataAccess/ApiGateway/JWSPayload/DataStoreLpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/RequestSignerFactoryTest.php
Due: use-an-lpa-api

UML-3319 updated translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-3305 updated button references for tests
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

fixes
  docs/architecture/decisions/0023-lpa-data-format.md
Due: none

Additional test coverage for lpa factory exception
  service-api/app/test/AppTest/DataAccess/ApiGateway/LpasFactoryTest.php
Due: use-an-lpa-api

UML-3333 updated page content on "is this the LPA you want to add"
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/check-lpa.html.twig
Due: use-an-lpa-front

typo
  docs/architecture/decisions/0023-lpa-data-format.md
Due: none

UML-3319 updated content on could not find lpa page (#2672)
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/cannot-find-lpa.html.twig
Due: use-an-lpa-front

add behat tests for cancel and back buttons
  service-front/app/features/actor-check-your-answers.feature
  service-front/app/features/context/UI/RequestActivationKeyContext.php
Due: use-an-lpa-front

UML-3305 updated translations after mering in main
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-3318: back & cancel button for "check your answers" screen (#2674)
  service-front/app/features/actor-check-your-answers.feature
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckYourAnswersHandler.php
  service-front/app/src/Actor/templates/actor/check-your-answers.html.twig
Due: use-an-lpa-front

UML-3445: capture test step timing
  .github/workflows/_build-and-push.yml
  .github/workflows/pull-request-path.yml
  scripts/pipeline/output_step_timing/step_timing.py
Due: none

UML-3305 updated content when deleting account (#2673)
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/confirm-delete-account.html.twig
Due: use-an-lpa-front

only display tests that ran
  scripts/pipeline/output_step_timing/step_timing.py
Due: none

UML-3333 updated translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-3333 updated button name in test
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

content change and translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/change-lpa-details.html.twig
Due: use-an-lpa-front

UML-3333 renamed button name in theNameMatchesExpected test
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

Update golang version
  service-admin/Dockerfile
Due: use-an-lpa-admin

Update golang version (#2678)
  service-admin/Dockerfile
Due: use-an-lpa-admin

refactor script
  scripts/pipeline/output_step_timing/step_timing.py
Due: none

pot update
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

add to main
  scripts/pipeline/output_step_timing/step_timing.py
Due: none

update
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-3462 updated Update misleading I and P message when image cannot be extracted
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/templates/partials/lpa-summary-details/iap-macros.html.twig
Due: use-an-lpa-front

fix incorrect data displayed
  scripts/pipeline/output_step_timing/step_timing.py
Due: none

UML-3462 updated Update misleading I and P message when image cannot be extracted (#2679)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/templates/partials/lpa-summary-details/iap-macros.html.twig
Due: use-an-lpa-front

UML-3333 updated page content on "is this the LPA you want to add" (#2675)
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/check-lpa.html.twig
Due: use-an-lpa-front

correctly output all matrix jobs
  scripts/pipeline/output_step_timing/step_timing.py
Due: none

docker-compose version change
  docker-compose.dependencies.yml
Due: none

content change and translations (#2677)
  docker-compose.dependencies.yml
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/change-lpa-details.html.twig
Due: use-an-lpa-front

Remove email from URL parameters and store in session
  service-front/app/src/Actor/src/Handler/CreateAccountHandler.php
Due: use-an-lpa-front
