Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

test fix
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-paper-verification-code.feature
Due: use-an-lpa-front

removed a typo
  service-front/app/features/view-lpa-using-paper-verification-code.feature
Due: use-an-lpa-front

Throw error if invalid data is found
  mock-integrations/lpa-codes/mock-responses.js
  mock-integrations/lpa-codes/src/codes/codes.ts
Due: none

UML-3916 Add PVC codes and functionality to local mock service (#3420)
  .gitignore
  .secrets.baseline
  docker-compose.dependencies.yml
  mock-integrations/lpa-codes/README.md
  mock-integrations/lpa-codes/lpa-codes.http
  mock-integrations/lpa-codes/mock-openapi.yml
  mock-integrations/lpa-codes/mock-responses.js
  mock-integrations/lpa-codes/src/codes/codes.ts
  mock-integrations/lpa-codes/src/codes/seeding-data.json
  mock-integrations/lpa-codes/src/enum.ts
  mock-integrations/lpa-codes/src/index.ts
  mock-integrations/lpa-codes/src/types/index.d.ts
  mock-integrations/lpa-codes/update.sh
Due: none

Add paper verification code view functionality
  docker-compose.yml
  service-api/app/config/routes.php
  service-api/app/psalm-baseline.xml
  service-api/app/src/App/src/DataAccess/ApiGateway/PaperVerificationCodes.php
  service-api/app/src/App/src/DataAccess/Repository/PaperVerificationCodesInterface.php
  service-api/app/src/App/src/Handler/PaperVerification/ViewHandler.php
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/CodeView.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/ViewCodeTest.php
  service-front/app/config/routes.php
  service-front/app/src/Common/src/Service/Lpa/PaperVerificationCodeService.php
  service-front/app/src/Common/src/Service/Lpa/PaperVerificationCodeViewResult.php
  service-front/app/src/Common/templates/partials/govuk_form.html.twig
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/ViewHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/attorney-dob.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/donor-dob.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/enter-organisation-name.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/provide-attorney-details.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/verification-code-sent-to.html.twig
  service-front/app/test/CommonTest/Service/Lpa/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-front, use-an-lpa-api

Remove system messages from paper verification journey handlers
  .gitignore
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/NumberOfAttorneysHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PVDonorDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PaperVerificationCodeSentToHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/ProvideAttorneyDetailsForPVHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/ViewHandler.php
Due: use-an-lpa-front

Tidy up paper verification code templates
  service-front/app/src/Viewer/templates/viewer/enter-code-pv.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/attorney-dob.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code-cancelled.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code-expired.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/donor-dob.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/enter-organisation-name.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/lpa-not-found.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/number-of-attorneys.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/provide-attorney-details.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/verification-code-sent-to.html.twig
Due: use-an-lpa-front

Update the translation file
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Update error message for access/paper verification code entry
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/src/Filter/ShareCodeFilter.php
  service-front/app/src/Viewer/src/Form/PVShareCode.php
  service-front/app/src/Viewer/templates/viewer/form-error-messages.html.twig
  service-front/app/test/CommonTest/Filter/ShareCodeFilterTest.php
Due: use-an-lpa-front

Update service-front/app/src/Viewer/src/Form/LpaCheck.php
  service-front/app/src/Viewer/src/Form/LpaCheck.php
Due: use-an-lpa-front

Sync with upstream spec changes
  mock-integrations/lpa-codes/mock-openapi.yml
  mock-integrations/lpa-codes/mock-responses.js
Due: none

Functional (PACT contract generation) testing of our codes api validation usage.
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: use-an-lpa-api

Add additional codes to codes store/file
  mock-integrations/lpa-codes/src/codes/seeding-data.json
Due: none

Switch to codes api rather than hardcoded values
  service-api/app/src/App/src/DataAccess/ApiGateway/PaperVerificationCodes.php
Due: use-an-lpa-api

Add code to logged output for tracking of usage and test for it.
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

Test fixes for gateway code
  service-api/app/test/AppTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: use-an-lpa-api

Add Not Found (404) handling to the codes api post request trait
  service-api/app/src/App/src/DataAccess/ApiGateway/PostRequest.php
Due: use-an-lpa-api

Changes to usable check and removal of 'cancelled' field
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

Remove cancelled field from dto
  service-api/app/src/App/src/DataAccess/Repository/Response/PaperVerificationCode.php
Due: use-an-lpa-api

Converted stored timestamps into ISO dates in codes mock
  mock-integrations/lpa-codes/mock-responses.js
  mock-integrations/lpa-codes/src/index.ts
Due: none

Expiry endpoint needs a different response DTO
  service-api/app/src/App/src/DataAccess/ApiGateway/PaperVerificationCodes.php
  service-api/app/src/App/src/DataAccess/Repository/Response/PaperVerificationCodeExpiry.php
Due: use-an-lpa-api

Only expire codes that have not got a prior expiry reason. Log out expiry starts with event
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
Due: use-an-lpa-api

Update baseline for issue that will disappear when we build additional functionality
  service-api/app/psalm-baseline.xml
Due: use-an-lpa-api

Remove unused feature files
  service-api/app/features/lpa-codes-healthcheck-api.feature
  service-api/app/features/lpa-codes-verifacation-api.feature
Due: use-an-lpa-api

Add appropriate mock https responses for new API in acceptance suite.
  .secrets.baseline
  service-api/app/features/context/Acceptance/ViewerContext.php
Due: use-an-lpa-api

Unit test coverage improvements
  service-api/app/test/AppTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: use-an-lpa-api

Add PACT coverage of expire endpoint usage
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
Due: use-an-lpa-api

content update
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code-cancelled.html.twig
Due: use-an-lpa-front

Fix dual usage of test step being different between code types
  service-api/app/features/context/Acceptance/ViewerContext.php
Due: use-an-lpa-api

Accidental inversion of logic (thank you tests)
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
Due: use-an-lpa-api

translations added in
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-4097:Lpa reference validators updated (#3419)
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-paper-verification-code.feature
  service-front/app/src/Viewer/src/Form/LpaCheck.php
  service-front/app/test/ViewerTest/Form/LpaCheckTest.php
Due: use-an-lpa-front

Update paper verification code cancelled content
  service-api/app/src/App/src/DataAccess/ApiGateway/PaperVerificationCodes.php
  service-api/app/src/App/src/DataAccess/Repository/Response/PaperVerificationCode.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/PaperVerificationCodesTest.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code-cancelled.html.twig
Due: use-an-lpa-front, use-an-lpa-api

Uml-3953: Content update
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code-cancelled.html.twig
Due: use-an-lpa-front
