Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

Update account config
  terraform/account/region/application_insights.tf
  terraform/account/region/pagerduty.tf
  terraform/account/region/variables.tf
Due: none

Update vars
  terraform/account/region/variables.tf
Due: none

Adding app insights to account (#2894)
  terraform/account/region.tf
  terraform/account/region/application_insights.tf
  terraform/account/region/data_sources.tf
  terraform/account/region/pagerduty.tf
  terraform/account/region/resource_group.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tfvars.json
  terraform/account/variables.tf
Due: none

Update resource group name
  terraform/account/region/resource_group.tf
Due: none

Update resource name
  terraform/account/region/application_insights.tf
Due: none

Update resource group name (#2895)
  terraform/account/region/application_insights.tf
  terraform/account/region/resource_group.tf
Due: none

App insights account prod
  terraform/account/terraform.tfvars.json
Due: none

App insights account prod (#2896)
  terraform/account/terraform.tfvars.json
Due: none

App insights env dev demo
  terraform/environment/terraform.tfvars.json
Due: none

App insights env dev demo (#2897)
  terraform/environment/terraform.tfvars.json
Due: none

Add account wide policy
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Due: none

Add account wide policy (#2898)
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Due: none

UML-3701: allow mock one login in preprod
  terraform/environment/terraform.tfvars.json
Due: none

UML-3701: allow mock one login in preprod (#2899)
  terraform/environment/terraform.tfvars.json
Due: none

wip
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Service/Lpa/GroupLpas.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/src/Common/src/Service/Lpa/SortLpas.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
Due: use-an-lpa-front, use-an-lpa-api

returning mocked combined lpa data for the frontend
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
Due: use-an-lpa-front

fixed ParseLpaDataTest.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
Due: use-an-lpa-front

update readme
  README.md
Due: none

add pre-commit instructions
  README.md
Due: none

returning mocked combined lpa data for the frontend (#2900)
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
Due: use-an-lpa-front

UML-3692 & UML-3691 added an interface similar to the current one in order to access donor properties for sort and group lpa invokable functions
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Service/Lpa/GroupLpas.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/src/Service/Lpa/SortLpas.php
  service-front/app/src/Common/src/Service/Lpa/SortLpasInterface.php
Due: use-an-lpa-front

added relevant test cases
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/src/Service/Lpa/SortLpasInterface.php
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Entity/PersonTest.php
  service-front/app/test/CommonTest/Entity/Sirius/SiriusLpaTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: use-an-lpa-front

added GroupLpasInterface.php and moved interface to CombinedLpa.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Service/Lpa/ServiceInterfaces/GroupLpasInterface.php
  service-front/app/src/Common/src/Service/Lpa/ServiceInterfaces/SortLpasInterface.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
Due: use-an-lpa-front

added tests for getters in the CombinedLpaTest.php
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
Due: use-an-lpa-front

lint updates
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
Due: use-an-lpa-front

update types to display viewer journey
  docker-compose.yml
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front

Update service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
Due: use-an-lpa-front

removed objecthydrator serialising usage and tests as it is un-needed - using json serialising
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Service/Lpa/Factory/LpaDataFormatter.php
  service-front/app/src/Common/src/Service/Lpa/GroupLpas.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
Due: use-an-lpa-front

update casters and templates for remaining combined lpa format
  service-api/app/src/App/src/Entity/Casters/CastToHowAttorneysMakeDecisions.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/Casters/CastToHowAttorneysMakeDecisions.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Enum/WhenTheLpaCanBeUsed.php
  service-front/app/src/Common/src/Entity/Address.php
  service-front/app/src/Common/src/Entity/Casters/CastToHowAttorneysMakeDecisions.php
  service-front/app/src/Common/src/Entity/Casters/CastToWhenTheLpaCanBeUsed.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-front/app/src/Common/src/Enum/HowAttorneysMakeDecisions.php
  service-front/app/src/Common/src/Enum/LifeSustainingTreatment.php
  service-front/app/src/Common/src/Enum/LpaType.php
  service-front/app/src/Common/src/Enum/WhenTheLpaCanBeUsed.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/app/src/Viewer/templates/viewer/check-code-found.html.twig
Due: use-an-lpa-front, use-an-lpa-api

add code-sniffer-pre-commit
  .pre-commit-config.yaml
  pre-commit-hooks/code-sniffer/pre-commit
Due: none

fix brackets
  pre-commit-hooks/code-sniffer/pre-commit
  service-front/app/src/Common/src/Enum/HowAttorneysMakeDecisions.php
Due: use-an-lpa-front

include pre-commit origins
  pre-commit-hooks/code-sniffer/pre-commit
Due: none

Uml 3692 & UML 3691 grouplpa and sortlpa refactored to handle new format (#2902)
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Service/Lpa/Factory/LpaDataFormatter.php
  service-front/app/src/Common/src/Service/Lpa/GroupLpas.php
  service-front/app/src/Common/src/Service/Lpa/ServiceInterfaces/GroupLpasInterface.php
  service-front/app/src/Common/src/Service/Lpa/ServiceInterfaces/SortLpasInterface.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/PersonTest.php
  service-front/app/test/CommonTest/Entity/Sirius/SiriusLpaTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: use-an-lpa-front, use-an-lpa-api

allow mutiple types
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

WIP tests
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

tidy up refactor to make this file easier to work with
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

refactor
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

refactor tests
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api

2 more refactors
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
Due: use-an-lpa-api
