Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

removed codecovignore updated tests
  service-api/app/src/App/src/Service/PaperVerificationCodes/CodeValidate.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

Bump golang version. Correct case in AS.
  service-admin/Dockerfile
  service-admin/go.mod
  service-admin/proxy/Dockerfile
  service-admin/proxy/go.mod
Due: use-an-lpa-admin

Bump golang version. Correct case in AS. (#3316)
  service-admin/Dockerfile
  service-admin/go.mod
  service-admin/proxy/Dockerfile
  service-admin/proxy/go.mod
Due: use-an-lpa-admin

Update golang to 1.24.4 in event receiver
  .github/workflows/golang-linting.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/go.mod
  localstack/Dockerfile
Due: none

Remove old struicturizr precommit hook
  .pre-commit-config.yaml
Due: none

Set python to match dockerfile version.
  .github/workflows/_build-and-push.yml
Due: none

use new network in development
  terraform/account/.envrc
  terraform/account/region/data_sources.tf
  terraform/account/region/elasticache.tf
  terraform/account/region/lookups.tf
  terraform/account/region/modules/dns_firewall/data_sources.tf
  terraform/account/region/modules/dns_firewall/main.tf
  terraform/account/region/vpc_endpoints.tf
Due: none

use new network in development account
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/network.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/use_load_balancer.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

point at dev
  terraform/account/.envrc
Due: none

fix Invalid Attribute Combination validation error
  terraform/account/modules/dynamodb_cloudtrail/s3.tf
Due: none

fix spelling
  terraform/account/.envrc
Due: none

reset enrc
  terraform/environment/.envrc
Due: none

use account name for network switching
  terraform/environment/.envrc
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/use_load_balancer.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

switch subnets in ecs and loadbalancer files
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/network.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/use_load_balancer.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

UML-3085 Move service-front to PHP 8.3
  .github/workflows/php-linting.yml
  .github/workflows/psalm-static-analysis-front.yml
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front

Declare dynamic test properties
  service-front/app/features/context/Integration/AccountContext.php
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/features/context/Integration/ViewerContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/CommonContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/features/context/UI/ViewerContext.php
Due: use-an-lpa-front

Golang 1.24.4 event receiver (#3320)
  .github/workflows/golang-linting.yml
  .pre-commit-config.yaml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/go.mod
  localstack/Dockerfile
Due: none

make vpc endpoints for new network
  terraform/account/region/firewalled_network.tf
  terraform/account/region/modules/vpc_endpoints/data_sources.tf
  terraform/account/region/modules/vpc_endpoints/main.tf
  terraform/account/region/modules/vpc_endpoints/terraform.tf
  terraform/account/region/modules/vpc_endpoints/variables.tf
  terraform/account/region/vpc_endpoints.tf
Due: none

Fix deprecation error for undeclared property
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
Due: use-an-lpa-front

wip
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/PaperVerificationCodes/ViewHandler.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/ViewCode.php
Due: use-an-lpa-api

fixed tests for code cov
  service-api/app/test/AppTest/Service/PaperVerificationCodes/CodeValidateTest.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

fixed lint issues
  service-api/app/test/AppTest/Service/PaperVerificationCodes/CodeValidateTest.php
Due: use-an-lpa-api

clarify README
  lambda-functions/upload-monthly-reports/README.md
Due: none

add fix in made to script
  lambda-functions/upload-monthly-reports/app/upload_monthly_reports.py
Due: none

UML-3085 Move service-front to PHP 8.3 (#3317)
  .github/workflows/php-linting.yml
  .github/workflows/psalm-static-analysis-front.yml
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/features/context/Integration/AccountContext.php
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/features/context/Integration/ViewerContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/CommonContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front

added tests & create framework for view func to return mocked data for the paper verification
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/ViewCode.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/CodeViewTest.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

fixed lint err
  service-api/app/test/AppTest/Service/PaperVerificationCodes/CodeViewTest.php
Due: use-an-lpa-api

removed redundant line of early return
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
Due: use-an-lpa-front

Uml 3905 build api endpoint to check if additional data for paper verification (#3302)
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/PaperVerification/ValidateHandler.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/CodeValidate.php
  service-api/app/src/App/src/Service/PaperVerificationCodes/PaperVerificationCodeService.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/CodeValidateTest.php
  service-api/app/test/AppTest/Service/PaperVerificationCodes/PaperVerificationCodeServiceTest.php
Due: use-an-lpa-api

UML-3996: update icu ver
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front

UML-3996: update icu ver (#3323)
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front

new pr to merge
  docker-compose.override.yml
Due: none

changed incoming req object type
  service-api/app/src/App/src/Handler/PaperVerificationCodes/ViewHandler.php
Due: use-an-lpa-api

update routes
  service-api/app/config/routes.php
Due: use-an-lpa-api

revert back to python/lambda
  lambda-functions/upload-statistics/Dockerfile
Due: none

point to localstack dynamodb
  lambda-functions/upload-statistics/app/upload_statistics.py
Due: none

change volume to file instead of app folder
  docker-compose.yml
Due: none

UML-3990: CVE-2025-6052 fix (#3325)
  docker-compose.yml
  lambda-functions/upload-statistics/Dockerfile
  lambda-functions/upload-statistics/app/upload_statistics.py
Due: none

Revert python change since update in Docker.
  .github/workflows/_build-and-push.yml
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
