Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

rearranged env.global.php
  service-api/app/config/autoload/envs.global.php
Due: use-an-lpa-api

removed comments
  service-api/app/src/App/src/Service/SystemMessage/SystemMessage.php
Due: use-an-lpa-api

Update service-api/app/test/AppTest/Handler/SystemMessageHandlerTest.php
  service-api/app/test/AppTest/Handler/SystemMessageHandlerTest.php
Due: use-an-lpa-api

Update service-api/app/test/AppTest/Service/Aws/SSMClientFactoryTest.php
  service-api/app/test/AppTest/Service/Aws/SSMClientFactoryTest.php
Due: use-an-lpa-api

Update service-api/app/test/AppTest/Service/SystemMessage/SystemMessageTest.php
  service-api/app/test/AppTest/Service/SystemMessage/SystemMessageTest.php
Due: use-an-lpa-api

removed comments
  service-api/app/test/AppTest/Service/SystemMessage/SystemMessageTest.php
Due: use-an-lpa-api

fix tests
  service-api/app/test/AppTest/Handler/SystemMessageHandlerTest.php
Due: use-an-lpa-api

UML-3028 Service layer within service-api to talk to AWS parameter store (#2555)
  docker-compose.yml
  service-api/app/config/autoload/envs.global.php
  service-api/app/config/routes.php
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/system-message.feature
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Handler/SystemMessageHandler.php
  service-api/app/src/App/src/Service/Aws/SSMClientFactory.php
  service-api/app/src/App/src/Service/SystemMessage/SystemMessage.php
  service-api/app/src/App/src/Service/SystemMessage/SystemMessageFactory.php
  service-api/app/test/AppTest/Handler/SystemMessageHandlerTest.php
  service-api/app/test/AppTest/Service/Aws/SSMClientFactoryTest.php
  service-api/app/test/AppTest/Service/SystemMessage/SystemMessageFactoryTest.php
  service-api/app/test/AppTest/Service/SystemMessage/SystemMessageTest.php
  terraform/environment/region/api_ecs.tf
Due: use-an-lpa-api

upgrade versions
  service-front/app/composer.lock
Due: use-an-lpa-front

upgrade versions (#2583)
  service-front/app/composer.lock
Due: use-an-lpa-front

Correct cluster config name
  .github/workflows/_run-terraform.yml
Due: none

Fix Slack
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/scheduled-update-demo.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
Due: none

Use a unique artifact name in pipeline for cluster config
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_seed-database.yml
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/scheduled-update-demo.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
Due: none

Use a unique artifact name in pipeline for cluster config (#2576)
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_run-terraform.yml
  .github/workflows/_seed-database.yml
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/scheduled-update-demo.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
Due: none

Fix packages from rebase.
  service-front/web/package-lock.json
  service-front/web/package.json
Due: use-an-lpa-front

Remove IE11 as no longer part of support matrix
  service-front/web/build.js
Due: use-an-lpa-front

Add dist to build path
  service-front/web/build.js
Due: use-an-lpa-front

Reinstate admin npm package lock
  service-admin/package-lock.json
Due: use-an-lpa-admin

upgrades
  docker-compose.dependencies.yml
Due: none

Typo fix
  service-front/app/src/Common/templates/layout/default.html.twig
Due: use-an-lpa-front

Update gds scss path to new location
  service-front/web/src/gds.scss
Due: use-an-lpa-front

Fix npm build in admin
  service-admin/build.js
  service-admin/docker-compose.yml
  service-admin/package-lock.json
  service-admin/web/assets/main.js
  service-admin/web/assets/main.scss
Due: use-an-lpa-admin

Add asset build to makefile
  Makefile
Due: none

Revert one logiin mock unpinning
  docker-compose.dependencies.yml
Due: none

Update build tools. Add load path for node_modules to get moj frontend building.
  service-front/web/package-lock.json
  service-front/web/src/pdf.scss
  service-front/web/src/stylesheets/lpa.scss
Due: use-an-lpa-front

Update build tools. Add load path for node_modules to get moj frontend building.
  service-front/web/package-lock.json
Due: use-an-lpa-front

Fix button width causing border alignment issues.
  service-front/web/src/stylesheets/_govuk-accordion.scss
Due: use-an-lpa-front

Add sourcemaps for debug.
  service-front/web/build.js
Due: use-an-lpa-front

Re add missing loadpath=./
  service-front/web/package-lock.json
  service-front/web/package.json
Due: use-an-lpa-front

Remove unused esbuild plugin
  service-front/web/package-lock.json
Due: use-an-lpa-front

Replace warning class with visually hidden due to deprecation
  service-front/app/src/Actor/templates/actor/actor-terms-of-use.html.twig
  service-front/app/src/Actor/templates/actor/check-access-codes.html.twig
  service-front/app/src/Actor/templates/actor/check-lpa.html.twig
  service-front/app/src/Actor/templates/actor/create-account.html.twig
  service-front/app/src/Actor/templates/actor/login.html.twig
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode.html.twig
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
  service-front/app/src/Actor/templates/actor/partials/warning-upcoming-service-downtime.html.twig
  service-front/app/src/Actor/templates/actor/request-activation-key/check-details-and-consent.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/iap-macros.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/app/src/Viewer/templates/viewer/check-code-found.html.twig
  service-front/app/src/Viewer/templates/viewer/viewer-terms-of-use.html.twig
  service-front/web/src/javascript/components/iapContainer.test.js
Due: use-an-lpa-front

Change js enabled import ordering.
  service-front/web/src/index.js
Due: use-an-lpa-front

Bring in line with GDS setup guide
  service-front/app/src/Common/templates/layout/default.html.twig
Due: use-an-lpa-front

upgrades
  docker-compose.dependencies.yml
  service-admin/package-lock.json
  service-admin/package.json
Due: use-an-lpa-admin

Revert "Revert one logiin mock unpinning"
  docker-compose.dependencies.yml
Due: none

Build target updates
  docker-compose.yml
  service-front/web/babel.config.json
  service-front/web/build.js
Due: use-an-lpa-front

Align to main for mock onelogin,
  docker-compose.dependencies.yml
Due: none

Update section positioning for tags to show correctly
  service-front/web/src/stylesheets/_govuk-accordion.scss
Due: use-an-lpa-front
