Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

mods
  docs/architecture/decisions/0023-lpa-data-format.md
Due: none

adding translation to GenericGlobalVariableExtension
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Common/src/View/Twig/GenericGlobalVariableExtension.php
  service-front/app/src/Common/src/View/Twig/GenericGlobalVariableExtensionFactory.php
Due: use-an-lpa-front

translation to GenericGlobalVariableExtension
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/src/View/Twig/GenericGlobalVariableExtension.php
Due: use-an-lpa-front

lint terraform
  terraform/environment/region/api_ecs.tf
Due: none

fix tests with translator interface
  service-front/app/test/CommonTest/View/Twig/GenericGlobalVariableExtensionFactoryTest.php
  service-front/app/test/CommonTest/View/Twig/GenericGlobalVariableExtensionTest.php
Due: use-an-lpa-front

mermaid diag first pass
  docs/architecture/decisions/0023-lpa-data-format.md
Due: none

UML-3306 temporarily satisfied env to test in UAT
  service-api/app/features/bootstrap/config.php
  service-front/app/features/actor-cookie-banner.feature
  service-front/app/features/actor-delete-account.feature
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/UI/CommonContext.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front, use-an-lpa-api

UML-3306 reverted changes of satisfying test in UAT
  service-api/app/features/bootstrap/config.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/UI/CommonContext.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front, use-an-lpa-api

UML-3306 updated content on deleted account page
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/deleted-account-confirmation.html.twig
Due: use-an-lpa-front

add LPA relationship to diag
  docs/architecture/decisions/0023-lpa-data-format.md
Due: none

UML-3306 updated content on deleted account page (#2644)
  service-front/app/features/actor-cookie-banner.feature
  service-front/app/features/actor-delete-account.feature
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/deleted-account-confirmation.html.twig
Due: use-an-lpa-front

mods to diag
  docs/architecture/decisions/0023-lpa-data-format.md
Due: none

UML-3314 Updated content on 'we could not find an LPA' page
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
Due: use-an-lpa-front

UML-3313 added test scenario for back to LPAs button
  service-front/app/features/actor-add-an-lpa.feature
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

Updated test case (iSeeAPageShowingMeTheAnswersIHaveEnteredAndContentThatHelpsMeGetItRight) to match updated content changes
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

Updated tests and spacing in HTML
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
Due: use-an-lpa-front

UML-3314 adjusted button spacing and updated translation
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
Due: use-an-lpa-front

UML-3314 updated step definition in LPA context
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

UML-3314 reverted changes to satisfy test in UAT
  service-api/app/features/bootstrap/config.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/UI/CommonContext.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front, use-an-lpa-api

UML-3314 temporarily satisfied env to test in UAT
  service-api/app/features/bootstrap/config.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/UI/CommonContext.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front, use-an-lpa-api

UML-3314 updated translation
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Uml 3314 content update on lpa failure page (#2633)
  service-front/app/features/actor-add-an-lpa.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
Due: use-an-lpa-front

UML-3440 updated content on one login page. Maintained "GOV.UK" throughout
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

UML-3440 temporarily satisfied env to test in UAT
  service-api/app/features/bootstrap/config.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/UI/CommonContext.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front, use-an-lpa-api

UML-3440 reverted changes of satisfying test in UAT
  service-api/app/features/bootstrap/config.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/UI/CommonContext.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front, use-an-lpa-api

UML-3440 updated translation
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

UML-3440 updated content on one login page. (#2643)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

UML-3317 disabled one login temporarily for UAT
  terraform/environment/terraform.tfvars.json
Due: none

UML-3317 reverted commented out tests
  service-front/app/features/actor-cookie-banner.feature
  service-front/app/features/actor-delete-account.feature
  service-front/app/features/common-session.feature
Due: use-an-lpa-front

UML-3317 temporarily turning off one login feature flag and reverted commented code
  service-front/app/features/actor-cookie-banner.feature
  service-front/app/features/actor-delete-account.feature
  service-front/app/features/common-session.feature
  service-front/app/features/context/UI/AccountContext.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front

UML-3317 temporarily commented test scenario for one login
  tests/features/actor-login.feature
Due: none

UML-3317 temporarily commented test scenario for one login
  service-api/app/features/actor-add-an-older-lpa.feature
Due: use-an-lpa-api

UML-3317 satisfied test cases to test for UAT
  service-front/app/features/actor-delete-account.feature
  service-front/app/features/common-session.feature
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

UML-3317 temporarily commented out test cases to
  service-front/app/features/actor-cookie-banner.feature
  service-front/app/features/actor-delete-account.feature
  service-front/app/features/common-session.feature
Due: use-an-lpa-front
