Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

add instructions or preferences string for older lpas
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
Due: use-an-lpa-front

there was a type in renovate file
  renovate.json
Due: none

production ip flag set to false
  terraform/environment/terraform.tfvars.json
Due: none

added behavioural test and code clean up
  service-front/app/features/actor-create-access-code.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
Due: use-an-lpa-front

removed content from dashboard behind flag
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
Due: use-an-lpa-front

amended welsh translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

removed content from lpa create viewer code
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode.html.twig
Due: use-an-lpa-front

removed content from check access codes
  service-front/app/src/Actor/templates/actor/check-access-codes.html.twig
Due: use-an-lpa-front

Turn IAP feature flag on
  docker-compose.yml
  service-api/app/src/App/src/Service/Lpa/LpaService.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

Behat tests (WIP)
  docker-compose.testing.yml
  docker-compose.yml
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/features/view-lpa-using-sharecode.feature
  service-api/app/src/App/src/Service/Lpa/LpaService.php
Due: use-an-lpa-api

Add additional handler for actor/user lpa summary requests
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/LpasResourceImagesCollectionHandler.php
Due: use-an-lpa-api

first pass at endpoint (work in progress, transferring between machines)
  service-api/app/src/App/src/Handler/InstructionsAndPreferencesImagesHandler.php
  service-api/app/test/AppTest/Handler/InstructionsAndPreferencesImagesHandlerTest.php
Due: use-an-lpa-api

tidier if statement
  service-api/app/src/App/src/Service/Lpa/LpaService.php
Due: use-an-lpa-api

LpaService gets instructions and preferences if they are there
  service-api/app/src/App/src/Handler/InstructionsAndPreferencesImagesHandler.php
  service-api/app/src/App/src/Service/Lpa/LpaService.php
  service-api/app/test/AppTest/Handler/InstructionsAndPreferencesImagesHandlerTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
Due: use-an-lpa-api

Test tweaks and fixes. Configure pact mock correctly
  service-api/app/behat.yml
  service-api/app/features/actor-view-lpa.feature
  service-api/app/features/bootstrap/config.pact.php
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/view-lpa-using-sharecode.feature
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactInstructionsAndPreferencesImagesFactory.php
Due: use-an-lpa-api

Passing integration tests
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/features/view-lpa-using-sharecode.feature
Due: use-an-lpa-api

Final set of test tweaks to get things passing.
  service-api/app/behat.yml
  service-api/app/composer.json
  service-api/app/features/actor-view-lpa.feature
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/features/view-lpa-using-sharecode.feature
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImages.php
Due: use-an-lpa-api

Ensure CI starts the new mock
  .github/workflows/_build-and-push.yml
  service-api/app/features/context/Acceptance/BaseAcceptanceContext.php
Due: use-an-lpa-api

Tidy up CI workflow
  .github/workflows/_build-and-push.yml
Due: none

Turn on feature flag for failing test.
  service-api/app/features/actor-view-lpa.feature
Due: use-an-lpa-api

flag reset for UAT
  terraform/environment/terraform.tfvars.json
Due: none

Don't use feature flag for new route
  service-api/app/config/routes.php
Due: use-an-lpa-api

Indentation all wrong.
  service-api/app/features/context/Integration/ViewerContext.php
Due: use-an-lpa-api

Add TODO for authorisation service.
  service-api/app/src/App/src/Handler/LpasResourceImagesCollectionHandler.php
Due: use-an-lpa-api

Fix idea file change
  .idea/opg-use-an-lpa.iml
Due: none

Dont do end of file fixes on .idea files.
  .pre-commit-config.yaml
Due: none

changed flag values back to false after UAT
  terraform/environment/terraform.tfvars.json
Due: none

Don't turn on feature on live yet, that would be silly.
  terraform/environment/terraform.tfvars.json
Due: none

Turn off flag for UAT
  terraform/environment/terraform.tfvars.json
Due: none

Turn off flag everywhere
  terraform/environment/terraform.tfvars.json
Due: none

UML-2844 modify endpoint to also return instructions and preferences (#2251)
  .github/workflows/_build-and-push.yml
  .idea/opg-use-an-lpa.iml
  .pre-commit-config.yaml
  docker-compose.testing.yml
  docker-compose.yml
  service-api/app/behat.yml
  service-api/app/composer.json
  service-api/app/config/routes.php
  service-api/app/features/actor-view-lpa.feature
  service-api/app/features/bootstrap/config.pact.php
  service-api/app/features/context/Acceptance/BaseAcceptanceContext.php
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/features/view-lpa-using-sharecode.feature
  service-api/app/src/App/src/DataAccess/ApiGateway/InstructionsAndPreferencesImages.php
  service-api/app/src/App/src/Handler/LpasResourceImagesCollectionHandler.php
  service-api/app/src/App/src/Service/Lpa/LpaService.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactInstructionsAndPreferencesImagesFactory.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-api

amended ip content
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
Due: use-an-lpa-front

measurement id for google analytics 4 for dev
  terraform/environment/terraform.tfvars.json
Due: none

changed dev ip flag to true
  terraform/environment/terraform.tfvars.json
Due: none

UML-2864: inform users/actors that image of instructions and preferences will be displayed (#2254)
  service-front/app/features/actor-create-access-code.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front

remove content from LPA summary behind flag
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
Due: use-an-lpa-front

content removed from organisation create access code page
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
Due: use-an-lpa-front

amended behat test
  service-front/app/features/actor-dashboard.feature
Due: use-an-lpa-front

add CSP for google analytics 4
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

prod google analytics 4
  terraform/environment/terraform.tfvars.json
Due: none
