Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Make behat tests pass
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
Due: use-an-lpa-front

Can redirect in Welsh
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/CommonContext.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Handler/AbstractHandler.php
Due: use-an-lpa-front

Callback method passes code, state, authsession, abstracthandler passes basepath
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Handler/AbstractHandler.php
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
Due: use-an-lpa-front

Fix broken tests and add test coverage
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Handler/AbstractHandler.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front

Allow configuration of insecure https
  docker-compose.testing.yml
  tests/smoke/src/Drivers/ChromeDriver.php
  tests/smoke/src/SmokeExtension.php
Due: none

WIP - getting tests to work
  service-admin/internal/server/data/ssm_connection.go
  service-admin/internal/server/data/ssm_connection_test.go
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/data/system_message_test.go
Due: use-an-lpa-admin

take out cookie_secure directive to make this work locally
  docker-compose.yml
Due: none

remove cookie directive as not needed now
  service-front/app/config/autoload/development.local.php.dist
Due: use-an-lpa-front

test now working
  service-admin/internal/server/data/ssm_connection.go
  service-admin/internal/server/data/ssm_connection_test.go
  service-admin/internal/server/data/system_message.go
Due: use-an-lpa-admin

add PR fixes
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Handler/AbstractHandler.php
  service-front/app/test/CommonTest/Handler/AbstractHandlerTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front

Fix php linting errors
  service-front/app/src/Common/src/Handler/AbstractHandler.php
  service-front/app/test/CommonTest/Handler/AbstractHandlerTest.php
  service-front/app/test/CommonTest/Handler/TestableAbstractHandler.php
Due: use-an-lpa-front

Remove unused step
  service-front/app/features/context/UI/CommonContext.php
Due: use-an-lpa-front

replace testableAbstractHandler with an anoymous class
  service-front/app/test/CommonTest/Handler/AbstractHandlerTest.php
  service-front/app/test/CommonTest/Handler/TestableAbstractHandler.php
Due: use-an-lpa-front

UML-2912 Get local https working. (#2453)
  Makefile
  docker-compose.dependencies.yml
  docker-compose.testing.yml
  docker-compose.yml
  local-config/kms/kms-seed.yaml
  local-config/proxy/dynamic.toml
  local-config/proxy/traefik.toml
  service-front/app/config/autoload/development.local.php.dist
  tests/features/always-use-the-live-service-url.feature
  tests/features/user-journeys-start-on-gov-uk.feature
  tests/smoke/context/BaseContextTrait.php
  tests/smoke/context/CommonContext.php
  tests/smoke/src/Drivers/ChromeDriver.php
  tests/smoke/src/SmokeExtension.php
Due: use-an-lpa-front

UML-3213 Fix Slack notifcations for scheduled demo
  .github/workflows/scheduled-update-demo.yml
Due: none

UML-3213 Fix Slack notifcations for scheduled demo (#2455)
  .github/workflows/scheduled-update-demo.yml
Due: none

Bump @adobe/css-tools from 4.3.1 to 4.3.2 in /service-front/web (#2454)
  service-front/web/package-lock.json
Due: use-an-lpa-front

UML-3106 Implement One Login callback handler on service-front (#2445)
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/CommonContext.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/src/Form/OneLoginForm.php
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Actor/templates/actor/one-login.html.twig
  service-front/app/src/Common/src/Handler/AbstractHandler.php
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
  service-front/app/test/CommonTest/Handler/AbstractHandlerTest.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
  service-front/app/test/CommonTest/Service/Lpa/PopulateLpaMetadataTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front

bump python image
  lambda-functions/upload-statistics/Dockerfile
Due: none

bump python image (#2456)
  lambda-functions/upload-statistics/Dockerfile
Due: none

Idea folder update
  .idea/inspectionProfiles/Project_Default.xml
  .idea/opg-use-an-lpa.iml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  .idea/remote-mappings.xml
Due: none

More .idea folder updates
  .idea/opg-use-an-lpa.iml
  .idea/phpunit.xml
Due: none

Add configuration and include in dev environment
  docker-compose.yml
  service-api/app/config/autoload/envs.global.php
Due: use-an-lpa-api

Introduce GMP usage and build it.
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/docker/app/Dockerfile
  service-front/app/composer.json
  service-front/app/composer.lock
Due: use-an-lpa-front, use-an-lpa-api

Add type documentation to interface
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
Due: use-an-lpa-api

Update to newer mock-one-login and include necessary env var
  docker-compose.dependencies.yml
Due: none

Setup secrets manager with our out of band public key.
  docker-compose.dependencies.yml
  mock-integrations/secrets-manager/localstack_init.sh
  mock-integrations/secrets-manager/onelogin_mock_public_key.pem
Due: none

Add internal clock implementation
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Service/InternalClock.php
Due: use-an-lpa-api

Update route to POST
  service-api/app/config/routes.php
Due: use-an-lpa-api

Implement parsing, validation and return of user info
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Handler/OneLoginAuthenticationCallbackHandler.php
  service-api/app/src/App/src/Handler/OneLoginAuthenticationRequestHandler.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationClientManager.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationClientManagerFactory.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationService.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationServiceBuilder.php
  service-api/app/src/App/src/Service/Authentication/IssuerBuilder.php
  service-api/app/src/App/src/Service/Authentication/JWKFactory.php
  service-api/app/src/App/src/Service/Authentication/KeyPair.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/AbstractKeyPairManager.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/KeyPair.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/KeyPairManagerInterface.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginIdentityKeyPairManager.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginUserInfoKeyManager.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthenticationRequestService.php
  service-api/app/src/App/src/Service/Authentication/OneLoginService.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifier.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilder.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderFactory.php
  service-api/app/src/App/src/Service/Authentication/UserInfoService.php
Due: use-an-lpa-api

Fix up KeyPairManager test
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginUserInfoKeyPairManager.php
  service-api/app/src/App/src/Service/Authentication/UserInfoService.php
  service-api/app/test/AppTest/Service/Authentication/KeyPairManagerTest.php
Due: use-an-lpa-api

Final fixed test
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthenticationRequestServiceTest.php
Due: use-an-lpa-api

Fix up JWKFactory test
  .idea/phpunit.xml
  service-api/app/src/App/src/Service/Authentication/JWKFactory.php
  service-api/app/test/AppTest/Service/Authentication/JWKFactoryTest.php
  service-api/app/test/AppTest/Service/Authentication/KeyPairManagerTest.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthenticationRequestServiceTest.php
Due: use-an-lpa-api

Suggested fixes.
  service-api/app/src/App/src/Handler/OneLoginAuthenticationCallbackHandler.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationService.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/AbstractKeyPairManager.php
Due: use-an-lpa-api

Implement caching for secrets manager fetches of keypairs.
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/AbstractKeyPairManager.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/CachedKeyPairManager.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/CachedKeyPairManagerDelegatorFactory.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/KeyPairManagerInterface.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginIdentityKeyPairManager.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginUserInfoKeyPairManager.php
  service-api/app/src/App/src/Service/Authentication/UserInfoService.php
  service-api/app/src/App/src/Service/Authentication/UserInfoServiceFactory.php
Due: use-an-lpa-api

Introduce injected HttpClient to aid testing.
  service-api/app/src/App/src/Service/Authentication/AuthorisationClientManager.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationClientManagerFactory.php
Due: use-an-lpa-api

Missed url change
  service-api/app/features/context/Acceptance/OidcContext.php
Due: use-an-lpa-api

Enable apcu in behat tests for api
  .idea/runConfigurations/API_Acceptance.xml
  .idea/runConfigurations/API_Acceptance__Single_Scenario.xml
Due: none

Mock calls to one-login endpoints for url generation
  service-api/app/behat.yml
  service-api/app/features/bootstrap/config.php
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/features/one-login.feature
Due: use-an-lpa-api

Test coverage improvements
  service-api/app/test/AppTest/Service/Authentication/IssuerBuilderTest.php
  service-api/app/test/AppTest/Service/Authentication/KeyPairManager/KeyPairManagerTest.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthenticationRequestServiceTest.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginServiceTest.php
  service-api/app/test/AppTest/Service/InternalClockTest.php
Due: use-an-lpa-api

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
