Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

fix test
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaTest.php
Due: use-an-lpa-api

UML-3600 rework GetAttorneyStatus (#2778)
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus/AttorneyStatus.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus/GetAttorneyStatusInterface.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/SiriusHasActorTrait.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/SiriusHasActorTraitTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaTest.php
Due: use-an-lpa-api

UML-3606 Access for all and add lpa journey specific service classes moved to a subfolder (#2814)
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Handler/AccessForAllLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/AccessForAllLpaValidationHandler.php
  service-api/app/src/App/src/Handler/AddLpaValidationHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AccessForAllLpaService.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Due: use-an-lpa-api

Adding enable lifecycle to module
  terraform/account/region/s3_redacted_logs.tf
Due: none

UML-3619 wip
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpasFactory.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasTest.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactLpasFactory.php
Due: use-an-lpa-api

UML-3619 wip
  docker-compose.yml
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/src/App/src/Service/Lpa/LpaManagerFactory.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactLpasFactory.php
  service-api/app/test/fixtures/example_lpa.json
  service-front/app/test/fixtures/full_example.json
  service-front/app/test/fixtures/full_example_signed_before_2016.json
  service-front/app/test/fixtures/simple_example.json
Due: use-an-lpa-front, use-an-lpa-api

Rm ecr.tf test file
  .github/workflows/_build-and-push.yml
Due: none

UML-3660: rollback terraform-version
  .github/workflows/workflow_destroy_on_merge.yml
Due: none

UML-3660: rollback terraform-version (#2835)
  .github/workflows/workflow_destroy_on_merge.yml
Due: none

UML-3661: fix wonky logic
  .github/workflows/pull-request-path.yml
Due: none

UML-3661: fix wonky logic (#2836)
  .github/workflows/pull-request-path.yml
Due: none

Fix a couple of things local dev issues
  Makefile
  docker-compose.dependencies.yml
Due: none

UML-3619 wip
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/SiriusHasActorTrait.php
Due: use-an-lpa-api

Fix a couple of things local dev issues (#2839)
  Makefile
  docker-compose.dependencies.yml
Due: none

json serialiser
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
Due: use-an-lpa-api

make it json serializable
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
Due: use-an-lpa-api

UML-3619 Convert incoming LPAs to combined format (repository layer)
  docker-compose.yml
  service-api/app/src/App/src/Service/Lpa/LpaManagerFactory.php
  service-api/app/test/fixtures/example_lpa.json
  service-front/app/test/fixtures/full_example.json
  service-front/app/test/fixtures/full_example_signed_before_2016.json
  service-front/app/test/fixtures/simple_example.json
Due: use-an-lpa-front, use-an-lpa-api

go to 9005 instead of 9003
  docker-compose.yml
Due: none

UML-3619 updated tests and added donotserialize on func
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
Due: use-an-lpa-api

UML-3619 updated tests
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
Due: use-an-lpa-api

UML-3626 json serialiser (#2840)
  docker-compose.yml
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
Due: use-an-lpa-api

UML-3665: upgrade terraform-version
  .github/workflows/workflow_destroy_on_merge.yml
Due: none

UML-3619 updated tests for codecoverage
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
Due: use-an-lpa-api

UML-3665: upgrade terraform-version (#2846)
  .github/workflows/workflow_destroy_on_merge.yml
Due: none

UML-3619 updated lint
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
Due: use-an-lpa-api

UML-3619 updated tests and added test case on hydrating sirius & lpa store
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
Due: use-an-lpa-api

UML-3619 updated tests and added test case on serialising sirius & lpa store
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
Due: use-an-lpa-api

implement interface on combined format entity classes
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus/GetAttorneyStatusInterface.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
Due: use-an-lpa-api

extra tests
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
Due: use-an-lpa-api

remaining fixes
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
Due: use-an-lpa-api

implement the interface
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/TrustCorporationStatusInterface.php
Due: use-an-lpa-api

UML-3623 Reworkk IsValidLpa.php to accept new entity/siriuslpa
  service-api/app/src/App/src/Service/Lpa/IsValidLpa.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
Due: use-an-lpa-api

UML-3623 Reworkk IsValidLpa.php to accept new entity/siriuslpa
  service-api/app/src/App/src/Service/Lpa/IsValidLpa.php
Due: use-an-lpa-api

UML-3623 casting return to string
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
Due: use-an-lpa-api

UML-3619 updated key name
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
Due: use-an-lpa-api

UML-3619 Convert incoming LPAs to combined format (repository layer) (#2826)
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpasFactory.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/SiriusHasActorTrait.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasTest.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactLpasFactory.php
Due: use-an-lpa-api

trust corporations, tests
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/TrustCorporationStatusInterface.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

UML-3619 wip
  docker-compose.yml
  service-api/app/src/App/src/Service/Lpa/LpaManagerFactory.php
  service-api/app/test/fixtures/example_lpa.json
  service-front/app/test/fixtures/full_example.json
  service-front/app/test/fixtures/full_example_signed_before_2016.json
  service-front/app/test/fixtures/simple_example.json
Due: use-an-lpa-front, use-an-lpa-api

fixes
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Due: use-an-lpa-api

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
