Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

fix
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none

add date logic
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none

better comment
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none

revert change which should no longer be relevant
  lambda-functions/upload-statistics/Dockerfile
Due: none

Bump golang and packages to fix critical and get build working again (#3245)
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  scripts/add_historical_statistics/go.mod
  scripts/add_historical_statistics/go.sum
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
  service-admin/Dockerfile
  service-admin/go.mod
  service-admin/proxy/go.mod
Due: use-an-lpa-admin

A test addition to check codecov
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
Due: use-an-lpa-api

cleanup
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
Due: use-an-lpa-api

test cleanup
  service-api/app/features/context/Acceptance/LpaContext.php
Due: use-an-lpa-api

update welsh translation for terms of use (#3246)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Due: use-an-lpa-front

fix golang version
  localstack/Dockerfile
Due: none

fix golang version (#3247)
  localstack/Dockerfile
Due: none

test cleanup
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
Due: use-an-lpa-api

updated translations
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

Move the JSON serializable trait to a common location
  service-front/app/src/Actor/src/Workflow/AddLpa.php
  service-front/app/src/Actor/src/Workflow/RequestActivationKey.php
  service-front/app/src/Common/src/Workflow/Traits/JsonSerializable.php
Due: use-an-lpa-front

Add new PaperVerificationCode workflow state
  service-front/app/src/Viewer/src/Workflow/PaperVerificationCode.php
  service-front/app/test/ViewerTest/Workflow/PaperVerificationCodeTest.php
Due: use-an-lpa-front

ignore cve for all repos not just upload stats
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none

ignore cve for all repos not just upload stats (#3251)
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none

flag status changed for UAT
  terraform/environment/terraform.tfvars.json
Due: none

testing
  terraform/environment/terraform.tfvars.json
Due: none

test
  service-front/app/features/bootstrap/behat.config.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front

test
  service-front/app/features/bootstrap/behat.config.php
Due: use-an-lpa-front

displaying restrictions and conditions for paper channels
  mock-integrations/lpa-data-store/mock-responses.js
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/src/Common/src/Enum/Channel.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front, use-an-lpa-api

Revert "displaying restrictions and conditions for paper channels"
  mock-integrations/lpa-data-store/mock-responses.js
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/src/Common/src/Enum/Channel.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front, use-an-lpa-api

Display restrictions and conditions on LPA summary - modernised LPA (#3233)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/web/src/stylesheets/_banner.scss
Due: use-an-lpa-front

updated tests
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Enum/ChannelTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Due: use-an-lpa-front

pulled main
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front

using data uri for imgs
  mock-integrations/lpa-data-store/mock-responses.js
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front

test
  terraform/environment/terraform.tfvars.json
Due: none

updated tests
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/LpaStoreTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
Due: use-an-lpa-front, use-an-lpa-api

testing flag
  terraform/environment/terraform.tfvars.json
Due: none

flag not responding
  docker-compose.yml
  terraform/environment/terraform.tfvars.json
Due: none

Update C4 diagram. Remove the structurizer folders and out of data diagrams.
  docs/diagrams/dsl/README.md
  docs/diagrams/dsl/structurizr-Component-001.mmd
  docs/diagrams/dsl/structurizr-Component-001.png
  docs/diagrams/dsl/structurizr-Component-002.mmd
  docs/diagrams/dsl/structurizr-Component-002.png
  docs/diagrams/dsl/structurizr-Component-003.mmd
  docs/diagrams/dsl/structurizr-Component-003.png
  docs/diagrams/dsl/structurizr-Component-004.mmd
  docs/diagrams/dsl/structurizr-Component-004.png
  docs/diagrams/dsl/structurizr-Component-005.mmd
  docs/diagrams/dsl/structurizr-Component-005.png
  docs/diagrams/dsl/structurizr-Container-001.mmd
  docs/diagrams/dsl/structurizr-Container-001.png
  docs/diagrams/dsl/structurizr-Container-002.mmd
  docs/diagrams/dsl/structurizr-Container-002.png
  docs/diagrams/dsl/structurizr-SystemContext-001.mmd
  docs/diagrams/dsl/structurizr-SystemContext-001.png
  docs/diagrams/dsl/structurizr.properties
  docs/diagrams/dsl/ualpa.dsl
  docs/diagrams/dsl/workspace.dsl
  docs/diagrams/use-an-lpa-c4-l2.svg
Due: none

updated tests
  docker-compose.yml
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
Due: use-an-lpa-api

test logs
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
Due: use-an-lpa-api

cheking again response
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
Due: use-an-lpa-api

test fix for check
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpasFactory.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
Due: use-an-lpa-api

updated twig with if statements
  mock-integrations/lpa-data-store/mock-responses.js
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
Due: use-an-lpa-front

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
