Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

codecov.yml:

codecov:
  require_ci_to_pass: false
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      front:
        target: 80%
        flags:    # this key tells Codecov to only use the coverage for these flags
          - use-an-lpa-front
      api:
        target: 80%
        flags:
          - use-an-lpa-api
      admin:
        target: 70%
        flags:
          - use-an-lpa-admin

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  use-an-lpa-front:
    paths: #note, accepts globs, not regexes
      - ./service-front
    carryforward: true
  use-an-lpa-api:
    paths: #note, accepts globs, not regexes
      - ./service-api
    carryforward: true
  use-an-lpa-admin:
    paths: #note, accepts globs, not regexes
      - ./service-admin
    carryforward: true

maxresults and filename
  query/dynamodb_export.py
Due: none

sql result now prints put
  query/dynamodb_export.py
Due: none

tidy up output
  query/dynamodb_export.py
Due: none

show results of athena query
  query/dynamodb_export.py
Due: none

stats table too
  query/dynamodb_export.py
  query/tables/stats.ddl
Due: none

add ddl file
  query/tables/actor_users.ddl
Due: none

fix
  query/dynamodb_export.py
Due: none

athena flag now working
  query/dynamodb_export.py
Due: none

temp (WIP) describe table
  query/dynamodb_export.py
Due: none

uml-2976 remove 'important' from dashboard message (#2433)
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
Due: use-an-lpa-front

Uml 3111 script for monthly reports (#2441)
  .gitignore
  query/README.md
  query/dynamodb_export.py
  query/results/README
  query/tables/actor_codes.ddl
  query/tables/actor_users.ddl
  query/tables/stats.ddl
  query/tables/user_lpa_actor_map.ddl
  query/tables/viewer_activity.ddl
  query/tables/viewer_codes.ddl
Due: none

template file to change number format
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

replace no longer allowed hyphens with word
  service-admin/.vscode/launch.json
  service-admin/README.md
Due: use-an-lpa-admin

replace no longer allowed hyphens with word (#2444)
  service-admin/.vscode/launch.json
  service-admin/README.md
Due: use-an-lpa-admin

template file to change number format (#2443)
  service-admin/web/templates/stats.page.gohtml
Due: use-an-lpa-admin

UML-3089: upgrade es node
  terraform/account/region/elasticache.tf
Due: none

UML-3198 Upload codecov if pipeline fails
  .github/workflows/_build-and-push.yml
  .github/workflows/_codecov.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
Due: none

UML-3198 Upload codecov if pipeline fails (#2447)
  .github/workflows/_build-and-push.yml
  .github/workflows/_codecov.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
Due: none

new content added
  service-front/app/src/Actor/templates/actor/add-lpa-triage.html.twig
Due: use-an-lpa-front

Welsh translations added
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

reboot
  service-front/app/src/Actor/templates/actor/add-lpa-triage.html.twig
Due: use-an-lpa-front

UML 3191 let customers know they cant request a key for an EPA (#2449)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/add-lpa-triage.html.twig
Due: use-an-lpa-front

add healthcheck for localstack
  docker-compose.dependencies.yml
  docker-compose.yml
Due: none

add healthcheck for localstack (#2450)
  docker-compose.dependencies.yml
  docker-compose.yml
Due: none

fix keys
  service-admin/.idea/runConfigurations/Admin_Service.xml
Due: use-an-lpa-admin

created system message page to admin portal
  service-admin/internal/server/handlers/systemmessage.go
  service-admin/internal/server/server.go
  service-admin/web/templates/header.partial.gohtml
  service-admin/web/templates/systemmessage.page.gohtml
Due: use-an-lpa-admin

refactoring system message page
  service-admin/web/templates/systemmessage.page.gohtml
Due: use-an-lpa-admin

gohtml template layout
  service-admin/web/templates/header.partial.gohtml
  service-admin/web/templates/systemmessage.page.gohtml
Due: use-an-lpa-admin

started connecting up to parameter store code (WIP)
  service-admin/cmd/admin/main.go
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/handlers/systemmessage.go
  service-admin/internal/server/handlers/systemmessage_test.go
  service-admin/internal/server/server.go
  service-admin/web/templates/systemmessage.page.gohtml
Due: use-an-lpa-admin

test for server.go is passing now
  service-admin/internal/server/data/system_message_test.go
  service-admin/internal/server/handlers/systemmessage.go
  service-admin/internal/server/server_test.go
Due: use-an-lpa-admin

Get local https working.
  Makefile
  docker-compose.dependencies.yml
  docker-compose.testing.yml
  docker-compose.yml
  local-config/kms/kms-seed.yaml
  local-config/proxy/dynamic.toml
  local-config/proxy/traefik.toml
  tests/features/always-use-the-live-service-url.feature
  tests/features/user-journeys-start-on-gov-uk.feature
  tests/smoke/context/BaseContextTrait.php
  tests/smoke/context/CommonContext.php
  tests/smoke/src/Drivers/ChromeDriver.php
Due: none

add behat testing for access denied and temp unavailable errors
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
Due: use-an-lpa-front

Replace assertObjectHasAttributes with assertObjectHasProperty
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
  service-front/app/test/CommonTest/Service/Lpa/PopulateLpaMetadataTest.php
Due: use-an-lpa-front

fix behat tests
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
Due: use-an-lpa-front

add generic error behat tests
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
Due: use-an-lpa-front

refactor behat tests
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
  service-front/app/src/Common/src/Handler/AbstractHandler.php
Due: use-an-lpa-front

Fix behat test
  service-front/app/features/context/UI/AccountContext.php
Due: use-an-lpa-front

UML-3106 Implement One Login callback handler on service-front
  service-front/app/src/Actor/src/Form/OneLoginForm.php
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Actor/templates/actor/one-login.html.twig
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
Due: use-an-lpa-front

Refactor switch statement to match
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
Due: use-an-lpa-front
