Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Add unit test for OneLoginForm and fix failing api-app test
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthorisationRequestServiceTest.php
  service-front/app/test/ActorTest/Form/OneLoginFormTest.php
Due: use-an-lpa-front, use-an-lpa-api

UML-3138 Create Cloudwatch MRK
  terraform/account/kms.tf
  terraform/account/region/cloudwatch.tf
  terraform/account/region/dns_firewall.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/vpc_flowlogs.tf
Due: none

Add setup method to OneLoginFormTest
  service-front/app/test/ActorTest/Form/OneLoginFormTest.php
Due: use-an-lpa-front

Add SecretsManagerFactoryTest
  service-api/app/test/AppTest/Service/Aws/SecretsManagerFactoryTest.php
Due: use-an-lpa-api

Add required depends_on
  terraform/account/region.tf
Due: none

add php linting fixes
  service-api/app/test/AppTest/Service/Aws/SecretsManagerFactoryTest.php
  service-front/app/test/ActorTest/Form/OneLoginFormTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front, use-an-lpa-api

Add lifecycle for testing
  terraform/account/region/modules/s3_bucket/main.tf
  terraform/account/region/network.tf
  terraform/account/region/s3_redacted_logs.tf
  terraform/account/region/vpc_endpoints.tf
Due: none

UML-3146 Disable apply shared TF in PR workflow
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
Due: none

Commit to trigger pipeline
  .github/workflows/path-to-live.yml
Due: none

Add ui test coverage
  docker-compose.dependencies.yml
  service-api/app/test/AppTest/Service/Aws/SecretsManagerFactoryTest.php
  service-front/app/config/routes.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
Due: use-an-lpa-front, use-an-lpa-api

UML-3138 Various TF fixes
  terraform/account/region/cloudwatch.tf
  terraform/account/region/modules/s3_bucket/main.tf
  terraform/account/region/network.tf
  terraform/account/region/s3_redacted_logs.tf
  terraform/account/region/vpc_endpoints.tf
Due: none

Commit to trigger pipeline
  terraform/account/region/s3_redacted_logs.tf
Due: none

UML-3146 Reenable apply account on PTL
  .github/workflows/path-to-live.yml
Due: none

UML-3146 Reenable apply account on PTL (#2381)
  .github/workflows/path-to-live.yml
Due: none

content amended
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
Due: use-an-lpa-front

Welsh translation added
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

deleted code coverage of partial
  service-front/app/languages/.pot
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/partials/lpas-registered-after.html.twig
Due: use-an-lpa-front

banner removed from home page
  service-front/app/src/Actor/templates/actor/home-page.html.twig
Due: use-an-lpa-front

updated pot file
  service-front/app/languages/messages.pot
Due: use-an-lpa-front

behat test removed
  service-front/app/features/actor-triage.feature
Due: use-an-lpa-front

Revert login page routing
  service-front/app/config/routes.php
Due: use-an-lpa-front

push
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
Due: use-an-lpa-front

UML-3147 Remove temporary workarounds from TF
  terraform/account/region/network.tf
  terraform/account/region/s3_redacted_logs.tf
  terraform/account/region/vpc_endpoints.tf
Due: none

Re-add element() fucntion call
  terraform/account/region/network.tf
Due: none

UML-3147 Remove temporary workarounds from TF (#2383)
  terraform/account/region/network.tf
  terraform/account/region/s3_redacted_logs.tf
  terraform/account/region/vpc_endpoints.tf
Due: none

UML-2725 implement check for pwned passwords
  service-front/app/src/Actor/src/Form/CreateAccount.php
  service-front/app/src/Actor/src/Form/PasswordChange.php
  service-front/app/src/Actor/templates/actor/form-error-messages.html.twig
  service-front/app/src/Common/src/Validator/CommonPasswordValidator.php
  service-front/app/test/CommonTest/Validator/CommonPasswordValidatorTest.php
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front

UML-2987 Pushing up spike changes to check pipeline failures
  mock-integrations/image-request-handler/mock-openapi-examples.yaml
  mock-integrations/image-request-handler/mock-openapi.yaml
  mock-integrations/image-request-handler/mock-responses.js
  mock-integrations/image-request-handler/responses/lpa0138.json
  service-api/app/src/App/src/Service/Lpa/LpaService.php
  service-front/app/src/Actor/src/Handler/ViewLpaSummaryHandler.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Due: use-an-lpa-front, use-an-lpa-api

use === instead of ==
  service-front/app/config/routes.php
Due: use-an-lpa-front

Button returns 200 status - Link factory classes in configProvider, api returns array
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Handler/OneLoginAuthorisationRequestHandler.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthorisationRequestService.php
  service-api/app/src/App/src/Service/Aws/SecretsManagerFactory.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthorisationRequestServiceTest.php
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
Due: use-an-lpa-front, use-an-lpa-api

Revert me - adding Env to dockerifle
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front

Add ui integration test step
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
Due: use-an-lpa-front

Add landing page with button and add test step
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

AuthoriseOneLoginHandler sends request with en or cy
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
Due: use-an-lpa-front

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
