Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Clicking button sends us to redirect pag, change login flag
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthorisationRequestService.php
  service-front/app/config/routes.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
  service-front/docker/app/Dockerfile
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front, use-an-lpa-api

One login page behind feature flag
  service-front/app/config/routes.php
Due: use-an-lpa-front

Add ui test coverage
  docker-compose.dependencies.yml
  service-api/app/test/AppTest/Service/Aws/SecretsManagerFactoryTest.php
  service-front/app/config/routes.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
Due: use-an-lpa-front, use-an-lpa-api

Initial landing page and route, structure behat test
  service-front/app/config/routes.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
  service-front/app/src/Actor/templates/actor/one-login.html.twig
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
Due: use-an-lpa-front

Add unit test coverage
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front

Add setup method to OneLoginFormTest
  service-front/app/test/ActorTest/Form/OneLoginFormTest.php
Due: use-an-lpa-front

Add SecretsManagerFactoryTest
  service-api/app/test/AppTest/Service/Aws/SecretsManagerFactoryTest.php
Due: use-an-lpa-api

Add one login form, submit button produces logger output
  service-front/app/src/Actor/src/Form/OneLoginForm.php
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Due: use-an-lpa-front

Fix linting errors
  service-api/app/src/App/src/Service/Aws/SecretsManagerFactory.php
  service-front/app/src/Actor/src/Form/OneLoginForm.php
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
Due: use-an-lpa-front, use-an-lpa-api

UML-3040 Create dev envs only on PR
  .github/workflows/pull-request-path.yml
Due: none

UML-3121 make redirect uri dynamic
  service-api/app/src/App/src/Handler/OneLoginAuthorisationRequestHandler.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthorisationRequestService.php
  service-front/app/config/routes.php
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
Due: use-an-lpa-front, use-an-lpa-api

UML-3040 Create dev envs only on PR (#2384)
  .github/workflows/pull-request-path.yml
Due: none

UML-3149 Correct Secrets Manager lookup
  .pre-commit-config.yaml
  terraform/environment/region/data_sources.tf
Due: none

Fix unit tests
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthorisationRequestServiceTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front, use-an-lpa-api

UML-3149 Correct Secrets Manager lookup (#2386)
  .pre-commit-config.yaml
  terraform/environment/region/data_sources.tf
Due: none

UML-3152 Handle UNTRIAGED severity in ECR
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none

UML-3152 Handle UNTRIAGED severity in ECR (#2389)
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Due: none

UML-3150 Move WAF to region
  terraform/environment/refactor.tf
  terraform/environment/region.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/waf.tf
  terraform/environment/waf.tf
Due: none

Add frontend PR changes
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/OneLoginAuthenticationRequestHandler.php
  service-front/app/src/Actor/src/Handler/AuthoriseOneLoginHandler.php
  service-front/docker/app/Dockerfile
Due: use-an-lpa-front, use-an-lpa-api

UML-3150 Move WAF to region (#2387)
  terraform/environment/refactor.tf
  terraform/environment/region.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/waf.tf
  terraform/environment/waf.tf
Due: none

Update Dockerfile
  lambda-functions/upload-statistics/Dockerfile
Due: none

Add backend pr changes - renaming classes and methods
  service-api/app/src/App/src/Handler/OneLoginAuthenticationRequestHandler.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthenticationRequestService.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthenticationRequestServiceTest.php
Due: use-an-lpa-api

Rename authorise classes and methods to authenticate
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front

update routes file
  service-front/app/config/routes.php
Due: use-an-lpa-front

Rename behat tests
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthenticationRequestServiceTest.php
  service-front/app/config/routes.php
  service-front/app/features/one-login.feature
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front, use-an-lpa-api

Uml 3013 kick off one login process (#2369)
  docker-compose.dependencies.yml
  service-api/app/config/routes.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Handler/OneLoginAuthenticationRequestHandler.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthenticationRequestService.php
  service-api/app/src/App/src/Service/Aws/SecretsManagerFactory.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthenticationRequestServiceTest.php
  service-api/app/test/AppTest/Service/Aws/SecretsManagerFactoryTest.php
  service-front/app/config/routes.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/src/Form/OneLoginForm.php
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
  service-front/app/src/Actor/templates/actor/one-login.html.twig
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
  service-front/app/test/ActorTest/Form/OneLoginFormTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
  terraform/environment/terraform.tfvars.json
Due: use-an-lpa-front, use-an-lpa-api

UML-3121 make redirect uri dynamic
  service-api/app/src/App/src/Handler/OneLoginAuthenticationRequestHandler.php
  service-api/app/src/App/src/Service/Authentication/OneLoginAuthenticationRequestService.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginAuthenticationRequestServiceTest.php
  service-front/app/config/routes.php
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Due: use-an-lpa-front, use-an-lpa-api

Clean up authenticateOneLoginHandler
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
Due: use-an-lpa-front

Fix redirect fail on welsh bug
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
Due: use-an-lpa-front

revert url helper logic
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
Due: use-an-lpa-front

Uml 2876 content improvement (#2382)
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
Due: use-an-lpa-front

UML-3137 Move DNS to region
  terraform/environment/cognito_client.tf
  terraform/environment/config_file.tf
  terraform/environment/dns.tf
  terraform/environment/dns_health_check.tf
  terraform/environment/outputs.tf
  terraform/environment/refactor.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/modules/dns/main.tf
  terraform/environment/region/modules/dns/outputs.tf
  terraform/environment/region/modules/dns/terraform.tf
  terraform/environment/region/modules/dns/variables.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/terraform.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

Remove another comment
  terraform/environment/region.tf
Due: none

Remove commented out file
  terraform/environment/dns.tf
Due: none

Fix
  terraform/environment/region.tf
Due: none

Use weighted routing
  terraform/environment/refactor.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/modules/dns/main.tf
  terraform/environment/region/modules/dns/variables.tf
Due: none

UML-3137 Move DNS to region (#2376)
  terraform/environment/cognito_client.tf
  terraform/environment/config_file.tf
  terraform/environment/dns.tf
  terraform/environment/dns_health_check.tf
  terraform/environment/outputs.tf
  terraform/environment/refactor.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/modules/dns/main.tf
  terraform/environment/region/modules/dns/outputs.tf
  terraform/environment/region/modules/dns/terraform.tf
  terraform/environment/region/modules/dns/variables.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/terraform.tf
  terraform/environment/region/variables.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
Due: none

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
