Repository ministryofjustice/opg-use-an-lpa: changes, and which Codecov flags are due for each by the changed paths.
All: use-an-lpa-front, use-an-lpa-api, use-an-lpa-admin

Add unit testing for nonce generation
  service-front/app/test/CommonTest/Middleware/Security/CSPNonceMiddlewareTest.php
  service-front/app/test/CommonTest/Service/Security/CSPNonceTest.php
  service-front/app/test/CommonTest/View/Twig/JavascriptVariablesExtensionTest.php
Due: use-an-lpa-front

test fix, confused why this did not break in previous run
  service-front/app/features/context/UI/LpaContext.php
Due: use-an-lpa-front

fix missing trivy sarif file when step fails due to unit tests
  .github/workflows/_build-and-push.yml
Due: none

cleanup
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Handler/LpasResourceHandler.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
  service-front/app/features/actor-remove-lpa.feature
Due: use-an-lpa-front, use-an-lpa-api

cleanup
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
Due: use-an-lpa-api

test revert and fix
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

UML-2782:Added translations and now showing label when no active access code present (#2180)
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/partials/lpa-details.html.twig
Due: use-an-lpa-front

Tweak the pipeline order.
  service-front/app/config/pipeline.php
Due: use-an-lpa-front

Add port to WEB_DOMAIN locally.
  docker-compose.yml
Due: none

Ensure self is allowed for connect-src
  service-front/docker/web/etc/confd/templates/nginx.conf
Due: use-an-lpa-front

Uml 2425 implement csp policy and reporting (#2169)
  .github/workflows/pull-request-path.yml
  docker-compose.yml
  service-front/app/config/pipeline.php
  service-front/app/src/Common/src/Middleware/Security/CSPNonceMiddleware.php
  service-front/app/src/Common/src/Service/Security/CSPNonce.php
  service-front/app/src/Common/src/View/Twig/JavascriptVariablesExtension.php
  service-front/app/src/Common/src/View/Twig/JavascriptVariablesExtensionFactory.php
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/app/test/CommonTest/Middleware/Security/CSPNonceMiddlewareTest.php
  service-front/app/test/CommonTest/Service/Security/CSPNonceTest.php
  service-front/app/test/CommonTest/View/Twig/JavascriptVariablesExtensionFactoryTest.php
  service-front/app/test/CommonTest/View/Twig/JavascriptVariablesExtensionTest.php
  service-front/docker/web/Dockerfile
  service-front/docker/web/etc/confd/conf.d/nginx.toml
  service-front/docker/web/etc/confd/templates/nginx.conf
  terraform/environment/.terraform.lock.hcl
  terraform/environment/actor_ecs.tf
  terraform/environment/terraform.tf
  terraform/environment/viewer_ecs.tf
  tests/features/security-headers.feature
  tests/smoke/context/CommonContext.php
Due: use-an-lpa-front

UML-2690: Adding code created by actor id to viewer code table to be used when lpa is removed from account (#2164)
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/Lpa/LpaService.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
  service-api/seeding/dynamodb.py
  service-front/app/features/actor-check-access-codes.feature
  service-front/app/features/actor-view-lpa.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/src/Handler/CheckAccessCodesHandler.php
  service-front/app/src/Actor/templates/actor/check-access-codes.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/src/Common/src/Service/Lpa/Factory/Sirius.php
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/test/CommonTest/Service/Lpa/SiriusLpaFactoryTest.php
  service-front/app/test/fixtures/full_example.json
Due: use-an-lpa-front, use-an-lpa-api

Removed an uwanted and confusing event code
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Log/EventCodes.php
  terraform/environment/cloudwatch_metrics.tf
Due: use-an-lpa-api

Added new event codes
  service-api/app/src/App/src/Handler/OlderLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Common/src/Service/Log/EventCodes.php
  terraform/environment/cloudwatch_metrics.tf
Due: use-an-lpa-front, use-an-lpa-api

test fix
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
Due: use-an-lpa-front, use-an-lpa-api

event codes tagged correctly
  terraform/environment/cloudwatch_metrics.tf
Due: none

Event code anme and description corrected
  service-api/app/src/App/src/Handler/OlderLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Log/EventCodes.php
  terraform/environment/cloudwatch_metrics.tf
Due: use-an-lpa-api

Checking explicitly if CreatedBy data is available before assignment
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-front/app/src/Actor/templates/actor/partials/check-code-details.html.twig
Due: use-an-lpa-front, use-an-lpa-api

test alteration to explicitly check when actor from access code
  service-api/app/features/actor-remove-lpa.feature
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
  service-front/app/features/actor-remove-lpa.feature
Due: use-an-lpa-front, use-an-lpa-api

test improvement
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

correcting indentations
  service-api/app/src/App/src/Handler/OlderLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
Due: use-an-lpa-front, use-an-lpa-api

need showing active access codes even if lpa is deleted to co-actors
  service-front/app/src/Actor/templates/actor/check-access-codes.html.twig
Due: use-an-lpa-front

should now always get back an actor id for newly added added lpas and generated codes, so no exclusions needed
  service-front/app/src/Actor/src/Handler/CheckAccessCodesHandler.php
Due: use-an-lpa-front

refactoring
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-front/app/src/Common/src/Service/Lpa/ViewerCodeService.php
Due: use-an-lpa-front, use-an-lpa-api

test fixes after refactoring
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
  service-front/app/src/Actor/templates/actor/partials/check-code-details.html.twig
Due: use-an-lpa-front, use-an-lpa-api

test fixes again
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Due: use-an-lpa-api

test fixes again
  service-api/app/features/context/Acceptance/LpaContext.php
Due: use-an-lpa-api

Fixing UI to show instructions and preferences together
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

cleannup and added a test
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-sharecode-with-instructions-and-preferences.feature
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
Due: use-an-lpa-front

tweak for api alarms to make them less sensitive for now
  terraform/environment/cloudwatch_alarms.tf
Due: none

UML-2807 update demo environment with seeds
  .github/workflows/_seed-database.yml
  .github/workflows/scheduled-update-demo.yml
  scripts/pipeline/post_release_slack_notification/unsuccessful_release.txt
Due: none

Added an Update field to UseLpaActorMap table and populating the field when a lpa is added by code or activated
  service-api/app/src/App/src/DataAccess/DynamoDb/UserLpaActorMap.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/UserLpaActorMapTest.php
Due: use-an-lpa-api

wip
  service-admin/internal/server/data/lpa.go
  service-admin/internal/server/handlers/search.go
  service-admin/internal/server/handlers/search_test.go
  service-admin/web/templates/result_lpa.partial.gohtml
  service-api/seeding/dynamodb.py
Due: use-an-lpa-api, use-an-lpa-admin

test cleanup and UI changes
  service-admin/internal/server/handlers/search_test.go
  service-admin/web/templates/result_lpa.partial.gohtml
Due: use-an-lpa-admin

Delete EventCodes.php
  service-api/app/src/App/src/Service/Log/EventCodes.php
Due: use-an-lpa-api

Delete RequestCleanseHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
Due: use-an-lpa-api

Delete OlderLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/OlderLpaConfirmationHandler.php
Due: use-an-lpa-api

Path conditions:
  use-an-lpa-front: any of: service-front
  use-an-lpa-api: any of: service-api
  use-an-lpa-admin: any of: service-admin
